Repository stripe/stripe-android, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stripe/stripe-android-sdk-reviewers, @jaynewstrom-stripe, @tillh-stripe, @ccen-stripe, @jameswoo-stripe, @carlosmuvi-stripe, @awush-stripe

Update timeout for loop test
  stripecardscan/src/test/java/com/stripe/android/stripecardscan/framework/LoopTest.kt
Owners: @awush-stripe, @ccen-stripe

Remove unused method
  payments-core/src/main/java/com/stripe/android/networking/StripeApiRepository.kt
Owners: @stripe/stripe-android-sdk-reviewers

Use the cardscan activity in payment sheet
  payments-ui-core/src/main/java/com/stripe/android/ui/core/cardscan/CardScanActivity.kt
Owners: @stripe/stripe-android-sdk-reviewers

Remove commented-out code
  payments-ui-core/src/main/java/com/stripe/android/ui/core/cardscan/CardScanActivity.kt
Owners: @stripe/stripe-android-sdk-reviewers

More fixes.
  paymentsheet-example/src/androidTestDebug/java/com/stripe/android/test/core/PlaygroundTestDriver.kt
Owners: @stripe/stripe-android-sdk-reviewers

Fix serialization issues when code is minified. (#6237)
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/model/PlaygroundCheckoutModel.kt
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/samples/viewmodel/PaymentSheetViewModel.kt
  stripe-core/src/main/java/com/stripe/android/core/networking/AnalyticsRequestV2.kt
  stripe-core/src/main/java/com/stripe/android/core/networking/RequestHeadersFactory.kt
  stripe-ui-core/src/main/java/com/stripe/android/uicore/address/TransformAddressToElement.kt
Owners: @stripe/stripe-android-sdk-reviewers

Update changelog
  CHANGELOG.md
Owners: @stripe/stripe-android-sdk-reviewers

Use activity instead of fragment for cardscan (#6253)
  CHANGELOG.md
  payments-ui-core/src/main/java/com/stripe/android/ui/core/cardscan/CardScanActivity.kt
Owners: @stripe/stripe-android-sdk-reviewers

Fix browserstack tests. (#6251)
  paymentsheet-example/src/androidTestDebug/java/com/stripe/android/test/core/FieldPopulator.kt
  paymentsheet-example/src/androidTestDebug/java/com/stripe/android/test/core/PlaygroundTestDriver.kt
  paymentsheet-example/src/androidTestDebug/java/com/stripe/android/test/core/ui/BuyButton.kt
  paymentsheet-example/src/androidTestDebug/java/com/stripe/android/test/core/ui/Selectors.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/PaymentSheetScreen.kt
Owners: @stripe/stripe-android-sdk-reviewers, @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Remove `retrieve***OrderedPaymentMethods` methods
  payments-core/src/main/java/com/stripe/android/networking/StripeApiRepository.kt
  payments-core/src/main/java/com/stripe/android/networking/StripeRepository.kt
  payments-core/src/test/java/com/stripe/android/networking/StripeApiRepositoryTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/repositories/ElementsSessionRepositoryTest.kt
Owners: @stripe/stripe-android-sdk-reviewers, @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Update StripeApiRepositoryTest
  payments-core/src/test/java/com/stripe/android/networking/AbsFakeStripeRepository.kt
  payments-core/src/test/java/com/stripe/android/networking/StripeApiRepositoryTest.kt
Owners: @stripe/stripe-android-sdk-reviewers

Centralize example app build.gradle configurations. (#6239)
  .github/workflows/financialconnections_pull_request.yml
  .github/workflows/identity_pull_request.yml
  .github/workflows/pull_request.yml
  build-configuration/android-application.gradle
  build.gradle
  dependencies.gradle
  example/build.gradle
  financial-connections-example/build.gradle
  identity-example/build.gradle
  paymentsheet-example/build.gradle
  stripe-example.keystore
  stripecardscan-example/build.gradle
Owners: @stripe/stripe-android-sdk-reviewers

Fix end-to-end test failure
  stripe-test-e2e/src/test/java/com/stripe/android/test/e2e/EndToEndTest.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Streamline loading of `ElementsSession` (#6242)
  payments-core/src/main/java/com/stripe/android/model/ElementsSession.kt
  payments-core/src/main/java/com/stripe/android/model/ElementsSessionParams.kt
  payments-core/src/main/java/com/stripe/android/model/parsers/ElementsSessionJsonParser.kt
  payments-core/src/main/java/com/stripe/android/networking/StripeApiRepository.kt
  payments-core/src/main/java/com/stripe/android/networking/StripeRepository.kt
  payments-core/src/test/java/com/stripe/android/networking/AbsFakeStripeRepository.kt
  payments-core/src/test/java/com/stripe/android/networking/StripeApiRepositoryTest.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/injection/PaymentSheetCommonModule.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/repositories/ElementsSessionRepository.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/repositories/StripeIntentRepository.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/state/PaymentSheetLoader.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/BasePaymentSheetViewModelInjectionTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetActivityTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetViewModelTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/repositories/ElementsSessionRepositoryTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/repositories/StripeIntentRepositoryTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/state/DefaultPaymentSheetLoaderTest.kt
Owners: @stripe/stripe-android-sdk-reviewers, @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Fix end-to-end test failure (#6255)
  stripe-test-e2e/src/test/java/com/stripe/android/test/e2e/EndToEndTest.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Maybe this will work.
  bitrise.yml
Owners: @stripe/stripe-android-sdk-reviewers

Run instrumentation tests in bitrise.
  bitrise.yml
Owners: @stripe/stripe-android-sdk-reviewers

Remove github action
  .github/workflows/instrumentation_tests.yml
Owners: @stripe/stripe-android-sdk-reviewers

Update tests
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheet.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/BasePaymentSheetViewModelInjectionTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/DefaultPaymentSheetLauncherTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentOptionsViewModelInjectionTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentOptionsViewModelTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetActivityTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetFixtures.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetViewModelInjectionTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetViewModelTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/flowcontroller/DefaultFlowControllerTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/repositories/ElementsSessionRepositoryTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/state/DefaultPaymentSheetLoaderTest.kt
  paymentsheet/src/test/java/com/stripe/android/utils/FakePaymentSheetLoader.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Update detekt baseline
  paymentsheet/detekt-baseline.xml
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Add InitializationMode and use it through PS + FC
  paymentsheet/api/paymentsheet.api
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/DefaultPaymentSheetLauncher.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheet.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetActivity.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetContractV2.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetLauncher.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/flowcontroller/DefaultFlowController.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/flowcontroller/FlowControllerViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/injection/PaymentSheetViewModelModule.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/repositories/ElementsSessionRepository.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/state/PaymentSheetLoader.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/state/PaymentSheetState.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Add test for LPM filtering in deferred flow
  payments-ui-core/src/test/java/com/stripe/android/ui/core/forms/resources/LpmRepositoryTest.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/repositories/ElementsSessionRepository.kt
Owners: @stripe/stripe-android-sdk-reviewers, @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Add deferred initialization mode
  payments-core/src/main/java/com/stripe/android/model/ElementsSessionParams.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/forms/resources/LpmRepository.kt
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/activity/PaymentSheetPlaygroundActivity.kt
  paymentsheet/api/paymentsheet.api
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheet.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/flowcontroller/DefaultFlowController.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/repositories/ElementsSessionRepository.kt
Owners: @stripe/stripe-android-sdk-reviewers, @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Maybe this will work.
  paymentsheet/src/androidTest/java/com/stripe/android/paymentsheet/PaymentSheetTest.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Add deferred intent flow to playground
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/Settings.kt
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/activity/PaymentSheetPlaygroundActivity.kt
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/model/PlaygroundCheckoutModel.kt
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/viewmodel/PaymentSheetPlaygroundViewModel.kt
  paymentsheet-example/src/main/res/layout/activity_payment_sheet_playground.xml
Owners: @stripe/stripe-android-sdk-reviewers

Rewrite PaymentSheet playground
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/activity/PaymentSheetPlaygroundActivity.kt
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/model/PlaygroundCheckoutModel.kt
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/viewmodel/PaymentSheetPlaygroundViewModel.kt
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/viewmodel/PaymentSheetPlaygroundViewState.kt
Owners: @stripe/stripe-android-sdk-reviewers

Adds all missing event reports.
  financial-connections/src/main/java/com/stripe/android/financialconnections/FinancialConnectionsSheetViewModel.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Run instrumentation tests in bitrise. (#6254)
  .github/workflows/instrumentation_tests.yml
  bitrise.yml
  paymentsheet/src/androidTest/java/com/stripe/android/paymentsheet/PaymentSheetTest.kt
Owners: @stripe/stripe-android-sdk-reviewers, @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Adds tests.
  financial-connections/src/test/java/com/stripe/android/financialconnections/FinancialConnectionsSheetViewModelTest.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Fixes if-else.
  financial-connections/src/main/java/com/stripe/android/financialconnections/FinancialConnectionsSheetViewModel.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Fixes nullability.
  financial-connections/src/main/java/com/stripe/android/financialconnections/FinancialConnectionsSheetViewModel.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

add detekt baseline
  identity/detekt-baseline.xml
Owners: @ccen-stripe, @awush-stripe, @carlosmuvi-stripe

[Identity] Adopt for StripeTheme's values form MDC
  identity-example/src/main/res/values/styles.xml
  identity-example/src/main/res/values/themes.xml
  identity/build.gradle
  identity/src/main/java/com/stripe/android/identity/IdentityActivity.kt
  identity/src/main/java/com/stripe/android/identity/ui/IdentityTheme.kt
Owners: @ccen-stripe, @awush-stripe, @carlosmuvi-stripe, @stripe/stripe-android-sdk-reviewers

[Identity] Clean up address when reinitialized
  identity/src/main/java/com/stripe/android/identity/ui/AddressSection.kt
Owners: @ccen-stripe, @awush-stripe, @carlosmuvi-stripe

[stripe-ui-core] add suppport for a disableDropdownWithSingleElement
  identity/src/main/java/com/stripe/android/identity/ui/IDNumberSection.kt
  stripe-ui-core/api/stripe-ui-core.api
  stripe-ui-core/build.gradle
  stripe-ui-core/src/main/java/com/stripe/android/uicore/elements/CountryConfig.kt
  stripe-ui-core/src/main/java/com/stripe/android/uicore/elements/DropdownConfig.kt
  stripe-ui-core/src/main/java/com/stripe/android/uicore/elements/DropdownFieldController.kt
  stripe-ui-core/src/main/java/com/stripe/android/uicore/elements/DropdownFieldUI.kt
  stripe-ui-core/src/test/java/com/stripe/android/uicore/elements/DropdownScreenshotTest.kt
  stripe-ui-core/src/test/java/com/stripe/android/uicore/utils/PaparazziConfigOption.kt
  stripe-ui-core/src/test/java/com/stripe/android/uicore/utils/PaparazziRule.kt
  stripe-ui-core/src/test/java/com/stripe/android/uicore/utils/README.md
  stripe-ui-core/src/test/snapshots/images/com.stripe.android.uicore.elements_DropdownScreenshotTest_testDropdownDefaultDisabled[DarkTheme].png
  stripe-ui-core/src/test/snapshots/images/com.stripe.android.uicore.elements_DropdownScreenshotTest_testDropdownDefaultDisabled[LightTheme].png
  stripe-ui-core/src/test/snapshots/images/com.stripe.android.uicore.elements_DropdownScreenshotTest_testDropdownDefaultEnabled[DarkTheme].png
  stripe-ui-core/src/test/snapshots/images/com.stripe.android.uicore.elements_DropdownScreenshotTest_testDropdownDefaultEnabled[LightTheme].png
  stripe-ui-core/src/test/snapshots/images/com.stripe.android.uicore.elements_DropdownScreenshotTest_testDropdownWithDisableDropdownWithSingleElement[DarkTheme].png
  stripe-ui-core/src/test/snapshots/images/com.stripe.android.uicore.elements_DropdownScreenshotTest_testDropdownWithDisableDropdownWithSingleElement[LightTheme].png
  stripe-ui-core/src/test/snapshots/images/com.stripe.android.uicore.elements_DropdownScreenshotTest_testDropdownWithoutDisableDropdownWithSingleElement[DarkTheme].png
  stripe-ui-core/src/test/snapshots/images/com.stripe.android.uicore.elements_DropdownScreenshotTest_testDropdownWithoutDisableDropdownWithSingleElement[LightTheme].png
Owners: @ccen-stripe, @awush-stripe, @carlosmuvi-stripe, @stripe/stripe-android-sdk-reviewers

[Identity] Improve the DOB section
  identity/res/values/untranslatable.xml
  identity/src/main/java/com/stripe/android/identity/ui/DOBSection.kt
  identity/src/test/java/com/stripe/android/identity/ui/DobTextFieldConfigTest.kt
Owners: @ccen-stripe, @awush-stripe, @carlosmuvi-stripe

Adds turbine.
  stripe-ui-core/build.gradle
Owners: @stripe/stripe-android-sdk-reviewers

[Identity] Update backstack for IndividualScreen
  identity/src/main/java/com/stripe/android/identity/navigation/IdentityTopLevelDestination.kt
  identity/src/main/java/com/stripe/android/identity/navigation/IndividualDestination.kt
  identity/src/main/java/com/stripe/android/identity/navigation/ScanDestinations.kt
  identity/src/main/java/com/stripe/android/identity/navigation/UploadDestinations.kt
  identity/src/test/java/com/stripe/android/identity/ui/CountryNotListedScreenTest.kt
  identity/src/test/java/com/stripe/android/identity/ui/IndividualWelcomeScreenTest.kt
  identity/src/test/java/com/stripe/android/identity/ui/InitialLoadingScreenTest.kt
Owners: @ccen-stripe, @awush-stripe, @carlosmuvi-stripe

merges maps.
  stripe-ui-core/src/main/java/com/stripe/android/uicore/elements/TextFieldController.kt
Owners: @stripe/stripe-android-sdk-reviewers

[Identity] update singpaore format
  identity/src/main/java/com/stripe/android/identity/ui/IDNumberSection.kt
Owners: @ccen-stripe, @awush-stripe, @carlosmuvi-stripe

.github/CODEOWNERS:

# Global - fallback to this group if the following groups don't match
* @stripe/stripe-android-sdk-reviewers

# Payments SDK
/payments/ @jaynewstrom-stripe @tillh-stripe @ccen-stripe @jameswoo-stripe
/paymentsheet/ @jaynewstrom-stripe @tillh-stripe @jameswoo-stripe
/wechatpay/ @jaynewstrom-stripe @tillh-stripe @ccen-stripe @jameswoo-stripe
/stripe-test-e2e/ @jaynewstrom-stripe @tillh-stripe @jameswoo-stripe
/link/ @jaynewstrom-stripe @tillh-stripe @jameswoo-stripe @ccen-stripe @carlosmuvi-stripe
/payment-method-messaging/ @jaynewstrom-stripe @tillh-stripe @jameswoo-stripe

# CardScan SDK
/stripecardscan/ @awush-stripe @ccen-stripe
/stripecardscan-example/ @awush-stripe @ccen-stripe

# Identity SDK
/identity/ @ccen-stripe @awush-stripe @carlosmuvi-stripe
/identity-example/ @ccen-stripe @awush-stripe @carlosmuvi-stripe

# Financial Connections SDK
/financial-connections/ @carlosmuvi-stripe @ccen-stripe
/financial-connections-example/ @carlosmuvi-stripe @ccen-stripe

# Shared modules
/camera-core/ @ccen-stripe @awush-stripe

# Configuration files
*.gradle @stripe/stripe-android-sdk-reviewers
