Repository stripe/stripe-android, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stripe/stripe-android-sdk-reviewers, @jaynewstrom-stripe, @tillh-stripe, @ccen-stripe, @jameswoo-stripe, @carlosmuvi-stripe, @awush-stripe

Another one.
  .github/workflows/ci.yml
  bitrise.yml
Owners: @stripe/stripe-android-sdk-reviewers

Cleanup.
  bitrise.yml
Owners: @stripe/stripe-android-sdk-reviewers

Revert!
  dependencies.gradle
Owners: @stripe/stripe-android-sdk-reviewers

Exclude E2E tests.
  dependencies.gradle
Owners: @stripe/stripe-android-sdk-reviewers

Try even bigger machines.
  bitrise.yml
Owners: @stripe/stripe-android-sdk-reviewers

Start bitrise setup.
  .bitrise/ci-gradle.properties
  bitrise.yml
Owners: @stripe/stripe-android-sdk-reviewers

Fix meta
  bitrise.yml
Owners: @stripe/stripe-android-sdk-reviewers

Replace adapter with Compose
  paymentsheet/api/paymentsheet.api
  paymentsheet/detekt-baseline.xml
  paymentsheet/res/layout/fragment_paymentsheet_payment_methods_list.xml
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/BasePaymentMethodsListFragment.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentOptionsAdapter.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentOptionsItem.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/PaymentOptionsUI.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Add and update tests
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/PaymentOptionsUI.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetListFragmentTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/PaymentOptionsTest.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Add screenshot tests
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/PaymentOptionsScreenshotTest.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

🙈
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/PaymentOptionsTest.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Wrap workaround in test rule
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/PaymentOptionsTest.kt
  paymentsheet/src/test/java/com/stripe/android/utils/WtfComposeTestRule.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Generate screenshots
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testDefaultState[DarkTheme,CrazyAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testDefaultState[DarkTheme,CrazyAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testDefaultState[DarkTheme,CustomAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testDefaultState[DarkTheme,CustomAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testDefaultState[DarkTheme,DefaultAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testDefaultState[DarkTheme,DefaultAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testDefaultState[LightTheme,CrazyAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testDefaultState[LightTheme,CrazyAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testDefaultState[LightTheme,CustomAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testDefaultState[LightTheme,CustomAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testDefaultState[LightTheme,DefaultAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testDefaultState[LightTheme,DefaultAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testEditingState[DarkTheme,CrazyAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testEditingState[DarkTheme,CrazyAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testEditingState[DarkTheme,CustomAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testEditingState[DarkTheme,CustomAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testEditingState[DarkTheme,DefaultAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testEditingState[DarkTheme,DefaultAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testEditingState[LightTheme,CrazyAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testEditingState[LightTheme,CrazyAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testEditingState[LightTheme,CustomAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testEditingState[LightTheme,CustomAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testEditingState[LightTheme,DefaultAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testEditingState[LightTheme,DefaultAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testProcessingState[DarkTheme,CrazyAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testProcessingState[DarkTheme,CrazyAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testProcessingState[DarkTheme,CustomAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testProcessingState[DarkTheme,CustomAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testProcessingState[DarkTheme,DefaultAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testProcessingState[DarkTheme,DefaultAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testProcessingState[LightTheme,CrazyAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testProcessingState[LightTheme,CrazyAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testProcessingState[LightTheme,CustomAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testProcessingState[LightTheme,CustomAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testProcessingState[LightTheme,DefaultAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testProcessingState[LightTheme,DefaultAppearance,LargeFont].png
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Remove `LiveData` completely from Payment Sheet (#6117)
  paymentsheet/build.gradle
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/BottomSheetController.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/addresselement/AddressElementNavigator.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/BaseSheetActivity.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/forms/FormViewModelTest.kt
Owners: @stripe/stripe-android-sdk-reviewers, @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Keep github actions checks for now.
  .github/workflows/ci.yml
Owners: @stripe/stripe-android-sdk-reviewers

Remove unnecessary `nameProvider`
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentOptionsItem.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/PaymentOptionsUI.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/PaymentOptionsScreenshotTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/PaymentOptionsTest.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Add CountryListSerializer
  stripe-core/api/stripe-core.api
  stripe-core/src/main/java/com/stripe/android/core/model/Country.kt
  stripe-core/src/main/java/com/stripe/android/core/model/CountryCode.kt
  stripe-core/src/main/java/com/stripe/android/core/model/serializers/CountryListSerializer.kt
  stripe-core/src/test/java/com/stripe/android/core/model/serializers/CountryListSerializerTest.kt
Owners: @stripe/stripe-android-sdk-reviewers

remove roboletric
  stripe-core/src/test/java/com/stripe/android/core/model/serializers/CountryListSerializerTest.kt
Owners: @stripe/stripe-android-sdk-reviewers

[stripe-core] Add CountryListSerializer (#6112)
  stripe-core/api/stripe-core.api
  stripe-core/src/main/java/com/stripe/android/core/model/Country.kt
  stripe-core/src/main/java/com/stripe/android/core/model/CountryCode.kt
  stripe-core/src/main/java/com/stripe/android/core/model/serializers/CountryListSerializer.kt
  stripe-core/src/test/java/com/stripe/android/core/model/serializers/CountryListSerializerTest.kt
Owners: @stripe/stripe-android-sdk-reviewers

resolve comments
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/activity/PaymentSheetPlaygroundActivity.kt
  stripe-ui-core/api/stripe-ui-core.api
  stripe-ui-core/res/values/totranslate.xml
  stripe-ui-core/src/main/java/com/stripe/android/uicore/elements/SameAsShippingController.kt
  stripe-ui-core/src/main/java/com/stripe/android/uicore/elements/SimpleTextFieldConfig.kt
Owners: @stripe/stripe-android-sdk-reviewers

Update screenshot tests with Link and fix Paparazzi night mode
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/PaymentOptionsScreenshotTest.kt
  paymentsheet/src/test/java/com/stripe/android/utils/screenshots/PaparazziConfigOption.kt
  paymentsheet/src/test/java/com/stripe/android/utils/screenshots/PaparazziRule.kt
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testDefaultState[DarkTheme,CrazyAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testDefaultState[DarkTheme,CrazyAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testDefaultState[DarkTheme,CustomAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testDefaultState[DarkTheme,CustomAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testDefaultState[DarkTheme,DefaultAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testDefaultState[DarkTheme,DefaultAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testDefaultState[LightTheme,CrazyAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testDefaultState[LightTheme,CrazyAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testDefaultState[LightTheme,CustomAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testDefaultState[LightTheme,CustomAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testDefaultState[LightTheme,DefaultAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testDefaultState[LightTheme,DefaultAppearance,LargeFont].png
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Color Link logo based on card background color
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentOptionsAdapter.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/PaymentOptionsUI.kt
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testDefaultState[DarkTheme,CrazyAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testDefaultState[DarkTheme,CrazyAppearance,LargeFont].png
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Update detekt baseline
  paymentsheet/detekt-baseline.xml
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Re-record some Paparazzi screenshots
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_AddressElementPrimaryButtonScreenshotTest_testDisabled[DarkTheme,DefaultAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_AddressElementPrimaryButtonScreenshotTest_testDisabled[DarkTheme,DefaultAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_AddressElementPrimaryButtonScreenshotTest_testEnabled[DarkTheme,DefaultAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_AddressElementPrimaryButtonScreenshotTest_testEnabled[DarkTheme,DefaultAppearance,LargeFont].png
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Start bitrise setup. (#6111)
  .bitrise/ci-gradle.properties
  bitrise.yml
Owners: @stripe/stripe-android-sdk-reviewers

Remove required checks from github actions.
  .github/workflows/ci.yml
Owners: @stripe/stripe-android-sdk-reviewers

Address minor comments
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/PaymentOptionsTest.kt
  paymentsheet/src/test/java/com/stripe/android/utils/HackyComposeTestRule.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Fix instrumented tests
  paymentsheet-example/src/androidTestDebug/java/com/stripe/android/TestGooglePay.kt
  paymentsheet-example/src/androidTestDebug/java/com/stripe/android/test/core/PlaygroundTestDriver.kt
Owners: @stripe/stripe-android-sdk-reviewers

Fix LpmRepository.waitUntilLoaded.
  payments-ui-core/src/main/java/com/stripe/android/ui/core/forms/resources/LpmRepository.kt
  payments-ui-core/src/test/java/com/stripe/android/ui/core/forms/resources/LpmRepositoryTest.kt
Owners: @stripe/stripe-android-sdk-reviewers

Fix LpmRepository.waitUntilLoaded. (#6125)
  payments-ui-core/src/main/java/com/stripe/android/ui/core/forms/resources/LpmRepository.kt
  payments-ui-core/src/test/java/com/stripe/android/ui/core/forms/resources/LpmRepositoryTest.kt
Owners: @stripe/stripe-android-sdk-reviewers

Remove some easy to remove usages of savedStateHandle.
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/viewmodels/BaseSheetViewModel.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/BasePaymentOptionsViewModelInjectionTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/BasePaymentSheetViewModelInjectionTest.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Fix instrumented tests (#6126)
  paymentsheet-example/src/androidTestDebug/java/com/stripe/android/TestGooglePay.kt
  paymentsheet-example/src/androidTestDebug/java/com/stripe/android/test/core/PlaygroundTestDriver.kt
Owners: @stripe/stripe-android-sdk-reviewers

Reverts stripeAppInfo.
  payments-model/src/main/java/com/stripe/android/repository/ConsumersApiService.kt
Owners: @stripe/stripe-android-sdk-reviewers

One more.
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/viewmodels/BaseSheetViewModel.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Adds missing restricts.
  payments-model/api/payments-model.api
  payments-model/src/main/java/com/stripe/android/model/ConsumerSession.kt
  stripe-core/api/stripe-core.api
  stripe-core/src/main/java/com/stripe/android/core/networking/RequestExecutor.kt
Owners: @stripe/stripe-android-sdk-reviewers

ktlint fixes.
  stripe-core/src/main/java/com/stripe/android/core/networking/RequestExecutor.kt
Owners: @stripe/stripe-android-sdk-reviewers

Move LookupConsumerSession endpoint to payments-model (#6089)
  link/src/main/java/com/stripe/android/link/injection/LinkCommonModule.kt
  link/src/main/java/com/stripe/android/link/repositories/LinkApiRepository.kt
  link/src/test/java/com/stripe/android/link/repositories/LinkApiRepositoryTest.kt
  payments-core/api/payments-core.api
  payments-core/src/main/java/com/stripe/android/networking/StripeApiRepository.kt
  payments-core/src/main/java/com/stripe/android/networking/StripeRepository.kt
  payments-core/src/test/java/com/stripe/android/model/ConsumerFixtures.kt
  payments-core/src/test/java/com/stripe/android/networking/AbsFakeStripeRepository.kt
  payments-core/src/test/java/com/stripe/android/networking/StripeApiRepositoryTest.kt
  payments-model/api/payments-model.api
  payments-model/build.gradle
  payments-model/src/main/java/com/stripe/android/model/ConsumerSession.kt
  payments-model/src/main/java/com/stripe/android/model/ConsumerSessionLookup.kt
  payments-model/src/main/java/com/stripe/android/model/parsers/ConsumerSessionJsonParser.kt
  payments-model/src/main/java/com/stripe/android/model/parsers/ConsumerSessionLookupJsonParser.kt
  payments-model/src/main/java/com/stripe/android/repository/ConsumersApiService.kt
  payments-model/src/test/java/com/stripe/android/ConsumerFixtures.kt
  payments-model/src/test/java/com/stripe/android/model/parsers/ConsumerSessionLookupJsonParserTest.kt
  payments-model/src/test/java/com/stripe/android/repository/ConsumersApiServiceImplTest.kt
  stripe-core/detekt-baseline.xml
  stripe-core/src/main/java/com/stripe/android/core/networking/RequestExecutor.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe, @ccen-stripe, @carlosmuvi-stripe, @stripe/stripe-android-sdk-reviewers

[Identity] Parse additional API fields for id and address
  identity/api/identity.api
  identity/src/main/java/com/stripe/android/identity/networking/NetworkConstants.kt
  identity/src/main/java/com/stripe/android/identity/networking/models/ClearDataParam.kt
  identity/src/main/java/com/stripe/android/identity/networking/models/CollectedDataParam.kt
  identity/src/main/java/com/stripe/android/identity/networking/models/DobParam.kt
  identity/src/main/java/com/stripe/android/identity/networking/models/IdNumberParam.kt
  identity/src/main/java/com/stripe/android/identity/networking/models/NameParam.kt
  identity/src/main/java/com/stripe/android/identity/networking/models/RequiredInternationalAddress.kt
  identity/src/main/java/com/stripe/android/identity/networking/models/Requirement.kt
  identity/src/main/java/com/stripe/android/identity/networking/models/VerificationPage.kt
  identity/src/main/java/com/stripe/android/identity/networking/models/VerificationPageStaticContentIndividualPage.kt
  identity/src/test/java/com/stripe/android/identity/networking/DefaultIdentityRepositoryTest.kt
  identity/src/test/java/com/stripe/android/identity/networking/IdentityNetworkResponseFixtures.kt
Owners: @ccen-stripe, @awush-stripe, @carlosmuvi-stripe

[Identity] Update example app
  identity-example/src/main/AndroidManifest.xml
  identity-example/src/main/java/com/stripe/android/identity/example/ComposeExampleActivity.kt
  identity-example/src/main/java/com/stripe/android/identity/example/EntryActivity.kt
  identity-example/src/main/java/com/stripe/android/identity/example/IdentityExampleViewModel.kt
  identity-example/src/main/java/com/stripe/android/identity/example/MainActivity.kt
  identity-example/src/main/java/com/stripe/android/identity/example/Network.kt
  identity-example/src/main/java/com/stripe/android/identity/example/ui/ComposeExampleUI.kt
  identity-example/src/main/res/layout/activity_main.xml
  identity-example/src/main/res/values/strings.xml
  identity-example/src/theme1/java/com/stripe/android/identity/example/ThemeActivity.kt
  identity-example/src/theme2/java/com/stripe/android/identity/example/ThemeActivity.kt
Owners: @ccen-stripe, @awush-stripe, @carlosmuvi-stripe

lint
  identity-example/src/main/java/com/stripe/android/identity/example/ComposeExampleActivity.kt
  identity-example/src/main/java/com/stripe/android/identity/example/ui/ComposeExampleUI.kt
Owners: @ccen-stripe, @awush-stripe, @carlosmuvi-stripe

.github/CODEOWNERS:

# Global - fallback to this group if the following groups don't match
* @stripe/stripe-android-sdk-reviewers

# Payments SDK
/payments/ @jaynewstrom-stripe @tillh-stripe @ccen-stripe @jameswoo-stripe
/paymentsheet/ @jaynewstrom-stripe @tillh-stripe @jameswoo-stripe
/wechatpay/ @jaynewstrom-stripe @tillh-stripe @ccen-stripe @jameswoo-stripe
/stripe-test-e2e/ @jaynewstrom-stripe @tillh-stripe @jameswoo-stripe
/link/ @jaynewstrom-stripe @tillh-stripe @jameswoo-stripe @ccen-stripe @carlosmuvi-stripe
/payment-method-messaging/ @jaynewstrom-stripe @tillh-stripe @jameswoo-stripe

# CardScan SDK
/stripecardscan/ @awush-stripe @ccen-stripe
/stripecardscan-example/ @awush-stripe @ccen-stripe

# Identity SDK
/identity/ @ccen-stripe @awush-stripe @carlosmuvi-stripe
/identity-example/ @ccen-stripe @awush-stripe @carlosmuvi-stripe

# Financial Connections SDK
/financial-connections/ @carlosmuvi-stripe @ccen-stripe
/financial-connections-example/ @carlosmuvi-stripe @ccen-stripe

# Shared modules
/camera-core/ @ccen-stripe @awush-stripe

# Configuration files
*.gradle @stripe/stripe-android-sdk-reviewers
