Repository stripe/stripe-android, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stripe/stripe-android-sdk-reviewers, @jaynewstrom-stripe, @tillh-stripe, @ccen-stripe, @jameswoo-stripe, @carlosmuvi-stripe, @awush-stripe

Adds early termination cause and sends it in complete endpoint.
  financial-connections/src/main/java/com/stripe/android/financialconnections/domain/CompleteFinancialConnectionsSession.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/domain/NativeAuthFlowCoordinator.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/manualentry/CustomManualEntry.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/manualentry/ManualEntryScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/manualentry/ManualEntryViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/model/FinancialConnectionsSessionManifest.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/model/ManualEntry.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/presentation/FinancialConnectionsSheetNativeViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/repository/FinancialConnectionsRepository.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/networking/FakeFinancialConnectionsRepository.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Fetch session and return failed result on web AuthFlow.
  financial-connections/src/main/java/com/stripe/android/financialconnections/FinancialConnectionsSheetViewModel.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Fake-eliminate establishing connections screen in authorized call.
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/partnerauth/PartnerAuthScreen.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Show loading while browser is opened.
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/partnerauth/PartnerAuthScreen.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Regenerates API.
  financial-connections/api/financial-connections.api
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/consent/ConsentScreen.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Adds tests.
  financial-connections/src/test/java/com/stripe/android/financialconnections/TestFinancialConnectionsAnalyticsTracker.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/features/institutionpicker/InstitutionPickerViewModelTest.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Update SOX reference in E2E test.
  stripe-test-e2e/src/test/java/com/stripe/android/test/e2e/EndToEndTest.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Fix lint.
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/activity/AppearanceBottomSheetDialogFragment.kt
Owners: @stripe/stripe-android-sdk-reviewers

Update SOX reference in E2E test. (#6171)
  stripe-test-e2e/src/test/java/com/stripe/android/test/e2e/EndToEndTest.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Fix Google Pay event reporting
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetViewModel.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Move logic to DefaultEventReporter
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/analytics/DefaultEventReporter.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/flowcontroller/DefaultFlowController.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Add test
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/analytics/DefaultEventReporterTest.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Fix Google Pay event reporting (#6095)
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/analytics/DefaultEventReporter.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/flowcontroller/DefaultFlowController.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/analytics/DefaultEventReporterTest.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Add Cash App Pay support in Payment Sheet
  payments-ui-core/res/drawable/stripe_ic_paymentsheet_pm_cash_app_pay.xml
  payments-ui-core/res/values/donottranslate.xml
  payments-ui-core/src/main/assets/lpms.json
  payments-ui-core/src/main/java/com/stripe/android/paymentsheet/forms/PaymentMethodRequirements.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/forms/resources/LpmRepository.kt
  paymentsheet-example/src/androidTestDebug/java/com/stripe/android/TestHardCodedLpms.kt
  paymentsheet-example/src/androidTestDebug/java/com/stripe/android/TestMultiStepFieldsReloaded.kt
  paymentsheet/src/test/resources/cashapp-support.csv
Owners: @stripe/stripe-android-sdk-reviewers, @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Add icon URL to specs file
  payments-ui-core/src/main/assets/lpms.json
Owners: @stripe/stripe-android-sdk-reviewers

Removes linked account badge.
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/accountpicker/AccountPickerScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/institutionpicker/SearchFooter.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Update screenshots.
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.accountpicker_null_AccountPickerPane_Multiselect-accountselected_null,NEXUS_5].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.accountpicker_null_AccountPickerPane_Multiselect-accountselected_null,PIXEL_C].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.accountpicker_null_AccountPickerPane_Singleselect-accountselected_null,NEXUS_5].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.accountpicker_null_AccountPickerPane_Singleselect-accountselected_null,PIXEL_C].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.institutionpicker_null_DefaultGroup_SearchFooterTest_null,NEXUS_5].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.institutionpicker_null_DefaultGroup_SearchFooterTest_null,PIXEL_C].png
Owners: @carlosmuvi-stripe, @ccen-stripe

[Financial Connections] Minor tweaks (#6167)
  financial-connections/api/financial-connections.api
  financial-connections/src/main/java/com/stripe/android/financialconnections/analytics/AnalyticsMappers.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/accountpicker/AccountPickerScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/consent/ConsentScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/institutionpicker/InstitutionPickerScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/institutionpicker/InstitutionPickerViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/institutionpicker/SearchFooter.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/partnerauth/PartnerAuthScreen.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/TestFinancialConnectionsAnalyticsTracker.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/features/institutionpicker/InstitutionPickerViewModelTest.kt
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.accountpicker_null_AccountPickerPane_Multiselect-accountselected_null,NEXUS_5].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.accountpicker_null_AccountPickerPane_Multiselect-accountselected_null,PIXEL_C].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.accountpicker_null_AccountPickerPane_Singleselect-accountselected_null,NEXUS_5].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.accountpicker_null_AccountPickerPane_Singleselect-accountselected_null,PIXEL_C].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.institutionpicker_null_DefaultGroup_SearchFooterTest_null,NEXUS_5].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.institutionpicker_null_DefaultGroup_SearchFooterTest_null,PIXEL_C].png
Owners: @carlosmuvi-stripe, @ccen-stripe

Merge fixes.
  financial-connections/api/financial-connections.api
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/partnerauth/PartnerAuthScreen.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Center the payment sheet on tablets.
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/BaseSheetActivity.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Remember in the rememberItemWidth method.
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/PaymentOptionsUI.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Fix impure viewEffect.
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/manualentry/CustomManualEntry.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/presentation/FinancialConnectionsSheetNativeViewModel.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Add Cash App Pay support in Payment Sheet (#6091)
  payments-ui-core/res/drawable/stripe_ic_paymentsheet_pm_cash_app_pay.xml
  payments-ui-core/res/values/donottranslate.xml
  payments-ui-core/src/main/assets/lpms.json
  payments-ui-core/src/main/java/com/stripe/android/paymentsheet/forms/PaymentMethodRequirements.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/forms/resources/LpmRepository.kt
  paymentsheet-example/src/androidTestDebug/java/com/stripe/android/TestHardCodedLpms.kt
  paymentsheet-example/src/androidTestDebug/java/com/stripe/android/TestMultiStepFieldsReloaded.kt
  paymentsheet/src/test/resources/cashapp-support.csv
Owners: @stripe/stripe-android-sdk-reviewers, @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Adds tests to web authflow.
  financial-connections/src/test/java/com/stripe/android/financialconnections/ApiKeyFixtures.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/FinancialConnectionsSheetViewModelTest.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Adds tests to native authflow.
  financial-connections/src/test/java/com/stripe/android/financialconnections/presentation/FinancialConnectionsSheetNativeViewModelTest.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Fix existing tests.
  financial-connections/src/test/java/com/stripe/android/financialconnections/FinancialConnectionsSheetViewModelTest.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Adds manual entry test.
  financial-connections/src/test/java/com/stripe/android/financialconnections/features/manualentry/ManualEntryViewModelTest.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

regenerates API and style fixes.
  financial-connections/api/financial-connections.api
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/manualentry/ManualEntryScreen.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/features/manualentry/ManualEntryViewModelTest.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Make PaymentLauncher create methods Java-friendly
  payments-core/api/payments-core.api
  payments-core/src/main/java/com/stripe/android/payments/paymentlauncher/PaymentLauncher.kt
Owners: @stripe/stripe-android-sdk-reviewers

[WIP] Maybe there's hope
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentOptionsActivityTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/PaymentOptionsTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/PaymentSheetTopBarTest.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Add a test for tablets.
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetActivityTest.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Fix lint.
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetActivityTest.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Make PaymentLauncher create methods Java-friendly (#6174)
  payments-core/api/payments-core.api
  payments-core/src/main/java/com/stripe/android/payments/paymentlauncher/PaymentLauncher.kt
Owners: @stripe/stripe-android-sdk-reviewers

[WIP] Found the culprit, I think
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentMethodsUI.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetActivityTest.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

[WIP] Is this too hacky?
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentMethodsUI.kt
  stripe-ui-core/src/main/java/com/stripe/android/uicore/StripeTheme.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe, @stripe/stripe-android-sdk-reviewers

Adds lookup logic.
  financial-connections/src/main/java/com/stripe/android/financialconnections/domain/LookupAccount.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/institutionpicker/InstitutionPickerViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinksignup/NetworkingLinkSignupScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinksignup/NetworkingLinkSignupViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/repository/FinancialConnectionsManifestRepository.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/ui/components/Button.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/utils/MavericksExtensions.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

[Identity] Parse additional fields for id/addr
  identity/api/identity.api
  identity/src/main/java/com/stripe/android/identity/networking/models/VerificationPage.kt
  identity/src/main/java/com/stripe/android/identity/networking/models/VerificationPageStaticContentCountryNotListedPage.kt
  identity/src/main/java/com/stripe/android/identity/networking/models/VerificationPageStaticContentIndividualPage.kt
  identity/src/test/java/com/stripe/android/identity/networking/DefaultIdentityRepositoryTest.kt
  identity/src/test/java/com/stripe/android/identity/networking/IdentityNetworkResponseFixtures.kt
Owners: @ccen-stripe, @awush-stripe, @carlosmuvi-stripe

Fix form field flow.
  payments-ui-core/build.gradle
  payments-ui-core/src/test/java/com/stripe/android/ui/core/elements/TextFieldControllerTest.kt
  stripe-ui-core/src/main/java/com/stripe/android/uicore/elements/TextFieldController.kt
Owners: @stripe/stripe-android-sdk-reviewers

Adds comment.
  payments-ui-core/src/test/java/com/stripe/android/ui/core/elements/TextFieldControllerTest.kt
Owners: @stripe/stripe-android-sdk-reviewers

Removes showFullForm.
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinksignup/NetworkingLinkSignupScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinksignup/NetworkingLinkSignupViewModel.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

.github/CODEOWNERS:

# Global - fallback to this group if the following groups don't match
* @stripe/stripe-android-sdk-reviewers

# Payments SDK
/payments/ @jaynewstrom-stripe @tillh-stripe @ccen-stripe @jameswoo-stripe
/paymentsheet/ @jaynewstrom-stripe @tillh-stripe @jameswoo-stripe
/wechatpay/ @jaynewstrom-stripe @tillh-stripe @ccen-stripe @jameswoo-stripe
/stripe-test-e2e/ @jaynewstrom-stripe @tillh-stripe @jameswoo-stripe
/link/ @jaynewstrom-stripe @tillh-stripe @jameswoo-stripe @ccen-stripe @carlosmuvi-stripe
/payment-method-messaging/ @jaynewstrom-stripe @tillh-stripe @jameswoo-stripe

# CardScan SDK
/stripecardscan/ @awush-stripe @ccen-stripe
/stripecardscan-example/ @awush-stripe @ccen-stripe

# Identity SDK
/identity/ @ccen-stripe @awush-stripe @carlosmuvi-stripe
/identity-example/ @ccen-stripe @awush-stripe @carlosmuvi-stripe

# Financial Connections SDK
/financial-connections/ @carlosmuvi-stripe @ccen-stripe
/financial-connections-example/ @carlosmuvi-stripe @ccen-stripe

# Shared modules
/camera-core/ @ccen-stripe @awush-stripe

# Configuration files
*.gradle @stripe/stripe-android-sdk-reviewers
