Repository stripe/stripe-android, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stripe/stripe-android-sdk-reviewers, @jaynewstrom-stripe, @tillh-stripe, @ccen-stripe, @jameswoo-stripe, @carlosmuvi-stripe, @awush-stripe

.github/CODEOWNERS:

# Global - fallback to this group if the following groups don't match
* @stripe/stripe-android-sdk-reviewers

# Payments SDK
/payments/ @jaynewstrom-stripe @tillh-stripe @ccen-stripe @jameswoo-stripe
/paymentsheet/ @jaynewstrom-stripe @tillh-stripe @jameswoo-stripe
/wechatpay/ @jaynewstrom-stripe @tillh-stripe @ccen-stripe @jameswoo-stripe
/stripe-test-e2e/ @jaynewstrom-stripe @tillh-stripe @jameswoo-stripe
/link/ @jaynewstrom-stripe @tillh-stripe @jameswoo-stripe @ccen-stripe @carlosmuvi-stripe
/payment-method-messaging/ @jaynewstrom-stripe @tillh-stripe @jameswoo-stripe

# CardScan SDK
/stripecardscan/ @awush-stripe @ccen-stripe
/stripecardscan-example/ @awush-stripe @ccen-stripe

# Identity SDK
/identity/ @ccen-stripe @awush-stripe @carlosmuvi-stripe
/identity-example/ @ccen-stripe @awush-stripe @carlosmuvi-stripe

# Financial Connections SDK
/financial-connections/ @carlosmuvi-stripe @ccen-stripe
/financial-connections-example/ @carlosmuvi-stripe @ccen-stripe

# Shared modules
/camera-core/ @ccen-stripe @awush-stripe

# Configuration files
*.gradle @stripe/stripe-android-sdk-reviewers

[Identity] IndividualWelcome screen (#6216)
  identity/api/identity.api
  identity/detekt-baseline.xml
  identity/src/main/java/com/stripe/android/identity/IdentityActivity.kt
  identity/src/main/java/com/stripe/android/identity/analytics/IdentityAnalyticsRequestFactory.kt
  identity/src/main/java/com/stripe/android/identity/navigation/ConfirmationDestination.kt
  identity/src/main/java/com/stripe/android/identity/navigation/ConsentDestination.kt
  identity/src/main/java/com/stripe/android/identity/navigation/CountryNotListedDestination.kt
  identity/src/main/java/com/stripe/android/identity/navigation/DocSelectionDestination.kt
  identity/src/main/java/com/stripe/android/identity/navigation/IdentityNavGraph.kt
  identity/src/main/java/com/stripe/android/identity/navigation/IdentityTopLevelDestination.kt
  identity/src/main/java/com/stripe/android/identity/navigation/IndividualDestination.kt
  identity/src/main/java/com/stripe/android/identity/navigation/IndividualWelcomeDestination.kt
  identity/src/main/java/com/stripe/android/identity/navigation/InitialLoadingDestination.kt
  identity/src/main/java/com/stripe/android/identity/navigation/ScanDestinations.kt
  identity/src/main/java/com/stripe/android/identity/networking/models/VerificationPage.kt
  identity/src/main/java/com/stripe/android/identity/networking/models/VerificationPageStaticContentIndividualWelcomePage.kt
  identity/src/main/java/com/stripe/android/identity/ui/AddressSection.kt
  identity/src/main/java/com/stripe/android/identity/ui/ConsentScreen.kt
  identity/src/main/java/com/stripe/android/identity/ui/CountryNotListedScreen.kt
  identity/src/main/java/com/stripe/android/identity/ui/IDNumberSection.kt
  identity/src/main/java/com/stripe/android/identity/ui/IdentityTopAppBar.kt
  identity/src/main/java/com/stripe/android/identity/ui/IndividualScreen.kt
  identity/src/main/java/com/stripe/android/identity/ui/IndividualWelcomeScreen.kt
  identity/src/main/java/com/stripe/android/identity/ui/InitialLoadingScreen.kt
  identity/src/main/java/com/stripe/android/identity/utils/UriUtils.kt
  identity/src/main/java/com/stripe/android/identity/viewmodel/IdentityViewModel.kt
  identity/src/test/java/com/stripe/android/identity/navigation/IdentityTopLevelDestinationTest.kt
  identity/src/test/java/com/stripe/android/identity/networking/DefaultIdentityRepositoryTest.kt
  identity/src/test/java/com/stripe/android/identity/networking/IdentityNetworkResponseFixtures.kt
  identity/src/test/java/com/stripe/android/identity/ui/ConsentScreenTest.kt
  identity/src/test/java/com/stripe/android/identity/ui/CountryNotListedScreenTest.kt
  identity/src/test/java/com/stripe/android/identity/ui/IndividualScreenTest.kt
  identity/src/test/java/com/stripe/android/identity/ui/IndividualWelcomeScreenTest.kt
  identity/src/test/java/com/stripe/android/identity/ui/InitialLoadingScreenTest.kt
Owners: @ccen-stripe, @awush-stripe, @carlosmuvi-stripe

Regenerates screenshots.
  financial-connections/api/financial-connections.api
  financial-connections/src/test/java/com/stripe/android/financialconnections/features/linkstepupverification/LinkStepUpVerificationViewModelTest.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/networking/FakeFinancialConnectionsManifestRepository.kt
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.common_null_Errors_institutiondownplannederror_null,NEXUS_5].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.common_null_Errors_institutiondownplannederror_null,PIXEL_C].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.linkstepupverification_null_LinkStepUpVerificationPane_Canonical_,NEXUS_5].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.linkstepupverification_null_LinkStepUpVerificationPane_Canonical_,PIXEL_C].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.linkstepupverification_null_LinkStepUpVerificationPane_Canonical_null,NEXUS_5].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.linkstepupverification_null_LinkStepUpVerificationPane_Canonical_null,PIXEL_C].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.linkstepupverification_null_LinkStepUpVerificationPane_Resendingcode_,NEXUS_5].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.linkstepupverification_null_LinkStepUpVerificationPane_Resendingcode_,PIXEL_C].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.linkstepupverification_null_LinkStepUpVerificationPane_Resendingcode_null,NEXUS_5].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.linkstepupverification_null_LinkStepUpVerificationPane_Resendingcode_null,PIXEL_C].png
  payments-model/src/main/java/com/stripe/android/model/Verification.kt
Owners: @carlosmuvi-stripe, @ccen-stripe, @stripe/stripe-android-sdk-reviewers

Use PaymentSheetScaffold in sheet
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/PaymentSheetScreen.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Make minor tweaks
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/PaymentSheetScreen.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Fix tests
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetActivityTest.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Add paypal mandate.
  payments-ui-core/src/main/java/com/stripe/android/ui/core/forms/resources/LpmRepository.kt
Owners: @stripe/stripe-android-sdk-reviewers

Don't display saved paypal payment methods.
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/state/PaymentSheetLoader.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/PaymentMethodsUiExtension.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Point to new l10n
  payments-ui-core/src/main/java/com/stripe/android/ui/core/forms/resources/LpmRepository.kt
Owners: @stripe/stripe-android-sdk-reviewers

Add support for paypal with setup intents.
  payments-ui-core/detekt-baseline.xml
  payments-ui-core/src/main/java/com/stripe/android/paymentsheet/forms/PaymentMethodRequirements.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/forms/resources/LpmRepository.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/PaymentMethodsUiExtension.kt
  paymentsheet/src/test/resources/paypal-support.csv
Owners: @stripe/stripe-android-sdk-reviewers, @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Add a test.
  paymentsheet/src/test/java/com/stripe/android/model/PaymentMethodFixtures.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/state/DefaultPaymentSheetLoaderTest.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Comment paypal filtering.
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/state/PaymentSheetLoader.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Removes github action and moves bitrise script to file.
  .github/workflows/financialconnections_nightly.yaml
  bitrise.yml
  scripts/execute_maestro_tests.sh
Owners: @stripe/stripe-android-sdk-reviewers

Adds test trigger.
  bitrise.yml
Owners: @stripe/stripe-android-sdk-reviewers

Adds test trigger.
  bitrise.yml
Owners: @stripe/stripe-android-sdk-reviewers

Revert test trigger.
  bitrise.yml
Owners: @stripe/stripe-android-sdk-reviewers

Fixes tests.
  financial-connections/src/test/java/com/stripe/android/financialconnections/features/linkstepupverification/LinkStepUpVerificationViewModelTest.kt
  payments-model/src/test/java/com/stripe/android/repository/ConsumersApiServiceImplTest.kt
Owners: @carlosmuvi-stripe, @ccen-stripe, @stripe/stripe-android-sdk-reviewers

[Financial Connections] Disable Maestro Github Action (#6228)
  .github/workflows/financialconnections_nightly.yaml
  bitrise.yml
  scripts/execute_maestro_tests.sh
Owners: @stripe/stripe-android-sdk-reviewers

Move entire payment sheet screen to Compose (#6220)
  link/detekt-baseline.xml
  link/src/main/java/com/stripe/android/link/ui/LinkButtonView.kt
  paymentsheet/api/paymentsheet.api
  paymentsheet/res/layout/activity_payment_sheet.xml
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetActivity.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/navigation/PaymentSheetScreen.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/PaymentSheetLoading.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/PaymentSheetScreen.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetActivityTest.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe, @ccen-stripe, @carlosmuvi-stripe

Adds pane content.
  financial-connections/res/values/strings.xml
  financial-connections/src/main/java/com/stripe/android/financialconnections/di/FinancialConnectionsSheetNativeComponent.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/domain/GoNext.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/domain/SaveAccountToLink.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinksignup/NetworkingLinkSignupViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkingsavetolinkverification/NetworkingSaveToLinkVerificationScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkingsavetolinkverification/NetworkingSaveToLinkVerificationSubcomponent.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkingsavetolinkverification/NetworkingSaveToLinkVerificationViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/model/FinancialConnectionsSessionManifest.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/navigation/NavigationCommand.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/repository/FinancialConnectionsManifestRepository.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/ui/FinancialConnectionsSheetNativeActivity.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/networking/FakeFinancialConnectionsManifestRepository.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Adds tests.
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkingsavetolinkverification/NetworkingSaveToLinkVerificationScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkingsavetolinkverification/NetworkingSaveToLinkVerificationViewModel.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/features/networkingsavetolinkverification/NetworkingSaveToLinkVerificationViewModelTest.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Adds screenshots.
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.networkinglinkverification_null_NetworkingLinkVerificationPane_EnteringOTP_,NEXUS_5].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.networkinglinkverification_null_NetworkingLinkVerificationPane_EnteringOTP_,PIXEL_C].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.networkinglinkverification_null_NetworkingLinkVerificationPane_EnteringOTP_null,NEXUS_5].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.networkinglinkverification_null_NetworkingLinkVerificationPane_EnteringOTP_null,PIXEL_C].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.networkinglinkverification_null_NetworkingLinkVerificationPane_Error_,NEXUS_5].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.networkinglinkverification_null_NetworkingLinkVerificationPane_Error_,PIXEL_C].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.networkinglinkverification_null_NetworkingLinkVerificationPane_Error_null,NEXUS_5].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.networkinglinkverification_null_NetworkingLinkVerificationPane_Error_null,PIXEL_C].png
Owners: @carlosmuvi-stripe, @ccen-stripe

Add query builder for deferred intent params
  payments-core/src/main/java/com/stripe/android/model/DeferredIntent.kt
  payments-core/src/main/java/com/stripe/android/model/DeferredIntentParams.kt
  payments-core/src/main/java/com/stripe/android/networking/StripeApiRepository.kt
  payments-core/src/test/java/com/stripe/android/networking/StripeApiRepositoryTest.kt
Owners: @stripe/stripe-android-sdk-reviewers

Add DeferredIntent
  link/src/main/java/com/stripe/android/link/confirmation/ConfirmStripeIntentParamsFactory.kt
  link/src/main/java/com/stripe/android/link/ui/PrimaryButton.kt
  link/src/main/java/com/stripe/android/link/ui/inline/InlineSignupViewModel.kt
  link/src/main/java/com/stripe/android/link/ui/signup/SignUpViewModel.kt
  payments-core/src/main/java/com/stripe/android/PaymentRelayStarter.kt
  payments-core/src/main/java/com/stripe/android/googlepaylauncher/GooglePayLauncherViewModel.kt
  payments-core/src/main/java/com/stripe/android/model/DeferredIntent.kt
  payments-core/src/main/java/com/stripe/android/model/DeferredIntentParams.kt
  payments-core/src/main/java/com/stripe/android/model/ElementsSession.kt
  payments-core/src/main/java/com/stripe/android/model/ElementsSessionParams.kt
  payments-core/src/main/java/com/stripe/android/model/parsers/DeferredIntentJsonParser.kt
  payments-core/src/main/java/com/stripe/android/model/parsers/ElementsSessionJsonParser.kt
  payments-core/src/main/java/com/stripe/android/networking/StripeApiRepository.kt
  payments-core/src/main/java/com/stripe/android/networking/StripeRepository.kt
  payments-core/src/main/java/com/stripe/android/payments/PaymentFlowFailureMessageFactory.kt
  payments-core/src/test/java/com/stripe/android/model/parsers/ElementsSessionJsonParserTest.kt
  payments-core/src/test/java/com/stripe/android/networking/AbsFakeStripeRepository.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/model/SupportedPaymentMethodKtx.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe, @ccen-stripe, @carlosmuvi-stripe, @stripe/stripe-android-sdk-reviewers

Refactor DeferredIntentJsonParser and add test
  payments-core/src/main/java/com/stripe/android/model/DeferredIntent.kt
  payments-core/src/main/java/com/stripe/android/model/parsers/DeferredIntentJsonParser.kt
  payments-core/src/main/java/com/stripe/android/model/parsers/ElementsSessionJsonParser.kt
  payments-core/src/test/java/com/stripe/android/model/ElementsSessionFixtures.kt
  payments-core/src/test/java/com/stripe/android/model/parsers/ElementsSessionJsonParserTest.kt
Owners: @stripe/stripe-android-sdk-reviewers

Resolve comments
  payments-core/api/payments-core.api
  payments-core/src/main/java/com/stripe/android/model/DeferredIntent.kt
  payments-core/src/main/java/com/stripe/android/model/DeferredIntentParams.kt
  payments-core/src/main/java/com/stripe/android/model/ElementsSession.kt
  payments-core/src/main/java/com/stripe/android/model/ElementsSessionParams.kt
  payments-core/src/test/java/com/stripe/android/model/parsers/ElementsSessionJsonParserTest.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/model/SupportedPaymentMethodKtx.kt
Owners: @stripe/stripe-android-sdk-reviewers, @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Remove deferred from StripeIntent
  payments-core/api/payments-core.api
  payments-core/src/main/java/com/stripe/android/model/PaymentIntent.kt
  payments-core/src/main/java/com/stripe/android/model/SetupIntent.kt
  payments-core/src/main/java/com/stripe/android/model/StripeIntent.kt
  payments-core/src/main/java/com/stripe/android/model/parsers/DeferredPaymentIntentJsonParser.kt
  payments-core/src/main/java/com/stripe/android/model/parsers/DeferredSetupIntentJsonParser.kt
  payments-core/src/test/java/com/stripe/android/model/parsers/ElementsSessionJsonParserTest.kt
Owners: @stripe/stripe-android-sdk-reviewers

Clean up
  link/src/test/java/com/stripe/android/link/ui/signup/SignUpViewModelTest.kt
  payments-core/api/payments-core.api
  payments-core/src/main/java/com/stripe/android/googlepaylauncher/GooglePayLauncherViewModel.kt
  payments-core/src/main/java/com/stripe/android/model/DeferredIntent.kt
  payments-core/src/main/java/com/stripe/android/model/ElementsSessionParams.kt
  payments-core/src/main/java/com/stripe/android/model/parsers/ElementsSessionJsonParser.kt
  payments-core/src/main/java/com/stripe/android/payments/PaymentFlowFailureMessageFactory.kt
  payments-core/src/test/java/com/stripe/android/model/ElementsSessionFixtures.kt
  payments-core/src/test/java/com/stripe/android/model/parsers/ElementsSessionJsonParserTest.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/model/SupportedPaymentMethodKtx.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe, @ccen-stripe, @carlosmuvi-stripe, @stripe/stripe-android-sdk-reviewers

Remove paymentMethodTypes and unactivatedPaymentMethodTypes from ElementsSession
  payments-core/src/main/java/com/stripe/android/model/ElementsSession.kt
  payments-core/src/main/java/com/stripe/android/model/parsers/ElementsSessionJsonParser.kt
Owners: @stripe/stripe-android-sdk-reviewers

Remove DeferredIntent
  link/src/main/java/com/stripe/android/link/confirmation/ConfirmStripeIntentParamsFactory.kt
  link/src/main/java/com/stripe/android/link/ui/PrimaryButton.kt
  link/src/main/java/com/stripe/android/link/ui/inline/InlineSignupViewModel.kt
  link/src/main/java/com/stripe/android/link/ui/signup/SignUpViewModel.kt
  link/src/test/java/com/stripe/android/link/ui/signup/SignUpViewModelTest.kt
  payments-core/api/payments-core.api
  payments-core/src/main/java/com/stripe/android/PaymentRelayStarter.kt
  payments-core/src/main/java/com/stripe/android/googlepaylauncher/GooglePayLauncherViewModel.kt
  payments-core/src/main/java/com/stripe/android/model/DeferredIntent.kt
  payments-core/src/main/java/com/stripe/android/model/DeferredIntentParams.kt
  payments-core/src/main/java/com/stripe/android/model/PaymentIntent.kt
  payments-core/src/main/java/com/stripe/android/model/SetupIntent.kt
  payments-core/src/main/java/com/stripe/android/model/StripeIntent.kt
  payments-core/src/main/java/com/stripe/android/model/parsers/DeferredPaymentIntentJsonParser.kt
  payments-core/src/main/java/com/stripe/android/model/parsers/DeferredSetupIntentJsonParser.kt
  payments-core/src/main/java/com/stripe/android/model/parsers/ElementsSessionJsonParser.kt
  payments-core/src/main/java/com/stripe/android/networking/StripeApiRepository.kt
  payments-core/src/main/java/com/stripe/android/networking/StripeRepository.kt
  payments-core/src/main/java/com/stripe/android/payments/PaymentFlowFailureMessageFactory.kt
  payments-core/src/test/java/com/stripe/android/model/parsers/ElementsSessionJsonParserTest.kt
  payments-core/src/test/java/com/stripe/android/networking/AbsFakeStripeRepository.kt
  payments-core/src/test/java/com/stripe/android/networking/StripeApiRepositoryTest.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/model/SupportedPaymentMethodKtx.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe, @ccen-stripe, @carlosmuvi-stripe, @stripe/stripe-android-sdk-reviewers

Resolve comments
  payments-core/src/main/java/com/stripe/android/model/DeferredIntentParams.kt
  payments-core/src/main/java/com/stripe/android/model/ElementsSessionParams.kt
  payments-core/src/main/java/com/stripe/android/model/PaymentIntent.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/model/SupportedPaymentMethodKtx.kt
Owners: @stripe/stripe-android-sdk-reviewers, @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Renames to email.
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/linkstepupverification/LinkStepUpVerificationScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinkverification/NetworkingLinkVerificationScreen.kt
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.networkinglinkverification_null_NetworkingLinkVerificationPane_EnteringOTP_null,NEXUS_5].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.networkinglinkverification_null_NetworkingLinkVerificationPane_EnteringOTP_null,PIXEL_C].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.networkinglinkverification_null_NetworkingLinkVerificationPane_Error_null,NEXUS_5].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.networkinglinkverification_null_NetworkingLinkVerificationPane_Error_null,PIXEL_C].png
Owners: @carlosmuvi-stripe, @ccen-stripe

Regenerates screenshots.
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.linkstepupverification_null_LinkStepUpVerificationPane_Canonical_,NEXUS_5].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.linkstepupverification_null_LinkStepUpVerificationPane_Canonical_,PIXEL_C].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.linkstepupverification_null_LinkStepUpVerificationPane_Resendingcode_,NEXUS_5].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.linkstepupverification_null_LinkStepUpVerificationPane_Resendingcode_,PIXEL_C].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.networkinglinkloginwarmup_null_NetworkingLinkLoginWarmupPane_Canonical_,NEXUS_5].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.networkinglinkloginwarmup_null_NetworkingLinkLoginWarmupPane_Canonical_,PIXEL_C].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.networkinglinksignup_null_NetworkingLinkSignupPane_Enteringemail_,NEXUS_5].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.networkinglinksignup_null_NetworkingLinkSignupPane_Enteringemail_,PIXEL_C].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.networkinglinksignup_null_NetworkingLinkSignupPane_Enteringphone_,NEXUS_5].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.networkinglinksignup_null_NetworkingLinkSignupPane_Enteringphone_,PIXEL_C].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.networkinglinkverification_null_NetworkingLinkVerificationPane_EnteringOTP_,NEXUS_5].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.networkinglinkverification_null_NetworkingLinkVerificationPane_EnteringOTP_,PIXEL_C].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.networkinglinkverification_null_NetworkingLinkVerificationPane_Enteringemail_,NEXUS_5].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.networkinglinkverification_null_NetworkingLinkVerificationPane_Enteringemail_,PIXEL_C].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.networkinglinkverification_null_NetworkingLinkVerificationPane_Enteringemail_null,NEXUS_5].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.networkinglinkverification_null_NetworkingLinkVerificationPane_Enteringemail_null,PIXEL_C].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.networkinglinkverification_null_NetworkingLinkVerificationPane_Error_,NEXUS_5].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.networkinglinkverification_null_NetworkingLinkVerificationPane_Error_,PIXEL_C].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.partnerauth_null_DefaultGroup_PrepaneContentPreview_null,NEXUS_5].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.partnerauth_null_DefaultGroup_PrepaneContentPreview_null,PIXEL_C].png
Owners: @carlosmuvi-stripe, @ccen-stripe

Fixes tests.
  link/src/test/java/com/stripe/android/link/repositories/LinkApiRepositoryTest.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe, @ccen-stripe, @carlosmuvi-stripe

Refactor DeferredIntent (#6223)
  payments-core/api/payments-core.api
  payments-core/src/main/java/com/stripe/android/model/DeferredIntent.kt
  payments-core/src/main/java/com/stripe/android/model/DeferredIntentParams.kt
  payments-core/src/main/java/com/stripe/android/model/ElementsSession.kt
  payments-core/src/main/java/com/stripe/android/model/ElementsSessionParams.kt
  payments-core/src/main/java/com/stripe/android/model/parsers/DeferredPaymentIntentJsonParser.kt
  payments-core/src/main/java/com/stripe/android/model/parsers/DeferredSetupIntentJsonParser.kt
  payments-core/src/main/java/com/stripe/android/model/parsers/ElementsSessionJsonParser.kt
  payments-core/src/main/java/com/stripe/android/networking/StripeApiRepository.kt
  payments-core/src/main/java/com/stripe/android/networking/StripeRepository.kt
  payments-core/src/test/java/com/stripe/android/model/ElementsSessionFixtures.kt
  payments-core/src/test/java/com/stripe/android/model/parsers/ElementsSessionJsonParserTest.kt
  payments-core/src/test/java/com/stripe/android/networking/AbsFakeStripeRepository.kt
  payments-core/src/test/java/com/stripe/android/networking/StripeApiRepositoryTest.kt
Owners: @stripe/stripe-android-sdk-reviewers

[Identity] Support Id and address (#6160)
  identity/detekt-baseline.xml
  identity/res/values/totranslate.xml
  identity/src/main/java/com/stripe/android/identity/IdentityActivity.kt
  identity/src/main/java/com/stripe/android/identity/analytics/IdentityAnalyticsRequestFactory.kt
  identity/src/main/java/com/stripe/android/identity/injection/IdentityActivitySubcomponent.kt
  identity/src/main/java/com/stripe/android/identity/injection/IdentityCommonModule.kt
  identity/src/main/java/com/stripe/android/identity/navigation/CountryNotListedDestination.kt
  identity/src/main/java/com/stripe/android/identity/navigation/IdentityNavGraph.kt
  identity/src/main/java/com/stripe/android/identity/navigation/IdentityTopLevelDestination.kt
  identity/src/main/java/com/stripe/android/identity/navigation/IndividualDestination.kt
  identity/src/main/java/com/stripe/android/identity/navigation/InitialLoadingDestination.kt
  identity/src/main/java/com/stripe/android/identity/navigation/NavControllerExt.kt
  identity/src/main/java/com/stripe/android/identity/networking/models/ClearDataParam.kt
  identity/src/main/java/com/stripe/android/identity/networking/models/DobParam.kt
  identity/src/main/java/com/stripe/android/identity/networking/models/IdNumberParam.kt
  identity/src/main/java/com/stripe/android/identity/networking/models/RequiredInternationalAddress.kt
  identity/src/main/java/com/stripe/android/identity/networking/models/Requirement.kt
  identity/src/main/java/com/stripe/android/identity/networking/models/VerificationPageData.kt
  identity/src/main/java/com/stripe/android/identity/ui/AddressSection.kt
  identity/src/main/java/com/stripe/android/identity/ui/CountryNotListedScreen.kt
  identity/src/main/java/com/stripe/android/identity/ui/DOBSection.kt
  identity/src/main/java/com/stripe/android/identity/ui/IDNumberSection.kt
  identity/src/main/java/com/stripe/android/identity/ui/IdentityTopAppBar.kt
  identity/src/main/java/com/stripe/android/identity/ui/IndividualScreen.kt
  identity/src/main/java/com/stripe/android/identity/ui/InitialLoadingScreen.kt
  identity/src/main/java/com/stripe/android/identity/ui/LoadingScreen.kt
  identity/src/main/java/com/stripe/android/identity/ui/NameSection.kt
  identity/src/main/java/com/stripe/android/identity/viewmodel/IdentityViewModel.kt
  identity/src/test/java/com/stripe/android/identity/ui/CountryNotListedScreenTest.kt
  identity/src/test/java/com/stripe/android/identity/ui/IndividualScreenTest.kt
  identity/src/test/java/com/stripe/android/identity/ui/InitialLoadingScreenTest.kt
  identity/src/test/java/com/stripe/android/identity/ui/UploadScreenTest.kt
  identity/src/test/java/com/stripe/android/identity/viewmodel/IdentityViewModelTest.kt
Owners: @ccen-stripe, @awush-stripe, @carlosmuvi-stripe

Move entire payment sheet screen to Compose (#6220)
  link/detekt-baseline.xml
  link/src/main/java/com/stripe/android/link/ui/LinkButtonView.kt
  paymentsheet/api/paymentsheet.api
  paymentsheet/res/layout/activity_payment_sheet.xml
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetActivity.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/navigation/PaymentSheetScreen.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/PaymentSheetLoading.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/PaymentSheetScreen.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetActivityTest.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe, @ccen-stripe, @carlosmuvi-stripe

[Identity] IndividualWelcome screen (#6216)
  identity/api/identity.api
  identity/detekt-baseline.xml
  identity/src/main/java/com/stripe/android/identity/IdentityActivity.kt
  identity/src/main/java/com/stripe/android/identity/analytics/IdentityAnalyticsRequestFactory.kt
  identity/src/main/java/com/stripe/android/identity/navigation/ConfirmationDestination.kt
  identity/src/main/java/com/stripe/android/identity/navigation/ConsentDestination.kt
  identity/src/main/java/com/stripe/android/identity/navigation/CountryNotListedDestination.kt
  identity/src/main/java/com/stripe/android/identity/navigation/DocSelectionDestination.kt
  identity/src/main/java/com/stripe/android/identity/navigation/IdentityNavGraph.kt
  identity/src/main/java/com/stripe/android/identity/navigation/IdentityTopLevelDestination.kt
  identity/src/main/java/com/stripe/android/identity/navigation/IndividualDestination.kt
  identity/src/main/java/com/stripe/android/identity/navigation/IndividualWelcomeDestination.kt
  identity/src/main/java/com/stripe/android/identity/navigation/InitialLoadingDestination.kt
  identity/src/main/java/com/stripe/android/identity/navigation/ScanDestinations.kt
  identity/src/main/java/com/stripe/android/identity/networking/models/VerificationPage.kt
  identity/src/main/java/com/stripe/android/identity/networking/models/VerificationPageStaticContentIndividualWelcomePage.kt
  identity/src/main/java/com/stripe/android/identity/ui/AddressSection.kt
  identity/src/main/java/com/stripe/android/identity/ui/ConsentScreen.kt
  identity/src/main/java/com/stripe/android/identity/ui/CountryNotListedScreen.kt
  identity/src/main/java/com/stripe/android/identity/ui/IDNumberSection.kt
  identity/src/main/java/com/stripe/android/identity/ui/IdentityTopAppBar.kt
  identity/src/main/java/com/stripe/android/identity/ui/IndividualScreen.kt
  identity/src/main/java/com/stripe/android/identity/ui/IndividualWelcomeScreen.kt
  identity/src/main/java/com/stripe/android/identity/ui/InitialLoadingScreen.kt
  identity/src/main/java/com/stripe/android/identity/utils/UriUtils.kt
  identity/src/main/java/com/stripe/android/identity/viewmodel/IdentityViewModel.kt
  identity/src/test/java/com/stripe/android/identity/navigation/IdentityTopLevelDestinationTest.kt
  identity/src/test/java/com/stripe/android/identity/networking/DefaultIdentityRepositoryTest.kt
  identity/src/test/java/com/stripe/android/identity/networking/IdentityNetworkResponseFixtures.kt
  identity/src/test/java/com/stripe/android/identity/ui/ConsentScreenTest.kt
  identity/src/test/java/com/stripe/android/identity/ui/CountryNotListedScreenTest.kt
  identity/src/test/java/com/stripe/android/identity/ui/IndividualScreenTest.kt
  identity/src/test/java/com/stripe/android/identity/ui/IndividualWelcomeScreenTest.kt
  identity/src/test/java/com/stripe/android/identity/ui/InitialLoadingScreenTest.kt
Owners: @ccen-stripe, @awush-stripe, @carlosmuvi-stripe

Refactor DeferredIntent (#6223)
  payments-core/api/payments-core.api
  payments-core/src/main/java/com/stripe/android/model/DeferredIntent.kt
  payments-core/src/main/java/com/stripe/android/model/DeferredIntentParams.kt
  payments-core/src/main/java/com/stripe/android/model/ElementsSession.kt
  payments-core/src/main/java/com/stripe/android/model/ElementsSessionParams.kt
  payments-core/src/main/java/com/stripe/android/model/parsers/DeferredPaymentIntentJsonParser.kt
  payments-core/src/main/java/com/stripe/android/model/parsers/DeferredSetupIntentJsonParser.kt
  payments-core/src/main/java/com/stripe/android/model/parsers/ElementsSessionJsonParser.kt
  payments-core/src/main/java/com/stripe/android/networking/StripeApiRepository.kt
  payments-core/src/main/java/com/stripe/android/networking/StripeRepository.kt
  payments-core/src/test/java/com/stripe/android/model/ElementsSessionFixtures.kt
  payments-core/src/test/java/com/stripe/android/model/parsers/ElementsSessionJsonParserTest.kt
  payments-core/src/test/java/com/stripe/android/networking/AbsFakeStripeRepository.kt
  payments-core/src/test/java/com/stripe/android/networking/StripeApiRepositoryTest.kt
Owners: @stripe/stripe-android-sdk-reviewers

[Financial Connections] Disable Maestro Github Action (#6228)
  .github/workflows/financialconnections_nightly.yaml
  bitrise.yml
  scripts/execute_maestro_tests.sh
Owners: @stripe/stripe-android-sdk-reviewers

Merge fixes.
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkingsavetolinkverification/NetworkingSaveToLinkVerificationViewModel.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/features/networkingsavetolinkverification/NetworkingSaveToLinkVerificationViewModelTest.kt
Owners: @carlosmuvi-stripe, @ccen-stripe
