Repository stripe/stripe-android, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stripe/stripe-android-sdk-reviewers, @jaynewstrom-stripe, @tillh-stripe, @ccen-stripe, @jameswoo-stripe, @carlosmuvi-stripe, @awush-stripe

.github/CODEOWNERS:

# Global - fallback to this group if the following groups don't match
* @stripe/stripe-android-sdk-reviewers

# Payments SDK
/payments/ @jaynewstrom-stripe @tillh-stripe @ccen-stripe @jameswoo-stripe
/paymentsheet/ @jaynewstrom-stripe @tillh-stripe @jameswoo-stripe
/wechatpay/ @jaynewstrom-stripe @tillh-stripe @ccen-stripe @jameswoo-stripe
/stripe-test-e2e/ @jaynewstrom-stripe @tillh-stripe @jameswoo-stripe
/link/ @jaynewstrom-stripe @tillh-stripe @jameswoo-stripe @ccen-stripe @carlosmuvi-stripe
/payment-method-messaging/ @jaynewstrom-stripe @tillh-stripe @jameswoo-stripe

# CardScan SDK
/stripecardscan/ @awush-stripe @ccen-stripe
/stripecardscan-example/ @awush-stripe @ccen-stripe

# Identity SDK
/identity/ @ccen-stripe @awush-stripe @carlosmuvi-stripe
/identity-example/ @ccen-stripe @awush-stripe @carlosmuvi-stripe

# Financial Connections SDK
/financial-connections/ @carlosmuvi-stripe @ccen-stripe
/financial-connections-example/ @carlosmuvi-stripe @ccen-stripe

# Shared modules
/camera-core/ @ccen-stripe @awush-stripe

# Configuration files
*.gradle @stripe/stripe-android-sdk-reviewers

Merge fixes.
  financial-connections/src/main/java/com/stripe/android/financialconnections/domain/LookupAccount.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinkloginwarmup/NetworkingLinkLoginWarmupScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/network/NetworkConstants.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/repository/FinancialConnectionsManifestRepository.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/networking/FakeFinancialConnectionsManifestRepository.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Adds consumer surface.
  financial-connections/src/main/java/com/stripe/android/financialconnections/domain/LookupAccount.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/network/NetworkConstants.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

dump
  payments-ui-core/api/payments-ui-core.api
  payments-ui-core/src/main/java/com/stripe/android/ui/core/elements/CardNumberController.kt
Owners: @stripe/stripe-android-sdk-reviewers

Adds tests.
  financial-connections/api/financial-connections.api
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinkloginwarmup/NetworkingLinkLoginWarmupScreen.kt
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.networkinglinkloginwarmup_null_NetworkingLinkLoginWarmupPane_Canonical_,NEXUS_5].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.networkinglinkloginwarmup_null_NetworkingLinkLoginWarmupPane_Canonical_,PIXEL_C].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.networkinglinkloginwarmup_null_NetworkingLinkLoginWarmupPane_Canonical_null,NEXUS_5].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.networkinglinkloginwarmup_null_NetworkingLinkLoginWarmupPane_Canonical_null,PIXEL_C].png
Owners: @carlosmuvi-stripe, @ccen-stripe

Update tests
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/GooglePayButton.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetActivityTest.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Adds custom test result exports.
  bitrise.yml
Owners: @stripe/stripe-android-sdk-reviewers

Fix yaml.
  bitrise.yml
Owners: @stripe/stripe-android-sdk-reviewers

Test
  bitrise.yml
Owners: @stripe/stripe-android-sdk-reviewers

Removes paparazzi.
  bitrise.yml
Owners: @stripe/stripe-android-sdk-reviewers

Test
  bitrise.yml
Owners: @stripe/stripe-android-sdk-reviewers

Address code review feedback
  paymentsheet/src/androidTest/java/com/stripe/android/paymentsheet/ui/GooglePayButtonTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetActivityTest.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Adds artifact deploy.
  bitrise.yml
Owners: @stripe/stripe-android-sdk-reviewers

update tests
  stripe-ui-core/src/test/java/com/stripe/android/uicore/elements/SimpleTextFieldControllerTest.kt
Owners: @stripe/stripe-android-sdk-reviewers

Adds names to steps.
  bitrise.yml
Owners: @stripe/stripe-android-sdk-reviewers

[identity-example] Support generating a link
  identity-example/build.gradle
  identity-example/src/main/java/com/stripe/android/identity/example/IdentityExampleViewModel.kt
  identity-example/src/main/java/com/stripe/android/identity/example/ui/ComposeExampleUI.kt
  identity-example/src/main/res/values/strings.xml
Owners: @stripe/stripe-android-sdk-reviewers, @ccen-stripe, @awush-stripe, @carlosmuvi-stripe

Detekt fixes.
  financial-connections/api/financial-connections.api
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinkverification/NetworkingLinkVerificationScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinkverification/NetworkingLinkVerificationViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/repository/FinancialConnectionsConsumerSessionRepository.kt
  stripe-ui-core/detekt-baseline.xml
Owners: @carlosmuvi-stripe, @ccen-stripe, @stripe/stripe-android-sdk-reviewers

Adds mark link verified api call.
  financial-connections/src/main/java/com/stripe/android/financialconnections/domain/MarkLinkVerified.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinkverification/NetworkingLinkVerificationScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinkverification/NetworkingLinkVerificationViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/repository/FinancialConnectionsManifestRepository.kt
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.networkinglinkverification_null_NetworkingLinkVerificationPane_Enteringemail_null,NEXUS_5].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.networkinglinkverification_null_NetworkingLinkVerificationPane_Enteringemail_null,PIXEL_C].png
Owners: @carlosmuvi-stripe, @ccen-stripe

Detekt fixes.
  financial-connections/src/main/java/com/stripe/android/financialconnections/repository/FinancialConnectionsManifestRepository.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Update UI tests
  paymentsheet-example/src/androidTestDebug/java/com/stripe/android/test/core/PlaygroundTestDriver.kt
  paymentsheet-example/src/androidTestDebug/java/com/stripe/android/test/core/ui/EditButton.kt
  paymentsheet-example/src/androidTestDebug/java/com/stripe/android/test/core/ui/Selectors.kt
  paymentsheet/src/androidTest/java/com/stripe/android/paymentsheet/PaymentSheetTest.kt
Owners: @stripe/stripe-android-sdk-reviewers, @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Update screenshots
  paymentsheet-example/screenshots/debug/com.stripe.android.screenshot.TestPaymentSheetScreenshots_testPaymentSheetEditPaymentMethodsDark.png
  paymentsheet-example/screenshots/debug/com.stripe.android.screenshot.TestPaymentSheetScreenshots_testPaymentSheetEditPaymentMethodsDarkAppearance.png
  paymentsheet-example/screenshots/debug/com.stripe.android.screenshot.TestPaymentSheetScreenshots_testPaymentSheetEditPaymentMethodsLight.png
  paymentsheet-example/screenshots/debug/com.stripe.android.screenshot.TestPaymentSheetScreenshots_testPaymentSheetEditPaymentMethodsLightAppearance.png
Owners: @stripe/stripe-android-sdk-reviewers

Polls for accounts.
  financial-connections/src/main/java/com/stripe/android/financialconnections/domain/PollNetworkedAccounts.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinkverification/NetworkingLinkVerificationViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/network/NetworkConstants.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/repository/FinancialConnectionsAccountsRepository.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Fix broken tests (#6209)
  paymentsheet-example/screenshots/debug/com.stripe.android.screenshot.TestPaymentSheetScreenshots_testPaymentSheetEditPaymentMethodsDark.png
  paymentsheet-example/screenshots/debug/com.stripe.android.screenshot.TestPaymentSheetScreenshots_testPaymentSheetEditPaymentMethodsDarkAppearance.png
  paymentsheet-example/screenshots/debug/com.stripe.android.screenshot.TestPaymentSheetScreenshots_testPaymentSheetEditPaymentMethodsLight.png
  paymentsheet-example/screenshots/debug/com.stripe.android.screenshot.TestPaymentSheetScreenshots_testPaymentSheetEditPaymentMethodsLightAppearance.png
  paymentsheet-example/src/androidTestDebug/java/com/stripe/android/test/core/PlaygroundTestDriver.kt
  paymentsheet-example/src/androidTestDebug/java/com/stripe/android/test/core/ui/EditButton.kt
  paymentsheet-example/src/androidTestDebug/java/com/stripe/android/test/core/ui/Selectors.kt
  paymentsheet/src/androidTest/java/com/stripe/android/paymentsheet/PaymentSheetTest.kt
Owners: @stripe/stripe-android-sdk-reviewers, @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Wrap `GooglePayButton` in composable (#6101)
  paymentsheet/api/paymentsheet.api
  paymentsheet/res/layout/activity_payment_sheet.xml
  paymentsheet/src/androidTest/AndroidManifest.xml
  paymentsheet/src/androidTest/java/com/stripe/android/paymentsheet/ui/GooglePayButtonTest.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetActivity.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/GooglePayButton.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetActivityTest.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Adds tests.
  financial-connections/res/values/strings.xml
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinkloginwarmup/NetworkingLinkLoginWarmupViewModel.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/features/networkinglinkloginwarmup/NetworkingLinkLoginWarmupViewModelTest.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Uses string resource.
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinkloginwarmup/NetworkingLinkLoginWarmupScreen.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Replaces enum by const.
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinkloginwarmup/NetworkingLinkLoginWarmupViewModel.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/features/networkinglinkloginwarmup/NetworkingLinkLoginWarmupViewModelTest.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Adds method comments.
  financial-connections/src/main/java/com/stripe/android/financialconnections/repository/FinancialConnectionsManifestRepository.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Updates text.
  financial-connections/res/values/strings.xml
Owners: @carlosmuvi-stripe, @ccen-stripe

Reverts project file.
  .idea/codestyles/Project.xml
Owners: @stripe/stripe-android-sdk-reviewers

Breaks down in composables.
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinkloginwarmup/NetworkingLinkLoginWarmupScreen.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Test screenshot failure.
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/common/AccessibleDataCallout.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Implement NetworkingLinkLoginWarmup pane (#6185)
  financial-connections/api/financial-connections.api
  financial-connections/res/drawable/stripe_ic_arrow_right_circle.xml
  financial-connections/res/values/strings.xml
  financial-connections/src/main/java/com/stripe/android/financialconnections/di/FinancialConnectionsSheetNativeComponent.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/domain/DisableNetworking.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/domain/GoNext.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinkloginwarmup/NetworkingLinkLoginWarmupScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinkloginwarmup/NetworkingLinkLoginWarmupSubcomponent.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinkloginwarmup/NetworkingLinkLoginWarmupViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/navigation/NavigationCommand.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/repository/FinancialConnectionsManifestRepository.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/ui/FinancialConnectionsSheetNativeActivity.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/features/networkinglinkloginwarmup/NetworkingLinkLoginWarmupViewModelTest.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/networking/FakeFinancialConnectionsManifestRepository.kt
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.networkinglinkloginwarmup_null_NetworkingLinkLoginWarmupPane_Canonical_,NEXUS_5].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.networkinglinkloginwarmup_null_NetworkingLinkLoginWarmupPane_Canonical_,PIXEL_C].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.networkinglinkloginwarmup_null_NetworkingLinkLoginWarmupPane_Canonical_null,NEXUS_5].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.networkinglinkloginwarmup_null_NetworkingLinkLoginWarmupPane_Canonical_null,PIXEL_C].png
Owners: @carlosmuvi-stripe, @ccen-stripe

Adds secret to state.
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinkverification/NetworkingLinkVerificationScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinkverification/NetworkingLinkVerificationViewModel.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Test unit test step.
  bitrise.yml
Owners: @stripe/stripe-android-sdk-reviewers

WIP
  payments-core/src/main/java/com/stripe/android/model/PaymentIntent.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/PaymentSheetMode.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/PaymentSheetSetupFutureUsage.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/forms/resources/LpmRepository.kt
  payments-ui-core/src/test/java/com/stripe/android/ui/core/forms/resources/LpmRepositoryTest.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentOptionsViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetActivity.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetContract.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetOrigin.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/flowcontroller/DefaultFlowController.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/forms/FormArgumentsFactory.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/model/SupportedPaymentMethodKtx.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/paymentdatacollection/ach/USBankAccountFormFragment.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/state/PaymentSheetData.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/state/PaymentSheetLoader.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/state/PaymentSheetState.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/AddPaymentMethod.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/PaymentSheetTopBar.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/viewmodels/BaseSheetViewModel.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetViewModelTest.kt
Owners: @stripe/stripe-android-sdk-reviewers, @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Adds tests.
  financial-connections/src/main/java/com/stripe/android/financialconnections/domain/GoNext.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinkverification/NetworkingLinkVerificationViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/model/FinancialConnectionsSessionManifest.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/ApiKeyFixtures.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/features/networkinglinkverification/NetworkingLinkVerificationViewModelTest.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/networking/FakeFinancialConnectionsManifestRepository.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

tests tests tests
  paymentsheet-example/src/androidTestDebug/java/com/stripe/android/utils/LpmRepositoryKtx.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/BasePaymentOptionsViewModelInjectionTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentOptionsActivityTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentOptionsViewModelInjectionTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentOptionsViewModelTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetActivityTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetFixtures.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetViewModelInjectionTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetViewModelTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/flowcontroller/DefaultFlowControllerTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/forms/FormArgumentsFactoryTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/model/SupportedPaymentMethodTest.kt
  paymentsheet/src/test/java/com/stripe/android/utils/PaymentSheetDataFactory.kt
Owners: @stripe/stripe-android-sdk-reviewers, @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Adds screenshots.
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.networkinglinkloginwarmup_null_NetworkingLinkLoginWarmupPane_Canonical_,NEXUS_5].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.networkinglinkloginwarmup_null_NetworkingLinkLoginWarmupPane_Canonical_,PIXEL_C].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.networkinglinkloginwarmup_null_NetworkingLinkLoginWarmupPane_Canonical_null,NEXUS_5].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.networkinglinkloginwarmup_null_NetworkingLinkLoginWarmupPane_Canonical_null,PIXEL_C].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.networkinglinkverification_null_NetworkingLinkVerificationPane_Enteringemail_,NEXUS_5].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.networkinglinkverification_null_NetworkingLinkVerificationPane_Enteringemail_,PIXEL_C].png
Owners: @carlosmuvi-stripe, @ccen-stripe

[identity-example] Support generating a link (#6210)
  identity-example/build.gradle
  identity-example/src/main/java/com/stripe/android/identity/example/IdentityExampleViewModel.kt
  identity-example/src/main/java/com/stripe/android/identity/example/ui/ComposeExampleUI.kt
  identity-example/src/main/res/values/strings.xml
Owners: @stripe/stripe-android-sdk-reviewers, @ccen-stripe, @awush-stripe, @carlosmuvi-stripe

Adds comments to API calls.
  financial-connections/src/main/java/com/stripe/android/financialconnections/repository/FinancialConnectionsAccountsRepository.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/repository/FinancialConnectionsManifestRepository.kt
Owners: @carlosmuvi-stripe, @ccen-stripe
