Repository stripe/stripe-android, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stripe/stripe-android-sdk-reviewers, @jaynewstrom-stripe, @tillh-stripe, @ccen-stripe, @jameswoo-stripe, @carlosmuvi-stripe, @awush-stripe

.github/CODEOWNERS:

# Global - fallback to this group if the following groups don't match
* @stripe/stripe-android-sdk-reviewers

# Payments SDK
/payments/ @jaynewstrom-stripe @tillh-stripe @ccen-stripe @jameswoo-stripe
/paymentsheet/ @jaynewstrom-stripe @tillh-stripe @jameswoo-stripe
/wechatpay/ @jaynewstrom-stripe @tillh-stripe @ccen-stripe @jameswoo-stripe
/stripe-test-e2e/ @jaynewstrom-stripe @tillh-stripe @jameswoo-stripe
/link/ @jaynewstrom-stripe @tillh-stripe @jameswoo-stripe @ccen-stripe @carlosmuvi-stripe
/payment-method-messaging/ @jaynewstrom-stripe @tillh-stripe @jameswoo-stripe

# CardScan SDK
/stripecardscan/ @awush-stripe @ccen-stripe
/stripecardscan-example/ @awush-stripe @ccen-stripe

# Identity SDK
/identity/ @ccen-stripe @awush-stripe @carlosmuvi-stripe
/identity-example/ @ccen-stripe @awush-stripe @carlosmuvi-stripe

# Financial Connections SDK
/financial-connections/ @carlosmuvi-stripe @ccen-stripe
/financial-connections-example/ @carlosmuvi-stripe @ccen-stripe

# Shared modules
/camera-core/ @ccen-stripe @awush-stripe

# Configuration files
*.gradle @stripe/stripe-android-sdk-reviewers

[Identity] Invalidate submit button when postal code is invalid
  identity/src/main/java/com/stripe/android/identity/ui/AddressSection.kt
Owners: @ccen-stripe, @awush-stripe, @carlosmuvi-stripe

Import ordering.
  stripe-ui-core/src/main/java/com/stripe/android/uicore/elements/TextFieldController.kt
Owners: @stripe/stripe-android-sdk-reviewers

[Identity] Invalidate submit button when postal code is invalid (#6263)
  identity/src/main/java/com/stripe/android/identity/ui/AddressSection.kt
Owners: @ccen-stripe, @awush-stripe, @carlosmuvi-stripe

[Identity] update singpaore format (#6262)
  identity/src/main/java/com/stripe/android/identity/ui/IDNumberSection.kt
Owners: @ccen-stripe, @awush-stripe, @carlosmuvi-stripe

[Identity] Update backstack for IndividualScreen (#6261)
  identity/src/main/java/com/stripe/android/identity/navigation/IdentityTopLevelDestination.kt
  identity/src/main/java/com/stripe/android/identity/navigation/IndividualDestination.kt
  identity/src/main/java/com/stripe/android/identity/navigation/ScanDestinations.kt
  identity/src/main/java/com/stripe/android/identity/navigation/UploadDestinations.kt
  identity/src/test/java/com/stripe/android/identity/ui/CountryNotListedScreenTest.kt
  identity/src/test/java/com/stripe/android/identity/ui/IndividualWelcomeScreenTest.kt
  identity/src/test/java/com/stripe/android/identity/ui/InitialLoadingScreenTest.kt
Owners: @ccen-stripe, @awush-stripe, @carlosmuvi-stripe

Add `InitializationMode` and use it throughout PS + FC (#6243)
  paymentsheet/api/paymentsheet.api
  paymentsheet/detekt-baseline.xml
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/DefaultPaymentSheetLauncher.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheet.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetActivity.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetContractV2.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetLauncher.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/flowcontroller/DefaultFlowController.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/flowcontroller/FlowControllerViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/injection/PaymentSheetViewModelModule.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/repositories/ElementsSessionRepository.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/state/PaymentSheetLoader.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/state/PaymentSheetState.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/BasePaymentSheetViewModelInjectionTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/DefaultPaymentSheetLauncherTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentOptionsViewModelInjectionTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentOptionsViewModelTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetActivityTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetFixtures.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetViewModelInjectionTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetViewModelTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/flowcontroller/DefaultFlowControllerTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/repositories/ElementsSessionRepositoryTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/state/DefaultPaymentSheetLoaderTest.kt
  paymentsheet/src/test/java/com/stripe/android/utils/FakePaymentSheetLoader.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Add deferred initialization mode
  payments-core/src/main/java/com/stripe/android/model/ElementsSessionParams.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/forms/resources/LpmRepository.kt
  paymentsheet/api/paymentsheet.api
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheet.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/flowcontroller/DefaultFlowController.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/repositories/ElementsSessionRepository.kt
Owners: @stripe/stripe-android-sdk-reviewers, @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Add test for LPM filtering in deferred flow
  payments-ui-core/src/test/java/com/stripe/android/ui/core/forms/resources/LpmRepositoryTest.kt
Owners: @stripe/stripe-android-sdk-reviewers

Make proguard work with financial connections.
  financial-connections-example/src/main/java/com/stripe/android/financialconnections/example/FinancialConnectionsExampleViewModel.kt
  financial-connections-example/src/main/java/com/stripe/android/financialconnections/example/data/BackendApiService.kt
  financial-connections-example/src/main/java/com/stripe/android/financialconnections/example/data/model/CreateLinkAccountSessionResponse.kt
  financial-connections/consumer-rules.txt
Owners: @carlosmuvi-stripe, @ccen-stripe

[Identity] Improve the DOB section (#6231)
  identity/res/values/untranslatable.xml
  identity/src/main/java/com/stripe/android/identity/ui/DOBSection.kt
  identity/src/test/java/com/stripe/android/identity/ui/DobTextFieldConfigTest.kt
Owners: @ccen-stripe, @awush-stripe, @carlosmuvi-stripe

[Identity] Clean up address when reinitialized (#6241)
  identity/src/main/java/com/stripe/android/identity/ui/AddressSection.kt
Owners: @ccen-stripe, @awush-stripe, @carlosmuvi-stripe

[Identity] Adopt for StripeTheme's values form MDC (#6246)
  identity-example/src/main/res/values/styles.xml
  identity-example/src/main/res/values/themes.xml
  identity/build.gradle
  identity/detekt-baseline.xml
  identity/src/main/java/com/stripe/android/identity/IdentityActivity.kt
  identity/src/main/java/com/stripe/android/identity/ui/IdentityTheme.kt
Owners: @ccen-stripe, @awush-stripe, @carlosmuvi-stripe, @stripe/stripe-android-sdk-reviewers

Make proguard work with financial connections. (#6264)
  financial-connections-example/src/main/java/com/stripe/android/financialconnections/example/FinancialConnectionsExampleViewModel.kt
  financial-connections-example/src/main/java/com/stripe/android/financialconnections/example/data/BackendApiService.kt
  financial-connections-example/src/main/java/com/stripe/android/financialconnections/example/data/model/CreateLinkAccountSessionResponse.kt
  financial-connections/consumer-rules.txt
Owners: @carlosmuvi-stripe, @ccen-stripe

Centralize gson version.
  build.gradle
  example/build.gradle
  financial-connections-example/build.gradle
  paymentsheet-example/build.gradle
Owners: @stripe/stripe-android-sdk-reviewers

[stripe-ui-core] add suppport for a disableDropdownWithSingleElement (#6232)
  identity/src/main/java/com/stripe/android/identity/ui/IDNumberSection.kt
  stripe-ui-core/api/stripe-ui-core.api
  stripe-ui-core/build.gradle
  stripe-ui-core/src/main/java/com/stripe/android/uicore/elements/CountryConfig.kt
  stripe-ui-core/src/main/java/com/stripe/android/uicore/elements/DropdownConfig.kt
  stripe-ui-core/src/main/java/com/stripe/android/uicore/elements/DropdownFieldController.kt
  stripe-ui-core/src/main/java/com/stripe/android/uicore/elements/DropdownFieldUI.kt
  stripe-ui-core/src/test/java/com/stripe/android/uicore/elements/DropdownScreenshotTest.kt
  stripe-ui-core/src/test/java/com/stripe/android/uicore/utils/PaparazziConfigOption.kt
  stripe-ui-core/src/test/java/com/stripe/android/uicore/utils/PaparazziRule.kt
  stripe-ui-core/src/test/java/com/stripe/android/uicore/utils/README.md
  stripe-ui-core/src/test/snapshots/images/com.stripe.android.uicore.elements_DropdownScreenshotTest_testDropdownDefaultDisabled[DarkTheme].png
  stripe-ui-core/src/test/snapshots/images/com.stripe.android.uicore.elements_DropdownScreenshotTest_testDropdownDefaultDisabled[LightTheme].png
  stripe-ui-core/src/test/snapshots/images/com.stripe.android.uicore.elements_DropdownScreenshotTest_testDropdownDefaultEnabled[DarkTheme].png
  stripe-ui-core/src/test/snapshots/images/com.stripe.android.uicore.elements_DropdownScreenshotTest_testDropdownDefaultEnabled[LightTheme].png
  stripe-ui-core/src/test/snapshots/images/com.stripe.android.uicore.elements_DropdownScreenshotTest_testDropdownWithDisableDropdownWithSingleElement[DarkTheme].png
  stripe-ui-core/src/test/snapshots/images/com.stripe.android.uicore.elements_DropdownScreenshotTest_testDropdownWithDisableDropdownWithSingleElement[LightTheme].png
  stripe-ui-core/src/test/snapshots/images/com.stripe.android.uicore.elements_DropdownScreenshotTest_testDropdownWithoutDisableDropdownWithSingleElement[DarkTheme].png
  stripe-ui-core/src/test/snapshots/images/com.stripe.android.uicore.elements_DropdownScreenshotTest_testDropdownWithoutDisableDropdownWithSingleElement[LightTheme].png
Owners: @ccen-stripe, @awush-stripe, @carlosmuvi-stripe, @stripe/stripe-android-sdk-reviewers
