Repository stripe/stripe-android, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stripe/stripe-android-sdk-reviewers, @jaynewstrom-stripe, @tillh-stripe, @ccen-stripe, @jameswoo-stripe, @carlosmuvi-stripe, @awush-stripe

Use delegation in HackyComposeTestRule.
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/PaymentOptionsTest.kt
  paymentsheet/src/test/java/com/stripe/android/utils/HackyComposeTestRule.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Moves OTP element.
  link/src/androidTest/java/com/stripe/android/link/ui/verification/VerificationScreenTest.kt
  link/src/main/java/com/stripe/android/link/theme/Color.kt
  link/src/main/java/com/stripe/android/link/ui/verification/VerificationScreen.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/FormController.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/FormUI.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/elements/AffirmHeaderElement.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/elements/AffirmTextSpec.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/elements/AfterpayClearpayHeaderElement.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/elements/AfterpayClearpayTextSpec.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/elements/AuBecsDebitMandateTextElement.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/elements/AuBecsDebitMandateTextSpec.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/elements/BsbElement.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/elements/CardDetailsSectionElement.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/elements/CardDetailsSectionSpec.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/elements/EmptyFormElement.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/elements/FormElement.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/elements/KlarnaHeaderStaticTextSpec.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/elements/MandateTextElement.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/elements/MandateTextSpec.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/elements/OTPSpec.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/elements/SaveForFutureUseElement.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/elements/SaveForFutureUseSpec.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/elements/SectionElement.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/elements/SepaMandateTextSpec.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/elements/StaticTextElement.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/elements/StaticTextSpec.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/forms/TransformSpecToElements.kt
  payments-ui-core/src/test/java/com/stripe/android/ui/core/elements/OTPControllerTest.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/PaymentMethodForm.kt
  stripe-ui-core/src/main/java/com/stripe/android/uicore/elements/FormElement.kt
  stripe-ui-core/src/main/java/com/stripe/android/uicore/elements/OTPController.kt
  stripe-ui-core/src/main/java/com/stripe/android/uicore/elements/OTPElement.kt
  stripe-ui-core/src/main/java/com/stripe/android/uicore/elements/OTPElementUI.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe, @ccen-stripe, @carlosmuvi-stripe, @stripe/stripe-android-sdk-reviewers

Use delegation in HackyComposeTestRule. (#6130)
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/PaymentOptionsTest.kt
  paymentsheet/src/test/java/com/stripe/android/utils/HackyComposeTestRule.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Update detekt baseline
  paymentsheet/detekt-baseline.xml
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Switch to `PaymentSheetTopBar`
  paymentsheet/res/layout/activity_payment_options.xml
  paymentsheet/res/layout/activity_payment_sheet.xml
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentOptionsActivity.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetActivity.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/BaseSheetActivity.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/PaymentSheetTopBar.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/PaymentSheetTopBarState.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Add unit tests
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetActivityTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/flowcontroller/DefaultFlowControllerTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/PaymentSheetTopBarStateTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/PaymentSheetTopBarTest.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Update API
  paymentsheet/api/paymentsheet.api
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Address code review feedback
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentOptionsActivity.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetActivity.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/PaymentSheetTopBar.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/PaymentSheetTopBarTest.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Hide stripeTypography from API
  stripe-ui-core/src/main/java/com/stripe/android/uicore/StripeTheme.kt
Owners: @stripe/stripe-android-sdk-reviewers

Remove unnecessary selector drawables
  paymentsheet/res/drawable/stripe_ic_paymentsheet_back.xml
  paymentsheet/res/drawable/stripe_ic_paymentsheet_back_disabled.xml
  paymentsheet/res/drawable/stripe_ic_paymentsheet_close.xml
  paymentsheet/res/drawable/stripe_ic_paymentsheet_close_disabled.xml
  paymentsheet/res/drawable/stripe_paymentsheet_toolbar_back.xml
  paymentsheet/res/drawable/stripe_paymentsheet_toolbar_close.xml
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/paymentdatacollection/polling/PollingScreen.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/AddressOptionsAppBar.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/PaymentSheetTopBar.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/PaymentSheetTopBarState.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/PaymentSheetTopBarScreenshotTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/PaymentSheetTopBarStateTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/PaymentSheetTopBarTest.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Update screenshot tests with new edit button
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/PaymentSheetTopBar.kt
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentSheetTopBarScreenshotTest_testPaymentMethodsScreenEditing[DarkTheme,DefaultFont,CrazyAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentSheetTopBarScreenshotTest_testPaymentMethodsScreenEditing[DarkTheme,DefaultFont,CustomAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentSheetTopBarScreenshotTest_testPaymentMethodsScreenEditing[DarkTheme,DefaultFont,DefaultAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentSheetTopBarScreenshotTest_testPaymentMethodsScreenEditing[DarkTheme,LargeFont,CrazyAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentSheetTopBarScreenshotTest_testPaymentMethodsScreenEditing[DarkTheme,LargeFont,CustomAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentSheetTopBarScreenshotTest_testPaymentMethodsScreenEditing[DarkTheme,LargeFont,DefaultAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentSheetTopBarScreenshotTest_testPaymentMethodsScreenEditing[LightTheme,DefaultFont,CrazyAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentSheetTopBarScreenshotTest_testPaymentMethodsScreenEditing[LightTheme,DefaultFont,CustomAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentSheetTopBarScreenshotTest_testPaymentMethodsScreenEditing[LightTheme,DefaultFont,DefaultAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentSheetTopBarScreenshotTest_testPaymentMethodsScreenEditing[LightTheme,LargeFont,CrazyAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentSheetTopBarScreenshotTest_testPaymentMethodsScreenEditing[LightTheme,LargeFont,CustomAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentSheetTopBarScreenshotTest_testPaymentMethodsScreenEditing[LightTheme,LargeFont,DefaultAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentSheetTopBarScreenshotTest_testPaymentMethodsScreen[DarkTheme,DefaultFont,CrazyAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentSheetTopBarScreenshotTest_testPaymentMethodsScreen[DarkTheme,DefaultFont,CustomAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentSheetTopBarScreenshotTest_testPaymentMethodsScreen[DarkTheme,DefaultFont,DefaultAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentSheetTopBarScreenshotTest_testPaymentMethodsScreen[DarkTheme,LargeFont,CrazyAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentSheetTopBarScreenshotTest_testPaymentMethodsScreen[DarkTheme,LargeFont,CustomAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentSheetTopBarScreenshotTest_testPaymentMethodsScreen[DarkTheme,LargeFont,DefaultAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentSheetTopBarScreenshotTest_testPaymentMethodsScreen[LightTheme,DefaultFont,CrazyAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentSheetTopBarScreenshotTest_testPaymentMethodsScreen[LightTheme,DefaultFont,CustomAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentSheetTopBarScreenshotTest_testPaymentMethodsScreen[LightTheme,DefaultFont,DefaultAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentSheetTopBarScreenshotTest_testPaymentMethodsScreen[LightTheme,LargeFont,CrazyAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentSheetTopBarScreenshotTest_testPaymentMethodsScreen[LightTheme,LargeFont,CustomAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentSheetTopBarScreenshotTest_testPaymentMethodsScreen[LightTheme,LargeFont,DefaultAppearance].png
  stripe-ui-core/src/main/java/com/stripe/android/uicore/StripeTheme.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe, @stripe/stripe-android-sdk-reviewers

[Identity] Parse additional API fields for id and address (#6113)
  identity/api/identity.api
  identity/src/main/java/com/stripe/android/identity/networking/NetworkConstants.kt
  identity/src/main/java/com/stripe/android/identity/networking/models/ClearDataParam.kt
  identity/src/main/java/com/stripe/android/identity/networking/models/CollectedDataParam.kt
  identity/src/main/java/com/stripe/android/identity/networking/models/DobParam.kt
  identity/src/main/java/com/stripe/android/identity/networking/models/IdNumberParam.kt
  identity/src/main/java/com/stripe/android/identity/networking/models/NameParam.kt
  identity/src/main/java/com/stripe/android/identity/networking/models/RequiredInternationalAddress.kt
  identity/src/main/java/com/stripe/android/identity/networking/models/Requirement.kt
  identity/src/main/java/com/stripe/android/identity/networking/models/VerificationPage.kt
  identity/src/main/java/com/stripe/android/identity/networking/models/VerificationPageStaticContentIndividualPage.kt
  identity/src/test/java/com/stripe/android/identity/networking/DefaultIdentityRepositoryTest.kt
  identity/src/test/java/com/stripe/android/identity/networking/IdentityNetworkResponseFixtures.kt
Owners: @ccen-stripe, @awush-stripe, @carlosmuvi-stripe

Remove required checks from github actions. (#6123)
  .github/workflows/ci.yml
Owners: @stripe/stripe-android-sdk-reviewers

[Identity] Update example app (#6119)
  identity-example/src/main/AndroidManifest.xml
  identity-example/src/main/java/com/stripe/android/identity/example/ComposeExampleActivity.kt
  identity-example/src/main/java/com/stripe/android/identity/example/EntryActivity.kt
  identity-example/src/main/java/com/stripe/android/identity/example/IdentityExampleViewModel.kt
  identity-example/src/main/java/com/stripe/android/identity/example/MainActivity.kt
  identity-example/src/main/java/com/stripe/android/identity/example/Network.kt
  identity-example/src/main/java/com/stripe/android/identity/example/ui/ComposeExampleUI.kt
  identity-example/src/main/res/layout/activity_main.xml
  identity-example/src/main/res/values/strings.xml
  identity-example/src/theme1/java/com/stripe/android/identity/example/ThemeActivity.kt
  identity-example/src/theme2/java/com/stripe/android/identity/example/ThemeActivity.kt
Owners: @ccen-stripe, @awush-stripe, @carlosmuvi-stripe

Removes h2 reference from OTP.
  stripe-ui-core/src/main/java/com/stripe/android/uicore/elements/OTPElementUI.kt
Owners: @stripe/stripe-android-sdk-reviewers

Detekt fixes.
  payments-ui-core/detekt-baseline.xml
  stripe-ui-core/detekt-baseline.xml
  stripe-ui-core/src/main/java/com/stripe/android/uicore/elements/OTPElementUI.kt
Owners: @stripe/stripe-android-sdk-reviewers

Display PaymentOptions directly instead of wrapped
  paymentsheet/res/layout/fragment_payment_options_list.xml
  paymentsheet/res/layout/fragment_payment_sheet_list.xml
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/BasePaymentMethodsListFragment.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentOptionUi.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentOptionsListFragment.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetListFragment.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/navigation/PaymentSheetScreen.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/PaymentOptionsUI.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetListFragmentTest.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Pass view model to screen content directly
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentOptionsActivity.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetActivity.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/navigation/PaymentSheetScreen.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/AddPaymentMethod.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Update detekt and API
  paymentsheet/api/paymentsheet.api
  paymentsheet/detekt-baseline.xml
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

First test.
  network-testing/src/main/java/com/stripe/android/networktesting/NetworkRule.kt
  network-testing/src/main/java/com/stripe/android/networktesting/TestBodyFromFile.kt
  paymentsheet/build.gradle
  paymentsheet/src/androidTest/java/com/stripe/android/paymentsheet/PaymentSheetTest.kt
  paymentsheet/src/androidTest/resources/elements-sessions.json
  stripe-core/api/stripe-core.api
  stripe-core/src/main/java/com/stripe/android/core/networking/ConnectionFactory.kt
Owners: @stripe/stripe-android-sdk-reviewers, @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Fix lint.
  stripe-core/src/main/java/com/stripe/android/core/networking/ConnectionFactory.kt
Owners: @stripe/stripe-android-sdk-reviewers

WIP Mock network tests.
  dependencies.gradle
  financial-connections/src/main/java/com/stripe/android/financialconnections/repository/FinancialConnectionsAccountsRepository.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/repository/FinancialConnectionsInstitutionsRepository.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/repository/FinancialConnectionsManifestRepository.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/repository/FinancialConnectionsRepository.kt
  network-testing/build.gradle
  network-testing/detekt-baseline.xml
  network-testing/src/main/java/com/stripe/android/networktesting/NetworkDispatcher.kt
  network-testing/src/main/java/com/stripe/android/networktesting/NetworkRule.kt
  network-testing/src/main/java/com/stripe/android/networktesting/RequestMatchers.kt
  network-testing/src/main/java/com/stripe/android/networktesting/TestMockWebServer.kt
  network-testing/src/main/java/com/stripe/android/networktesting/TestRecordedRequest.kt
  paymentsheet/build.gradle
  settings.gradle
  stripe-core/src/main/java/com/stripe/android/core/networking/ApiRequest.kt
  stripe-core/src/main/java/com/stripe/android/core/networking/ConnectionFactory.kt
Owners: @stripe/stripe-android-sdk-reviewers, @carlosmuvi-stripe, @ccen-stripe

Fix lint.
  build.gradle
Owners: @stripe/stripe-android-sdk-reviewers

Remove unused Composables
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/PaymentOptionsUI.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Remove unused layout file
  paymentsheet/api/paymentsheet.api
  paymentsheet/res/layout/fragment_paymentsheet_payment_methods_list.xml
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Display PaymentOptions directly instead of wrapped (#6124)
  paymentsheet/api/paymentsheet.api
  paymentsheet/detekt-baseline.xml
  paymentsheet/res/layout/fragment_payment_options_list.xml
  paymentsheet/res/layout/fragment_payment_sheet_list.xml
  paymentsheet/res/layout/fragment_paymentsheet_payment_methods_list.xml
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/BasePaymentMethodsListFragment.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentOptionUi.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentOptionsActivity.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentOptionsListFragment.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetActivity.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetListFragment.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/navigation/PaymentSheetScreen.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/AddPaymentMethod.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetListFragmentTest.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Moves verification endpoint.
  link/src/main/java/com/stripe/android/link/repositories/LinkApiRepository.kt
  link/src/test/java/com/stripe/android/link/repositories/LinkApiRepositoryTest.kt
  payments-core/src/main/java/com/stripe/android/networking/StripeApiRepository.kt
  payments-core/src/main/java/com/stripe/android/networking/StripeRepository.kt
  payments-core/src/test/java/com/stripe/android/model/ConsumerFixtures.kt
  payments-core/src/test/java/com/stripe/android/networking/AbsFakeStripeRepository.kt
  payments-core/src/test/java/com/stripe/android/networking/StripeApiRepositoryTest.kt
  payments-model/src/main/java/com/stripe/android/repository/ConsumersApiService.kt
  payments-model/src/test/java/com/stripe/android/ConsumerFixtures.kt
  payments-model/src/test/java/com/stripe/android/model/parsers/ConsumerSessionJsonParserTest.kt
  payments-model/src/test/java/com/stripe/android/repository/ConsumersApiServiceImplTest.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe, @ccen-stripe, @carlosmuvi-stripe, @stripe/stripe-android-sdk-reviewers

Finish the flow.
  paymentsheet/src/androidTest/java/com/stripe/android/paymentsheet/PaymentSheetTest.kt
  paymentsheet/src/androidTest/resources/elements-sessions-requires_payment_method.json
  paymentsheet/src/androidTest/resources/elements-sessions.json
  paymentsheet/src/androidTest/resources/payment-intent-confirm.json
  paymentsheet/src/androidTest/resources/payment-intent-get.json
  stripe-core/src/main/java/com/stripe/android/core/networking/ConnectionFactory.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe, @stripe/stripe-android-sdk-reviewers

Add screenshot tests
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/ErrorMessageScreenshotTest.kt
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_ErrorMessageScreenshotTest_testDefault[DarkTheme,DefaultFont,CrazyAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_ErrorMessageScreenshotTest_testDefault[DarkTheme,DefaultFont,CustomAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_ErrorMessageScreenshotTest_testDefault[DarkTheme,DefaultFont,DefaultAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_ErrorMessageScreenshotTest_testDefault[DarkTheme,LargeFont,CrazyAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_ErrorMessageScreenshotTest_testDefault[DarkTheme,LargeFont,CustomAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_ErrorMessageScreenshotTest_testDefault[DarkTheme,LargeFont,DefaultAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_ErrorMessageScreenshotTest_testDefault[LightTheme,DefaultFont,CrazyAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_ErrorMessageScreenshotTest_testDefault[LightTheme,DefaultFont,CustomAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_ErrorMessageScreenshotTest_testDefault[LightTheme,DefaultFont,DefaultAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_ErrorMessageScreenshotTest_testDefault[LightTheme,LargeFont,CrazyAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_ErrorMessageScreenshotTest_testDefault[LightTheme,LargeFont,CustomAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_ErrorMessageScreenshotTest_testDefault[LightTheme,LargeFont,DefaultAppearance].png
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Update tests and API
  paymentsheet/api/paymentsheet.api
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentOptionsActivityTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetActivityTest.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Add ErrorMessage composable
  paymentsheet/res/layout/activity_payment_options.xml
  paymentsheet/res/layout/activity_payment_sheet.xml
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentOptionsActivity.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetActivity.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/BaseSheetActivity.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/ErrorMessage.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Address lint issue
  paymentsheet/detekt-baseline.xml
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetActivity.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Move error views to Compose (#6128)
  paymentsheet/api/paymentsheet.api
  paymentsheet/detekt-baseline.xml
  paymentsheet/res/layout/activity_payment_options.xml
  paymentsheet/res/layout/activity_payment_sheet.xml
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentOptionsActivity.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetActivity.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/BaseSheetActivity.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/ErrorMessage.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentOptionsActivityTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetActivityTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/ErrorMessageScreenshotTest.kt
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_ErrorMessageScreenshotTest_testDefault[DarkTheme,DefaultFont,CrazyAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_ErrorMessageScreenshotTest_testDefault[DarkTheme,DefaultFont,CustomAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_ErrorMessageScreenshotTest_testDefault[DarkTheme,DefaultFont,DefaultAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_ErrorMessageScreenshotTest_testDefault[DarkTheme,LargeFont,CrazyAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_ErrorMessageScreenshotTest_testDefault[DarkTheme,LargeFont,CustomAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_ErrorMessageScreenshotTest_testDefault[DarkTheme,LargeFont,DefaultAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_ErrorMessageScreenshotTest_testDefault[LightTheme,DefaultFont,CrazyAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_ErrorMessageScreenshotTest_testDefault[LightTheme,DefaultFont,CustomAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_ErrorMessageScreenshotTest_testDefault[LightTheme,DefaultFont,DefaultAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_ErrorMessageScreenshotTest_testDefault[LightTheme,LargeFont,CrazyAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_ErrorMessageScreenshotTest_testDefault[LightTheme,LargeFont,CustomAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_ErrorMessageScreenshotTest_testDefault[LightTheme,LargeFont,DefaultAppearance].png
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

POC - adds loading copies.
  financial-connections/res/values/strings.xml
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/success/SuccessScreen.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Remove some easy to remove usages of savedStateHandle. (#6127)
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/viewmodels/BaseSheetViewModel.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/BasePaymentOptionsViewModelInjectionTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/BasePaymentSheetViewModelInjectionTest.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Adds manual entry response.
  .idea/codestyles/Project.xml
  financial-connections/src/main/java/com/stripe/android/financialconnections/model/FinancialConnectionsSessionManifest.kt
Owners: @stripe/stripe-android-sdk-reviewers, @carlosmuvi-stripe, @ccen-stripe

Adds payload object and loading / error states to manual entry.
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/manualentry/ManualEntryScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/manualentry/ManualEntryViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/model/FinancialConnectionsSessionManifest.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Reverts .idea file.
  .idea/codestyles/Project.xml
Owners: @stripe/stripe-android-sdk-reviewers

Adds automatic mode to enum.
  financial-connections/src/main/java/com/stripe/android/financialconnections/model/FinancialConnectionsSessionManifest.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Adds status fields to session.
  financial-connections/src/main/java/com/stripe/android/financialconnections/model/FinancialConnectionsSession.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/model/FinancialConnectionsSessionManifest.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/model/ManualEntry.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

.github/CODEOWNERS:

# Global - fallback to this group if the following groups don't match
* @stripe/stripe-android-sdk-reviewers

# Payments SDK
/payments/ @jaynewstrom-stripe @tillh-stripe @ccen-stripe @jameswoo-stripe
/paymentsheet/ @jaynewstrom-stripe @tillh-stripe @jameswoo-stripe
/wechatpay/ @jaynewstrom-stripe @tillh-stripe @ccen-stripe @jameswoo-stripe
/stripe-test-e2e/ @jaynewstrom-stripe @tillh-stripe @jameswoo-stripe
/link/ @jaynewstrom-stripe @tillh-stripe @jameswoo-stripe @ccen-stripe @carlosmuvi-stripe
/payment-method-messaging/ @jaynewstrom-stripe @tillh-stripe @jameswoo-stripe

# CardScan SDK
/stripecardscan/ @awush-stripe @ccen-stripe
/stripecardscan-example/ @awush-stripe @ccen-stripe

# Identity SDK
/identity/ @ccen-stripe @awush-stripe @carlosmuvi-stripe
/identity-example/ @ccen-stripe @awush-stripe @carlosmuvi-stripe

# Financial Connections SDK
/financial-connections/ @carlosmuvi-stripe @ccen-stripe
/financial-connections-example/ @carlosmuvi-stripe @ccen-stripe

# Shared modules
/camera-core/ @ccen-stripe @awush-stripe

# Configuration files
*.gradle @stripe/stripe-android-sdk-reviewers
