Repository stripe/stripe-android, changes with the owners that .github/CODEOWNERS names for each.
All owners: @brnunes-stripe, @tillh-stripe, @ccen-stripe, @awush-stripe, @jameswoo-stripe, @carlosmuvi-stripe

.github/CODEOWNERS:

# global - fallback to this group if the following groups don't match
*   @brnunes-stripe @tillh-stripe @ccen-stripe @awush-stripe @jameswoo-stripe

# payment sdk
/payments/ @brnunes-stripe @tillh-stripe @ccen-stripe @jameswoo-stripe
/payments-model/ @brnunes-stripe @tillh-stripe @ccen-stripe @jameswoo-stripe
/paymentsheet/ @brnunes-stripe @tillh-stripe @jameswoo-stripe
/wechatpay/ @brnunes-stripe @tillh-stripe @ccen-stripe @jameswoo-stripe
/stripe-test-e2e/ @brnunes-stripe @tillh-stripe @jameswoo-stripe
/link/ @brnunes-stripe @tillh-stripe @jameswoo-stripe

# stripecardscan sdk
/stripecardscan/ @awush-stripe @ccen-stripe
/stripecardscan-example/ @awush-stripe @ccen-stripe

# identity sdk
/identity/ @ccen-stripe @awush-stripe
/identity-example/ @ccen-stripe @awush-stripe

# financial connections sdk
/financial-connections/ @carlosmuvi-stripe
/financial-connections-example/ @carlosmuvi-stripe

# shared modules
/camera-core/ @ccen-stripe @awush-stripe

Remove pgp signature
  stripecardscan-tflite/tensorflow-lite-all-models.aar.asc
Owners: @brnunes-stripe, @tillh-stripe, @ccen-stripe, @awush-stripe, @jameswoo-stripe

Upgrade `androidx.activity` version (#5765)
  build.gradle
  identity-example/build.gradle
  identity/build.gradle
Owners: @brnunes-stripe, @tillh-stripe, @ccen-stripe, @awush-stripe, @jameswoo-stripe

Correctly report the stripe SDK version in cardscan scan stats (#5768)
  CHANGELOG.md
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/util/AppDetails.kt
Owners: @brnunes-stripe, @tillh-stripe, @ccen-stripe, @awush-stripe, @jameswoo-stripe

[Identity] Creates a Identity specific FileProvider
  identity/res/xml/stripe_identity_file_paths.xml
  identity/src/main/AndroidManifest.xml
  identity/src/main/java/com/stripe/android/identity/IdentityFileProvider.kt
Owners: @ccen-stripe, @awush-stripe

update changelog
  CHANGELOG.md
Owners: @brnunes-stripe, @tillh-stripe, @ccen-stripe, @awush-stripe, @jameswoo-stripe

Changes screen paddings to 24dp.
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/accountpicker/AccountPickerScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/accountpicker/AccountPickerStates.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/common/AccessibleDataCallout.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/common/ErrorContent.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/common/LoadingContent.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/consent/ConsentScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/consent/ConsentState.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/consent/ConsentStates.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/institutionpicker/InstitutionPickerScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/institutionpicker/InstitutionPickerStates.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/manualentry/ManualEntryScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/manualentrysuccess/ManualEntrySuccessScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/partnerauth/PartnerAuthScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/success/SuccessScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/ui/FinancialConnectionsSheetNativeActivity.kt
Owners: @carlosmuvi-stripe

[Identity] Creates a Identity specific FileProvider (#5762)
  CHANGELOG.md
  identity/res/xml/stripe_identity_file_paths.xml
  identity/src/main/AndroidManifest.xml
  identity/src/main/java/com/stripe/android/identity/IdentityFileProvider.kt
Owners: @brnunes-stripe, @tillh-stripe, @ccen-stripe, @awush-stripe, @jameswoo-stripe

Refactor Html to use StripeImage (#5750)
  example/AndroidManifest.xml
  example/build.gradle
  example/src/main/java/com/stripe/example/activity/LauncherActivity.kt
  example/src/main/java/com/stripe/example/activity/StripeImageActivity.kt
  link/src/main/java/com/stripe/android/link/ui/LinkTerms.kt
  link/src/main/java/com/stripe/android/link/ui/wallet/WalletScreen.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/elements/AffirmElementUI.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/elements/AfterpayClearpayElementUI.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/elements/AuBecsDebitMandateElementUI.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/BaseSheetActivity.kt
  stripe-ui-core/api/stripe-ui-core.api
  stripe-ui-core/detekt-baseline.xml
  stripe-ui-core/src/main/java/com/stripe/android/uicore/image/NetworkImageDecoder.kt
  stripe-ui-core/src/main/java/com/stripe/android/uicore/image/StripeImage.kt
  stripe-ui-core/src/main/java/com/stripe/android/uicore/image/StripeImageLoader.kt
  stripe-ui-core/src/main/java/com/stripe/android/uicore/text/Html.kt
  stripe-ui-core/src/test/java/com/stripe/android/uicore/image/StripeImageLoaderTest.kt
Owners: @brnunes-stripe, @tillh-stripe, @ccen-stripe, @awush-stripe, @jameswoo-stripe

Sends proper locale to synchronize calls.
  financial-connections/api/financial-connections.api
  financial-connections/src/main/java/com/stripe/android/financialconnections/di/FinancialConnectionsSheetModule.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/di/FinancialConnectionsSheetNativeModule.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/accountpicker/AccountPickerScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/accountpicker/AccountPickerStates.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/repository/FinancialConnectionsManifestRepository.kt
Owners: @carlosmuvi-stripe

Manual entry - update input styles.
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/manualentry/ManualEntryScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/ui/components/TextField.kt
Owners: @carlosmuvi-stripe

[Identity] Add IdentityViewModel.collectedData
  identity/src/main/java/com/stripe/android/identity/IdentityActivity.kt
  identity/src/main/java/com/stripe/android/identity/navigation/ErrorFragment.kt
  identity/src/main/java/com/stripe/android/identity/networking/models/CollectedDataParam.kt
  identity/src/main/java/com/stripe/android/identity/networking/models/Requirement.kt
  identity/src/main/java/com/stripe/android/identity/networking/models/VerificationPage.kt
  identity/src/main/java/com/stripe/android/identity/networking/models/VerificationPageData.kt
  identity/src/main/java/com/stripe/android/identity/networking/models/VerificationPageDataRequirementError.kt
  identity/src/main/java/com/stripe/android/identity/networking/models/VerificationPageDataRequirements.kt
  identity/src/main/java/com/stripe/android/identity/networking/models/VerificationPageRequirements.kt
  identity/src/main/java/com/stripe/android/identity/utils/NavigationUtils.kt
  identity/src/main/java/com/stripe/android/identity/viewmodel/IdentityViewModel.kt
  identity/src/test/java/com/stripe/android/identity/TestFixtures.kt
  identity/src/test/java/com/stripe/android/identity/navigation/ConsentFragmentTest.kt
  identity/src/test/java/com/stripe/android/identity/navigation/DocSelectionFragmentTest.kt
  identity/src/test/java/com/stripe/android/identity/ui/ConsentScreenTest.kt
  identity/src/test/java/com/stripe/android/identity/utils/NavigationUtilsTest.kt
Owners: @ccen-stripe, @awush-stripe

lint
  identity/src/main/java/com/stripe/android/identity/viewmodel/IdentityViewModel.kt
Owners: @ccen-stripe, @awush-stripe

add cleanData
  identity/src/main/java/com/stripe/android/identity/navigation/ConsentFragment.kt
  identity/src/main/java/com/stripe/android/identity/navigation/DocSelectionFragment.kt
  identity/src/main/java/com/stripe/android/identity/navigation/IdentityDocumentScanFragment.kt
  identity/src/main/java/com/stripe/android/identity/navigation/IdentityUploadFragment.kt
  identity/src/main/java/com/stripe/android/identity/navigation/SelfieFragment.kt
  identity/src/main/java/com/stripe/android/identity/networking/models/ClearDataParam.kt
  identity/src/main/java/com/stripe/android/identity/networking/models/CollectedDataParam.kt
  identity/src/main/java/com/stripe/android/identity/ui/ConsentScreen.kt
  identity/src/main/java/com/stripe/android/identity/ui/DocSelectionScreen.kt
  identity/src/main/java/com/stripe/android/identity/utils/NavigationUtils.kt
  identity/src/main/java/com/stripe/android/identity/viewmodel/IdentityViewModel.kt
  identity/src/test/java/com/stripe/android/identity/navigation/DocSelectionFragmentTest.kt
  identity/src/test/java/com/stripe/android/identity/navigation/DriverLicenseScanFragmentTest.kt
  identity/src/test/java/com/stripe/android/identity/navigation/IDScanFragmentTest.kt
  identity/src/test/java/com/stripe/android/identity/navigation/IdentityUploadFragmentTest.kt
  identity/src/test/java/com/stripe/android/identity/navigation/PassportScanFragmentTest.kt
  identity/src/test/java/com/stripe/android/identity/navigation/PassportUploadFragmentTest.kt
  identity/src/test/java/com/stripe/android/identity/navigation/SelfieFragmentTest.kt
  identity/src/test/java/com/stripe/android/identity/ui/ConsentScreenTest.kt
  identity/src/test/java/com/stripe/android/identity/ui/DocSelectScreenTest.kt
  identity/src/test/java/com/stripe/android/identity/utils/NavigationUtilsTest.kt
Owners: @ccen-stripe, @awush-stripe

clear hardcoded data
  identity/src/main/java/com/stripe/android/identity/networking/models/ClearDataParam.kt
Owners: @ccen-stripe, @awush-stripe

detekt
  identity/detekt-baseline.xml
  identity/src/main/java/com/stripe/android/identity/navigation/SelfieFragment.kt
Owners: @ccen-stripe, @awush-stripe

Expand auth session.
  financial-connections/src/main/java/com/stripe/android/financialconnections/repository/FinancialConnectionsManifestRepository.kt
Owners: @carlosmuvi-stripe

Update tests
  payments-ui-core/src/test/java/com/stripe/android/ui/core/forms/resources/LpmRepositoryTest.kt
Owners: @brnunes-stripe, @tillh-stripe, @ccen-stripe, @awush-stripe, @jameswoo-stripe

Adds manifest based routing
  financial-connections/src/main/java/com/stripe/android/financialconnections/FinancialConnectionsSheetViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/analytics/FinancialConnectionsEvent.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/di/FinancialConnectionsSheetNativeModule.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/di/FinancialConnectionsSheetSharedModule.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/model/FinancialConnectionsSessionManifest.kt
Owners: @carlosmuvi-stripe

Adds auth session events.
  financial-connections/api/financial-connections.api
  financial-connections/src/main/java/com/stripe/android/financialconnections/analytics/AuthSessionEvent.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/analytics/FinancialConnectionsEvent.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/domain/PostAuthSessionEvent.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/partnerauth/PartnerAuthScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/partnerauth/PartnerAuthViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/repository/FinancialConnectionsManifestRepository.kt
Owners: @carlosmuvi-stripe

Adds tests.
  financial-connections/src/main/java/com/stripe/android/financialconnections/domain/PostAuthSessionEvent.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/features/partnerauth/PartnerAuthViewModelTest.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/networking/FakeFinancialConnectionsManifestRepository.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/presentation/FinancialConnectionsSheetNativeViewModelTest.kt
Owners: @carlosmuvi-stripe

changes code to status.
  financial-connections/src/main/java/com/stripe/android/financialconnections/presentation/FinancialConnectionsSheetNativeViewModel.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/features/institutionpicker/InstitutionPickerViewModelTest.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/features/partnerauth/PartnerAuthViewModelTest.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/presentation/FinancialConnectionsSheetNativeViewModelTest.kt
Owners: @carlosmuvi-stripe

[Identity] Add `IdentityViewModel.collectedData` (#5748)
  identity/detekt-baseline.xml
  identity/src/main/java/com/stripe/android/identity/IdentityActivity.kt
  identity/src/main/java/com/stripe/android/identity/navigation/ConsentFragment.kt
  identity/src/main/java/com/stripe/android/identity/navigation/DocSelectionFragment.kt
  identity/src/main/java/com/stripe/android/identity/navigation/ErrorFragment.kt
  identity/src/main/java/com/stripe/android/identity/navigation/IdentityDocumentScanFragment.kt
  identity/src/main/java/com/stripe/android/identity/navigation/IdentityUploadFragment.kt
  identity/src/main/java/com/stripe/android/identity/navigation/SelfieFragment.kt
  identity/src/main/java/com/stripe/android/identity/networking/models/ClearDataParam.kt
  identity/src/main/java/com/stripe/android/identity/networking/models/CollectedDataParam.kt
  identity/src/main/java/com/stripe/android/identity/networking/models/Requirement.kt
  identity/src/main/java/com/stripe/android/identity/networking/models/VerificationPage.kt
  identity/src/main/java/com/stripe/android/identity/networking/models/VerificationPageData.kt
  identity/src/main/java/com/stripe/android/identity/networking/models/VerificationPageDataRequirementError.kt
  identity/src/main/java/com/stripe/android/identity/networking/models/VerificationPageDataRequirements.kt
  identity/src/main/java/com/stripe/android/identity/networking/models/VerificationPageRequirements.kt
  identity/src/main/java/com/stripe/android/identity/ui/ConsentScreen.kt
  identity/src/main/java/com/stripe/android/identity/ui/DocSelectionScreen.kt
  identity/src/main/java/com/stripe/android/identity/utils/NavigationUtils.kt
  identity/src/main/java/com/stripe/android/identity/viewmodel/IdentityViewModel.kt
  identity/src/test/java/com/stripe/android/identity/TestFixtures.kt
  identity/src/test/java/com/stripe/android/identity/navigation/ConsentFragmentTest.kt
  identity/src/test/java/com/stripe/android/identity/navigation/DocSelectionFragmentTest.kt
  identity/src/test/java/com/stripe/android/identity/navigation/DriverLicenseScanFragmentTest.kt
  identity/src/test/java/com/stripe/android/identity/navigation/IDScanFragmentTest.kt
  identity/src/test/java/com/stripe/android/identity/navigation/IdentityUploadFragmentTest.kt
  identity/src/test/java/com/stripe/android/identity/navigation/PassportScanFragmentTest.kt
  identity/src/test/java/com/stripe/android/identity/navigation/PassportUploadFragmentTest.kt
  identity/src/test/java/com/stripe/android/identity/navigation/SelfieFragmentTest.kt
  identity/src/test/java/com/stripe/android/identity/ui/ConsentScreenTest.kt
  identity/src/test/java/com/stripe/android/identity/ui/DocSelectScreenTest.kt
  identity/src/test/java/com/stripe/android/identity/utils/NavigationUtilsTest.kt
Owners: @ccen-stripe, @awush-stripe

Enable UPI in release builds (#5772)
  payments-ui-core/src/main/java/com/stripe/android/ui/core/forms/resources/LpmRepository.kt
  payments-ui-core/src/test/java/com/stripe/android/ui/core/forms/resources/LpmRepositoryTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/model/SupportedPaymentMethodTest.kt
Owners: @brnunes-stripe, @tillh-stripe, @ccen-stripe, @awush-stripe, @jameswoo-stripe

Adds messages to exceptions.
  financial-connections/src/main/java/com/stripe/android/financialconnections/exception/WebAuthFlowCancelledException.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/presentation/FinancialConnectionsSheetNativeViewModel.kt
Owners: @carlosmuvi-stripe

Updates loading messages.
  financial-connections/res/values/strings.xml
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/partnerauth/PartnerAuthScreen.kt
Owners: @carlosmuvi-stripe

New Loading UI (#5776)
  financial-connections/res/values/strings.xml
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/partnerauth/PartnerAuthScreen.kt
Owners: @carlosmuvi-stripe

Detekt fixes.
  financial-connections/src/test/java/com/stripe/android/financialconnections/presentation/FinancialConnectionsSheetNativeViewModelTest.kt
Owners: @carlosmuvi-stripe

adds domain flow router object
  financial-connections/src/main/java/com/stripe/android/financialconnections/FinancialConnectionsSheetViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/domain/NativeAuthFlowRouter.kt
Owners: @carlosmuvi-stripe

refactor
  financial-connections/src/main/java/com/stripe/android/financialconnections/domain/NativeAuthFlowRouter.kt
Owners: @carlosmuvi-stripe

error code.
  financial-connections/src/main/java/com/stripe/android/financialconnections/analytics/AuthSessionEvent.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/analytics/FinancialConnectionsEvent.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/exception/WebAuthFlowCancelledException.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/presentation/FinancialConnectionsSheetNativeViewModel.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/presentation/FinancialConnectionsSheetNativeViewModelTest.kt
Owners: @carlosmuvi-stripe

Adds toolbar elevation, corrects scrolling along flow, fixes heading font, fixes top view margin.
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/accountpicker/AccountPickerScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/common/ErrorContent.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/common/LoadingContent.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/consent/ConsentScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/institutionpicker/InstitutionPickerScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/manualentry/ManualEntryScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/manualentrysuccess/ManualEntrySuccessScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/partnerauth/PartnerAuthScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/success/SuccessScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/ui/components/TopAppBar.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/ui/theme/Theme.kt
Owners: @carlosmuvi-stripe

Updates consent typography.
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/consent/ConsentScreen.kt
Owners: @carlosmuvi-stripe

Deletes dropdown.
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/accountpicker/AccountPickerScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/accountpicker/AccountPickerStates.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/accountpicker/AccountPickerViewModel.kt
Owners: @carlosmuvi-stripe

Adds search icon.
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/institutionpicker/InstitutionPickerScreen.kt
Owners: @carlosmuvi-stripe

Fixes secondary button.
  financial-connections/src/main/java/com/stripe/android/financialconnections/ui/components/Button.kt
Owners: @carlosmuvi-stripe

Removes borders from callouts.
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/common/AccessibleDataCallout.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/common/PartnerCallout.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/institutionpicker/InstitutionPickerScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/ui/components/Button.kt
Owners: @carlosmuvi-stripe

Fixes title and subtitle spacing on account picker.
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/accountpicker/AccountPickerScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/accountpicker/AccountPickerStates.kt
Owners: @carlosmuvi-stripe

Account picker: fixes stroke width, accessible data capitalization and uses correct fonts.
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/accountpicker/AccountPickerScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/common/AccessibleDataCallout.kt
Owners: @carlosmuvi-stripe

Account picker: Fixes spacing and uses Sail checkbox / radios.
  financial-connections/res/drawable/stripe_ic_checkbox_no.xml
  financial-connections/res/drawable/stripe_ic_checkbox_yes.xml
  financial-connections/res/drawable/stripe_ic_radio_no.xml
  financial-connections/res/drawable/stripe_ic_radio_yes.xml
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/accountpicker/AccountPickerScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/accountpicker/AccountPickerStates.kt
Owners: @carlosmuvi-stripe

don't include prefix
  financial-connections/src/main/java/com/stripe/android/financialconnections/analytics/FinancialConnectionsEvent.kt
Owners: @carlosmuvi-stripe
