Repository stripe/stripe-android, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stripe/stripe-android-sdk-reviewers, @jaynewstrom-stripe, @tillh-stripe, @ccen-stripe, @jameswoo-stripe, @carlosmuvi-stripe, @awush-stripe

Updates local selected accounts after selecting.
  financial-connections/src/main/java/com/stripe/android/financialconnections/domain/GetSelectedAccounts.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/domain/UpdateSelectedAccounts.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/attachpayment/AttachPaymentViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/linkaccountpicker/LinkAccountPickerViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinksignup/NetworkingLinkSignupViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/success/SuccessViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/repository/FinancialConnectionsAccountsRepository.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/features/networkinglinksignup/NetworkingLinkSignupViewModelTest.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/features/success/SuccessViewModelTest.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/repository/FinancialConnectionsAccountsRepositoryImplTest.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Retrieves abstract selected accounts on Success pane.
  financial-connections/src/main/java/com/stripe/android/financialconnections/domain/GetSelectedAccounts.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/domain/UpdateSelectedAccounts.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/attachpayment/AttachPaymentViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinksignup/NetworkingLinkSignupViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/success/SuccessScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/success/SuccessViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/repository/FinancialConnectionsAccountsRepository.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Card Brand Choice in CardAccountRangeService
  example/src/main/java/com/stripe/example/ExampleApplication.kt
  example/src/main/java/com/stripe/example/activity/CreateCardSourceActivity.kt
  payments-core/res/drawable/stripe_ic_cartebancaire_template_32.xml
  payments-core/src/main/java/com/stripe/android/Stripe.kt
  payments-core/src/main/java/com/stripe/android/StripeKtx.kt
  payments-core/src/main/java/com/stripe/android/cards/CardAccountRangeService.kt
  payments-core/src/main/java/com/stripe/android/model/AccountRange.kt
  payments-core/src/main/java/com/stripe/android/networking/StripeApiRepository.kt
  payments-core/src/main/java/com/stripe/android/networking/StripeRepository.kt
  payments-core/src/main/java/com/stripe/android/view/CardInputWidget.kt
  payments-core/src/main/java/com/stripe/android/view/CardMultilineWidget.kt
  payments-core/src/main/java/com/stripe/android/view/CardNumberEditText.kt
  payments-core/src/main/java/com/stripe/android/view/CardWidget.kt
  payments-core/src/main/java/com/stripe/android/view/MaskedCardView.kt
  payments-core/src/test/java/com/stripe/android/StripeKtxTest.kt
  payments-core/src/test/java/com/stripe/android/StripeTest.java
  payments-core/src/test/java/com/stripe/android/networking/AbsFakeStripeRepository.kt
  payments-model/res/drawable/stripe_ic_cartebancaire.xml
  payments-model/src/main/java/com/stripe/android/model/CardBrand.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/PaymentMethodsUiExtension.kt
Owners: @stripe/stripe-android-sdk-reviewers, @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Possible brands callback only for card element
  example/res/layout/create_card_source_activity.xml
  example/src/main/java/com/stripe/example/activity/CreateCardSourceActivity.kt
  payments-core/src/main/java/com/stripe/android/cards/CardAccountRangeService.kt
Owners: @stripe/stripe-android-sdk-reviewers

Updates tests.
  financial-connections/src/test/java/com/stripe/android/financialconnections/features/success/SuccessViewModelTest.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/repository/FinancialConnectionsAccountsRepositoryImplTest.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Upload screenshot failures.
  .github/workflows/instrumentation_tests.yml
Owners: @stripe/stripe-android-sdk-reviewers

Upload screenshot failures. (#6219)
  .github/workflows/instrumentation_tests.yml
Owners: @stripe/stripe-android-sdk-reviewers

Move entire payment options to Compose (#6153)
  paymentsheet-example/screenshots/debug/com.stripe.android.screenshot.TestPaymentSheetScreenshots_testPaymentSheetCustomPrimaryButtonLabel.png
  paymentsheet-example/screenshots/debug/com.stripe.android.screenshot.TestPaymentSheetScreenshots_testPaymentSheetEditPaymentMethodsDark.png
  paymentsheet-example/screenshots/debug/com.stripe.android.screenshot.TestPaymentSheetScreenshots_testPaymentSheetEditPaymentMethodsDarkAppearance.png
  paymentsheet-example/screenshots/debug/com.stripe.android.screenshot.TestPaymentSheetScreenshots_testPaymentSheetEditPaymentMethodsLight.png
  paymentsheet-example/screenshots/debug/com.stripe.android.screenshot.TestPaymentSheetScreenshots_testPaymentSheetEditPaymentMethodsLightAppearance.png
  paymentsheet-example/screenshots/debug/com.stripe.android.screenshot.TestPaymentSheetScreenshots_testPaymentSheetNewCustomer.png
  paymentsheet-example/screenshots/debug/com.stripe.android.screenshot.TestPaymentSheetScreenshots_testPaymentSheetNewCustomerAppearance.png
  paymentsheet-example/screenshots/debug/com.stripe.android.screenshot.TestPaymentSheetScreenshots_testPaymentSheetNewCustomerDark.png
  paymentsheet-example/screenshots/debug/com.stripe.android.screenshot.TestPaymentSheetScreenshots_testPaymentSheetNewCustomerDarkAppearance.png
  paymentsheet-example/screenshots/debug/com.stripe.android.screenshot.TestPaymentSheetScreenshots_testPaymentSheetPrimaryButtonAppearanceDark.png
  paymentsheet-example/screenshots/debug/com.stripe.android.screenshot.TestPaymentSheetScreenshots_testPaymentSheetPrimaryButtonAppearanceLight.png
  paymentsheet-example/screenshots/debug/com.stripe.android.screenshot.TestPaymentSheetScreenshots_testPaymentSheetReturningCustomerDark.png
  paymentsheet-example/screenshots/debug/com.stripe.android.screenshot.TestPaymentSheetScreenshots_testPaymentSheetReturningCustomerDarkAppearance.png
  paymentsheet-example/screenshots/debug/com.stripe.android.screenshot.TestPaymentSheetScreenshots_testPaymentSheetReturningCustomerLight.png
  paymentsheet-example/screenshots/debug/com.stripe.android.screenshot.TestPaymentSheetScreenshots_testPaymentSheetReturningCustomerLightAppearance.png
  paymentsheet/api/paymentsheet.api
  paymentsheet/detekt-baseline.xml
  paymentsheet/res/layout/activity_payment_options.xml
  paymentsheet/src/main/AndroidManifest.xml
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentOptionsActivity.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetActivity.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/navigation/PaymentSheetScreen.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/AddPaymentMethod.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/BaseSheetActivity.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/PaymentOptionsScreen.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/PaymentSheetScaffold.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/viewmodels/BaseSheetViewModel.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentOptionsActivityTest.kt
Owners: @stripe/stripe-android-sdk-reviewers, @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Fixes preview.
  financial-connections/api/financial-connections.api
  financial-connections/src/main/java/com/stripe/android/financialconnections/domain/SelectNetworkedAccount.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/attachpayment/AttachPaymentViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/common/AccountItem.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/linkaccountpicker/LinkAccountPickerScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/linkaccountpicker/LinkedAccountPickerStates.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinksignup/NetworkingLinkSignupViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/success/SuccessViewModel.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/features/networkinglinksignup/NetworkingLinkSignupViewModelTest.kt
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.accountpicker_null_AccountPickerPane_Multiselect-accountselected_null,NEXUS_5].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.accountpicker_null_AccountPickerPane_Multiselect-accountselected_null,PIXEL_C].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.accountpicker_null_AccountPickerPane_Singleselect-accountselected_null,NEXUS_5].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.accountpicker_null_AccountPickerPane_Singleselect-accountselected_null,PIXEL_C].png
Owners: @carlosmuvi-stripe, @ccen-stripe

[Identity] Support Address and IDNUMBER
  identity/detekt-baseline.xml
  identity/res/values/totranslate.xml
  identity/src/main/java/com/stripe/android/identity/IdentityActivity.kt
  identity/src/main/java/com/stripe/android/identity/analytics/IdentityAnalyticsRequestFactory.kt
  identity/src/main/java/com/stripe/android/identity/injection/IdentityActivitySubcomponent.kt
  identity/src/main/java/com/stripe/android/identity/injection/IdentityCommonModule.kt
  identity/src/main/java/com/stripe/android/identity/navigation/CountryNotListedDestination.kt
  identity/src/main/java/com/stripe/android/identity/navigation/IdentityNavGraph.kt
  identity/src/main/java/com/stripe/android/identity/navigation/IdentityTopLevelDestination.kt
  identity/src/main/java/com/stripe/android/identity/navigation/IndividualDestination.kt
  identity/src/main/java/com/stripe/android/identity/navigation/InitialLoadingDestination.kt
  identity/src/main/java/com/stripe/android/identity/navigation/NavControllerExt.kt
  identity/src/main/java/com/stripe/android/identity/networking/models/ClearDataParam.kt
  identity/src/main/java/com/stripe/android/identity/networking/models/DobParam.kt
  identity/src/main/java/com/stripe/android/identity/networking/models/IdNumberParam.kt
  identity/src/main/java/com/stripe/android/identity/networking/models/Requirement.kt
  identity/src/main/java/com/stripe/android/identity/networking/models/VerificationPageData.kt
  identity/src/main/java/com/stripe/android/identity/ui/AddressSection.kt
  identity/src/main/java/com/stripe/android/identity/ui/CountryNotListedScreen.kt
  identity/src/main/java/com/stripe/android/identity/ui/DOBSection.kt
  identity/src/main/java/com/stripe/android/identity/ui/IDNumberSection.kt
  identity/src/main/java/com/stripe/android/identity/ui/IdentityTopAppBar.kt
  identity/src/main/java/com/stripe/android/identity/ui/IndividualScreen.kt
  identity/src/main/java/com/stripe/android/identity/ui/InitialLoadingScreen.kt
  identity/src/main/java/com/stripe/android/identity/ui/LoadingScreen.kt
  identity/src/main/java/com/stripe/android/identity/ui/NameSection.kt
  identity/src/main/java/com/stripe/android/identity/viewmodel/IdentityViewModel.kt
  identity/src/test/java/com/stripe/android/identity/ui/CountryNotListedScreenTest.kt
  identity/src/test/java/com/stripe/android/identity/ui/IndividualScreenTest.kt
  identity/src/test/java/com/stripe/android/identity/ui/InitialLoadingScreenTest.kt
  identity/src/test/java/com/stripe/android/identity/ui/UploadScreenTest.kt
  identity/src/test/java/com/stripe/android/identity/viewmodel/IdentityViewModelTest.kt
Owners: @ccen-stripe, @awush-stripe, @carlosmuvi-stripe

Fixes previews.
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/accountpicker/AccountPickerStates.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/linkaccountpicker/LinkAccountPickerScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/linkaccountpicker/LinkedAccountPickerStates.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/repository/FinancialConnectionsAccountsRepository.kt
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.accountpicker_null_AccountPickerPane_Multiselect-accountselected_null,NEXUS_5].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.accountpicker_null_AccountPickerPane_Multiselect-accountselected_null,PIXEL_C].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.accountpicker_null_AccountPickerPane_Singleselect-accountselected_null,NEXUS_5].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.accountpicker_null_AccountPickerPane_Singleselect-accountselected_null,PIXEL_C].png
Owners: @carlosmuvi-stripe, @ccen-stripe

Adds viewModel tests.
  financial-connections/api/financial-connections.api
  financial-connections/src/main/java/com/stripe/android/financialconnections/domain/GetCachedAccounts.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/domain/GetCachedConsumerSession.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/domain/UpdateCachedAccounts.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/attachpayment/AttachPaymentViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/linkaccountpicker/LinkAccountPickerViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinksignup/NetworkingLinkSignupViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/success/SuccessViewModel.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/features/linkaccountpicker/LinkAccountPickerViewModelTest.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/features/networkinglinksignup/NetworkingLinkSignupViewModelTest.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/features/success/SuccessViewModelTest.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Makes consumer session usecase return nullable.
  financial-connections/src/main/java/com/stripe/android/financialconnections/domain/GetCachedConsumerSession.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/linkaccountpicker/LinkAccountPickerViewModel.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Add Stripe implementation
  example/res/layout/create_card_source_activity.xml
  example/src/main/java/com/stripe/example/activity/CreateCardSourceActivity.kt
  example/src/main/java/com/stripe/example/activity/FragmentExamplesFragment.kt
  example/src/main/java/com/stripe/example/activity/PaymentSessionActivity.kt
  payments-core/src/main/java/com/stripe/android/Stripe.kt
  payments-core/src/main/java/com/stripe/android/StripeKtx.kt
  payments-core/src/main/java/com/stripe/android/cards/CardAccountRangeRepository.kt
  payments-core/src/main/java/com/stripe/android/cards/DefaultCardAccountRangeRepositoryFactory.kt
  payments-core/src/main/java/com/stripe/android/model/CardMetadata.kt
  payments-core/src/main/java/com/stripe/android/networking/StripeApiRepository.kt
  payments-core/src/main/java/com/stripe/android/networking/StripeRepository.kt
  payments-core/src/test/java/com/stripe/android/StripeKtxTest.kt
  payments-core/src/test/java/com/stripe/android/StripeTest.java
  payments-core/src/test/java/com/stripe/android/cards/CardWidgetViewModelTest.kt
  payments-core/src/test/java/com/stripe/android/networking/AbsFakeStripeRepository.kt
  payments-core/src/test/java/com/stripe/android/networking/StripeApiRepositoryTest.kt
Owners: @stripe/stripe-android-sdk-reviewers

Regenerates screenshots.
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.accountpicker_null_AccountPickerPane_Multiselect-accountselected_null,NEXUS_5].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.accountpicker_null_AccountPickerPane_Multiselect-accountselected_null,PIXEL_C].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.accountpicker_null_AccountPickerPane_Singleselect-accountselected_null,NEXUS_5].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.accountpicker_null_AccountPickerPane_Singleselect-accountselected_null,PIXEL_C].png
Owners: @carlosmuvi-stripe, @ccen-stripe

Adds screen skeleton.
  financial-connections/src/main/java/com/stripe/android/financialconnections/di/FinancialConnectionsSheetNativeComponent.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/domain/GoNext.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/linkstepupverification/LinkStepUpVerificationScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/linkstepupverification/LinkStepUpVerificationSubcomponent.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/linkstepupverification/LinkStepUpVerificationViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/model/FinancialConnectionsSessionManifest.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/navigation/NavigationCommand.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/ui/FinancialConnectionsSheetNativeActivity.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Refactor LinkButton
  link/src/main/java/com/stripe/android/link/LinkPaymentLauncher.kt
  link/src/main/java/com/stripe/android/link/ui/LinkButtonView.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/LinkHandler.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetActivity.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetViewModel.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetActivityTest.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe, @ccen-stripe, @carlosmuvi-stripe

Adds email subtext.
  financial-connections/res/values/strings.xml
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/linkstepupverification/LinkStepUpVerificationScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/linkstepupverification/LinkStepUpVerificationViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/ui/components/Text.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Handles repair and step up cases.
  financial-connections/src/main/java/com/stripe/android/financialconnections/domain/GoNext.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/linkaccountpicker/LinkAccountPickerViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/linkaccountpicker/LinkedAccountPickerStates.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/model/FinancialConnectionsSessionManifest.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/ApiKeyFixtures.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/features/linkaccountpicker/LinkAccountPickerViewModelTest.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Refactor LinkButton (#6221)
  link/src/main/java/com/stripe/android/link/LinkPaymentLauncher.kt
  link/src/main/java/com/stripe/android/link/ui/LinkButtonView.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/LinkHandler.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetActivity.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetViewModel.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetActivityTest.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe, @ccen-stripe, @carlosmuvi-stripe

Move PaymentSheetActivity to Compose
  link/src/main/java/com/stripe/android/link/ui/LinkButtonView.kt
  paymentsheet/res/layout/activity_payment_sheet.xml
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetActivity.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/navigation/PaymentSheetScreen.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/PaymentSheetLoading.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/PaymentSheetScreen.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetActivityTest.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe, @ccen-stripe, @carlosmuvi-stripe

Update API and detekt baseline
  link/detekt-baseline.xml
  link/src/main/java/com/stripe/android/link/ui/LinkButtonView.kt
  paymentsheet/api/paymentsheet.api
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe, @ccen-stripe, @carlosmuvi-stripe

address comments
  identity/detekt-baseline.xml
  identity/src/main/java/com/stripe/android/identity/IdentityActivity.kt
  identity/src/main/java/com/stripe/android/identity/networking/models/RequiredInternationalAddress.kt
  identity/src/main/java/com/stripe/android/identity/networking/models/VerificationPageData.kt
  identity/src/main/java/com/stripe/android/identity/ui/AddressSection.kt
  identity/src/main/java/com/stripe/android/identity/ui/CountryNotListedScreen.kt
  identity/src/main/java/com/stripe/android/identity/ui/IDNumberSection.kt
  identity/src/main/java/com/stripe/android/identity/ui/IndividualScreen.kt
  identity/src/main/java/com/stripe/android/identity/viewmodel/IdentityViewModel.kt
  identity/src/test/java/com/stripe/android/identity/ui/CountryNotListedScreenTest.kt
Owners: @ccen-stripe, @awush-stripe, @carlosmuvi-stripe

remove unused method
  identity/src/main/java/com/stripe/android/identity/ui/IndividualScreen.kt
Owners: @ccen-stripe, @awush-stripe, @carlosmuvi-stripe

Update tests
  link/src/main/java/com/stripe/android/link/ui/LinkButtonView.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/PaymentSheetScreen.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetActivityTest.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe, @ccen-stripe, @carlosmuvi-stripe

Disable flaky test in `LoopTest`
  stripecardscan/src/test/java/com/stripe/android/stripecardscan/framework/LoopTest.kt
Owners: @awush-stripe, @ccen-stripe

Handles repair and step up cases.
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.linkaccountpicker_null_LinkAccountPickerPane_Noaccountselected_null,NEXUS_5].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.linkaccountpicker_null_LinkAccountPickerPane_Noaccountselected_null,PIXEL_C].png
Owners: @carlosmuvi-stripe, @ccen-stripe

Disable flaky test in `LoopTest` (#6225)
  stripecardscan/src/test/java/com/stripe/android/stripecardscan/framework/LoopTest.kt
Owners: @awush-stripe, @ccen-stripe

Implement LinkAccountPicker pane (#6218)
  financial-connections/api/financial-connections.api
  financial-connections/res/values/strings.xml
  financial-connections/src/main/java/com/stripe/android/financialconnections/di/FinancialConnectionsSheetNativeComponent.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/domain/GetAuthorizationSessionAccounts.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/domain/GetCachedAccounts.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/domain/GetCachedConsumerSession.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/domain/GoNext.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/domain/SelectNetworkedAccount.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/domain/UpdateCachedAccounts.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/accountpicker/AccountPickerScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/accountpicker/AccountPickerViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/attachpayment/AttachPaymentViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/common/AccountItem.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/linkaccountpicker/LinkAccountPickerScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/linkaccountpicker/LinkAccountPickerSubcomponent.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/linkaccountpicker/LinkAccountPickerViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/linkaccountpicker/LinkedAccountPickerStates.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinksignup/NetworkingLinkSignupViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/success/SuccessScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/success/SuccessViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/model/FinancialConnectionsSessionManifest.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/navigation/NavigationCommand.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/repository/FinancialConnectionsAccountsRepository.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/ui/FinancialConnectionsSheetNativeActivity.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/ApiKeyFixtures.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/features/accountpicker/AccountPickerViewModelTest.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/features/linkaccountpicker/LinkAccountPickerViewModelTest.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/features/networkinglinksignup/NetworkingLinkSignupViewModelTest.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/features/success/SuccessViewModelTest.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/repository/FinancialConnectionsAccountsRepositoryImplTest.kt
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.accountpicker_null_AccountPickerPane_Multiselect-accountselected_null,NEXUS_5].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.accountpicker_null_AccountPickerPane_Multiselect-accountselected_null,PIXEL_C].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.accountpicker_null_AccountPickerPane_Singleselect-accountselected_null,NEXUS_5].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.accountpicker_null_AccountPickerPane_Singleselect-accountselected_null,PIXEL_C].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.linkaccountpicker_null_LinkAccountPickerPane_Noaccountselected_null,NEXUS_5].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.linkaccountpicker_null_LinkAccountPickerPane_Noaccountselected_null,PIXEL_C].png
Owners: @carlosmuvi-stripe, @ccen-stripe

Saves networked accounts after entering OTP.
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/linkstepupverification/LinkStepUpVerificationScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/linkstepupverification/LinkStepUpVerificationViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/model/serializer/MarkdownToHtmlSerializer.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/utils/MarkdownParser.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/utils/MarkdownParserTest.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Adds error message.
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/common/Forms.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/linkstepupverification/LinkStepUpVerificationScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinkverification/NetworkingLinkVerificationScreen.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Adds resend otp logic.
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/linkstepupverification/LinkStepUpVerificationScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/linkstepupverification/LinkStepUpVerificationViewModel.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Adds verification type.
  financial-connections/src/main/java/com/stripe/android/financialconnections/domain/ConfirmVerification.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/domain/StartVerification.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/linkstepupverification/LinkStepUpVerificationViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinkverification/NetworkingLinkVerificationViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/repository/FinancialConnectionsConsumerSessionRepository.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/features/networkinglinkverification/NetworkingLinkVerificationViewModelTest.kt
  link/src/main/java/com/stripe/android/link/repositories/LinkApiRepository.kt
  link/src/test/java/com/stripe/android/link/repositories/LinkApiRepositoryTest.kt
  payments-model/src/main/java/com/stripe/android/model/Verification.kt
  payments-model/src/main/java/com/stripe/android/repository/ConsumersApiService.kt
  payments-model/src/test/java/com/stripe/android/repository/ConsumersApiServiceImplTest.kt
Owners: @carlosmuvi-stripe, @ccen-stripe, @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe, @stripe/stripe-android-sdk-reviewers

Adds custom email type field.
  financial-connections/src/main/java/com/stripe/android/financialconnections/domain/ConfirmVerification.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/domain/StartVerification.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/linkstepupverification/LinkStepUpVerificationViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinkverification/NetworkingLinkVerificationViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/repository/FinancialConnectionsConsumerSessionRepository.kt
  link/src/main/java/com/stripe/android/link/repositories/LinkApiRepository.kt
  link/src/test/java/com/stripe/android/link/repositories/LinkApiRepositoryTest.kt
  payments-model/src/main/java/com/stripe/android/repository/ConsumersApiService.kt
Owners: @carlosmuvi-stripe, @ccen-stripe, @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe, @stripe/stripe-android-sdk-reviewers

Fixes on otp entered api calls order.
  financial-connections/src/main/java/com/stripe/android/financialconnections/domain/MarkLinkStepUpVerified.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/linkstepupverification/LinkStepUpVerificationScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/linkstepupverification/LinkStepUpVerificationViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/repository/FinancialConnectionsManifestRepository.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Test larger runners for ci builds.
  .github/workflows/ci.yml
Owners: @stripe/stripe-android-sdk-reviewers

Try label.
  .github/workflows/ci.yml
Owners: @stripe/stripe-android-sdk-reviewers

Try labels.
  .github/workflows/ci.yml
Owners: @stripe/stripe-android-sdk-reviewers

[Identity] Support Id and address (#6160)
  identity/detekt-baseline.xml
  identity/res/values/totranslate.xml
  identity/src/main/java/com/stripe/android/identity/IdentityActivity.kt
  identity/src/main/java/com/stripe/android/identity/analytics/IdentityAnalyticsRequestFactory.kt
  identity/src/main/java/com/stripe/android/identity/injection/IdentityActivitySubcomponent.kt
  identity/src/main/java/com/stripe/android/identity/injection/IdentityCommonModule.kt
  identity/src/main/java/com/stripe/android/identity/navigation/CountryNotListedDestination.kt
  identity/src/main/java/com/stripe/android/identity/navigation/IdentityNavGraph.kt
  identity/src/main/java/com/stripe/android/identity/navigation/IdentityTopLevelDestination.kt
  identity/src/main/java/com/stripe/android/identity/navigation/IndividualDestination.kt
  identity/src/main/java/com/stripe/android/identity/navigation/InitialLoadingDestination.kt
  identity/src/main/java/com/stripe/android/identity/navigation/NavControllerExt.kt
  identity/src/main/java/com/stripe/android/identity/networking/models/ClearDataParam.kt
  identity/src/main/java/com/stripe/android/identity/networking/models/DobParam.kt
  identity/src/main/java/com/stripe/android/identity/networking/models/IdNumberParam.kt
  identity/src/main/java/com/stripe/android/identity/networking/models/RequiredInternationalAddress.kt
  identity/src/main/java/com/stripe/android/identity/networking/models/Requirement.kt
  identity/src/main/java/com/stripe/android/identity/networking/models/VerificationPageData.kt
  identity/src/main/java/com/stripe/android/identity/ui/AddressSection.kt
  identity/src/main/java/com/stripe/android/identity/ui/CountryNotListedScreen.kt
  identity/src/main/java/com/stripe/android/identity/ui/DOBSection.kt
  identity/src/main/java/com/stripe/android/identity/ui/IDNumberSection.kt
  identity/src/main/java/com/stripe/android/identity/ui/IdentityTopAppBar.kt
  identity/src/main/java/com/stripe/android/identity/ui/IndividualScreen.kt
  identity/src/main/java/com/stripe/android/identity/ui/InitialLoadingScreen.kt
  identity/src/main/java/com/stripe/android/identity/ui/LoadingScreen.kt
  identity/src/main/java/com/stripe/android/identity/ui/NameSection.kt
  identity/src/main/java/com/stripe/android/identity/viewmodel/IdentityViewModel.kt
  identity/src/test/java/com/stripe/android/identity/ui/CountryNotListedScreenTest.kt
  identity/src/test/java/com/stripe/android/identity/ui/IndividualScreenTest.kt
  identity/src/test/java/com/stripe/android/identity/ui/InitialLoadingScreenTest.kt
  identity/src/test/java/com/stripe/android/identity/ui/UploadScreenTest.kt
  identity/src/test/java/com/stripe/android/identity/viewmodel/IdentityViewModelTest.kt
Owners: @ccen-stripe, @awush-stripe, @carlosmuvi-stripe

[Identity] IndividualWelcome screen
  identity/api/identity.api
  identity/detekt-baseline.xml
  identity/src/main/java/com/stripe/android/identity/IdentityActivity.kt
  identity/src/main/java/com/stripe/android/identity/analytics/IdentityAnalyticsRequestFactory.kt
  identity/src/main/java/com/stripe/android/identity/navigation/ConfirmationDestination.kt
  identity/src/main/java/com/stripe/android/identity/navigation/ConsentDestination.kt
  identity/src/main/java/com/stripe/android/identity/navigation/CountryNotListedDestination.kt
  identity/src/main/java/com/stripe/android/identity/navigation/DocSelectionDestination.kt
  identity/src/main/java/com/stripe/android/identity/navigation/IdentityNavGraph.kt
  identity/src/main/java/com/stripe/android/identity/navigation/IdentityTopLevelDestination.kt
  identity/src/main/java/com/stripe/android/identity/navigation/IndividualDestination.kt
  identity/src/main/java/com/stripe/android/identity/navigation/IndividualWelcomeDestination.kt
  identity/src/main/java/com/stripe/android/identity/navigation/InitialLoadingDestination.kt
  identity/src/main/java/com/stripe/android/identity/navigation/ScanDestinations.kt
  identity/src/main/java/com/stripe/android/identity/networking/models/VerificationPage.kt
  identity/src/main/java/com/stripe/android/identity/networking/models/VerificationPageStaticContentIndividualWelcomePage.kt
  identity/src/main/java/com/stripe/android/identity/ui/AddressSection.kt
  identity/src/main/java/com/stripe/android/identity/ui/ConsentScreen.kt
  identity/src/main/java/com/stripe/android/identity/ui/CountryNotListedScreen.kt
  identity/src/main/java/com/stripe/android/identity/ui/IDNumberSection.kt
  identity/src/main/java/com/stripe/android/identity/ui/IdentityTopAppBar.kt
  identity/src/main/java/com/stripe/android/identity/ui/IndividualScreen.kt
  identity/src/main/java/com/stripe/android/identity/ui/IndividualWelcomeScreen.kt
  identity/src/main/java/com/stripe/android/identity/ui/InitialLoadingScreen.kt
  identity/src/main/java/com/stripe/android/identity/utils/UriUtils.kt
  identity/src/main/java/com/stripe/android/identity/viewmodel/IdentityViewModel.kt
  identity/src/test/java/com/stripe/android/identity/navigation/IdentityTopLevelDestinationTest.kt
  identity/src/test/java/com/stripe/android/identity/networking/DefaultIdentityRepositoryTest.kt
  identity/src/test/java/com/stripe/android/identity/networking/IdentityNetworkResponseFixtures.kt
  identity/src/test/java/com/stripe/android/identity/ui/ConsentScreenTest.kt
  identity/src/test/java/com/stripe/android/identity/ui/CountryNotListedScreenTest.kt
  identity/src/test/java/com/stripe/android/identity/ui/IndividualScreenTest.kt
  identity/src/test/java/com/stripe/android/identity/ui/IndividualWelcomeScreenTest.kt
  identity/src/test/java/com/stripe/android/identity/ui/InitialLoadingScreenTest.kt
Owners: @ccen-stripe, @awush-stripe, @carlosmuvi-stripe

.github/CODEOWNERS:

# Global - fallback to this group if the following groups don't match
* @stripe/stripe-android-sdk-reviewers

# Payments SDK
/payments/ @jaynewstrom-stripe @tillh-stripe @ccen-stripe @jameswoo-stripe
/paymentsheet/ @jaynewstrom-stripe @tillh-stripe @jameswoo-stripe
/wechatpay/ @jaynewstrom-stripe @tillh-stripe @ccen-stripe @jameswoo-stripe
/stripe-test-e2e/ @jaynewstrom-stripe @tillh-stripe @jameswoo-stripe
/link/ @jaynewstrom-stripe @tillh-stripe @jameswoo-stripe @ccen-stripe @carlosmuvi-stripe
/payment-method-messaging/ @jaynewstrom-stripe @tillh-stripe @jameswoo-stripe

# CardScan SDK
/stripecardscan/ @awush-stripe @ccen-stripe
/stripecardscan-example/ @awush-stripe @ccen-stripe

# Identity SDK
/identity/ @ccen-stripe @awush-stripe @carlosmuvi-stripe
/identity-example/ @ccen-stripe @awush-stripe @carlosmuvi-stripe

# Financial Connections SDK
/financial-connections/ @carlosmuvi-stripe @ccen-stripe
/financial-connections-example/ @carlosmuvi-stripe @ccen-stripe

# Shared modules
/camera-core/ @ccen-stripe @awush-stripe

# Configuration files
*.gradle @stripe/stripe-android-sdk-reviewers
