Repository stripe/stripe-android, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stripe/stripe-android-sdk-reviewers, @jaynewstrom-stripe, @tillh-stripe, @ccen-stripe, @jameswoo-stripe, @carlosmuvi-stripe, @awush-stripe

Fixes pending field.
  financial-connections/src/main/java/com/stripe/android/financialconnections/model/FinancialConnectionsSession.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Adds terminate option to complete the session and close the AuthFlow.
  financial-connections/src/main/java/com/stripe/android/financialconnections/domain/NativeAuthFlowCoordinator.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/manualentry/ManualEntryScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/manualentry/ManualEntryViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/presentation/FinancialConnectionsSheetNativeViewModel.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Adds an cancelled exception with the bundled session.
  financial-connections/src/main/java/com/stripe/android/financialconnections/exception/AuthFlowCancelledError.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/presentation/FinancialConnectionsSheetNativeViewModel.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Rephrases comment.
  financial-connections/src/main/java/com/stripe/android/financialconnections/exception/AuthFlowCancelledError.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Disable hanging Compose tests
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentOptionsActivityTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetActivityTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/PaymentOptionsTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/PaymentSheetTopBarTest.kt
  paymentsheet/src/test/java/com/stripe/android/utils/HackyComposeTestRule.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Add a test for flow controller.
  network-testing/src/main/java/com/stripe/android/networktesting/NetworkDispatcher.kt
  network-testing/src/main/java/com/stripe/android/networktesting/NetworkRule.kt
  network-testing/src/main/java/com/stripe/android/networktesting/RequestMatchers.kt
  network-testing/src/main/java/com/stripe/android/networktesting/TestBodyFromFile.kt
  paymentsheet/src/androidTest/java/com/stripe/android/paymentsheet/PaymentSheetTest.kt
Owners: @stripe/stripe-android-sdk-reviewers, @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Self code reveiw.
  network-testing/src/main/java/com/stripe/android/networktesting/TestBodyFromFile.kt
  paymentsheet/build.gradle
Owners: @stripe/stripe-android-sdk-reviewers

Upload all modules failed instrumentation test results.
  .github/workflows/end_to_end_tests.yml
  .github/workflows/financialconnections_nightly.yaml
  .github/workflows/financialconnections_pull_request.yml
  .github/workflows/identity_pull_request.yml
  .github/workflows/instrumentation_tests.yml
  .github/workflows/pull_request.yml
  scripts/execute_instrumentation_tests.sh
Owners: @stripe/stripe-android-sdk-reviewers

Upload all modules failed instrumentation test results. (#6135)
  .github/workflows/end_to_end_tests.yml
  .github/workflows/financialconnections_nightly.yaml
  .github/workflows/financialconnections_pull_request.yml
  .github/workflows/identity_pull_request.yml
  .github/workflows/instrumentation_tests.yml
  .github/workflows/pull_request.yml
  scripts/execute_instrumentation_tests.sh
Owners: @stripe/stripe-android-sdk-reviewers

Fix primary button label regression
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetActivity.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetViewModel.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetActivityTest.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Inline enqueuedResponses.
  network-testing/src/main/java/com/stripe/android/networktesting/NetworkDispatcher.kt
Owners: @stripe/stripe-android-sdk-reviewers

use shared uiautomator version.
  paymentsheet/build.gradle
Owners: @stripe/stripe-android-sdk-reviewers

Use volatile properties instead of AtomicReferences.
  network-testing/src/main/java/com/stripe/android/networktesting/NetworkRule.kt
  stripe-core/src/main/java/com/stripe/android/core/networking/ApiRequest.kt
  stripe-core/src/main/java/com/stripe/android/core/networking/ConnectionFactory.kt
Owners: @stripe/stripe-android-sdk-reviewers

Show loading if manual entry has to be skipped.
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/manualentry/ManualEntryScreen.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Update changelog
  CHANGELOG.md
Owners: @stripe/stripe-android-sdk-reviewers

Regenerates APIs.
  stripe-ui-core/api/stripe-ui-core.api
  stripe-ui-core/src/main/java/com/stripe/android/uicore/elements/OTPElementUI.kt
  stripe-ui-core/src/main/java/com/stripe/android/uicore/elements/PhoneNumberElementUI.kt
Owners: @stripe/stripe-android-sdk-reviewers

Regenerates APIs.
  payments-ui-core/api/payments-ui-core.api
Owners: @stripe/stripe-android-sdk-reviewers

Fix lint.
  network-testing/src/main/java/com/stripe/android/networktesting/NetworkRule.kt
Owners: @stripe/stripe-android-sdk-reviewers

Removes local prepane code.
  financial-connections/res/drawable/stripe_ic_partner_finicity.xml
  financial-connections/res/drawable/stripe_ic_partner_mx.xml
  financial-connections/res/values/strings.xml
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/common/PartnerCallout.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/partnerauth/PartnerAuthScreen.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Add locale and currency to payment sheet events
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentOptionsViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/analytics/DefaultEventReporter.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/analytics/EventReporter.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/analytics/PaymentSheetEvent.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/flowcontroller/DefaultFlowController.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/model/Intent.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/viewmodels/BaseSheetViewModel.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentOptionsViewModelTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetViewModelTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/analytics/DefaultEventReporterTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/analytics/PaymentSheetEventTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/flowcontroller/DefaultFlowControllerTest.kt
  stripe-core/src/main/java/com/stripe/android/core/networking/AnalyticsRequestFactory.kt
  stripe-core/src/main/java/com/stripe/android/core/networking/QueryStringFactory.kt
  stripe-core/src/test/java/com/stripe/android/core/networking/QueryStringFactoryTest.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe, @stripe/stripe-android-sdk-reviewers

Prepare for mock network test follow ups.
  payments-model/build.gradle
  payments-model/src/test/java/com/stripe/android/repository/ConsumersApiServiceImplTest.kt
  paymentsheet/src/androidTest/java/com/stripe/android/paymentsheet/PaymentSheetTest.kt
  paymentsheet/src/androidTest/resources/payment-intent-get-requires_payment_method.json
  paymentsheet/src/androidTest/resources/payment-intent-get-success.json
Owners: @stripe/stripe-android-sdk-reviewers, @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Fix padding issue in custom flow
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/navigation/PaymentSheetScreen.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Fix primary button label regression and disable hanging tests (#6136)
  CHANGELOG.md
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetActivity.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetViewModel.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentOptionsActivityTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetActivityTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/PaymentOptionsTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/PaymentSheetTopBarTest.kt
  paymentsheet/src/test/java/com/stripe/android/utils/HackyComposeTestRule.kt
Owners: @stripe/stripe-android-sdk-reviewers, @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Update test names, and ensure tests run on small devices.
  paymentsheet/src/androidTest/java/com/stripe/android/paymentsheet/PaymentSheetTest.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Fix padding issue in custom flow (#6141)
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/navigation/PaymentSheetScreen.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Add locale and currency to payment sheet events (#6140)
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentOptionsViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/analytics/DefaultEventReporter.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/analytics/EventReporter.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/analytics/PaymentSheetEvent.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/flowcontroller/DefaultFlowController.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/model/Intent.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/viewmodels/BaseSheetViewModel.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentOptionsViewModelTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetViewModelTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/analytics/DefaultEventReporterTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/analytics/PaymentSheetEventTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/flowcontroller/DefaultFlowControllerTest.kt
  stripe-core/src/main/java/com/stripe/android/core/networking/AnalyticsRequestFactory.kt
  stripe-core/src/main/java/com/stripe/android/core/networking/QueryStringFactory.kt
  stripe-core/src/test/java/com/stripe/android/core/networking/QueryStringFactoryTest.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe, @stripe/stripe-android-sdk-reviewers

Consume the back button press when processing.
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/BaseSheetActivity.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/viewmodels/BaseSheetViewModel.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetViewModelTest.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Add changelog.
  CHANGELOG.md
Owners: @stripe/stripe-android-sdk-reviewers

Mock network tests. (#6115)
  build.gradle
  dependencies.gradle
  financial-connections/src/main/java/com/stripe/android/financialconnections/repository/FinancialConnectionsAccountsRepository.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/repository/FinancialConnectionsInstitutionsRepository.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/repository/FinancialConnectionsManifestRepository.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/repository/FinancialConnectionsRepository.kt
  network-testing/build.gradle
  network-testing/detekt-baseline.xml
  network-testing/src/main/java/com/stripe/android/networktesting/NetworkDispatcher.kt
  network-testing/src/main/java/com/stripe/android/networktesting/NetworkRule.kt
  network-testing/src/main/java/com/stripe/android/networktesting/RequestMatchers.kt
  network-testing/src/main/java/com/stripe/android/networktesting/TestBodyFromFile.kt
  network-testing/src/main/java/com/stripe/android/networktesting/TestMockWebServer.kt
  network-testing/src/main/java/com/stripe/android/networktesting/TestRecordedRequest.kt
  paymentsheet/build.gradle
  paymentsheet/src/androidTest/java/com/stripe/android/paymentsheet/PaymentSheetTest.kt
  paymentsheet/src/androidTest/resources/elements-sessions-requires_payment_method.json
  paymentsheet/src/androidTest/resources/payment-intent-confirm.json
  paymentsheet/src/androidTest/resources/payment-intent-get.json
  settings.gradle
  stripe-core/api/stripe-core.api
  stripe-core/src/main/java/com/stripe/android/core/networking/ApiRequest.kt
  stripe-core/src/main/java/com/stripe/android/core/networking/ConnectionFactory.kt
Owners: @stripe/stripe-android-sdk-reviewers, @carlosmuvi-stripe, @ccen-stripe, @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Update CHANGELOG.md
  CHANGELOG.md
Owners: @stripe/stripe-android-sdk-reviewers

Move OTPElementUI to stripe-ui-core (#6131)
  link/src/androidTest/java/com/stripe/android/link/ui/verification/VerificationScreenTest.kt
  link/src/main/java/com/stripe/android/link/theme/Color.kt
  link/src/main/java/com/stripe/android/link/ui/verification/VerificationScreen.kt
  payments-ui-core/api/payments-ui-core.api
  payments-ui-core/detekt-baseline.xml
  payments-ui-core/src/main/java/com/stripe/android/ui/core/FormController.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/FormUI.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/elements/AffirmHeaderElement.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/elements/AffirmTextSpec.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/elements/AfterpayClearpayHeaderElement.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/elements/AfterpayClearpayTextSpec.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/elements/AuBecsDebitMandateTextElement.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/elements/AuBecsDebitMandateTextSpec.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/elements/BsbElement.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/elements/CardDetailsSectionElement.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/elements/CardDetailsSectionSpec.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/elements/EmptyFormElement.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/elements/FormElement.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/elements/KlarnaHeaderStaticTextSpec.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/elements/MandateTextElement.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/elements/MandateTextSpec.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/elements/OTPSpec.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/elements/SaveForFutureUseElement.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/elements/SaveForFutureUseSpec.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/elements/SectionElement.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/elements/SepaMandateTextSpec.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/elements/StaticTextElement.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/elements/StaticTextSpec.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/forms/TransformSpecToElements.kt
  payments-ui-core/src/test/java/com/stripe/android/ui/core/elements/OTPControllerTest.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/PaymentMethodForm.kt
  stripe-ui-core/api/stripe-ui-core.api
  stripe-ui-core/detekt-baseline.xml
  stripe-ui-core/src/main/java/com/stripe/android/uicore/elements/FormElement.kt
  stripe-ui-core/src/main/java/com/stripe/android/uicore/elements/OTPController.kt
  stripe-ui-core/src/main/java/com/stripe/android/uicore/elements/OTPElement.kt
  stripe-ui-core/src/main/java/com/stripe/android/uicore/elements/OTPElementUI.kt
  stripe-ui-core/src/main/java/com/stripe/android/uicore/elements/PhoneNumberElementUI.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe, @ccen-stripe, @carlosmuvi-stripe, @stripe/stripe-android-sdk-reviewers

Regenerates API.
  payments-ui-core/api/payments-ui-core.api
Owners: @stripe/stripe-android-sdk-reviewers

Update to stripe 3ds2 6.1.6.
  build.gradle
  payments-core/build.gradle
Owners: @stripe/stripe-android-sdk-reviewers

WIP.
  bitrise.yml
Owners: @stripe/stripe-android-sdk-reviewers

Test trigger nightly
  bitrise.yml
Owners: @stripe/stripe-android-sdk-reviewers

Test trigger nightly
  bitrise.yml
Owners: @stripe/stripe-android-sdk-reviewers

Install maestro.
  bitrise.yml
Owners: @stripe/stripe-android-sdk-reviewers

Add to path.
  bitrise.yml
Owners: @stripe/stripe-android-sdk-reviewers

Test ConsumersApiServiceImpl with mock network.
  payments-model/build.gradle
  payments-model/src/test/java/com/stripe/android/repository/ConsumersApiServiceImplTest.kt
Owners: @stripe/stripe-android-sdk-reviewers

Add to path.
  bitrise.yml
Owners: @stripe/stripe-android-sdk-reviewers

.github/CODEOWNERS:

# Global - fallback to this group if the following groups don't match
* @stripe/stripe-android-sdk-reviewers

# Payments SDK
/payments/ @jaynewstrom-stripe @tillh-stripe @ccen-stripe @jameswoo-stripe
/paymentsheet/ @jaynewstrom-stripe @tillh-stripe @jameswoo-stripe
/wechatpay/ @jaynewstrom-stripe @tillh-stripe @ccen-stripe @jameswoo-stripe
/stripe-test-e2e/ @jaynewstrom-stripe @tillh-stripe @jameswoo-stripe
/link/ @jaynewstrom-stripe @tillh-stripe @jameswoo-stripe @ccen-stripe @carlosmuvi-stripe
/payment-method-messaging/ @jaynewstrom-stripe @tillh-stripe @jameswoo-stripe

# CardScan SDK
/stripecardscan/ @awush-stripe @ccen-stripe
/stripecardscan-example/ @awush-stripe @ccen-stripe

# Identity SDK
/identity/ @ccen-stripe @awush-stripe @carlosmuvi-stripe
/identity-example/ @ccen-stripe @awush-stripe @carlosmuvi-stripe

# Financial Connections SDK
/financial-connections/ @carlosmuvi-stripe @ccen-stripe
/financial-connections-example/ @carlosmuvi-stripe @ccen-stripe

# Shared modules
/camera-core/ @ccen-stripe @awush-stripe

# Configuration files
*.gradle @stripe/stripe-android-sdk-reviewers
