Repository stripe/stripe-android, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stripe/stripe-android-sdk-reviewers, @jaynewstrom-stripe, @tillh-stripe, @ccen-stripe, @jameswoo-stripe, @carlosmuvi-stripe, @awush-stripe

Remove Espresso idling resources from paymentsheet
  paymentsheet-example/build.gradle
  paymentsheet/build.gradle
Owners: @stripe/stripe-android-sdk-reviewers

Fix BrowserStack tests
  paymentsheet-example/src/androidTestDebug/java/com/stripe/android/TestAuthorization.kt
  paymentsheet-example/src/androidTestDebug/java/com/stripe/android/TestHardCodedLpms.kt
  paymentsheet-example/src/androidTestDebug/java/com/stripe/android/TestMultiStepFieldsReloaded.kt
  paymentsheet-example/src/androidTestDebug/java/com/stripe/android/test/core/PlaygroundTestDriver.kt
  paymentsheet-example/src/androidTestDebug/java/com/stripe/android/test/core/TestParameters.kt
  paymentsheet-example/src/androidTestDebug/java/com/stripe/android/test/core/ui/EspressoText.kt
  paymentsheet-example/src/androidTestDebug/java/com/stripe/android/test/core/ui/Selectors.kt
Owners: @stripe/stripe-android-sdk-reviewers

Fix BrowserStack tests (#6197)
  paymentsheet-example/src/androidTestDebug/java/com/stripe/android/TestAuthorization.kt
  paymentsheet-example/src/androidTestDebug/java/com/stripe/android/TestHardCodedLpms.kt
  paymentsheet-example/src/androidTestDebug/java/com/stripe/android/TestMultiStepFieldsReloaded.kt
  paymentsheet-example/src/androidTestDebug/java/com/stripe/android/test/core/PlaygroundTestDriver.kt
  paymentsheet-example/src/androidTestDebug/java/com/stripe/android/test/core/TestParameters.kt
  paymentsheet-example/src/androidTestDebug/java/com/stripe/android/test/core/ui/EspressoText.kt
  paymentsheet-example/src/androidTestDebug/java/com/stripe/android/test/core/ui/Selectors.kt
Owners: @stripe/stripe-android-sdk-reviewers

Simplify PaymentMethodsUIScreenshotTest to only test layout. (#6189)
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/PaymentMethodsUIScreenshotTest.kt
  paymentsheet/src/test/java/com/stripe/android/utils/MockPaymentMethodsFactory.kt
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testDisabled[DarkTheme,CrazyAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testDisabled[DarkTheme,CrazyAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testDisabled[DarkTheme,CustomAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testDisabled[DarkTheme,CustomAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testDisabled[DarkTheme,DefaultAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testDisabled[DarkTheme,DefaultAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testDisabled[LightTheme,CrazyAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testDisabled[LightTheme,CrazyAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testDisabled[LightTheme,CustomAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testDisabled[LightTheme,CustomAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testDisabled[LightTheme,DefaultAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testDisabled[LightTheme,DefaultAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testInitialState[DarkTheme,CrazyAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testInitialState[DarkTheme,CrazyAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testInitialState[DarkTheme,CustomAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testInitialState[DarkTheme,CustomAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testInitialState[DarkTheme,DefaultAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testInitialState[DarkTheme,DefaultAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testInitialState[LightTheme,CrazyAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testInitialState[LightTheme,CrazyAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testInitialState[LightTheme,CustomAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testInitialState[LightTheme,CustomAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testInitialState[LightTheme,DefaultAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testLongPaymentMethodName[LightTheme,DefaultAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testScrolledToEnd[DarkTheme,CrazyAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testScrolledToEnd[DarkTheme,CrazyAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testScrolledToEnd[DarkTheme,CustomAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testScrolledToEnd[DarkTheme,CustomAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testScrolledToEnd[DarkTheme,DefaultAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testScrolledToEnd[DarkTheme,DefaultAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testScrolledToEnd[LightTheme,CrazyAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testScrolledToEnd[LightTheme,CrazyAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testScrolledToEnd[LightTheme,CustomAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testScrolledToEnd[LightTheme,CustomAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testScrolledToEnd[LightTheme,DefaultAppearance,DefaultFont].png
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Remove Espresso idling resources from paymentsheet (#6196)
  paymentsheet-example/build.gradle
  paymentsheet/build.gradle
Owners: @stripe/stripe-android-sdk-reviewers

Peek the last payment method in PaymentMethodsUI.
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentMethodsUI.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/PaymentMethodsUIScreenshotTest.kt
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testInitialState[LightTheme,DefaultAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testLongPaymentMethodName[DarkTheme,CrazyAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testLongPaymentMethodName[DarkTheme,CrazyAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testLongPaymentMethodName[DarkTheme,CustomAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testLongPaymentMethodName[DarkTheme,CustomAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testLongPaymentMethodName[DarkTheme,DefaultAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testLongPaymentMethodName[DarkTheme,DefaultAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testLongPaymentMethodName[LightTheme,CrazyAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testLongPaymentMethodName[LightTheme,CrazyAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testLongPaymentMethodName[LightTheme,CustomAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testLongPaymentMethodName[LightTheme,CustomAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testLongPaymentMethodName[LightTheme,DefaultAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testScrolledToEnd[LightTheme,DefaultAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testTwoPaymentMethodsExpandToFit[DarkTheme,CrazyAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testTwoPaymentMethodsExpandToFit[DarkTheme,CrazyAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testTwoPaymentMethodsExpandToFit[DarkTheme,CustomAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testTwoPaymentMethodsExpandToFit[DarkTheme,CustomAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testTwoPaymentMethodsExpandToFit[DarkTheme,DefaultAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testTwoPaymentMethodsExpandToFit[DarkTheme,DefaultAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testTwoPaymentMethodsExpandToFit[LightTheme,CrazyAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testTwoPaymentMethodsExpandToFit[LightTheme,CrazyAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testTwoPaymentMethodsExpandToFit[LightTheme,CustomAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testTwoPaymentMethodsExpandToFit[LightTheme,CustomAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testTwoPaymentMethodsExpandToFit[LightTheme,DefaultAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testTwoPaymentMethodsExpandToFit[LightTheme,DefaultAppearance,LargeFont].png
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Update detekt.
  paymentsheet/detekt-baseline.xml
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Calculate the ideal peek amount.
  paymentsheet/detekt-baseline.xml
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentMethodsUI.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/PaymentMethodsUIScreenshotTest.kt
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testInitialState[LightTheme,DefaultAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testLongPaymentMethodName[DarkTheme,CrazyAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testLongPaymentMethodName[DarkTheme,CrazyAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testLongPaymentMethodName[DarkTheme,CustomAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testLongPaymentMethodName[DarkTheme,CustomAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testLongPaymentMethodName[DarkTheme,DefaultAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testLongPaymentMethodName[DarkTheme,DefaultAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testLongPaymentMethodName[LightTheme,CrazyAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testLongPaymentMethodName[LightTheme,CrazyAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testLongPaymentMethodName[LightTheme,CustomAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testLongPaymentMethodName[LightTheme,CustomAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testLongPaymentMethodName[LightTheme,DefaultAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testLongPaymentMethodName[LightTheme,DefaultAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testScrolledToEnd[LightTheme,DefaultAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testTwoPaymentMethodsExpandToFit[DarkTheme,CrazyAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testTwoPaymentMethodsExpandToFit[DarkTheme,CrazyAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testTwoPaymentMethodsExpandToFit[DarkTheme,CustomAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testTwoPaymentMethodsExpandToFit[DarkTheme,CustomAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testTwoPaymentMethodsExpandToFit[DarkTheme,DefaultAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testTwoPaymentMethodsExpandToFit[DarkTheme,DefaultAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testTwoPaymentMethodsExpandToFit[LightTheme,CrazyAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testTwoPaymentMethodsExpandToFit[LightTheme,CrazyAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testTwoPaymentMethodsExpandToFit[LightTheme,CustomAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testTwoPaymentMethodsExpandToFit[LightTheme,CustomAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testTwoPaymentMethodsExpandToFit[LightTheme,DefaultAppearance,DefaultFont].png
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Peek the last payment method in PaymentMethodsUI. (#6166)
  paymentsheet/detekt-baseline.xml
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentMethodsUI.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/PaymentMethodsUIScreenshotTest.kt
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testInitialState[LightTheme,DefaultAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testLongPaymentMethodName[LightTheme,DefaultAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testScrolledToEnd[LightTheme,DefaultAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testTwoPaymentMethodsExpandToFit[LightTheme,DefaultAppearance,LargeFont].png
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Revert deleted trigger.
  bitrise.yml
Owners: @stripe/stripe-android-sdk-reviewers

Makes surface dynamic.
  link/src/main/java/com/stripe/android/link/repositories/LinkApiRepository.kt
  link/src/test/java/com/stripe/android/link/repositories/LinkApiRepositoryTest.kt
  payments-model/src/main/java/com/stripe/android/repository/ConsumersApiService.kt
  payments-model/src/test/java/com/stripe/android/repository/ConsumersApiServiceImplTest.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe, @ccen-stripe, @carlosmuvi-stripe, @stripe/stripe-android-sdk-reviewers

Uses assertThat.
  payments-model/src/test/java/com/stripe/android/repository/ConsumersApiServiceImplTest.kt
Owners: @stripe/stripe-android-sdk-reviewers

Fixes tests.
  link/src/test/java/com/stripe/android/link/repositories/LinkApiRepositoryTest.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe, @ccen-stripe, @carlosmuvi-stripe

Move ConsumerVerification endpoint to payments-model (#6132)
  link/src/main/java/com/stripe/android/link/repositories/LinkApiRepository.kt
  link/src/test/java/com/stripe/android/link/repositories/LinkApiRepositoryTest.kt
  payments-core/src/main/java/com/stripe/android/networking/StripeApiRepository.kt
  payments-core/src/main/java/com/stripe/android/networking/StripeRepository.kt
  payments-core/src/test/java/com/stripe/android/model/ConsumerFixtures.kt
  payments-core/src/test/java/com/stripe/android/networking/AbsFakeStripeRepository.kt
  payments-core/src/test/java/com/stripe/android/networking/StripeApiRepositoryTest.kt
  payments-model/src/main/java/com/stripe/android/repository/ConsumersApiService.kt
  payments-model/src/test/java/com/stripe/android/ConsumerFixtures.kt
  payments-model/src/test/java/com/stripe/android/model/parsers/ConsumerSessionJsonParserTest.kt
  payments-model/src/test/java/com/stripe/android/repository/ConsumersApiServiceImplTest.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe, @ccen-stripe, @carlosmuvi-stripe, @stripe/stripe-android-sdk-reviewers

Adds verification screen skeleton.
  financial-connections/res/values/strings.xml
  financial-connections/src/main/java/com/stripe/android/financialconnections/di/FinancialConnectionsSheetNativeComponent.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/domain/GoNext.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinkverification/NetworkingLinkVerificationScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinkverification/NetworkingLinkVerificationSubcomponent.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinkverification/NetworkingLinkVerificationViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/navigation/NavigationCommand.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/ui/FinancialConnectionsSheetNativeActivity.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Move endpoint to payments model.
  link/src/main/java/com/stripe/android/link/repositories/LinkApiRepository.kt
  link/src/test/java/com/stripe/android/link/repositories/LinkApiRepositoryTest.kt
  payments-core/src/main/java/com/stripe/android/networking/StripeApiRepository.kt
  payments-core/src/main/java/com/stripe/android/networking/StripeRepository.kt
  payments-core/src/test/java/com/stripe/android/networking/StripeApiRepositoryTest.kt
  payments-model/src/main/java/com/stripe/android/repository/ConsumersApiService.kt
  payments-model/src/test/java/com/stripe/android/repository/ConsumersApiServiceImplTest.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe, @ccen-stripe, @carlosmuvi-stripe, @stripe/stripe-android-sdk-reviewers

[Financial Connections] Run maestro tests to Bitrise (#6145)
  bitrise.yml
  maestro/common/subflow-skip-chrome-welcome.yaml
Owners: @stripe/stripe-android-sdk-reviewers

Fix tests.
  payments-model/src/test/java/com/stripe/android/repository/ConsumersApiServiceImplTest.kt
Owners: @stripe/stripe-android-sdk-reviewers

Fixes tests.
  payments-core/src/test/java/com/stripe/android/networking/AbsFakeStripeRepository.kt
Owners: @stripe/stripe-android-sdk-reviewers

Move ConfirmVerification endpoint to payments-model (#6201)
  link/src/main/java/com/stripe/android/link/repositories/LinkApiRepository.kt
  link/src/test/java/com/stripe/android/link/repositories/LinkApiRepositoryTest.kt
  payments-core/src/main/java/com/stripe/android/networking/StripeApiRepository.kt
  payments-core/src/main/java/com/stripe/android/networking/StripeRepository.kt
  payments-core/src/test/java/com/stripe/android/networking/AbsFakeStripeRepository.kt
  payments-core/src/test/java/com/stripe/android/networking/StripeApiRepositoryTest.kt
  payments-model/src/main/java/com/stripe/android/repository/ConsumersApiService.kt
  payments-model/src/test/java/com/stripe/android/repository/ConsumersApiServiceImplTest.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe, @ccen-stripe, @carlosmuvi-stripe, @stripe/stripe-android-sdk-reviewers

Adds repository and caches consumer session.
  financial-connections/src/main/java/com/stripe/android/financialconnections/di/FinancialConnectionsSheetNativeModule.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/domain/GetConsumerSession.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/domain/StartVerification.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinksignup/NetworkingLinkSignupViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinkverification/NetworkingLinkVerificationViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/repository/FinancialConnectionsConsumerSessionRepository.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Adds confirm verification call.
  financial-connections/src/main/java/com/stripe/android/financialconnections/domain/ConfirmVerification.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinkverification/NetworkingLinkVerificationScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinkverification/NetworkingLinkVerificationViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/repository/FinancialConnectionsConsumerSessionRepository.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Disables OTP when loading.
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinkverification/NetworkingLinkVerificationScreen.kt
  stripe-ui-core/src/main/java/com/stripe/android/uicore/elements/OTPElementUI.kt
Owners: @carlosmuvi-stripe, @ccen-stripe, @stripe/stripe-android-sdk-reviewers

Adds recording.
  bitrise.yml
Owners: @stripe/stripe-android-sdk-reviewers

Adds missing title.
  bitrise.yml
Owners: @stripe/stripe-android-sdk-reviewers

Revert - triggers build.
  bitrise.yml
Owners: @stripe/stripe-android-sdk-reviewers

Record after compile
  bitrise.yml
Owners: @stripe/stripe-android-sdk-reviewers

Record after compile
  bitrise.yml
Owners: @stripe/stripe-android-sdk-reviewers

Update to gradle 8.
  build-configuration/android-library.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  settings.gradle
Owners: @stripe/stripe-android-sdk-reviewers

Updates changelog.
  CHANGELOG.md
Owners: @stripe/stripe-android-sdk-reviewers

Updates changelog. (#6206)
  CHANGELOG.md
Owners: @stripe/stripe-android-sdk-reviewers

Removes focus when processing.
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinkverification/NetworkingLinkVerificationScreen.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Add tests
  paymentsheet/src/androidTest/AndroidManifest.xml
  paymentsheet/src/androidTest/java/com/stripe/android/paymentsheet/ui/GooglePayButtonTest.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Update API
  paymentsheet/api/paymentsheet.api
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Wrap `GooglePayButton` in `AndroidView`
  paymentsheet/res/layout/activity_payment_sheet.xml
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetActivity.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/GooglePayButton.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Bump version to 20.19.3
  README.md
  VERSION
  gradle.properties
  stripe-core/src/main/java/com/stripe/android/core/version/StripeSdkVersion.kt
Owners: @stripe/stripe-android-sdk-reviewers

Update to gradle 8. (#6204)
  build-configuration/android-library.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  settings.gradle
Owners: @stripe/stripe-android-sdk-reviewers

Bump version to 20.19.3 (#6207)
  README.md
  VERSION
  gradle.properties
  stripe-core/src/main/java/com/stripe/android/core/version/StripeSdkVersion.kt
Owners: @stripe/stripe-android-sdk-reviewers

[stripe-ui-core] nullable label and PlaceHolder in TextFieldController
  stripe-ui-core/build.gradle
  stripe-ui-core/src/main/java/com/stripe/android/uicore/elements/AddressTextFieldController.kt
  stripe-ui-core/src/main/java/com/stripe/android/uicore/elements/InputController.kt
  stripe-ui-core/src/main/java/com/stripe/android/uicore/elements/PlaceHolder.kt
  stripe-ui-core/src/main/java/com/stripe/android/uicore/elements/SimpleTextFieldConfig.kt
  stripe-ui-core/src/main/java/com/stripe/android/uicore/elements/TextFieldConfig.kt
  stripe-ui-core/src/main/java/com/stripe/android/uicore/elements/TextFieldController.kt
  stripe-ui-core/src/main/java/com/stripe/android/uicore/elements/TextFieldUI.kt
  stripe-ui-core/src/test/java/com/stripe/android/uicore/elements/SimpleTextFieldControllerTest.kt
Owners: @stripe/stripe-android-sdk-reviewers

lint and dump
  stripe-ui-core/api/stripe-ui-core.api
  stripe-ui-core/src/main/java/com/stripe/android/uicore/elements/TextFieldController.kt
  stripe-ui-core/src/test/java/com/stripe/android/uicore/elements/SimpleTextFieldControllerTest.kt
Owners: @stripe/stripe-android-sdk-reviewers

.github/CODEOWNERS:

# Global - fallback to this group if the following groups don't match
* @stripe/stripe-android-sdk-reviewers

# Payments SDK
/payments/ @jaynewstrom-stripe @tillh-stripe @ccen-stripe @jameswoo-stripe
/paymentsheet/ @jaynewstrom-stripe @tillh-stripe @jameswoo-stripe
/wechatpay/ @jaynewstrom-stripe @tillh-stripe @ccen-stripe @jameswoo-stripe
/stripe-test-e2e/ @jaynewstrom-stripe @tillh-stripe @jameswoo-stripe
/link/ @jaynewstrom-stripe @tillh-stripe @jameswoo-stripe @ccen-stripe @carlosmuvi-stripe
/payment-method-messaging/ @jaynewstrom-stripe @tillh-stripe @jameswoo-stripe

# CardScan SDK
/stripecardscan/ @awush-stripe @ccen-stripe
/stripecardscan-example/ @awush-stripe @ccen-stripe

# Identity SDK
/identity/ @ccen-stripe @awush-stripe @carlosmuvi-stripe
/identity-example/ @ccen-stripe @awush-stripe @carlosmuvi-stripe

# Financial Connections SDK
/financial-connections/ @carlosmuvi-stripe @ccen-stripe
/financial-connections-example/ @carlosmuvi-stripe @ccen-stripe

# Shared modules
/camera-core/ @ccen-stripe @awush-stripe

# Configuration files
*.gradle @stripe/stripe-android-sdk-reviewers
