Repository stripe/stripe-android, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stripe/stripe-android-sdk-reviewers, @jaynewstrom-stripe, @tillh-stripe, @ccen-stripe, @jameswoo-stripe, @carlosmuvi-stripe, @awush-stripe

[Identity] Parse additional fields for id/addr (#6159)
  identity/api/identity.api
  identity/src/main/java/com/stripe/android/identity/networking/models/VerificationPage.kt
  identity/src/main/java/com/stripe/android/identity/networking/models/VerificationPageStaticContentCountryNotListedPage.kt
  identity/src/main/java/com/stripe/android/identity/networking/models/VerificationPageStaticContentIndividualPage.kt
  identity/src/test/java/com/stripe/android/identity/networking/DefaultIdentityRepositoryTest.kt
  identity/src/test/java/com/stripe/android/identity/networking/IdentityNetworkResponseFixtures.kt
Owners: @ccen-stripe, @awush-stripe, @carlosmuvi-stripe

Center the payment sheet on tablets. (#6172)
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/BaseSheetActivity.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetActivityTest.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Backend-driven OAuth pre-pane (#5962)
  financial-connections/api/financial-connections.api
  financial-connections/build.gradle
  financial-connections/res/drawable/stripe_ic_partner_finicity.xml
  financial-connections/res/drawable/stripe_ic_partner_mx.xml
  financial-connections/res/drawable/stripe_prepane_phone_bg.xml
  financial-connections/res/values/strings.xml
  financial-connections/src/main/java/com/stripe/android/financialconnections/domain/OauthPrepane.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/MarkdownParser.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/common/ModalBottomSheetContent.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/common/PartnerCallout.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/consent/ConsentScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/consent/ConsentViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/partnerauth/PartnerAuthScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/partnerauth/PartnerAuthState.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/partnerauth/PartnerAuthViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/model/FinancialConnectionsAuthorizationSession.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/model/FinancialConnectionsInstitution.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/model/Image.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/model/SynchronizeSessionResponse.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/model/serializer/EntrySerializer.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/model/serializer/MarkdownToHtmlSerializer.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/ApiKeyFixtures.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/features/MarkdownParserTest.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/features/partnerauth/PartnerAuthViewModelTest.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/presentation/FinancialConnectionsSheetNativeStateTest.kt
Owners: @carlosmuvi-stripe, @ccen-stripe, @stripe/stripe-android-sdk-reviewers

Adds clickable text lambda.
  financial-connections/res/values/strings.xml
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinksignup/NetworkingLinkSignupScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinksignup/NetworkingLinkSignupViewModel.kt
  payments-model/src/main/java/com/stripe/android/model/ConsumerSessionLookup.kt
Owners: @carlosmuvi-stripe, @ccen-stripe, @stripe/stripe-android-sdk-reviewers

Extracts strings.
  financial-connections/res/values/strings.xml
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinksignup/NetworkingLinkSignupScreen.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Updates changelog.
  CHANGELOG.md
Owners: @stripe/stripe-android-sdk-reviewers

Updates changelog. (#6180)
  CHANGELOG.md
Owners: @stripe/stripe-android-sdk-reviewers

Bump version to 20.19.2
  README.md
  VERSION
  gradle.properties
  stripe-core/src/main/java/com/stripe/android/core/version/StripeSdkVersion.kt
Owners: @stripe/stripe-android-sdk-reviewers

Adds merchant name.
  financial-connections/res/drawable/stripe_ic_convert.xml
  financial-connections/res/drawable/stripe_ic_disputeprotection.xml
  financial-connections/res/values/strings.xml
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/common/ModalBottomSheetContent.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinksignup/NetworkingLinkSignupScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinksignup/NetworkingLinkSignupViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/ui/TextResource.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/ui/sdui/ServerDrivenUi.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/paymentdatacollection/ach/TransformToBankImageResourceTest.kt
Owners: @carlosmuvi-stripe, @ccen-stripe, @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Bump version to 20.19.2 (#6181)
  README.md
  VERSION
  gradle.properties
  stripe-core/src/main/java/com/stripe/android/core/version/StripeSdkVersion.kt
Owners: @stripe/stripe-android-sdk-reviewers

Adds close confirmation.
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinksignup/NetworkingLinkSignupScreen.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Merge fixes.
  financial-connections/api/financial-connections.api
Owners: @carlosmuvi-stripe, @ccen-stripe

Removes back click.
  maestro/financial-connections/Testmode-Token-ManualEntry.yaml
Owners: @stripe/stripe-android-sdk-reviewers

Removes back click. (#6183)
  maestro/financial-connections/Testmode-Token-ManualEntry.yaml
Owners: @stripe/stripe-android-sdk-reviewers

Fix Compose tests
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentMethodsUI.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentOptionsActivityTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetActivityTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/PaymentOptionsTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/PaymentSheetTopBarTest.kt
  stripe-ui-core/src/main/java/com/stripe/android/uicore/StripeTheme.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe, @stripe/stripe-android-sdk-reviewers

Detekt fixes.
  financial-connections/src/main/java/com/stripe/android/financialconnections/model/FinancialConnectionsSession.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Replace checkboxes by dropdown.
  financial-connections-example/src/main/java/com/stripe/android/financialconnections/example/FinancialConnectionsPlaygroundActivity.kt
  maestro/financial-connections/Testmode-Data-TestOauthInstitution.yaml
  maestro/financial-connections/Testmode-PaymentIntent-TestInstitution.yaml
  maestro/financial-connections/Testmode-Token-ManualEntry.yaml
Owners: @carlosmuvi-stripe, @ccen-stripe, @stripe/stripe-android-sdk-reviewers

Adds strash merchant.
  financial-connections-example/src/main/java/com/stripe/android/financialconnections/example/FinancialConnectionsPlaygroundViewModel.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Replace checkboxes by dropdown. (#6184)
  financial-connections-example/src/main/java/com/stripe/android/financialconnections/example/FinancialConnectionsPlaygroundActivity.kt
  maestro/financial-connections/Testmode-Data-TestOauthInstitution.yaml
  maestro/financial-connections/Testmode-PaymentIntent-TestInstitution.yaml
  maestro/financial-connections/Testmode-Token-ManualEntry.yaml
Owners: @carlosmuvi-stripe, @ccen-stripe, @stripe/stripe-android-sdk-reviewers

Merge fixes.
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/partnerauth/PartnerAuthScreen.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Ktlint fixes.
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinksignup/NetworkingLinkSignupScreen.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Revert Project.xml
  .idea/codestyles/Project.xml
Owners: @stripe/stripe-android-sdk-reviewers

Update strings.xml
  financial-connections/res/values/strings.xml
Owners: @carlosmuvi-stripe, @ccen-stripe

Adds warmup screen skeleton.
  .idea/codestyles/Project.xml
  financial-connections/src/main/java/com/stripe/android/financialconnections/di/FinancialConnectionsSheetNativeComponent.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/domain/GoNext.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinkloginwarmup/NetworkingLinkLoginWarmupScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinkloginwarmup/NetworkingLinkLoginWarmupSubcomponent.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinkloginwarmup/NetworkingLinkLoginWarmupViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/navigation/NavigationCommand.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/ui/FinancialConnectionsSheetNativeActivity.kt
Owners: @stripe/stripe-android-sdk-reviewers, @carlosmuvi-stripe, @ccen-stripe

Detekt and api regeneration.
  financial-connections/api/financial-connections.api
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinksignup/NetworkingLinkSignupViewModel.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Remove enabled from manual entry object.
  financial-connections/src/main/java/com/stripe/android/financialconnections/model/ManualEntry.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Regenerates API.
  financial-connections/api/financial-connections.api
Owners: @carlosmuvi-stripe, @ccen-stripe

Merge fixes.
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/partnerauth/PartnerAuthScreen.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Merge fixes.
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/partnerauth/PartnerAuthScreen.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Adds missing named argument.
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/success/SuccessScreen.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Adds viewmodel tests.
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/success/SuccessViewModel.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/ApiKeyFixtures.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/features/success/SuccessViewModelTest.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Removing not needed things
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/AddressElementPrimaryButtonScreenshotTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/PaymentMethodUIScreenshotTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/PaymentSheetTopBarScreenshotTest.kt
  paymentsheet/src/test/java/com/stripe/android/utils/screenshots/PaparazziRule.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Records screenshots and ktlint fixes
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinksignup/NetworkingLinkSignupViewModel.kt
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.networkinglinksignup_null_NetworkingLinkSignupPane_Enteringemail_,NEXUS_5].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.networkinglinksignup_null_NetworkingLinkSignupPane_Enteringemail_,PIXEL_C].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.networkinglinksignup_null_NetworkingLinkSignupPane_Enteringemail_null,NEXUS_5].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.networkinglinksignup_null_NetworkingLinkSignupPane_Enteringemail_null,PIXEL_C].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.networkinglinksignup_null_NetworkingLinkSignupPane_Enteringphone_,NEXUS_5].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.networkinglinksignup_null_NetworkingLinkSignupPane_Enteringphone_,PIXEL_C].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.networkinglinksignup_null_NetworkingLinkSignupPane_Enteringphone_null,NEXUS_5].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.networkinglinksignup_null_NetworkingLinkSignupPane_Enteringphone_null,PIXEL_C].png
Owners: @carlosmuvi-stripe, @ccen-stripe

Extracts resource.
  financial-connections/res/values/strings.xml
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinksignup/NetworkingLinkSignupScreen.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

[stripe-ui-core] Move SectinoElement to stripe-ui-core
  link/src/main/java/com/stripe/android/link/ui/wallet/WalletScreen.kt
  link/src/test/java/com/stripe/android/link/ui/forms/FormControllerTest.kt
  payments-ui-core/api/payments-ui-core.api
  payments-ui-core/src/main/java/com/stripe/android/ui/core/FormController.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/FormUI.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/elements/AddressSpec.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/elements/CardBillingSpec.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/elements/CardDetailsSectionElementUI.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/elements/FormItemSpec.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/elements/UpiSpec.kt
  payments-ui-core/src/test/java/com/stripe/android/ui/core/forms/TransformSpecToElementTest.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/forms/FormViewModel.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/forms/CompleteFormFieldValueFilterTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/forms/FormViewModelTest.kt
  stripe-ui-core/api/stripe-ui-core.api
  stripe-ui-core/detekt-baseline.xml
  stripe-ui-core/src/main/java/com/stripe/android/uicore/elements/SectionController.kt
  stripe-ui-core/src/main/java/com/stripe/android/uicore/elements/SectionElement.kt
  stripe-ui-core/src/main/java/com/stripe/android/uicore/elements/SectionElementUI.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe, @ccen-stripe, @carlosmuvi-stripe, @stripe/stripe-android-sdk-reviewers

Adds test.
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinksignup/NetworkingLinkSignupViewModel.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/features/networkinglinksignup/NetworkingLinkSignupViewModelTest.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Reverts unintentional changes.
  link/src/main/java/com/stripe/android/link/ui/signup/SignUpScreen.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/paymentdatacollection/ach/TransformToBankIconTest.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe, @ccen-stripe, @carlosmuvi-stripe

Adds trailing icon and click handlers.
  financial-connections/res/drawable/stripe_ic_arrow_right_circle.xml
  financial-connections/res/values/strings.xml
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinkloginwarmup/NetworkingLinkLoginWarmupScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinkloginwarmup/NetworkingLinkLoginWarmupViewModel.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Adds testmode.
  financial-connections-example/src/main/java/com/stripe/android/financialconnections/example/FinancialConnectionsPlaygroundViewModel.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Skip Success Pane (#6106)
  financial-connections/res/values/strings.xml
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/accountpicker/AccountPickerScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/common/LoadingContent.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/partnerauth/PartnerAuthScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/success/SuccessScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/success/SuccessViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/model/FinancialConnectionsSessionManifest.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/ApiKeyFixtures.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/features/success/SuccessViewModelTest.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

.github/CODEOWNERS:

# Global - fallback to this group if the following groups don't match
* @stripe/stripe-android-sdk-reviewers

# Payments SDK
/payments/ @jaynewstrom-stripe @tillh-stripe @ccen-stripe @jameswoo-stripe
/paymentsheet/ @jaynewstrom-stripe @tillh-stripe @jameswoo-stripe
/wechatpay/ @jaynewstrom-stripe @tillh-stripe @ccen-stripe @jameswoo-stripe
/stripe-test-e2e/ @jaynewstrom-stripe @tillh-stripe @jameswoo-stripe
/link/ @jaynewstrom-stripe @tillh-stripe @jameswoo-stripe @ccen-stripe @carlosmuvi-stripe
/payment-method-messaging/ @jaynewstrom-stripe @tillh-stripe @jameswoo-stripe

# CardScan SDK
/stripecardscan/ @awush-stripe @ccen-stripe
/stripecardscan-example/ @awush-stripe @ccen-stripe

# Identity SDK
/identity/ @ccen-stripe @awush-stripe @carlosmuvi-stripe
/identity-example/ @ccen-stripe @awush-stripe @carlosmuvi-stripe

# Financial Connections SDK
/financial-connections/ @carlosmuvi-stripe @ccen-stripe
/financial-connections-example/ @carlosmuvi-stripe @ccen-stripe

# Shared modules
/camera-core/ @ccen-stripe @awush-stripe

# Configuration files
*.gradle @stripe/stripe-android-sdk-reviewers
