Repository stripe/stripe-android, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stripe/stripe-android-sdk-reviewers, @jaynewstrom-stripe, @tillh-stripe, @ccen-stripe, @jameswoo-stripe, @carlosmuvi-stripe, @awush-stripe

.github/CODEOWNERS:

# Global - fallback to this group if the following groups don't match
* @stripe/stripe-android-sdk-reviewers

# Payments SDK
/payments/ @jaynewstrom-stripe @tillh-stripe @ccen-stripe @jameswoo-stripe
/paymentsheet/ @jaynewstrom-stripe @tillh-stripe @jameswoo-stripe
/wechatpay/ @jaynewstrom-stripe @tillh-stripe @ccen-stripe @jameswoo-stripe
/stripe-test-e2e/ @jaynewstrom-stripe @tillh-stripe @jameswoo-stripe
/link/ @jaynewstrom-stripe @tillh-stripe @jameswoo-stripe @ccen-stripe @carlosmuvi-stripe
/payment-method-messaging/ @jaynewstrom-stripe @tillh-stripe @jameswoo-stripe

# CardScan SDK
/stripecardscan/ @awush-stripe @ccen-stripe
/stripecardscan-example/ @awush-stripe @ccen-stripe

# Identity SDK
/identity/ @ccen-stripe @awush-stripe @carlosmuvi-stripe
/identity-example/ @ccen-stripe @awush-stripe @carlosmuvi-stripe

# Financial Connections SDK
/financial-connections/ @carlosmuvi-stripe @ccen-stripe
/financial-connections-example/ @carlosmuvi-stripe @ccen-stripe

# Shared modules
/camera-core/ @ccen-stripe @awush-stripe

# Configuration files
*.gradle @stripe/stripe-android-sdk-reviewers

Adds skip click handler.
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkingsavetolinkverification/NetworkingSaveToLinkVerificationScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkingsavetolinkverification/NetworkingSaveToLinkVerificationViewModel.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/features/networkingsavetolinkverification/NetworkingSaveToLinkVerificationViewModelTest.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Regenerates screenshots.
  financial-connections/api/financial-connections.api
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.networkingsavetolinkverification_null_NetworkingSaveToLinkVerificationPane_Enteringemail_,NEXUS_5].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.networkingsavetolinkverification_null_NetworkingSaveToLinkVerificationPane_Enteringemail_,PIXEL_C].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.networkingsavetolinkverification_null_NetworkingSaveToLinkVerificationPane_Enteringemail_null,NEXUS_5].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.networkingsavetolinkverification_null_NetworkingSaveToLinkVerificationPane_Enteringemail_null,PIXEL_C].png
Owners: @carlosmuvi-stripe, @ccen-stripe

Mark various things as deprecated
  link/src/main/java/com/stripe/android/link/LinkActivityContract.kt
  link/src/main/java/com/stripe/android/link/LinkActivityResult.kt
  link/src/main/java/com/stripe/android/link/LinkPaymentDetails.kt
  link/src/main/java/com/stripe/android/link/LinkPaymentLauncher.kt
  link/src/main/java/com/stripe/android/link/injection/NamedConstants.kt
  link/src/main/java/com/stripe/android/link/model/Navigator.kt
  link/src/main/java/com/stripe/android/link/ui/inline/UserInput.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/elements/AfterpayClearpayHeaderElement.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/forms/resources/LpmRepository.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/forms/resources/injection/ResourceRepositoryModule.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/injection/FormControllerModule.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/injection/FormControllerSubcomponent.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentMethodsUI.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentOptionUi.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheet.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/addresselement/AddressDetails.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe, @ccen-stripe, @carlosmuvi-stripe, @stripe/stripe-android-sdk-reviewers

Update Link API
  link/api/link.api
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe, @ccen-stripe, @carlosmuvi-stripe

Update PaymentOptionsScreenshotTest
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/PaymentOptionsUI.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/PaymentOptionsScreenshotTest.kt
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testDefaultState[DarkTheme,CrazyAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testDefaultState[DarkTheme,CrazyAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testDefaultState[DarkTheme,CustomAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testDefaultState[DarkTheme,CustomAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testDefaultState[DarkTheme,DefaultAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testDefaultState[DarkTheme,DefaultAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testDefaultState[LightTheme,CrazyAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testDefaultState[LightTheme,CrazyAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testDefaultState[LightTheme,CustomAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testDefaultState[LightTheme,CustomAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testDefaultState[LightTheme,DefaultAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testEditingState[DarkTheme,CrazyAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testEditingState[DarkTheme,CrazyAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testEditingState[DarkTheme,CustomAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testEditingState[DarkTheme,CustomAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testEditingState[DarkTheme,DefaultAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testEditingState[DarkTheme,DefaultAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testEditingState[LightTheme,CrazyAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testEditingState[LightTheme,CrazyAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testEditingState[LightTheme,CustomAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testEditingState[LightTheme,CustomAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testEditingState[LightTheme,DefaultAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testEditingState[LightTheme,DefaultAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testProcessingState[DarkTheme,CrazyAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testProcessingState[DarkTheme,CrazyAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testProcessingState[DarkTheme,CustomAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testProcessingState[DarkTheme,CustomAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testProcessingState[DarkTheme,DefaultAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testProcessingState[DarkTheme,DefaultAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testProcessingState[LightTheme,CrazyAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testProcessingState[LightTheme,CrazyAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testProcessingState[LightTheme,CustomAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testProcessingState[LightTheme,CustomAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testProcessingState[LightTheme,DefaultAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testProcessingState[LightTheme,DefaultAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testWidthLessThanScreen[LightTheme,DefaultAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testWidthMoreThanScreenAndScrollToEnd[LightTheme,DefaultAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testWidthMoreThanScreen[LightTheme,DefaultAppearance,DefaultFont].png
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Record minor difference in screenshots
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentOptionUi.kt
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testEditingState[DarkTheme,CrazyAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testEditingState[DarkTheme,CrazyAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testEditingState[DarkTheme,CustomAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testEditingState[DarkTheme,CustomAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testEditingState[DarkTheme,DefaultAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testEditingState[DarkTheme,DefaultAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testEditingState[LightTheme,CrazyAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testEditingState[LightTheme,CrazyAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testEditingState[LightTheme,CustomAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testEditingState[LightTheme,CustomAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testEditingState[LightTheme,DefaultAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testEditingState[LightTheme,DefaultAppearance,LargeFont].png
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Use `BadgeBox` in `PaymentOption`
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentOptionUi.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Update detekt baseline
  paymentsheet/detekt-baseline.xml
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Make rememberItemWidth actually remember things
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/PaymentOptionsUI.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Update API
  paymentsheet/api/paymentsheet.api
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentOptionUi.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Address code review feedback
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentOptionUi.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/PaymentOptionTest.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Update detekt baseline
  paymentsheet/detekt-baseline.xml
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Welp
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/PaymentOptionTest.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Fix PaymentOptionTest
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/PaymentOptionTest.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Convert public data classes to classes
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheet.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/addresselement/AddressLauncher.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Update detekt baseline
  paymentsheet/detekt-baseline.xml
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Deprecate companion objects of model classes
  payments-core/src/main/java/com/stripe/android/model/Address.kt
  payments-core/src/main/java/com/stripe/android/model/PaymentIntent.kt
  payments-core/src/main/java/com/stripe/android/model/PaymentMethod.kt
  payments-core/src/main/java/com/stripe/android/model/SetupIntent.kt
  payments-core/src/main/java/com/stripe/android/model/Source.kt
  payments-model/src/main/java/com/stripe/android/model/Token.kt
Owners: @stripe/stripe-android-sdk-reviewers

More deprecations
  payments-core/api/payments-core.api
  payments-core/src/main/java/com/stripe/android/model/ConfirmStripeIntentParams.kt
  payments-core/src/main/java/com/stripe/android/model/ConsumerPaymentDetails.kt
  payments-core/src/main/java/com/stripe/android/model/LuxeNextActionRepository.kt
  payments-core/src/main/java/com/stripe/android/model/LuxePostConfirmActionCreator.kt
  payments-core/src/main/java/com/stripe/android/model/LuxePostConfirmActionRepository.kt
  payments-core/src/main/java/com/stripe/android/model/PaymentMethod.kt
  payments-core/src/main/java/com/stripe/android/model/ShippingInformation.kt
  payments-core/src/main/java/com/stripe/android/payments/bankaccount/navigation/CollectBankAccountContract.kt
  payments-core/src/main/java/com/stripe/android/view/ActivityStarter.kt
Owners: @stripe/stripe-android-sdk-reviewers

Adds email field to playground.
  financial-connections-example/src/main/java/com/stripe/android/financialconnections/example/FinancialConnectionsPlaygroundActivity.kt
  financial-connections-example/src/main/java/com/stripe/android/financialconnections/example/FinancialConnectionsPlaygroundViewModel.kt
  financial-connections-example/src/main/java/com/stripe/android/financialconnections/example/data/BackendApiService.kt
  financial-connections-example/src/main/java/com/stripe/android/financialconnections/example/data/BackendRepository.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Implement NetworkingSaveToLinkVerification pane (#6229)
  financial-connections/api/financial-connections.api
  financial-connections/res/values/strings.xml
  financial-connections/src/main/java/com/stripe/android/financialconnections/di/FinancialConnectionsSheetNativeComponent.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/domain/GoNext.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/domain/SaveAccountToLink.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinksignup/NetworkingLinkSignupViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkingsavetolinkverification/NetworkingSaveToLinkVerificationScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkingsavetolinkverification/NetworkingSaveToLinkVerificationSubcomponent.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkingsavetolinkverification/NetworkingSaveToLinkVerificationViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/model/FinancialConnectionsSessionManifest.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/navigation/NavigationCommand.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/repository/FinancialConnectionsManifestRepository.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/ui/FinancialConnectionsSheetNativeActivity.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/features/networkingsavetolinkverification/NetworkingSaveToLinkVerificationViewModelTest.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/networking/FakeFinancialConnectionsManifestRepository.kt
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.networkingsavetolinkverification_null_NetworkingSaveToLinkVerificationPane_Enteringemail_,NEXUS_5].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.networkingsavetolinkverification_null_NetworkingSaveToLinkVerificationPane_Enteringemail_,PIXEL_C].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.networkingsavetolinkverification_null_NetworkingSaveToLinkVerificationPane_Enteringemail_null,NEXUS_5].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.networkingsavetolinkverification_null_NetworkingSaveToLinkVerificationPane_Enteringemail_null,PIXEL_C].png
Owners: @carlosmuvi-stripe, @ccen-stripe

Adds email field to playground. (#6236)
  financial-connections-example/src/main/java/com/stripe/android/financialconnections/example/FinancialConnectionsPlaygroundActivity.kt
  financial-connections-example/src/main/java/com/stripe/android/financialconnections/example/FinancialConnectionsPlaygroundViewModel.kt
  financial-connections-example/src/main/java/com/stripe/android/financialconnections/example/data/BackendApiService.kt
  financial-connections-example/src/main/java/com/stripe/android/financialconnections/example/data/BackendRepository.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Fix serialization issues when code is minified.
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/model/PlaygroundCheckoutModel.kt
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/samples/viewmodel/PaymentSheetViewModel.kt
  stripe-core/src/main/java/com/stripe/android/core/networking/AnalyticsRequestV2.kt
  stripe-core/src/main/java/com/stripe/android/core/networking/RequestHeadersFactory.kt
  stripe-ui-core/src/main/java/com/stripe/android/uicore/address/TransformAddressToElement.kt
Owners: @stripe/stripe-android-sdk-reviewers

Update to ktlint 0.48.2. (#6155)
  .editorconfig
  build.gradle
  camera-core/src/main/java/com/stripe/android/camera/framework/image/NV21Image.kt
Owners: @stripe/stripe-android-sdk-reviewers, @ccen-stripe, @awush-stripe

Even more deprecations
  payments-core/src/main/java/com/stripe/android/payments/paymentlauncher/PaymentLauncherContract.kt
Owners: @stripe/stripe-android-sdk-reviewers

Centralize example app build.gradle configurations.
  build-configuration/android-application.gradle
  build.gradle
  dependencies.gradle
  example/build.gradle
  financial-connections-example/build.gradle
  identity-example/build.gradle
  paymentsheet-example/build.gradle
  stripe-example.keystore
  stripecardscan-example/build.gradle
Owners: @stripe/stripe-android-sdk-reviewers

Fix moving of release APKs.
  .github/workflows/financialconnections_pull_request.yml
  .github/workflows/identity_pull_request.yml
  .github/workflows/pull_request.yml
Owners: @stripe/stripe-android-sdk-reviewers

Use keystore compatible with aabs
  build-configuration/android-application.gradle
  stripe-example.keystore
Owners: @stripe/stripe-android-sdk-reviewers

Fix payment sheet tests.
  .github/workflows/instrumentation_tests.yml
  paymentsheet/src/androidTest/java/com/stripe/android/paymentsheet/PaymentSheetTest.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/PaymentOptionsScreen.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/PaymentSheetScreen.kt
Owners: @stripe/stripe-android-sdk-reviewers, @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Fix payment sheet tests. (#6240)
  .github/workflows/instrumentation_tests.yml
  paymentsheet/src/androidTest/java/com/stripe/android/paymentsheet/PaymentSheetTest.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/PaymentOptionsScreen.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/PaymentSheetScreen.kt
Owners: @stripe/stripe-android-sdk-reviewers, @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Tweak ElementsSessionRepository
  payments-core/src/main/java/com/stripe/android/model/ElementsSession.kt
  payments-core/src/main/java/com/stripe/android/model/parsers/ElementsSessionJsonParser.kt
  payments-core/src/main/java/com/stripe/android/networking/StripeApiRepository.kt
  payments-core/src/main/java/com/stripe/android/networking/StripeRepository.kt
  payments-core/src/test/java/com/stripe/android/networking/AbsFakeStripeRepository.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/injection/PaymentSheetCommonModule.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/repositories/ElementsSessionRepository.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/repositories/StripeIntentRepository.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/state/PaymentSheetLoader.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/BasePaymentSheetViewModelInjectionTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetActivityTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetViewModelTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/repositories/ElementsSessionRepositoryTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/state/DefaultPaymentSheetLoaderTest.kt
Owners: @stripe/stripe-android-sdk-reviewers, @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Adds flow.
  maestro/financial-connections/Testmode-PaymentIntent-TestInstitution-NetworkingNewUser.yaml
Owners: @stripe/stripe-android-sdk-reviewers

Fix lint and tests
  payments-core/src/main/java/com/stripe/android/model/ElementsSessionParams.kt
  payments-core/src/main/java/com/stripe/android/networking/StripeApiRepository.kt
  payments-core/src/test/java/com/stripe/android/networking/AbsFakeStripeRepository.kt
  payments-core/src/test/java/com/stripe/android/networking/StripeApiRepositoryTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/repositories/ElementsSessionRepositoryTest.kt
Owners: @stripe/stripe-android-sdk-reviewers, @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Adds consumerSession clientSecret when attaching payments.
  financial-connections/src/main/java/com/stripe/android/financialconnections/domain/PollAttachPaymentAccount.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/attachpayment/AttachPaymentViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/manualentry/ManualEntryViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/repository/FinancialConnectionsAccountsRepository.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Convert PaymentIntent to normal class
  payments-core/src/main/java/com/stripe/android/model/PaymentIntent.kt
Owners: @stripe/stripe-android-sdk-reviewers

Convert SetupIntent to normal class
  payments-core/src/main/java/com/stripe/android/model/SetupIntent.kt
Owners: @stripe/stripe-android-sdk-reviewers

Fix browserstack tests.
  paymentsheet-example/src/androidTestDebug/java/com/stripe/android/test/core/ui/BuyButton.kt
  paymentsheet-example/src/androidTestDebug/java/com/stripe/android/test/core/ui/Selectors.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/PaymentSheetScreen.kt
Owners: @stripe/stripe-android-sdk-reviewers, @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Convert Customer to normal class
  payments-core/src/main/java/com/stripe/android/model/Customer.kt
Owners: @stripe/stripe-android-sdk-reviewers

Fix apiCheck.
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/PaymentSheetScreen.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Move version code back to individual modules build.gradle.
  build-configuration/android-application.gradle
  identity-example/build.gradle
  paymentsheet-example/build.gradle
  stripecardscan-example/build.gradle
Owners: @stripe/stripe-android-sdk-reviewers

Fix issue filling out address
  paymentsheet-example/src/androidTestDebug/java/com/stripe/android/test/core/FieldPopulator.kt
Owners: @stripe/stripe-android-sdk-reviewers
