Repository stripe/stripe-android, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stripe/android-sdk-reviewers, @stripe/android-sdk-non-core-reviewers, @stripe/android-payments-reviewers, @stripe/android-cardscan-reviewers, @stripe/android-identity-reviewers, @stripe/android-connections-reviewers, @stripe/mx-mobile-reviewers

Revert change to gradle properties (un-needed)
  gradle.properties
Owners: @stripe/android-sdk-reviewers, @stripe/android-sdk-non-core-reviewers

Remove last line
  gradle.properties
Owners: @stripe/android-sdk-reviewers, @stripe/android-sdk-non-core-reviewers

Fix a bug where the selection would be cleared in flow controller. (#9201)
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/verticalmode/PaymentMethodVerticalLayoutInteractor.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/verticalmode/DefaultPaymentMethodVerticalLayoutInteractorTest.kt
Owners: @stripe/android-payments-reviewers, @stripe/android-sdk-reviewers, @stripe/android-sdk-non-core-reviewers

Fix a bug where using deferred intents with a publishable key that didn't have live or test in it would show as test mode. (#9202)
  payments-core/src/main/java/com/stripe/android/model/parsers/DeferredPaymentIntentJsonParser.kt
  payments-core/src/test/java/com/stripe/android/model/parsers/ElementsSessionJsonParserTest.kt
Owners: @stripe/android-payments-reviewers, @stripe/android-sdk-reviewers, @stripe/android-sdk-non-core-reviewers

Add dependencies, fix lint
  stripe-connect-example/dependencies/dependencies.txt
  stripe-connect/dependencies/dependencies.txt
  stripe-connect/src/main/java/com/stripe/android/connectsdk/EmbeddedComponentActivity.kt
  stripe-connect/src/main/java/com/stripe/android/connectsdk/EmbeddedComponentManager.kt
  stripe-connect/src/main/java/com/stripe/android/connectsdk/PrivateBetaConnectSDK.kt
Owners: @stripe/mx-mobile-reviewers

disables stripe account id in edge.
  financial-connections-example/src/main/java/com/stripe/android/financialconnections/example/FinancialConnectionsPlaygroundViewModel.kt
  financial-connections-example/src/main/java/com/stripe/android/financialconnections/example/settings/PlaygroundSettings.kt
Owners: @stripe/android-connections-reviewers, @stripe/android-sdk-reviewers, @stripe/android-sdk-non-core-reviewers

disables stripe account id in edge. (#9204)
  financial-connections-example/src/main/java/com/stripe/android/financialconnections/example/FinancialConnectionsPlaygroundViewModel.kt
  financial-connections-example/src/main/java/com/stripe/android/financialconnections/example/settings/PlaygroundSettings.kt
Owners: @stripe/android-connections-reviewers, @stripe/android-sdk-reviewers, @stripe/android-sdk-non-core-reviewers

Allow testing MPE with Instant Debits in FC playground
  financial-connections-example/src/main/java/com/stripe/android/financialconnections/example/FinancialConnectionsPlaygroundActivity.kt
  financial-connections-example/src/main/java/com/stripe/android/financialconnections/example/FinancialConnectionsPlaygroundViewModel.kt
  financial-connections-example/src/main/java/com/stripe/android/financialconnections/example/data/model/PaymentIntentBody.kt
  financial-connections-example/src/main/java/com/stripe/android/financialconnections/example/settings/PlaygroundSettings.kt
Owners: @stripe/android-connections-reviewers, @stripe/android-sdk-reviewers, @stripe/android-sdk-non-core-reviewers

Separate integration type and experience
  financial-connections-example/src/main/java/com/stripe/android/financialconnections/example/FinancialConnectionsPlaygroundActivity.kt
  financial-connections-example/src/main/java/com/stripe/android/financialconnections/example/FinancialConnectionsPlaygroundViewModel.kt
  financial-connections-example/src/main/java/com/stripe/android/financialconnections/example/settings/IntegrationTypeSetting.kt
  financial-connections-example/src/main/java/com/stripe/android/financialconnections/example/settings/PlaygroundSettings.kt
Owners: @stripe/android-connections-reviewers, @stripe/android-sdk-reviewers, @stripe/android-sdk-non-core-reviewers

Add integration type in Maestro test links
  maestro/financial-connections/Livemode-Data-Finbank.yaml
  maestro/financial-connections/Livemode-Data-MXBank.yaml
  maestro/financial-connections/Testmode-Data-TestOauthInstitution-Connected.yaml
  maestro/financial-connections/Testmode-Data-TestOauthInstitution.yaml
  maestro/financial-connections/Testmode-PaymentIntent-TestInstitution-InstantDebits.yaml
  maestro/financial-connections/Testmode-PaymentIntent-TestInstitution-Networking.yaml
  maestro/financial-connections/Testmode-PaymentIntent-TestInstitution-UnplannedDowntime.yaml
  maestro/financial-connections/Testmode-PaymentIntent-TestInstitution.yaml
  maestro/financial-connections/Testmode-Token-ManualEntry.yaml
Owners: @stripe/android-sdk-reviewers, @stripe/android-sdk-non-core-reviewers

Fix more R8 issues.
  paymentsheet/consumer-rules.txt
  stripe-core/consumer-rules.txt
Owners: @stripe/android-payments-reviewers, @stripe/android-sdk-reviewers, @stripe/android-sdk-non-core-reviewers

Fix lint, restrict to library, clarify comment
  stripe-connect/src/main/java/com/stripe/android/connectsdk/EmbeddedComponentManager.kt
  stripe-connect/src/main/java/com/stripe/android/connectsdk/PrivateBetaConnectSDK.kt
Owners: @stripe/mx-mobile-reviewers

Generate new api file
  stripe-connect/api/stripe-connect.api
Owners: @stripe/mx-mobile-reviewers

Fix manifest
  stripe-connect/src/main/AndroidManifest.xml
Owners: @stripe/mx-mobile-reviewers

Allow testing MPE with Instant Debits in FC playground (#9200)
  financial-connections-example/src/main/java/com/stripe/android/financialconnections/example/FinancialConnectionsPlaygroundActivity.kt
  financial-connections-example/src/main/java/com/stripe/android/financialconnections/example/FinancialConnectionsPlaygroundViewModel.kt
  financial-connections-example/src/main/java/com/stripe/android/financialconnections/example/data/model/PaymentIntentBody.kt
  financial-connections-example/src/main/java/com/stripe/android/financialconnections/example/settings/IntegrationTypeSetting.kt
  financial-connections-example/src/main/java/com/stripe/android/financialconnections/example/settings/PlaygroundSettings.kt
  maestro/financial-connections/Livemode-Data-Finbank.yaml
  maestro/financial-connections/Livemode-Data-MXBank.yaml
  maestro/financial-connections/Testmode-Data-TestOauthInstitution-Connected.yaml
  maestro/financial-connections/Testmode-Data-TestOauthInstitution.yaml
  maestro/financial-connections/Testmode-PaymentIntent-TestInstitution-InstantDebits.yaml
  maestro/financial-connections/Testmode-PaymentIntent-TestInstitution-Networking.yaml
  maestro/financial-connections/Testmode-PaymentIntent-TestInstitution-UnplannedDowntime.yaml
  maestro/financial-connections/Testmode-PaymentIntent-TestInstitution.yaml
  maestro/financial-connections/Testmode-Token-ManualEntry.yaml
Owners: @stripe/android-connections-reviewers, @stripe/android-sdk-reviewers, @stripe/android-sdk-non-core-reviewers

Navigate to form screen in flow controller for current selections.
  payments-ui-core/detekt-baseline.xml
  paymentsheet/detekt-baseline.xml
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/FormHelper.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentOptionsViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/verticalmode/PaymentMethodVerticalLayoutInteractor.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/verticalmode/VerticalModeInitialScreenFactory.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/FormHelperTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/verticalmode/DefaultPaymentMethodVerticalLayoutInteractorTest.kt
Owners: @stripe/android-payments-reviewers, @stripe/android-sdk-reviewers, @stripe/android-sdk-non-core-reviewers

git add test.
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/verticalmode/VerticalModeInitialScreenFactoryTest.kt
Owners: @stripe/android-payments-reviewers, @stripe/android-sdk-reviewers, @stripe/android-sdk-non-core-reviewers

Fix more R8 issues. (#9205)
  paymentsheet/consumer-rules.txt
  stripe-core/consumer-rules.txt
Owners: @stripe/android-payments-reviewers, @stripe/android-sdk-reviewers, @stripe/android-sdk-non-core-reviewers

Update CHANGELOG.md
  CHANGELOG.md
Owners: @stripe/android-sdk-reviewers, @stripe/android-sdk-non-core-reviewers

Add analytics
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/analytics/DefaultEventReporter.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/analytics/EventReporter.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/analytics/PaymentSheetEvent.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/state/PaymentSheetLoader.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/analytics/DefaultEventReporterTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/analytics/FakeEventReporter.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/state/DefaultPaymentSheetLoaderTest.kt
Owners: @stripe/android-payments-reviewers, @stripe/android-sdk-reviewers, @stripe/android-sdk-non-core-reviewers

.github/CODEOWNERS:

# Require approvals from the android-sdk-reviewers team for all changes not in directories listed below.
* @stripe/android-sdk-reviewers @stripe/android-sdk-non-core-reviewers

# Payments SDK
/payment-method-messaging/ @stripe/android-payments-reviewers @stripe/android-sdk-reviewers @stripe/android-sdk-non-core-reviewers
/payments/ @stripe/android-payments-reviewers @stripe/android-sdk-reviewers @stripe/android-sdk-non-core-reviewers
/payments-core/ @stripe/android-payments-reviewers @stripe/android-sdk-reviewers @stripe/android-sdk-non-core-reviewers
/payments-core-testing/ @stripe/android-payments-reviewers @stripe/android-sdk-reviewers @stripe/android-sdk-non-core-reviewers
/payments-model/ @stripe/android-payments-reviewers @stripe/android-sdk-reviewers @stripe/android-sdk-non-core-reviewers
/payments-ui-core/ @stripe/android-payments-reviewers @stripe/android-sdk-reviewers @stripe/android-sdk-non-core-reviewers
/paymentsheet/ @stripe/android-payments-reviewers @stripe/android-sdk-reviewers @stripe/android-sdk-non-core-reviewers
/paymentsheet-example/ @stripe/android-payments-reviewers @stripe/android-sdk-reviewers @stripe/android-sdk-non-core-reviewers

# CardScan SDK
/stripecardscan/ @stripe/android-cardscan-reviewers @stripe/android-sdk-reviewers @stripe/android-sdk-non-core-reviewers
/stripecardscan-example/ @stripe/android-cardscan-reviewers @stripe/android-sdk-reviewers @stripe/android-sdk-non-core-reviewers
/stripecardscan-tflite/ @stripe/android-cardscan-reviewers @stripe/android-sdk-reviewers @stripe/android-sdk-non-core-reviewers

# Identity SDK
/identity/ @stripe/android-identity-reviewers @stripe/android-sdk-reviewers @stripe/android-sdk-non-core-reviewers
/identity-example/ @stripe/android-identity-reviewers @stripe/android-sdk-reviewers @stripe/android-sdk-non-core-reviewers

# Financial Connections SDK
/financial-connections/ @stripe/android-connections-reviewers @stripe/android-sdk-reviewers @stripe/android-sdk-non-core-reviewers
/financial-connections-example/ @stripe/android-connections-reviewers @stripe/android-sdk-reviewers @stripe/android-sdk-non-core-reviewers

# Stripe Connect SDK
/stripe-connect/ @stripe/mx-mobile-reviewers
/stripe-connect-example/ @stripe/mx-mobile-reviewers
