Repository stripe/stripe-android, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stripe/stripe-android-sdk-reviewers, @jaynewstrom-stripe, @tillh-stripe, @ccen-stripe, @jameswoo-stripe, @carlosmuvi-stripe, @awush-stripe

Add to path.
  bitrise.yml
Owners: @stripe/stripe-android-sdk-reviewers

Deploy artifacts.
  bitrise.yml
Owners: @stripe/stripe-android-sdk-reviewers

Update to stripe 3ds2 6.1.6. (#6143)
  build.gradle
  payments-core/build.gradle
Owners: @stripe/stripe-android-sdk-reviewers

Consume the back button press when processing. (#6142)
  CHANGELOG.md
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/BaseSheetActivity.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/viewmodels/BaseSheetViewModel.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetViewModelTest.kt
Owners: @stripe/stripe-android-sdk-reviewers, @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Update changelog for 20.19.1
  CHANGELOG.md
Owners: @stripe/stripe-android-sdk-reviewers

Update changelog for 20.19.1 (#6148)
  CHANGELOG.md
Owners: @stripe/stripe-android-sdk-reviewers

Adds NetworkingLinkSignup skeleton and navigation.
  .idea/codestyles/Project.xml
  financial-connections/src/main/java/com/stripe/android/financialconnections/di/FinancialConnectionsSheetNativeComponent.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/domain/GoNext.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinksignup/NetworkingLinkSignupScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinksignup/NetworkingLinkSignupSubcomponent.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinksignup/NetworkingLinkSignupViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/navigation/NavigationCommand.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/ui/FinancialConnectionsSheetNativeActivity.kt
Owners: @stripe/stripe-android-sdk-reviewers, @carlosmuvi-stripe, @ccen-stripe

Add tests
  payments-core/src/test/java/com/stripe/android/ApiKeyFixtures.kt
  payments-core/src/test/java/com/stripe/android/PaymentMethodEndToEndTest.kt
  payments-core/src/test/java/com/stripe/android/model/LuxePostConfirmActionRepositoryTest.kt
  payments-core/src/test/java/com/stripe/android/model/PaymentIntentFixtures.kt
  payments-core/src/test/java/com/stripe/android/model/PaymentMethodCreateParamsFixtures.kt
  payments-core/src/test/java/com/stripe/android/payments/core/authentication/WebIntentAuthenticatorTest.kt
  stripe-test-e2e/src/test/java/com/stripe/android/test/e2e/EndToEndTest.kt
Owners: @stripe/stripe-android-sdk-reviewers, @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Make tweaks to sample app
  example/build.gradle
  example/src/main/java/com/stripe/example/activity/CashAppPayActivity.kt
Owners: @stripe/stripe-android-sdk-reviewers

Add text field for required customer ID
  example/src/main/java/com/stripe/example/activity/CashAppPayActivity.kt
Owners: @stripe/stripe-android-sdk-reviewers

Inject `DefaultReturnUrl` instead of creating one
  payments-core/src/main/java/com/stripe/android/payments/core/authentication/WebIntentAuthenticator.kt
  payments-core/src/main/java/com/stripe/android/view/AuthActivityStarterHost.kt
Owners: @stripe/stripe-android-sdk-reviewers

Send mandate data and customer ID in sample app
  example/src/main/java/com/stripe/example/activity/CashAppPayActivity.kt
  example/src/main/java/com/stripe/example/activity/StripeIntentActivity.kt
Owners: @stripe/stripe-android-sdk-reviewers

Fix lint issues
  payments-core/detekt-baseline.xml
  payments-core/src/test/java/com/stripe/android/model/PaymentIntentFixtures.kt
Owners: @stripe/stripe-android-sdk-reviewers

Add setup intent flow to CashAppPay demo screen
  example/src/main/java/com/stripe/example/activity/CashAppPayActivity.kt
  example/src/main/java/com/stripe/example/activity/StripeIntentActivity.kt
  example/src/main/java/com/stripe/example/module/StripeIntentViewModel.kt
  payments-core/src/main/java/com/stripe/android/payments/core/authentication/WebIntentAuthenticator.kt
Owners: @stripe/stripe-android-sdk-reviewers

Minor tweak in sample app
  example/res/values/strings.xml
  example/src/main/java/com/stripe/example/activity/LauncherActivity.kt
Owners: @stripe/stripe-android-sdk-reviewers

Add `PaymentWithFutureUse` flow to example
  example/src/main/java/com/stripe/example/activity/AlipayPaymentNativeActivity.kt
  example/src/main/java/com/stripe/example/activity/AlipayPaymentWebActivity.kt
  example/src/main/java/com/stripe/example/activity/CashAppPayActivity.kt
  example/src/main/java/com/stripe/example/activity/StripeIntentActivity.kt
Owners: @stripe/stripe-android-sdk-reviewers

Update API
  payments-core/api/payments-core.api
Owners: @stripe/stripe-android-sdk-reviewers

Automatically open Cash App
  payments-core/src/main/java/com/stripe/android/payments/core/authentication/WebIntentAuthenticator.kt
  payments-core/src/main/java/com/stripe/android/view/AuthActivityStarterHost.kt
Owners: @stripe/stripe-android-sdk-reviewers

Add bindings for Cash App Pay
  example/AndroidManifest.xml
  example/res/layout/launcher_activity.xml
  example/res/layout/launcher_item.xml
  example/src/main/java/com/stripe/example/activity/CashAppPayActivity.kt
  example/src/main/java/com/stripe/example/activity/LauncherActivity.kt
  payments-core/src/main/java/com/stripe/android/StripeIntentResult.kt
  payments-core/src/main/java/com/stripe/android/model/PaymentIntent.kt
  payments-core/src/main/java/com/stripe/android/model/PaymentMethod.kt
  payments-core/src/main/java/com/stripe/android/model/PaymentMethodCreateParams.kt
  payments-core/src/main/java/com/stripe/android/model/SetupIntent.kt
  payments-core/src/main/java/com/stripe/android/model/StripeIntent.kt
  payments-core/src/main/java/com/stripe/android/model/parsers/NextActionDataParser.kt
  payments-core/src/main/java/com/stripe/android/payments/core/authentication/WebIntentAuthenticator.kt
  payments-core/src/main/java/com/stripe/android/payments/core/injection/AuthenticationModule.kt
Owners: @stripe/stripe-android-sdk-reviewers

Update detekt and annotation usage
  payments-core/api/payments-core.api
  payments-core/src/test/java/com/stripe/android/PaymentMethodEndToEndTest.kt
  payments-core/src/test/java/com/stripe/android/model/PaymentMethodCreateParamsFixtures.kt
  payments-core/src/test/java/com/stripe/android/model/PaymentMethodCreateParamsTest.kt
  payments-core/src/test/java/com/stripe/android/networking/StripeApiRepositoryTest.kt
Owners: @stripe/stripe-android-sdk-reviewers

Add some documentation and beta disclosure
  payments-core/src/main/java/com/stripe/android/model/PaymentMethodCreateParams.kt
  payments-core/src/main/java/com/stripe/android/model/StripeIntent.kt
Owners: @stripe/stripe-android-sdk-reviewers

Use StripeCashAppPayBetaApi instead of comments
  example/src/main/java/com/stripe/example/activity/CashAppPayActivity.kt
  payments-core/src/main/java/com/stripe/android/StripeCashAppPayBetaApi.kt
  payments-core/src/main/java/com/stripe/android/model/PaymentIntent.kt
  payments-core/src/main/java/com/stripe/android/model/PaymentMethodCreateParams.kt
  payments-core/src/main/java/com/stripe/android/model/SetupIntent.kt
  payments-core/src/main/java/com/stripe/android/model/StripeIntent.kt
  payments-core/src/main/java/com/stripe/android/model/parsers/NextActionDataParser.kt
  payments-core/src/main/java/com/stripe/android/payments/core/authentication/WebIntentAuthenticator.kt
  payments-core/src/main/java/com/stripe/android/payments/core/injection/AuthenticationModule.kt
  payments-core/src/main/java/com/stripe/android/view/AddPaymentMethodViewModel.kt
Owners: @stripe/stripe-android-sdk-reviewers

Add E2E tests and fix SetupIntent.nextActionType
  payments-core/src/main/java/com/stripe/android/model/SetupIntent.kt
  stripe-test-e2e/src/test/java/com/stripe/android/test/e2e/EndToEndTest.kt
  stripe-test-e2e/src/test/java/com/stripe/android/test/e2e/Request.kt
Owners: @stripe/stripe-android-sdk-reviewers, @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Use global version of Accompanist in example apps
  build.gradle
  example/build.gradle
  identity-example/build.gradle
Owners: @stripe/stripe-android-sdk-reviewers

Adds email section.
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinksignup/NetworkingLinkSignupScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinksignup/NetworkingLinkSignupViewModel.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Bump version to 20.19.1
  README.md
  VERSION
  gradle.properties
  stripe-core/src/main/java/com/stripe/android/core/version/StripeSdkVersion.kt
Owners: @stripe/stripe-android-sdk-reviewers

Bump version to 20.19.1 (#6149)
  README.md
  VERSION
  gradle.properties
  stripe-core/src/main/java/com/stripe/android/core/version/StripeSdkVersion.kt
Owners: @stripe/stripe-android-sdk-reviewers

Adds email and phone sections.
  financial-connections/src/main/java/com/stripe/android/financialconnections/domain/SaveAccountToLink.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinksignup/NetworkingLinkSignupScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinksignup/NetworkingLinkSignupViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/network/NetworkConstants.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/repository/FinancialConnectionsAccountsRepository.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/repository/FinancialConnectionsManifestRepository.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Pass selected accounts to endpoint.
  financial-connections/src/main/java/com/stripe/android/financialconnections/domain/SaveAccountToLink.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinksignup/NetworkingLinkSignupViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/repository/FinancialConnectionsManifestRepository.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/networking/FakeFinancialConnectionsManifestRepository.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Wrap primary button in AndroidViewBinding
  paymentsheet/res/layout/activity_payment_options.xml
  paymentsheet/res/layout/activity_payment_sheet.xml
  paymentsheet/res/layout/fragment_payment_options_primary_button.xml
  paymentsheet/res/layout/fragment_payment_sheet_primary_button.xml
  paymentsheet/res/layout/fragment_primary_button_container.xml
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentOptionsActivity.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetActivity.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/BaseSheetActivity.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/PrimaryButtonContainerFragment.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Update tests
  paymentsheet-example/src/androidTestDebug/java/com/stripe/android/test/core/ui/BuyButton.kt
  paymentsheet-example/src/androidTestDebug/java/com/stripe/android/test/core/ui/Selectors.kt
  paymentsheet/api/paymentsheet.api
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentOptionsActivityTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetActivityTest.kt
Owners: @stripe/stripe-android-sdk-reviewers, @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Fix rebase issue
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetActivity.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Rename primary button in GooglePayButton
  paymentsheet/api/paymentsheet.api
  paymentsheet/res/layout/stripe_google_pay_button.xml
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/GooglePayButton.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/GooglePayButtonTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetActivityTest.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Re-add a comment that should stick around
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/BaseSheetActivity.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Update PaymentSheetTest with new button ID
  paymentsheet/src/androidTest/java/com/stripe/android/paymentsheet/PaymentSheetTest.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Address code review feedback
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/PrimaryButtonContainerFragment.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Wrap primary button in AndroidViewBinding (#6133)
  paymentsheet-example/src/androidTestDebug/java/com/stripe/android/test/core/ui/BuyButton.kt
  paymentsheet-example/src/androidTestDebug/java/com/stripe/android/test/core/ui/Selectors.kt
  paymentsheet/api/paymentsheet.api
  paymentsheet/res/layout/activity_payment_options.xml
  paymentsheet/res/layout/activity_payment_sheet.xml
  paymentsheet/res/layout/fragment_payment_options_primary_button.xml
  paymentsheet/res/layout/fragment_payment_sheet_primary_button.xml
  paymentsheet/res/layout/fragment_primary_button_container.xml
  paymentsheet/res/layout/stripe_google_pay_button.xml
  paymentsheet/src/androidTest/java/com/stripe/android/paymentsheet/PaymentSheetTest.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentOptionsActivity.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetActivity.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/BaseSheetActivity.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/GooglePayButton.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/PrimaryButtonContainerFragment.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/GooglePayButtonTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentOptionsActivityTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetActivityTest.kt
Owners: @stripe/stripe-android-sdk-reviewers, @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Add bindings for Cash App Pay (#6060)
  build.gradle
  example/AndroidManifest.xml
  example/build.gradle
  example/res/layout/launcher_activity.xml
  example/res/layout/launcher_item.xml
  example/res/values/strings.xml
  example/src/main/java/com/stripe/example/activity/AlipayPaymentNativeActivity.kt
  example/src/main/java/com/stripe/example/activity/AlipayPaymentWebActivity.kt
  example/src/main/java/com/stripe/example/activity/CashAppPayActivity.kt
  example/src/main/java/com/stripe/example/activity/LauncherActivity.kt
  example/src/main/java/com/stripe/example/activity/StripeIntentActivity.kt
  example/src/main/java/com/stripe/example/module/StripeIntentViewModel.kt
  identity-example/build.gradle
  payments-core/api/payments-core.api
  payments-core/detekt-baseline.xml
  payments-core/src/main/java/com/stripe/android/StripeCashAppPayBetaApi.kt
  payments-core/src/main/java/com/stripe/android/StripeIntentResult.kt
  payments-core/src/main/java/com/stripe/android/model/PaymentIntent.kt
  payments-core/src/main/java/com/stripe/android/model/PaymentMethod.kt
  payments-core/src/main/java/com/stripe/android/model/PaymentMethodCreateParams.kt
  payments-core/src/main/java/com/stripe/android/model/SetupIntent.kt
  payments-core/src/main/java/com/stripe/android/model/StripeIntent.kt
  payments-core/src/main/java/com/stripe/android/model/parsers/NextActionDataParser.kt
  payments-core/src/main/java/com/stripe/android/payments/core/authentication/WebIntentAuthenticator.kt
  payments-core/src/main/java/com/stripe/android/payments/core/injection/AuthenticationModule.kt
  payments-core/src/main/java/com/stripe/android/view/AddPaymentMethodViewModel.kt
  payments-core/src/test/java/com/stripe/android/ApiKeyFixtures.kt
  payments-core/src/test/java/com/stripe/android/PaymentMethodEndToEndTest.kt
  payments-core/src/test/java/com/stripe/android/model/LuxePostConfirmActionRepositoryTest.kt
  payments-core/src/test/java/com/stripe/android/model/PaymentIntentFixtures.kt
  payments-core/src/test/java/com/stripe/android/model/PaymentMethodCreateParamsFixtures.kt
  payments-core/src/test/java/com/stripe/android/model/PaymentMethodCreateParamsTest.kt
  payments-core/src/test/java/com/stripe/android/networking/StripeApiRepositoryTest.kt
  payments-core/src/test/java/com/stripe/android/payments/core/authentication/WebIntentAuthenticatorTest.kt
  stripe-test-e2e/src/test/java/com/stripe/android/test/e2e/EndToEndTest.kt
  stripe-test-e2e/src/test/java/com/stripe/android/test/e2e/Request.kt
Owners: @stripe/stripe-android-sdk-reviewers, @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Animate show / hide phone input and link button.
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinksignup/NetworkingLinkSignupScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinksignup/NetworkingLinkSignupViewModel.kt
  link/src/main/java/com/stripe/android/link/ui/signup/SignUpScreen.kt
Owners: @carlosmuvi-stripe, @ccen-stripe, @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Connects ConsumersApiService.
  financial-connections/src/main/java/com/stripe/android/financialconnections/di/FinancialConnectionsSheetConfigurationModule.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/di/FinancialConnectionsSheetNativeModule.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/di/FinancialConnectionsSheetSharedModule.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/domain/LookupAccount.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinksignup/NetworkingLinkSignupViewModel.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

.github/CODEOWNERS:

# Global - fallback to this group if the following groups don't match
* @stripe/stripe-android-sdk-reviewers

# Payments SDK
/payments/ @jaynewstrom-stripe @tillh-stripe @ccen-stripe @jameswoo-stripe
/paymentsheet/ @jaynewstrom-stripe @tillh-stripe @jameswoo-stripe
/wechatpay/ @jaynewstrom-stripe @tillh-stripe @ccen-stripe @jameswoo-stripe
/stripe-test-e2e/ @jaynewstrom-stripe @tillh-stripe @jameswoo-stripe
/link/ @jaynewstrom-stripe @tillh-stripe @jameswoo-stripe @ccen-stripe @carlosmuvi-stripe
/payment-method-messaging/ @jaynewstrom-stripe @tillh-stripe @jameswoo-stripe

# CardScan SDK
/stripecardscan/ @awush-stripe @ccen-stripe
/stripecardscan-example/ @awush-stripe @ccen-stripe

# Identity SDK
/identity/ @ccen-stripe @awush-stripe @carlosmuvi-stripe
/identity-example/ @ccen-stripe @awush-stripe @carlosmuvi-stripe

# Financial Connections SDK
/financial-connections/ @carlosmuvi-stripe @ccen-stripe
/financial-connections-example/ @carlosmuvi-stripe @ccen-stripe

# Shared modules
/camera-core/ @ccen-stripe @awush-stripe

# Configuration files
*.gradle @stripe/stripe-android-sdk-reviewers
