Repository stripe/stripe-android, changes with the owners that .github/CODEOWNERS names for each.
All owners: @brnunes-stripe, @michelleb-stripe, @skyler-stripe, @ccen-stripe, @awush-stripe, @jameswoo-stripe, @carlosmuvi-stripe

update docs
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheet.kt
Owners: @brnunes-stripe, @michelleb-stripe, @skyler-stripe, @jameswoo-stripe

Regenerates API.
  financial-connections/api/financial-connections.api
Owners: @carlosmuvi-stripe

Add ability to hide primary button
  paymentsheet/res/layout/activity_payment_options.xml
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentOptionsActivity.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetActivity.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/viewmodels/BaseSheetViewModel.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentOptionsActivityTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetActivityTest.kt
Owners: @brnunes-stripe, @michelleb-stripe, @skyler-stripe, @jameswoo-stripe

Add fragmentForPaymentMethod
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/BaseAddPaymentMethodFragment.kt
Owners: @brnunes-stripe, @michelleb-stripe, @skyler-stripe, @jameswoo-stripe

Create Appearance Playground
  paymentsheet-example/build.gradle
  paymentsheet-example/src/main/AndroidManifest.xml
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/MainActivity.kt
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/activity/AppearancePlaygroundActivity.kt
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/samples/viewmodel/PaymentSheetViewModel.kt
  paymentsheet-example/src/main/res/font/cursive.ttf
  paymentsheet-example/src/main/res/font/opensans.ttf
  paymentsheet-example/src/main/res/layout/activity_main.xml
  paymentsheet-example/src/main/res/values/strings.xml
Owners: @brnunes-stripe, @michelleb-stripe, @skyler-stripe, @jameswoo-stripe

[Identity] Improve app bar behavior
  identity/api/identity.api
  identity/res/drawable/ic_baseline_arrow_back_24.xml
  identity/res/drawable/ic_baseline_close_24.xml
  identity/res/layout/identity_activity.xml
  identity/src/main/java/com/stripe/android/identity/IdentityActivity.kt
  identity/src/main/java/com/stripe/android/identity/IdentityVerificationSheet.kt
  identity/src/main/java/com/stripe/android/identity/navigation/ConsentFragment.kt
  identity/src/main/java/com/stripe/android/identity/navigation/ErrorFragment.kt
  identity/src/main/java/com/stripe/android/identity/navigation/IdentityFragmentFactory.kt
  identity/src/main/java/com/stripe/android/identity/navigation/IdentityUploadFragment.kt
  identity/src/main/java/com/stripe/android/identity/utils/navigationUtils.kt
  identity/src/main/java/com/stripe/android/identity/viewmodel/IdentityViewModel.kt
  identity/src/test/AndroidManifest.xml
  identity/src/test/java/com/stripe/android/identity/IdentityActivityTest.kt
  identity/src/test/java/com/stripe/android/identity/navigation/ConsentFragmentTest.kt
  identity/src/test/java/com/stripe/android/identity/utils/InjectableActivityScenario.kt
Owners: @ccen-stripe, @awush-stripe

update background color
  identity/res/layout/identity_activity.xml
Owners: @ccen-stripe, @awush-stripe

Tests are passing and have implementation of not using the Playground
  paymentsheet-example/build.gradle
  paymentsheet-example/src/androidTestDebug/java/com/stripe/android/TestReloadFields.kt
  paymentsheet-example/src/androidTestDebug/java/com/stripe/android/test/core/FieldPopulator.kt
  paymentsheet-example/src/androidTestDebug/java/com/stripe/android/test/core/PlaygroundTestDriver.kt
  paymentsheet-example/src/androidTestDebug/java/com/stripe/android/test/core/ui/EspressoIdButton.kt
  paymentsheet-example/src/androidTestDebug/java/com/stripe/android/test/core/ui/Selectors.kt
  paymentsheet-example/src/main/AndroidManifest.xml
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/EspressoCustomLauncher.kt
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/MainActivity.kt
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/activity/PaymentSheetPlaygroundActivity.kt
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/model/PlaygroundCheckoutModel.kt
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/viewmodel/PaymentSheetPlaygroundViewModel.kt
  paymentsheet-example/src/main/res/layout/activity_espresso_custom_launcher.xml
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentOptionsActivity.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/model/ClientSecret.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/viewmodels/BaseSheetViewModel.kt
Owners: @brnunes-stripe, @michelleb-stripe, @skyler-stripe, @jameswoo-stripe

Cleanup
  payments-ui-core/src/main/java/com/stripe/android/ui/core/elements/CardDetailsElement.kt
  paymentsheet-example/src/androidTestDebug/java/com/stripe/android/TestGooglePay.kt
  paymentsheet-example/src/androidTestDebug/java/com/stripe/android/test/core/ByteScreenCaptureProcessor.kt
  paymentsheet-example/src/androidTestDebug/java/com/stripe/android/test/core/FieldPopulator.kt
  paymentsheet-example/src/androidTestDebug/java/com/stripe/android/test/core/PlaygroundTestDriver.kt
  paymentsheet-example/src/androidTestDebug/java/com/stripe/android/test/core/ui/EspressoIdButton.kt
  paymentsheet-example/src/androidTestDebug/java/com/stripe/android/test/core/ui/Selectors.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/model/ClientSecret.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/paymentdatacollection/TransformToPaymentMethodCreateParamMapTest.kt
Owners: @brnunes-stripe, @michelleb-stripe, @skyler-stripe, @jameswoo-stripe

Cleanup
  payments-ui-core/src/main/java/com/stripe/android/ui/core/elements/CardDetailsElement.kt
  paymentsheet-example/src/androidTestDebug/java/com/stripe/android/TestGooglePay.kt
  paymentsheet-example/src/androidTestDebug/java/com/stripe/android/TestReloadFields.kt
  paymentsheet-example/src/androidTestDebug/java/com/stripe/android/test/core/ByteScreenCaptureProcessor.kt
  paymentsheet-example/src/androidTestDebug/java/com/stripe/android/test/core/FieldPopulator.kt
  paymentsheet-example/src/androidTestDebug/java/com/stripe/android/test/core/PlaygroundTestDriver.kt
  paymentsheet-example/src/androidTestDebug/java/com/stripe/android/test/core/ui/EspressoIdButton.kt
  paymentsheet-example/src/androidTestDebug/java/com/stripe/android/test/core/ui/Selectors.kt
  paymentsheet-example/src/main/AndroidManifest.xml
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/EspressoCustomLauncher.kt
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/MainActivity.kt
  paymentsheet-example/src/main/res/layout/activity_espresso_custom_launcher.xml
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/model/ClientSecret.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/paymentdatacollection/TransformToPaymentMethodCreateParamMapTest.kt
Owners: @brnunes-stripe, @michelleb-stripe, @skyler-stripe, @jameswoo-stripe

[Not being merged to master] Add public api for primary button (#4888)
  paymentsheet/api/paymentsheet.api
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheet.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetConfigurationKtx.kt
Owners: @brnunes-stripe, @michelleb-stripe, @skyler-stripe, @jameswoo-stripe

[wip] getting the focus to remove
  paymentsheet-example/src/androidTestDebug/java/com/stripe/android/TestMultiStepFieldsReloaded.kt
  paymentsheet-example/src/androidTestDebug/java/com/stripe/android/TestReloadFields.kt
  paymentsheet-example/src/androidTestDebug/java/com/stripe/android/test/core/FieldPopulator.kt
  paymentsheet-example/src/androidTestDebug/java/com/stripe/android/test/core/PlaygroundTestDriver.kt
Owners: @brnunes-stripe, @michelleb-stripe, @skyler-stripe, @jameswoo-stripe

Renames example application id to financial connections.
  financial-connections-example/build.gradle
Owners: @brnunes-stripe, @michelleb-stripe, @skyler-stripe, @ccen-stripe, @awush-stripe, @jameswoo-stripe

Renames to bankAccountForToken and makes methods private.
  financial-connections/src/main/java/com/stripe/android/financialconnections/FinancialConnectionsSheet.kt
Owners: @carlosmuvi-stripe

Detekt fixes.
  financial-connections/src/main/java/com/stripe/android/financialconnections/FinancialConnectionsSheet.kt
Owners: @carlosmuvi-stripe

Regenerates API.
  financial-connections/api/financial-connections.api
Owners: @carlosmuvi-stripe

Ignores unrelated test.
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetActivityTest.kt
Owners: @brnunes-stripe, @michelleb-stripe, @skyler-stripe, @jameswoo-stripe

Adds CollectBankAccountToken to Connections (#4867)
  financial-connections/api/financial-connections.api
  financial-connections/build.gradle
  financial-connections/src/main/java/com/stripe/android/financialconnections/DefaultFinancialConnectionsSheetLauncher.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/FinancialConnectionsSheet.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/FinancialConnectionsSheetActivity.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/FinancialConnectionsSheetContract.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/FinancialConnectionsSheetForTokenResult.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/FinancialConnectionsSheetLauncher.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/FinancialConnectionsSheetState.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/FinancialConnectionsSheetViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/analytics/DefaultFinancialFinancialConnectionsEventReporter.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/analytics/FinancialConnectionsEventReporter.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/domain/FetchLinkAccountSession.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/domain/FetchLinkAccountSessionForToken.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/launcher/DefaultFinancialConnectionsSheetLauncher.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/launcher/FinancialConnectionsSheetForTokenLauncher.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/launcher/FinancialConnectionsSheetLauncher.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/model/LinkAccountSession.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/model/serializer/JsonAsStringSerializer.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/FinancialConnectionsSheetTest.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/FinancialFinancialConnectionsSheetActivityTest.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/FinancialFinancialConnectionsSheetContractTest.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/FinancialFinancialConnectionsSheetViewModelTest.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/analytics/DefaultConnectionsEventReportTest.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/domain/FetchLinkAccountSessionForTokenTest.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/launcher/DefaultFinancialConnectionsSheetLauncherTest.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/launcher/FinancialConnectionsSheetForTokenLauncherTest.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/repository/FinancialConnectionsApiRepositoryTest.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/test/testutils.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/testmodels.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/utils/TestUtils.kt
  financial-connections/src/test/resources/json/linked_account_session_with_token.json
Owners: @carlosmuvi-stripe

Add fragmentForPaymentMethod (#4896)
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/BaseAddPaymentMethodFragment.kt
Owners: @brnunes-stripe, @michelleb-stripe, @skyler-stripe, @jameswoo-stripe

[FC][WIP] Example App (#4893)
  build.gradle
  financial-connections-example/build.gradle
  financial-connections-example/proguard-rules.pro
  financial-connections-example/src/main/AndroidManifest.xml
  financial-connections-example/src/main/java/com/stripe/android/financialconnections/example/FinancialConnectionsExampleActivity.kt
  financial-connections-example/src/main/java/com/stripe/android/financialconnections/example/FinancialConnectionsExampleState.kt
  financial-connections-example/src/main/java/com/stripe/android/financialconnections/example/FinancialConnectionsExampleViewEffect.kt
  financial-connections-example/src/main/java/com/stripe/android/financialconnections/example/FinancialConnectionsExampleViewModel.kt
  financial-connections-example/src/main/java/com/stripe/android/financialconnections/example/data/BackendApiFactory.kt
  financial-connections-example/src/main/java/com/stripe/android/financialconnections/example/data/BackendApiService.kt
  financial-connections-example/src/main/java/com/stripe/android/financialconnections/example/data/BackendRepository.kt
  financial-connections-example/src/main/java/com/stripe/android/financialconnections/example/data/model/CreateLinkAccountSessionResponse.kt
  financial-connections-example/src/main/res/drawable-v24/ic_launcher_foreground.xml
  financial-connections-example/src/main/res/drawable/ic_launcher_background.xml
  financial-connections-example/src/main/res/layout/activity_financialconnections_example.xml
  financial-connections-example/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  financial-connections-example/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  financial-connections-example/src/main/res/mipmap-hdpi/ic_launcher.png
  financial-connections-example/src/main/res/mipmap-hdpi/ic_launcher_background.png
  financial-connections-example/src/main/res/mipmap-hdpi/ic_launcher_foreground.png
  financial-connections-example/src/main/res/mipmap-mdpi/ic_launcher.png
  financial-connections-example/src/main/res/mipmap-mdpi/ic_launcher_background.png
  financial-connections-example/src/main/res/mipmap-mdpi/ic_launcher_foreground.png
  financial-connections-example/src/main/res/mipmap-xhdpi/ic_launcher.png
  financial-connections-example/src/main/res/mipmap-xhdpi/ic_launcher_background.png
  financial-connections-example/src/main/res/mipmap-xhdpi/ic_launcher_foreground.png
  financial-connections-example/src/main/res/mipmap-xxhdpi/ic_launcher.png
  financial-connections-example/src/main/res/mipmap-xxhdpi/ic_launcher_background.png
  financial-connections-example/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.png
  financial-connections-example/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  financial-connections-example/src/main/res/mipmap-xxxhdpi/ic_launcher_background.png
  financial-connections-example/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.png
  financial-connections-example/src/main/res/values-night/themes.xml
  financial-connections-example/src/main/res/values/colors.xml
  financial-connections-example/src/main/res/values/strings.xml
  financial-connections-example/src/main/res/values/themes.xml
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetActivityTest.kt
  settings.gradle
Owners: @brnunes-stripe, @michelleb-stripe, @skyler-stripe, @ccen-stripe, @awush-stripe, @jameswoo-stripe

Fix flaky payment sheet activity test
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetActivityTest.kt
Owners: @brnunes-stripe, @michelleb-stripe, @skyler-stripe, @jameswoo-stripe

Remove ignore
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetActivityTest.kt
Owners: @brnunes-stripe, @michelleb-stripe, @skyler-stripe, @jameswoo-stripe

Adds bank account token retrieval example to connections.
  financial-connections-example/src/main/java/com/stripe/android/financialconnections/example/FinancialConnectionsExampleActivity.kt
  financial-connections-example/src/main/java/com/stripe/android/financialconnections/example/FinancialConnectionsExampleViewEffect.kt
  financial-connections-example/src/main/java/com/stripe/android/financialconnections/example/FinancialConnectionsExampleViewModel.kt
  financial-connections-example/src/main/java/com/stripe/android/financialconnections/example/data/BackendApiService.kt
  financial-connections-example/src/main/java/com/stripe/android/financialconnections/example/data/BackendRepository.kt
  financial-connections-example/src/main/res/layout/activity_financialconnections_example.xml
  financial-connections-example/src/main/res/values/strings.xml
Owners: @brnunes-stripe, @michelleb-stripe, @skyler-stripe, @ccen-stripe, @awush-stripe, @jameswoo-stripe

Custom flow is now tested and working.
  paymentsheet-example/src/androidTestDebug/java/com/stripe/android/TestHardCodedLpms.kt
  paymentsheet-example/src/androidTestDebug/java/com/stripe/android/TestMultiStepFieldsReloaded.kt
  paymentsheet-example/src/androidTestDebug/java/com/stripe/android/test/core/FieldPopulator.kt
  paymentsheet-example/src/androidTestDebug/java/com/stripe/android/test/core/PlaygroundTestDriver.kt
  paymentsheet-example/src/androidTestDebug/java/com/stripe/android/test/core/ui/PaymentSelection.kt
  paymentsheet-example/src/androidTestDebug/java/com/stripe/android/test/core/ui/Selectors.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentMethodsUI.kt
Owners: @brnunes-stripe, @michelleb-stripe, @skyler-stripe, @jameswoo-stripe

Hides token button.
  financial-connections-example/src/main/res/layout/activity_financialconnections_example.xml
Owners: @brnunes-stripe, @michelleb-stripe, @skyler-stripe, @ccen-stripe, @awush-stripe, @jameswoo-stripe

Remove observer
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetActivityTest.kt
  paymentsheet/src/test/java/com/stripe/android/utils/TestUtils.kt
Owners: @brnunes-stripe, @michelleb-stripe, @skyler-stripe, @jameswoo-stripe

[Identity] Don't clear upload status when starting scanning back
  identity/src/main/java/com/stripe/android/identity/navigation/DriverLicenseScanFragment.kt
  identity/src/main/java/com/stripe/android/identity/navigation/IdentityCameraScanFragment.kt
  identity/src/test/java/com/stripe/android/identity/navigation/IdentityCameraScanFragmentTest.kt
Owners: @ccen-stripe, @awush-stripe

[Identity] Don't clear upload status when starting scanning back (#4904)
  identity/src/main/java/com/stripe/android/identity/navigation/DriverLicenseScanFragment.kt
  identity/src/main/java/com/stripe/android/identity/navigation/IdentityCameraScanFragment.kt
  identity/src/test/java/com/stripe/android/identity/navigation/IdentityCameraScanFragmentTest.kt
Owners: @ccen-stripe, @awush-stripe

Update the affirm icons
  paymentsheet/res/drawable-night/stripe_ic_paymentsheet_pm_affirm.xml
Owners: @brnunes-stripe, @michelleb-stripe, @skyler-stripe, @jameswoo-stripe

End to end test now working.
  paymentsheet-example/src/androidTestDebug/java/com/stripe/android/TestMultiStepFieldsReloaded.kt
  paymentsheet-example/src/androidTestDebug/java/com/stripe/android/test/core/FieldPopulator.kt
Owners: @brnunes-stripe, @michelleb-stripe, @skyler-stripe, @jameswoo-stripe

Adds named params.
  financial-connections-example/src/main/java/com/stripe/android/financialconnections/example/FinancialConnectionsExampleViewModel.kt
Owners: @brnunes-stripe, @michelleb-stripe, @skyler-stripe, @ccen-stripe, @awush-stripe, @jameswoo-stripe

Update playground to save delayed pm
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/activity/PaymentSheetPlaygroundActivity.kt
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/model/PlaygroundCheckoutModel.kt
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/viewmodel/PaymentSheetPlaygroundViewModel.kt
Owners: @brnunes-stripe, @michelleb-stripe, @skyler-stripe, @jameswoo-stripe

Add us_bank_account to supported payment method
  payments-ui-core/api/payments-ui-core.api
  payments-ui-core/src/main/java/com/stripe/android/ui/core/forms/USBankAccountSpec.kt
  paymentsheet/res/values/donottranslate.xml
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/forms/PaymentMethodRequirements.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/model/SupportedPaymentMethod.kt
Owners: @brnunes-stripe, @michelleb-stripe, @skyler-stripe, @jameswoo-stripe

Updates changelog.
  CHANGELOG.md
Owners: @brnunes-stripe, @michelleb-stripe, @skyler-stripe, @ccen-stripe, @awush-stripe, @jameswoo-stripe

Add default billing address
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/activity/PaymentSheetPlaygroundActivity.kt
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/model/PlaygroundCheckoutModel.kt
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/viewmodel/PaymentSheetPlaygroundViewModel.kt
Owners: @brnunes-stripe, @michelleb-stripe, @skyler-stripe, @jameswoo-stripe

Fix flaky payment sheet activity test (#4902)
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetActivityTest.kt
  paymentsheet/src/test/java/com/stripe/android/utils/TestUtils.kt
Owners: @brnunes-stripe, @michelleb-stripe, @skyler-stripe, @jameswoo-stripe

.github/CODEOWNERS:

# global - fallback to this group if the following groups don't match
*   @brnunes-stripe @michelleb-stripe @skyler-stripe @ccen-stripe @awush-stripe @jameswoo-stripe

# payment sdk
/payments/ @brnunes-stripe @michelleb-stripe @skyler-stripe @ccen-stripe @jameswoo-stripe
/payments-core/ @brnunes-stripe @michelleb-stripe @skyler-stripe @ccen-stripe @jameswoo-stripe
/payments-model/ @brnunes-stripe @michelleb-stripe @skyler-stripe @ccen-stripe @jameswoo-stripe
/paymentsheet/ @brnunes-stripe @michelleb-stripe @skyler-stripe @jameswoo-stripe
/example/ @brnunes-stripe @michelleb-stripe @skyler-stripe @jameswoo-stripe
/paymentsheet-example/ @brnunes-stripe @michelleb-stripe @skyler-stripe @jameswoo-stripe
/wechatpay/ @brnunes-stripe @michelleb-stripe @skyler-stripe @ccen-stripe @jameswoo-stripe
/stripe-test-e2e/ @brnunes-stripe @michelleb-stripe @skyler-stripe @jameswoo-stripe
/link/ @brnunes-stripe @michelleb-stripe @skyler-stripe @jameswoo-stripe

# stripecardscan sdk
/stripecardscan/ @awush-stripe @ccen-stripe
/stripecardscan-example/ @awush-stripe @ccen-stripe

# identity sdk
/identity/ @ccen-stripe @awush-stripe
/identity-example/ @ccen-stripe @awush-stripe

# financial connections sdk
/financial-connections/ @carlosmuvi-stripe

# shared modules
/stripe-core/ @ccen-stripe
/payments-ui-core/ @brnunes-stripe @michelleb-stripe @skyler-stripe @jameswoo-stripe
/camera-core/ @ccen-stripe @awush-stripe
