Repository stripe/stripe-android, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stripe/stripe-android-sdk-reviewers, @jaynewstrom-stripe, @tillh-stripe, @ccen-stripe, @jameswoo-stripe, @carlosmuvi-stripe, @awush-stripe

still show loading when user selected just one account on institution.
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/accountpicker/AccountPickerScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/accountpicker/AccountPickerStates.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/accountpicker/AccountPickerViewModel.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/ApiKeyFixtures.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/features/accountpicker/AccountPickerViewModelTest.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Updates copy.
  financial-connections/res/values/strings.xml
Owners: @carlosmuvi-stripe, @ccen-stripe

add file:RestrictTo
  stripe-ui-core/api/stripe-ui-core.api
  stripe-ui-core/src/main/java/com/stripe/android/uicore/elements/SectionElementUI.kt
Owners: @stripe/stripe-android-sdk-reviewers

Sorts permissions.
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/common/AccessibleDataCallout.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Regenerates screenshots.
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.attachpayment_null_DefaultGroup_AttachPaymentScreenPreview_null,NEXUS_5].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.attachpayment_null_DefaultGroup_AttachPaymentScreenPreview_null,PIXEL_C].png
Owners: @carlosmuvi-stripe, @ccen-stripe

Ktlint fixes.
  financial-connections/src/test/java/com/stripe/android/financialconnections/features/networkinglinksignup/NetworkingLinkSignupViewModelTest.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Implement NetworkingLinkSignup pane (#6137)
  financial-connections/api/financial-connections.api
  financial-connections/res/drawable/stripe_ic_convert.xml
  financial-connections/res/drawable/stripe_ic_disputeprotection.xml
  financial-connections/res/values/strings.xml
  financial-connections/src/main/java/com/stripe/android/financialconnections/di/FinancialConnectionsSheetConfigurationModule.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/di/FinancialConnectionsSheetNativeComponent.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/di/FinancialConnectionsSheetNativeModule.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/di/FinancialConnectionsSheetSharedModule.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/domain/GoNext.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/domain/LookupAccount.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/domain/SaveAccountToLink.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/common/ModalBottomSheetContent.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/institutionpicker/InstitutionPickerViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinksignup/NetworkingLinkSignupScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinksignup/NetworkingLinkSignupSubcomponent.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinksignup/NetworkingLinkSignupViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/navigation/NavigationCommand.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/network/NetworkConstants.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/repository/FinancialConnectionsAccountsRepository.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/repository/FinancialConnectionsManifestRepository.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/ui/FinancialConnectionsSheetNativeActivity.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/ui/TextResource.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/ui/components/Button.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/ui/sdui/ServerDrivenUi.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/ui/theme/StripeThemeForConnections.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/utils/MavericksExtensions.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/features/networkinglinksignup/NetworkingLinkSignupViewModelTest.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/networking/FakeFinancialConnectionsManifestRepository.kt
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.networkinglinksignup_null_NetworkingLinkSignupPane_Enteringemail_,NEXUS_5].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.networkinglinksignup_null_NetworkingLinkSignupPane_Enteringemail_,PIXEL_C].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.networkinglinksignup_null_NetworkingLinkSignupPane_Enteringemail_null,NEXUS_5].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.networkinglinksignup_null_NetworkingLinkSignupPane_Enteringemail_null,PIXEL_C].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.networkinglinksignup_null_NetworkingLinkSignupPane_Enteringphone_,NEXUS_5].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.networkinglinksignup_null_NetworkingLinkSignupPane_Enteringphone_,PIXEL_C].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.networkinglinksignup_null_NetworkingLinkSignupPane_Enteringphone_null,NEXUS_5].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.networkinglinksignup_null_NetworkingLinkSignupPane_Enteringphone_null,PIXEL_C].png
  payments-model/src/main/java/com/stripe/android/model/ConsumerSessionLookup.kt
Owners: @carlosmuvi-stripe, @ccen-stripe, @stripe/stripe-android-sdk-reviewers

Fix Compose tests (#6179)
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentMethodsUI.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentOptionsActivityTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetActivityTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/PaymentOptionsTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/PaymentSheetTopBarTest.kt
  stripe-ui-core/src/main/java/com/stripe/android/uicore/StripeTheme.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe, @stripe/stripe-android-sdk-reviewers

Detekt fixes.
  financial-connections/src/main/java/com/stripe/android/financialconnections/di/FinancialConnectionsSheetNativeComponent.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/ui/FinancialConnectionsSheetNativeActivity.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Exposes readonly field on TextFieldUI.
  stripe-ui-core/src/main/java/com/stripe/android/uicore/elements/AddressTextFieldUI.kt
  stripe-ui-core/src/main/java/com/stripe/android/uicore/elements/PhoneNumberElementUI.kt
  stripe-ui-core/src/main/java/com/stripe/android/uicore/elements/TextFieldUI.kt
Owners: @stripe/stripe-android-sdk-reviewers

Simplify PaymentMethodsUIScreenshotTest to only test layout.
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/PaymentMethodsUIScreenshotTest.kt
  paymentsheet/src/test/java/com/stripe/android/utils/MockPaymentMethodsFactory.kt
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testDisabled[DarkTheme,CrazyAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testDisabled[DarkTheme,CrazyAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testDisabled[DarkTheme,CustomAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testDisabled[DarkTheme,CustomAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testDisabled[DarkTheme,DefaultAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testDisabled[DarkTheme,DefaultAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testDisabled[LightTheme,CrazyAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testDisabled[LightTheme,CrazyAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testDisabled[LightTheme,CustomAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testDisabled[LightTheme,CustomAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testDisabled[LightTheme,DefaultAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testDisabled[LightTheme,DefaultAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testInitialState[DarkTheme,CrazyAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testInitialState[DarkTheme,CrazyAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testInitialState[DarkTheme,CustomAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testInitialState[DarkTheme,CustomAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testInitialState[DarkTheme,DefaultAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testInitialState[DarkTheme,DefaultAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testInitialState[LightTheme,CrazyAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testInitialState[LightTheme,CrazyAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testInitialState[LightTheme,CustomAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testInitialState[LightTheme,CustomAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testInitialState[LightTheme,DefaultAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testLongPaymentMethodName[LightTheme,DefaultAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testScrolledToEnd[DarkTheme,CrazyAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testScrolledToEnd[DarkTheme,CrazyAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testScrolledToEnd[DarkTheme,CustomAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testScrolledToEnd[DarkTheme,CustomAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testScrolledToEnd[DarkTheme,DefaultAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testScrolledToEnd[DarkTheme,DefaultAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testScrolledToEnd[LightTheme,CrazyAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testScrolledToEnd[LightTheme,CrazyAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testScrolledToEnd[LightTheme,CustomAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testScrolledToEnd[LightTheme,CustomAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodsUIScreenshotTest_testScrolledToEnd[LightTheme,DefaultAppearance,DefaultFont].png
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Adds disable networking api call and fixes email section.
  financial-connections/src/main/java/com/stripe/android/financialconnections/domain/DisableNetworking.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinkloginwarmup/NetworkingLinkLoginWarmupScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinkloginwarmup/NetworkingLinkLoginWarmupViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/repository/FinancialConnectionsManifestRepository.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

[Financial Connections] Bug bash fixes (#6187)
  financial-connections/res/values/strings.xml
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/accountpicker/AccountPickerScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/accountpicker/AccountPickerStates.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/accountpicker/AccountPickerViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/common/AccessibleDataCallout.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/ApiKeyFixtures.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/features/accountpicker/AccountPickerViewModelTest.kt
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.attachpayment_null_DefaultGroup_AttachPaymentScreenPreview_null,NEXUS_5].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.attachpayment_null_DefaultGroup_AttachPaymentScreenPreview_null,PIXEL_C].png
Owners: @carlosmuvi-stripe, @ccen-stripe

Show loading while disabling networking.
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinkloginwarmup/NetworkingLinkLoginWarmupScreen.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Update copy.
  financial-connections/res/values/strings.xml
Owners: @carlosmuvi-stripe, @ccen-stripe

Test backend env var.
  bitrise.yml
Owners: @stripe/stripe-android-sdk-reviewers

Adds quotes.
  bitrise.yml
Owners: @stripe/stripe-android-sdk-reviewers

Choose chrome.
  maestro/common/subflow-skip-chrome-welcome.yaml
Owners: @stripe/stripe-android-sdk-reviewers

Manual entry handoff (#6134)
  financial-connections/api/financial-connections.api
  financial-connections/src/main/java/com/stripe/android/financialconnections/FinancialConnectionsSheetViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/domain/CompleteFinancialConnectionsSession.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/domain/NativeAuthFlowCoordinator.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/exception/CustomManualEntryRequiredError.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/manualentry/CustomManualEntry.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/manualentry/ManualEntryScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/manualentry/ManualEntryViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/model/FinancialConnectionsSession.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/model/FinancialConnectionsSessionManifest.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/model/ManualEntry.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/presentation/FinancialConnectionsSheetNativeViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/repository/FinancialConnectionsRepository.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/ApiKeyFixtures.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/FinancialConnectionsSheetViewModelTest.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/features/manualentry/ManualEntryViewModelTest.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/networking/FakeFinancialConnectionsRepository.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/presentation/FinancialConnectionsSheetNativeViewModelTest.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Simplify script.
  scripts/execute_maestro_tests.sh
Owners: @stripe/stripe-android-sdk-reviewers

Fix script.
  scripts/execute_maestro_tests.sh
Owners: @stripe/stripe-android-sdk-reviewers

Run script directly.
  bitrise.yml
  scripts/execute_maestro_tests.sh
Owners: @stripe/stripe-android-sdk-reviewers

Fix loop
  bitrise.yml
Owners: @stripe/stripe-android-sdk-reviewers

Test slack
  bitrise.yml
Owners: @stripe/stripe-android-sdk-reviewers

Test slack
  bitrise.yml
Owners: @stripe/stripe-android-sdk-reviewers

Test reports.
  bitrise.yml
Owners: @stripe/stripe-android-sdk-reviewers

Fix.
  bitrise.yml
Owners: @stripe/stripe-android-sdk-reviewers

Fix.
  bitrise.yml
Owners: @stripe/stripe-android-sdk-reviewers

Use correct directory.
  bitrise.yml
Owners: @stripe/stripe-android-sdk-reviewers

Exports test results.
  bitrise.yml
Owners: @stripe/stripe-android-sdk-reviewers

Removes local permission sorting.
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/common/AccessibleDataCallout.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Update manual entry copy.
  financial-connections/res/values/strings.xml
Owners: @carlosmuvi-stripe, @ccen-stripe

Update manual entry copy.
  bitrise.yml
Owners: @stripe/stripe-android-sdk-reviewers

Regenerates screenshots.
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.manualentry_null_DefaultGroup_ManualEntryScreenErrorPreview_null,NEXUS_5].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.manualentry_null_DefaultGroup_ManualEntryScreenErrorPreview_null,PIXEL_C].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.manualentry_null_DefaultGroup_ManualEntryScreenPreview_null,NEXUS_5].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.manualentry_null_DefaultGroup_ManualEntryScreenPreview_null,PIXEL_C].png
Owners: @carlosmuvi-stripe, @ccen-stripe

Test
  bitrise.yml
Owners: @stripe/stripe-android-sdk-reviewers

[stripe-ui-core] Move SectionElement to stripe-ui-core (#6186)
  link/src/main/java/com/stripe/android/link/ui/wallet/WalletScreen.kt
  link/src/test/java/com/stripe/android/link/ui/forms/FormControllerTest.kt
  payments-ui-core/api/payments-ui-core.api
  payments-ui-core/src/main/java/com/stripe/android/ui/core/FormController.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/FormUI.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/elements/AddressSpec.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/elements/CardBillingSpec.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/elements/CardDetailsSectionElementUI.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/elements/FormItemSpec.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/elements/UpiSpec.kt
  payments-ui-core/src/test/java/com/stripe/android/ui/core/forms/TransformSpecToElementTest.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/forms/FormViewModel.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/forms/CompleteFormFieldValueFilterTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/forms/FormViewModelTest.kt
  stripe-ui-core/detekt-baseline.xml
  stripe-ui-core/src/main/java/com/stripe/android/uicore/elements/SectionController.kt
  stripe-ui-core/src/main/java/com/stripe/android/uicore/elements/SectionElement.kt
  stripe-ui-core/src/main/java/com/stripe/android/uicore/elements/SectionElementUI.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe, @ccen-stripe, @carlosmuvi-stripe, @stripe/stripe-android-sdk-reviewers

Remove hardcoded backend.
  bitrise.yml
Owners: @stripe/stripe-android-sdk-reviewers

[FC] Minor tweaks (#6193)
  financial-connections/res/values/strings.xml
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/common/AccessibleDataCallout.kt
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.manualentry_null_DefaultGroup_ManualEntryScreenErrorPreview_null,NEXUS_5].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.manualentry_null_DefaultGroup_ManualEntryScreenErrorPreview_null,PIXEL_C].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.manualentry_null_DefaultGroup_ManualEntryScreenPreview_null,NEXUS_5].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.manualentry_null_DefaultGroup_ManualEntryScreenPreview_null,PIXEL_C].png
Owners: @carlosmuvi-stripe, @ccen-stripe

Remove trigger.
  bitrise.yml
Owners: @stripe/stripe-android-sdk-reviewers

Adds mock web server tests for startConsumerVerification
  payments-model/src/test/java/com/stripe/android/repository/ConsumersApiServiceImplTest.kt
Owners: @stripe/stripe-android-sdk-reviewers

.github/CODEOWNERS:

# Global - fallback to this group if the following groups don't match
* @stripe/stripe-android-sdk-reviewers

# Payments SDK
/payments/ @jaynewstrom-stripe @tillh-stripe @ccen-stripe @jameswoo-stripe
/paymentsheet/ @jaynewstrom-stripe @tillh-stripe @jameswoo-stripe
/wechatpay/ @jaynewstrom-stripe @tillh-stripe @ccen-stripe @jameswoo-stripe
/stripe-test-e2e/ @jaynewstrom-stripe @tillh-stripe @jameswoo-stripe
/link/ @jaynewstrom-stripe @tillh-stripe @jameswoo-stripe @ccen-stripe @carlosmuvi-stripe
/payment-method-messaging/ @jaynewstrom-stripe @tillh-stripe @jameswoo-stripe

# CardScan SDK
/stripecardscan/ @awush-stripe @ccen-stripe
/stripecardscan-example/ @awush-stripe @ccen-stripe

# Identity SDK
/identity/ @ccen-stripe @awush-stripe @carlosmuvi-stripe
/identity-example/ @ccen-stripe @awush-stripe @carlosmuvi-stripe

# Financial Connections SDK
/financial-connections/ @carlosmuvi-stripe @ccen-stripe
/financial-connections-example/ @carlosmuvi-stripe @ccen-stripe

# Shared modules
/camera-core/ @ccen-stripe @awush-stripe

# Configuration files
*.gradle @stripe/stripe-android-sdk-reviewers
