Repository stripe/stripe-android, changes with the owners that .github/CODEOWNERS names for each.
All owners: @brnunes-stripe, @michelleb-stripe, @skyler-stripe, @ccen-stripe, @awush-stripe

Add affirm to payment sheet leave out of exposedPaymentMethods until ready to go live
  payments-core/res/values/totranslate.xml
  payments-core/src/main/java/com/stripe/android/model/PaymentMethod.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/forms/AffirmSpec.kt
  paymentsheet/res/drawable-night/stripe_ic_paymentsheet_pm_affirm.xml
  paymentsheet/res/drawable/stripe_ic_paymentsheet_pm_affirm.xml
  paymentsheet/res/values/donottranslate.xml
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/forms/PaymentMethodRequirements.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/model/SupportedPaymentMethod.kt
  paymentsheet/src/test/resources/affirm-support.csv
Owners: @brnunes-stripe, @michelleb-stripe, @skyler-stripe, @ccen-stripe

remove unused imports
  payments-ui-core/src/main/java/com/stripe/android/ui/core/forms/AffirmSpec.kt
Owners: @brnunes-stripe, @michelleb-stripe, @skyler-stripe

add space after //
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/model/SupportedPaymentMethod.kt
Owners: @brnunes-stripe, @michelleb-stripe, @skyler-stripe

use hit rate to determin a good image
  identity/src/main/java/com/stripe/android/identity/states/IdentityScanState.kt
  identity/src/main/java/com/stripe/android/identity/viewmodel/CameraViewModel.kt
  identity/src/test/java/com/stripe/android/identity/states/IdentityScanStateTests.kt
Owners: @ccen-stripe, @awush-stripe

use hit rate to determin a good image (#4598)
  identity/src/main/java/com/stripe/android/identity/states/IdentityScanState.kt
  identity/src/main/java/com/stripe/android/identity/viewmodel/CameraViewModel.kt
  identity/src/test/java/com/stripe/android/identity/states/IdentityScanStateTests.kt
Owners: @ccen-stripe, @awush-stripe

Make IDScanFragment able to scan both sides
  identity/res/layout/confirmation_fragment.xml
  identity/res/layout/id_scan_fragment.xml
  identity/res/navigation/identity_nav_graph.xml
  identity/res/values/strings.xml
  identity/src/main/java/com/stripe/android/identity/camera/IdentityScanFlow.kt
  identity/src/main/java/com/stripe/android/identity/navigation/IDScanFragment.kt
  identity/src/main/java/com/stripe/android/identity/states/IdentityScanState.kt
  identity/src/main/java/com/stripe/android/identity/viewmodel/CameraViewModel.kt
  identity/src/test/java/com/stripe/android/identity/navigation/IDScanFragmentTest.kt
  identity/src/test/java/com/stripe/android/identity/viewmodel/CameraViewModelTest.kt
Owners: @ccen-stripe, @awush-stripe

privatize field
  identity/src/main/java/com/stripe/android/identity/camera/IdentityScanFlow.kt
Owners: @ccen-stripe, @awush-stripe

update affirm-support.csv now that shipping is required
  paymentsheet/src/test/resources/affirm-support.csv
Owners: @brnunes-stripe, @michelleb-stripe, @skyler-stripe

add affirm to payments-core.api PaymentMethod$Type
  payments-core/api/payments-core.api
Owners: @brnunes-stripe, @michelleb-stripe, @skyler-stripe, @ccen-stripe

add AffirmSpecKt to payments-ui-core.api
  payments-ui-core/api/payments-ui-core.api
Owners: @brnunes-stripe, @michelleb-stripe, @skyler-stripe

correct the spacing
  payments-ui-core/api/payments-ui-core.api
Owners: @brnunes-stripe, @michelleb-stripe, @skyler-stripe

Get tests working again - not quite there.
  example/src/main/java/com/stripe/example/module/BackendApiFactory.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/elements/IdentifierSpec.kt
  paymentsheet-example/src/androidTestDebug/java/FormE2ETest.kt
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/activity/PaymentSheetPlaygroundActivity.kt
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/viewmodel/PaymentSheetPlaygroundViewModel.kt
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/viewmodel/LpmPlaygroundViewModel.kt
  paymentsheet/build.gradle
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetActivity.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/forms/GenericLpmSpec.kt
Owners: @brnunes-stripe, @michelleb-stripe, @skyler-stripe

Fix dependencies for all modules
  build.gradle
  camera-core/build.gradle
  example/build.gradle
  gradle/androidx.versions.toml
  identity-example/build.gradle
  identity/build.gradle
  link/build.gradle
  payments-core/build.gradle
  payments-core/src/main/java/com/stripe/android/googlepaylauncher/GooglePayLauncherViewModel.kt
  payments-core/src/main/java/com/stripe/android/googlepaylauncher/StripeGooglePayViewModel.kt
  payments-core/src/main/java/com/stripe/android/view/AddPaymentMethodViewModel.kt
  payments-core/src/main/java/com/stripe/android/view/FpxViewModel.kt
  payments-core/src/main/java/com/stripe/android/view/PaymentAuthWebViewActivityViewModel.kt
  payments-core/src/main/java/com/stripe/android/view/PaymentFlowViewModel.kt
  payments-core/src/main/java/com/stripe/android/view/PaymentMethodsViewModel.kt
  payments-ui-core/build.gradle
  paymentsheet-example/build.gradle
  paymentsheet/build.gradle
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/forms/FormViewModel.kt
  settings.gradle
  stripe-core/build.gradle
  stripe-test-e2e/build.gradle
  stripecardscan-example/build.gradle
  stripecardscan/build.gradle
  wechatpay/build.gradle
Owners: @brnunes-stripe, @michelleb-stripe, @skyler-stripe, @ccen-stripe, @awush-stripe

TestUtils
  payments-core/src/test/java/com/stripe/android/utils/TestUtils.kt
Owners: @brnunes-stripe, @michelleb-stripe, @skyler-stripe, @ccen-stripe

Another TestUtils
  paymentsheet/src/test/java/com/stripe/android/utils/TestUtils.kt
Owners: @brnunes-stripe, @michelleb-stripe, @skyler-stripe

Fix dependencies for all modules (#4601)
  build.gradle
  camera-core/build.gradle
  example/build.gradle
  gradle/androidx.versions.toml
  identity-example/build.gradle
  identity/build.gradle
  link/build.gradle
  payments-core/build.gradle
  payments-core/src/main/java/com/stripe/android/googlepaylauncher/GooglePayLauncherViewModel.kt
  payments-core/src/main/java/com/stripe/android/googlepaylauncher/StripeGooglePayViewModel.kt
  payments-core/src/main/java/com/stripe/android/view/AddPaymentMethodViewModel.kt
  payments-core/src/main/java/com/stripe/android/view/FpxViewModel.kt
  payments-core/src/main/java/com/stripe/android/view/PaymentAuthWebViewActivityViewModel.kt
  payments-core/src/main/java/com/stripe/android/view/PaymentFlowViewModel.kt
  payments-core/src/main/java/com/stripe/android/view/PaymentMethodsViewModel.kt
  payments-core/src/test/java/com/stripe/android/utils/TestUtils.kt
  payments-ui-core/build.gradle
  paymentsheet-example/build.gradle
  paymentsheet/build.gradle
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/forms/FormViewModel.kt
  paymentsheet/src/test/java/com/stripe/android/utils/TestUtils.kt
  settings.gradle
  stripe-core/build.gradle
  stripe-test-e2e/build.gradle
  stripecardscan-example/build.gradle
  stripecardscan/build.gradle
  wechatpay/build.gradle
Owners: @brnunes-stripe, @michelleb-stripe, @skyler-stripe, @ccen-stripe, @awush-stripe

./gradlew apiDump
  payments-ui-core/api/payments-ui-core.api
Owners: @brnunes-stripe, @michelleb-stripe, @skyler-stripe

.github/CODEOWNERS:

# global - fallback to this group if the following groups don't match
*   @brnunes-stripe @michelleb-stripe @skyler-stripe @ccen-stripe @awush-stripe

# payment sdk
/payments/ @brnunes-stripe @michelleb-stripe @skyler-stripe @ccen-stripe
/payments-core/ @brnunes-stripe @michelleb-stripe @skyler-stripe @ccen-stripe
/paymentsheet/ @brnunes-stripe @michelleb-stripe @skyler-stripe
/example/ @brnunes-stripe @michelleb-stripe @skyler-stripe
/paymentsheet-example/ @brnunes-stripe @michelleb-stripe @skyler-stripe
/wechatpay/ @brnunes-stripe @michelleb-stripe @skyler-stripe @ccen-stripe
/stripe-test-e2e/ @brnunes-stripe @michelleb-stripe @skyler-stripe
/link/ @brnunes-stripe @michelleb-stripe @skyler-stripe

# stripecardscan sdk
/stripecardscan/ @awush-stripe @ccen-stripe
/stripecardscan-example/ @awush-stripe @ccen-stripe

# identity sdk
/identity/ @ccen-stripe @awush-stripe
/identity-example/ @ccen-stripe @awush-stripe

# shared modules
/stripe-core/ @ccen-stripe
/payments-ui-core/ @brnunes-stripe @michelleb-stripe @skyler-stripe
/camera-core/ @ccen-stripe @awush-stripe
