Repository stripe/stripe-android, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stripe/stripe-android-sdk-reviewers, @jaynewstrom-stripe, @tillh-stripe, @ccen-stripe, @jameswoo-stripe, @carlosmuvi-stripe, @awush-stripe

.github/CODEOWNERS:

# Global - fallback to this group if the following groups don't match
* @stripe/stripe-android-sdk-reviewers

# Payments SDK
/payments/ @jaynewstrom-stripe @tillh-stripe @ccen-stripe @jameswoo-stripe
/paymentsheet/ @jaynewstrom-stripe @tillh-stripe @jameswoo-stripe
/wechatpay/ @jaynewstrom-stripe @tillh-stripe @ccen-stripe @jameswoo-stripe
/stripe-test-e2e/ @jaynewstrom-stripe @tillh-stripe @jameswoo-stripe
/link/ @jaynewstrom-stripe @tillh-stripe @jameswoo-stripe @ccen-stripe @carlosmuvi-stripe
/payment-method-messaging/ @jaynewstrom-stripe @tillh-stripe @jameswoo-stripe

# CardScan SDK
/stripecardscan/ @awush-stripe @ccen-stripe
/stripecardscan-example/ @awush-stripe @ccen-stripe

# Identity SDK
/identity/ @ccen-stripe @awush-stripe @carlosmuvi-stripe
/identity-example/ @ccen-stripe @awush-stripe @carlosmuvi-stripe

# Financial Connections SDK
/financial-connections/ @carlosmuvi-stripe @ccen-stripe
/financial-connections-example/ @carlosmuvi-stripe @ccen-stripe

# Shared modules
/camera-core/ @ccen-stripe @awush-stripe

# Configuration files
*.gradle @stripe/stripe-android-sdk-reviewers

pass correct SDK version.
  link/src/main/java/com/stripe/android/link/injection/LinkCommonModule.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe, @ccen-stripe, @carlosmuvi-stripe

Test ConsumersApiServiceImpl with mock network. (#6146)
  payments-model/build.gradle
  payments-model/src/test/java/com/stripe/android/repository/ConsumersApiServiceImplTest.kt
Owners: @stripe/stripe-android-sdk-reviewers

Add payment sheet mock network tests for failure scenarios.
  paymentsheet/src/androidTest/java/com/stripe/android/paymentsheet/PaymentSheetTest.kt
  paymentsheet/src/androidTest/resources/payment-intent-get-requires_payment_method.json
  paymentsheet/src/androidTest/resources/payment-intent-get-success.json
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Fix rebase.
  paymentsheet/src/androidTest/java/com/stripe/android/paymentsheet/PaymentSheetTest.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Adds test.
  payments-model/src/test/java/com/stripe/android/repository/ConsumersApiServiceImplTest.kt
Owners: @stripe/stripe-android-sdk-reviewers

Add payment sheet mock network tests for failure scenarios. (#6147)
  paymentsheet/src/androidTest/java/com/stripe/android/paymentsheet/PaymentSheetTest.kt
  paymentsheet/src/androidTest/resources/payment-intent-get-requires_payment_method.json
  paymentsheet/src/androidTest/resources/payment-intent-get-success.json
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Keep initial animation
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/BottomSheetController.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/BaseSheetActivity.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Update material to 1.8.0.
  build.gradle
  paymentsheet/res/layout/activity_payment_options.xml
  paymentsheet/res/layout/activity_payment_sheet.xml
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/BottomSheetController.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentOptionsActivity.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetActivity.kt
Owners: @stripe/stripe-android-sdk-reviewers, @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Document hacks!
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/BottomSheetController.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Uses StripeThemeForConnections theme.
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinksignup/NetworkingLinkSignupScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/ui/theme/StripeThemeForConnections.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Simplify updated code.
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/BottomSheetController.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Fix ktlint.
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/BottomSheetController.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

tablet.
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/BaseSheetActivity.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Fixes background.
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/partnerauth/PartnerAuthScreen.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Update material to 1.8.0. (#6152)
  build.gradle
  paymentsheet/res/layout/activity_payment_options.xml
  paymentsheet/res/layout/activity_payment_sheet.xml
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/BottomSheetController.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentOptionsActivity.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetActivity.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/BaseSheetActivity.kt
Owners: @stripe/stripe-android-sdk-reviewers, @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Update to ktlint 0.48.2.
  .editorconfig
  build.gradle
  camera-core/src/main/java/com/stripe/android/camera/framework/image/NV21Image.kt
Owners: @stripe/stripe-android-sdk-reviewers, @ccen-stripe, @awush-stripe

Fixes phone background width
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/partnerauth/PartnerAuthScreen.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Update compose versions to 1.3.3.
  build.gradle
  example/build.gradle
  financial-connections-example/build.gradle
  financial-connections/build.gradle
  identity-example/build.gradle
  identity/build.gradle
  link/build.gradle
  payment-method-messaging/build.gradle
  payments-ui-core/build.gradle
  paymentsheet-example/build.gradle
  paymentsheet/build.gradle
  stripe-ui-core/build.gradle
Owners: @stripe/stripe-android-sdk-reviewers

Update test dependencies.
  build.gradle
  camera-core/build.gradle
  example/build.gradle
  financial-connections/build.gradle
  payments-core/build.gradle
  paymentsheet-example/build.gradle
  paymentsheet/build.gradle
  stripe-core/build.gradle
  stripecardscan/build.gradle
Owners: @stripe/stripe-android-sdk-reviewers

Fixes modal bottom sheet fixed footer.
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/common/ModalBottomSheetContent.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Update compose versions to 1.3.3. (#6156)
  build.gradle
  example/build.gradle
  financial-connections-example/build.gradle
  financial-connections/build.gradle
  identity-example/build.gradle
  identity/build.gradle
  link/build.gradle
  payment-method-messaging/build.gradle
  payments-ui-core/build.gradle
  paymentsheet-example/build.gradle
  paymentsheet/build.gradle
  stripe-ui-core/build.gradle
Owners: @stripe/stripe-android-sdk-reviewers

Update to kotlin 1.8.0.
  build.gradle
Owners: @stripe/stripe-android-sdk-reviewers

./gradlew apiDump.
  financial-connections/api/financial-connections.api
  payments-ui-core/api/payments-ui-core.api
  stripe-core/api/stripe-core.api
  stripe-ui-core/api/stripe-ui-core.api
Owners: @carlosmuvi-stripe, @ccen-stripe, @stripe/stripe-android-sdk-reviewers

Update to kotlin 1.8.0. (#6158)
  build.gradle
  financial-connections/api/financial-connections.api
  payments-ui-core/api/payments-ui-core.api
  stripe-core/api/stripe-core.api
  stripe-ui-core/api/stripe-ui-core.api
Owners: @stripe/stripe-android-sdk-reviewers, @carlosmuvi-stripe, @ccen-stripe

Adds missing subtitle.
  financial-connections/api/financial-connections.api
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/common/ModalBottomSheetContent.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Fix SDK version on ConsumersApiService (#6154)
  link/src/main/java/com/stripe/android/link/injection/LinkCommonModule.kt
  payments-model/src/test/java/com/stripe/android/repository/ConsumersApiServiceImplTest.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe, @ccen-stripe, @carlosmuvi-stripe, @stripe/stripe-android-sdk-reviewers

Updates text.
  financial-connections/res/values/strings.xml
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/success/SuccessScreen.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Update test dependencies. (#6157)
  build.gradle
  camera-core/build.gradle
  example/build.gradle
  financial-connections/build.gradle
  payments-core/build.gradle
  paymentsheet-example/build.gradle
  paymentsheet/build.gradle
  stripe-core/build.gradle
  stripecardscan/build.gradle
Owners: @stripe/stripe-android-sdk-reviewers

Adds loading while account is being looked up.
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinksignup/NetworkingLinkSignupScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinksignup/NetworkingLinkSignupViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/repository/FinancialConnectionsManifestRepository.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/ui/components/Button.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Add ConfirmationHandler
  payments-core/src/main/java/com/stripe/android/payments/paymentlauncher/StripePaymentLauncher.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ConfirmationHandler.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentOptionsViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/flowcontroller/DefaultFlowController.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/injection/FlowControllerModule.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/injection/PaymentSheetViewModelModule.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/paymentdatacollection/ach/USBankAccountFormFragment.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/paymentdatacollection/ach/USBankAccountFormViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/viewmodels/BaseSheetViewModel.kt
Owners: @stripe/stripe-android-sdk-reviewers, @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Add DefaultConfirmationHandlerTest
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/DefaultConfirmationHandlerTest.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Update existing tests using FakeConfirmationHandler
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/BasePaymentSheetViewModelInjectionTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetActivityTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetViewModelTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/flowcontroller/DefaultFlowControllerTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/paymentdatacollection/ach/USBankAccountFormViewModelTest.kt
  paymentsheet/src/test/java/com/stripe/android/utils/FakeConfirmationHandler.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Fix lint issue
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ConfirmationHandler.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Uses clickable text from backend and removes client logic.
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/common/PartnerCallout.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/partnerauth/PartnerAuthScreen.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Shows centered loading with toolbar in consent.
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/consent/ConsentScreen.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Always logs error param with exceptions.
  financial-connections/src/main/java/com/stripe/android/financialconnections/analytics/AnalyticsMappers.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Do not search if query is blank.
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/institutionpicker/InstitutionPickerScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/institutionpicker/InstitutionPickerViewModel.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Extracts regexes to constants.
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/MarkdownParser.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Inline date.
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/partnerauth/PartnerAuthViewModel.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Checks for custom manual entry and returns specific error.
  financial-connections/src/main/java/com/stripe/android/financialconnections/exception/AuthFlowCancelledError.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/exception/CustomManualEntryRequiredError.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/manualentry/CustomManualEntry.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/presentation/FinancialConnectionsSheetNativeViewModel.kt
Owners: @carlosmuvi-stripe, @ccen-stripe
