Repository stripe/stripe-android, changes with the owners that .github/CODEOWNERS names for each.
All owners: @brnunes-stripe, @michelleb-stripe, @skyler-stripe, @ccen-stripe, @awush-stripe

.github/CODEOWNERS:

# global - fallback to this group if the following groups don't match
*   @brnunes-stripe @michelleb-stripe @skyler-stripe @ccen-stripe @awush-stripe

# payment sdk
/payments/ @brnunes-stripe @michelleb-stripe @skyler-stripe @ccen-stripe
/payments-core/ @brnunes-stripe @michelleb-stripe @skyler-stripe @ccen-stripe
/paymentsheet/ @brnunes-stripe @michelleb-stripe @skyler-stripe
/example/ @brnunes-stripe @michelleb-stripe @skyler-stripe
/paymentsheet-example/ @brnunes-stripe @michelleb-stripe @skyler-stripe
/wechatpay/ @brnunes-stripe @michelleb-stripe @skyler-stripe @ccen-stripe
/stripe-test-e2e/ @brnunes-stripe @michelleb-stripe @skyler-stripe
/link/ @brnunes-stripe @michelleb-stripe @skyler-stripe

# stripecardscan sdk
/stripecardscan/ @awush-stripe @ccen-stripe
/stripecardscan-example/ @awush-stripe @ccen-stripe

# stripe-core
/stripe-core/ @ccen-stripe

FormViewModel cleanup and fix (#4431)
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/forms/FormViewModel.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/forms/FormViewModelTest.kt
Owners: @brnunes-stripe, @michelleb-stripe, @skyler-stripe

ktlint
  stripe-ui-core/src/main/java/com/stripe/android/ui/core/elements/SectionElement.kt
  stripe-ui-core/src/main/java/com/stripe/android/ui/core/elements/SectionSingleFieldElement.kt
  stripe-ui-core/src/main/java/com/stripe/android/ui/core/elements/StaticTextSpec.kt
  stripe-ui-core/src/test/java/com/stripe/android/ui/core/address/TransformAddressToElementTest.kt
Owners: @brnunes-stripe, @michelleb-stripe, @skyler-stripe, @ccen-stripe, @awush-stripe

Conform to scanstats endpoint format
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/cardimageverification/CardImageVerificationFlow.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/cardimageverification/analyzer/MainLoopAnalyzer.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/cardimageverification/result/MainLoopAggregator.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/Analyzer.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/Fetcher.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/Loader.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/Loop.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/Result.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/Stat.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/api/StripeApi.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/api/dto/AppInfo.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/api/dto/ClientDevice.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/api/dto/ClientStats.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/api/dto/ScanStats.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/api/dto/StripeErrorResponse.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/util/Device.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/payment/ml/CardDetect.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/payment/ml/SSDOcr.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/scanui/ScanActivity.kt
  stripecardscan/src/test/java/com/stripe/android/stripecardscan/framework/AnalyzerTest.kt
  stripecardscan/src/test/java/com/stripe/android/stripecardscan/framework/LoopTest.kt
Owners: @awush-stripe, @ccen-stripe

Fix lint and remove unused code
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/Loader.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/api/StripeApi.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/api/dto/AppInfo.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/api/dto/ClientDevice.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/api/dto/ClientStats.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/exception/InvalidSerializationException.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/util/Encode.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/scanui/ScanActivity.kt
  stripecardscan/src/test/java/com/stripe/android/stripecardscan/cardimageverification/CardVerifyFlowTest.kt
  stripecardscan/src/test/java/com/stripe/android/stripecardscan/framework/util/EncodeTest.kt
Owners: @awush-stripe, @ccen-stripe

Update API
  stripecardscan/api/stripecardscan.api
Owners: @awush-stripe, @ccen-stripe

Move Clearpay logo
  stripe-ui-core/res/drawable-en-rGB/stripe_ic_afterpay_clearpay_logo.xml
Owners: @brnunes-stripe, @michelleb-stripe, @skyler-stripe, @ccen-stripe, @awush-stripe

external link for support requests
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/sdk-bug-report.md
  .github/ISSUE_TEMPLATE/sdk-feature-request.md
Owners: @brnunes-stripe, @michelleb-stripe, @skyler-stripe, @ccen-stripe, @awush-stripe

Change user_cannot_scan to user_missing_card to match scan stats
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/scanui/ScanActivity.kt
Owners: @awush-stripe, @ccen-stripe

Bring more values into line with scan stats
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/Fetcher.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/scanui/ScanActivity.kt
Owners: @awush-stripe, @ccen-stripe

external link for support requests (#4448)
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/sdk-bug-report.md
  .github/ISSUE_TEMPLATE/sdk-feature-request.md
Owners: @brnunes-stripe, @michelleb-stripe, @skyler-stripe, @ccen-stripe, @awush-stripe

Update scan stats to match new format (#4446)
  stripecardscan/api/stripecardscan.api
  stripecardscan/build.gradle
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/cardimageverification/CardImageVerificationFlow.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/cardimageverification/analyzer/MainLoopAnalyzer.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/cardimageverification/result/MainLoopAggregator.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/Analyzer.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/Config.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/Fetcher.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/Loader.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/Loop.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/Result.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/Stat.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/api/Network.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/api/StripeApi.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/api/StripeNetwork.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/api/dto/AppInfo.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/api/dto/ClientDevice.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/api/dto/ClientStats.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/api/dto/ScanStats.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/api/dto/StripeErrorResponse.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/exception/InvalidSerializationException.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/util/Device.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/util/Encode.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/payment/ml/CardDetect.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/payment/ml/SSDOcr.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/scanui/ScanActivity.kt
  stripecardscan/src/test/java/com/stripe/android/stripecardscan/cardimageverification/CardVerifyFlowTest.kt
  stripecardscan/src/test/java/com/stripe/android/stripecardscan/framework/AnalyzerTest.kt
  stripecardscan/src/test/java/com/stripe/android/stripecardscan/framework/LoopTest.kt
  stripecardscan/src/test/java/com/stripe/android/stripecardscan/framework/api/StripeNetworkTest.kt
  stripecardscan/src/test/java/com/stripe/android/stripecardscan/framework/util/EncodeTest.kt
Owners: @awush-stripe, @ccen-stripe

Conform to scanstats endpoint format
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/scanui/ScanActivity.kt
Owners: @awush-stripe, @ccen-stripe

Fix lint and remove unused code
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/scanui/ScanActivity.kt
Owners: @awush-stripe, @ccen-stripe

Update API
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/api/dto/CardScanRequests.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/exception/InvalidStripeApiKeyException.kt
Owners: @awush-stripe, @ccen-stripe

Reduce the API footprint
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/camera/CameraAdapter.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/cardimageverification/CardImageVerificationConfig.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/cardimageverification/result/MainLoopState.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/Analyzer.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/Config.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/Fetcher.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/Loop.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/MachineState.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/Result.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/api/Network.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/api/NetworkResult.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/api/StripeNetwork.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/api/dto/AppInfo.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/api/dto/CardScanRequests.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/api/dto/ClientDevice.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/api/dto/ClientStats.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/api/dto/ScanStats.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/exception/InvalidSerializationException.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/image/NV21Image.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/ml/TensorFlowLiteAnalyzer.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/time/Clock.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/time/Coroutine.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/time/Duration.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/time/Rate.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/util/ArrayExtensions.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/util/Encode.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/util/File.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/util/ItemCounter.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/util/Layout.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/util/Memoize.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/util/Retry.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/scanui/ScanActivity.kt
  stripecardscan/src/test/java/com/stripe/android/stripecardscan/cardimageverification/result/MainLoopStateMachineTest.kt
  stripecardscan/src/test/java/com/stripe/android/stripecardscan/framework/api/StripeNetworkTest.kt
Owners: @awush-stripe, @ccen-stripe

Remove a ton of stuff from the module API
  stripecardscan/api/stripecardscan.api
Owners: @awush-stripe, @ccen-stripe

Simplify the stripecardscan-example process
  stripecardscan-example/README.md
  stripecardscan-example/build.gradle
  stripecardscan-example/images/glitch_remix_project.png
  stripecardscan-example/images/run_project.png
  stripecardscan-example/src/main/AndroidManifest.xml
  stripecardscan-example/src/main/java/com/stripe/android/stripecardscan/example/MainActivity.kt
  stripecardscan-example/src/main/java/com/stripe/android/stripecardscan/example/Settings.kt
  stripecardscan-example/src/main/java/com/stripe/android/stripecardscan/example/SnackbarController.kt
  stripecardscan-example/src/main/java/com/stripe/android/stripecardscan/example/activity/LaunchCardImageVerificationSheetCompleteActivity.kt
  stripecardscan-example/src/main/res/layout/activity_launch_card_image_verification_sheet_complete.xml
  stripecardscan-example/src/main/res/layout/activity_main.xml
  stripecardscan/README.md
Owners: @awush-stripe, @ccen-stripe

Remove some copied info on the stripecardscan-example readme
  stripecardscan-example/README.md
Owners: @awush-stripe, @ccen-stripe

Fix lint
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/Analyzer.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/Config.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/Fetcher.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/Result.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/util/Layout.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/util/Memoize.kt
  stripecardscan/src/test/java/com/stripe/android/stripecardscan/cardimageverification/result/MainLoopStateMachineTest.kt
Owners: @awush-stripe, @ccen-stripe

Add a missing newline
  stripecardscan-example/src/main/java/com/stripe/android/stripecardscan/example/Settings.kt
Owners: @awush-stripe, @ccen-stripe

Reduce api footprint (#4451)
  stripecardscan/api/stripecardscan.api
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/camera/CameraAdapter.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/cardimageverification/CardImageVerificationConfig.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/cardimageverification/result/MainLoopState.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/Analyzer.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/Config.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/Fetcher.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/Loop.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/MachineState.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/Result.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/api/Network.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/api/NetworkResult.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/api/StripeNetwork.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/api/dto/AppInfo.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/api/dto/CardScanRequests.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/api/dto/ClientDevice.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/api/dto/ClientStats.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/api/dto/ScanStats.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/exception/InvalidSerializationException.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/exception/InvalidStripeApiKeyException.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/image/NV21Image.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/ml/TensorFlowLiteAnalyzer.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/time/Clock.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/time/Coroutine.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/time/Duration.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/time/Rate.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/util/ArrayExtensions.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/util/Encode.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/util/File.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/util/ItemCounter.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/util/Layout.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/util/Memoize.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/framework/util/Retry.kt
  stripecardscan/src/main/java/com/stripe/android/stripecardscan/scanui/ScanActivity.kt
  stripecardscan/src/test/java/com/stripe/android/stripecardscan/cardimageverification/result/MainLoopStateMachineTest.kt
  stripecardscan/src/test/java/com/stripe/android/stripecardscan/framework/api/StripeNetworkTest.kt
Owners: @awush-stripe, @ccen-stripe
