Repository stripe/stripe-android, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stripe/stripe-android-sdk-reviewers, @jaynewstrom-stripe, @tillh-stripe, @ccen-stripe, @jameswoo-stripe, @carlosmuvi-stripe, @awush-stripe

.github/CODEOWNERS:

# Global - fallback to this group if the following groups don't match
* @stripe/stripe-android-sdk-reviewers

# Payments SDK
/payments/ @jaynewstrom-stripe @tillh-stripe @ccen-stripe @jameswoo-stripe
/paymentsheet/ @jaynewstrom-stripe @tillh-stripe @jameswoo-stripe
/wechatpay/ @jaynewstrom-stripe @tillh-stripe @ccen-stripe @jameswoo-stripe
/stripe-test-e2e/ @jaynewstrom-stripe @tillh-stripe @jameswoo-stripe
/link/ @jaynewstrom-stripe @tillh-stripe @jameswoo-stripe @ccen-stripe @carlosmuvi-stripe
/payment-method-messaging/ @jaynewstrom-stripe @tillh-stripe @jameswoo-stripe

# CardScan SDK
/stripecardscan/ @awush-stripe @ccen-stripe
/stripecardscan-example/ @awush-stripe @ccen-stripe

# Identity SDK
/identity/ @ccen-stripe @awush-stripe @carlosmuvi-stripe
/identity-example/ @ccen-stripe @awush-stripe @carlosmuvi-stripe

# Financial Connections SDK
/financial-connections/ @carlosmuvi-stripe @ccen-stripe
/financial-connections-example/ @carlosmuvi-stripe @ccen-stripe

# Shared modules
/camera-core/ @ccen-stripe @awush-stripe

# Configuration files
*.gradle @stripe/stripe-android-sdk-reviewers

Breaks down in composables.
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinkverification/NetworkingLinkVerificationScreen.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Removes not now button.
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinkverification/NetworkingLinkVerificationScreen.kt
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.networkinglinkverification_null_NetworkingLinkVerificationPane_Enteringemail_,NEXUS_5].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.networkinglinkverification_null_NetworkingLinkVerificationPane_Enteringemail_,PIXEL_C].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.networkinglinkverification_null_NetworkingLinkVerificationPane_Enteringemail_null,NEXUS_5].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.networkinglinkverification_null_NetworkingLinkVerificationPane_Enteringemail_null,PIXEL_C].png
Owners: @carlosmuvi-stripe, @ccen-stripe

Changes POST by GET.
  financial-connections/src/main/java/com/stripe/android/financialconnections/domain/PollNetworkedAccounts.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/repository/FinancialConnectionsAccountsRepository.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Remove getConsumerSession.
  financial-connections/src/main/java/com/stripe/android/financialconnections/domain/GetConsumerSession.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Refactor PaymentMethodPreferenceJsonParser
  payments-core/api/payments-core.api
  payments-core/src/main/java/com/stripe/android/model/DeferredIntent.kt
  payments-core/src/main/java/com/stripe/android/model/ElementsSession.kt
  payments-core/src/main/java/com/stripe/android/model/ElementsSessionParams.kt
  payments-core/src/main/java/com/stripe/android/model/parsers/ElementsSessionJsonParser.kt
  payments-core/src/main/java/com/stripe/android/model/parsers/PaymentMethodPreferenceJsonParser.kt
  payments-core/src/main/java/com/stripe/android/networking/StripeApiRepository.kt
  payments-core/src/test/java/com/stripe/android/model/ElementsSessionFixtures.kt
  payments-core/src/test/java/com/stripe/android/model/PaymentIntentFixtures.kt
  payments-core/src/test/java/com/stripe/android/model/parsers/ElementsSessionJsonParserTest.kt
  payments-core/src/test/java/com/stripe/android/networking/StripeApiRepositoryTest.kt
Owners: @stripe/stripe-android-sdk-reviewers

wip
  payments-core/src/main/java/com/stripe/android/cards/CardAccountRangeRepository.kt
  payments-core/src/main/java/com/stripe/android/cards/CardAccountRangeSource.kt
  payments-core/src/main/java/com/stripe/android/cards/CardValidator.kt
  payments-core/src/main/java/com/stripe/android/cards/DefaultCardAccountRangeRepository.kt
  payments-core/src/main/java/com/stripe/android/cards/DefaultCardAccountRangeRepositoryFactory.kt
  payments-core/src/main/java/com/stripe/android/cards/InMemoryCardAccountRangeSource.kt
  payments-core/src/main/java/com/stripe/android/cards/RemoteCardAccountRangeSource.kt
  payments-core/src/main/java/com/stripe/android/cards/StaticCardAccountRangeSource.kt
  payments-core/src/main/java/com/stripe/android/model/AccountRange.kt
  payments-core/src/main/java/com/stripe/android/view/MaskedCardView.kt
  payments-core/src/test/java/com/stripe/android/cards/CardValidatorTest.kt
  payments-core/src/test/java/com/stripe/android/cards/CardWidgetViewModelTest.kt
  payments-core/src/test/java/com/stripe/android/cards/DefaultCardAccountRangeRepositoryTest.kt
  payments-core/src/test/java/com/stripe/android/cards/NullCardAccountRangeRepository.kt
  payments-core/src/test/java/com/stripe/android/view/CardNumberEditTextTest.kt
  payments-model/src/main/java/com/stripe/android/model/CardBrand.kt
  payments-ui-core/src/test/java/com/stripe/android/ui/core/elements/CardNumberControllerTest.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/PaymentMethodsUiExtension.kt
Owners: @stripe/stripe-android-sdk-reviewers, @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Add possible brands to Stripe
  payments-core/src/main/java/com/stripe/android/Stripe.kt
  payments-core/src/main/java/com/stripe/android/StripeKtx.kt
  payments-core/src/main/java/com/stripe/android/cards/CardValidator.kt
  payments-core/src/main/java/com/stripe/android/networking/StripeApiRepository.kt
  payments-core/src/main/java/com/stripe/android/networking/StripeRepository.kt
  payments-core/src/test/java/com/stripe/android/StripeKtxTest.kt
  payments-core/src/test/java/com/stripe/android/StripeTest.java
  payments-core/src/test/java/com/stripe/android/cards/CardValidatorTest.kt
  payments-core/src/test/java/com/stripe/android/networking/AbsFakeStripeRepository.kt
Owners: @stripe/stripe-android-sdk-reviewers

Resolve comments
  payments-core/src/main/java/com/stripe/android/model/DeferredIntent.kt
  payments-core/src/main/java/com/stripe/android/model/ElementsSession.kt
  payments-core/src/main/java/com/stripe/android/model/parsers/ElementsSessionJsonParser.kt
  payments-core/src/main/java/com/stripe/android/networking/StripeApiRepository.kt
  payments-core/src/test/java/com/stripe/android/model/parsers/ElementsSessionJsonParserTest.kt
Owners: @stripe/stripe-android-sdk-reviewers

Update API
  paymentsheet/api/paymentsheet.api
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Remove unnecessary view-model-ping-pong
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentOptionsActivity.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Fix UX issue
  paymentsheet/src/main/AndroidManifest.xml
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Update screenshots
  paymentsheet-example/screenshots/debug/com.stripe.android.screenshot.TestPaymentSheetScreenshots_testPaymentSheetCustomPrimaryButtonLabel.png
  paymentsheet-example/screenshots/debug/com.stripe.android.screenshot.TestPaymentSheetScreenshots_testPaymentSheetEditPaymentMethodsDark.png
  paymentsheet-example/screenshots/debug/com.stripe.android.screenshot.TestPaymentSheetScreenshots_testPaymentSheetEditPaymentMethodsDarkAppearance.png
  paymentsheet-example/screenshots/debug/com.stripe.android.screenshot.TestPaymentSheetScreenshots_testPaymentSheetEditPaymentMethodsLight.png
  paymentsheet-example/screenshots/debug/com.stripe.android.screenshot.TestPaymentSheetScreenshots_testPaymentSheetEditPaymentMethodsLightAppearance.png
  paymentsheet-example/screenshots/debug/com.stripe.android.screenshot.TestPaymentSheetScreenshots_testPaymentSheetNewCustomer.png
  paymentsheet-example/screenshots/debug/com.stripe.android.screenshot.TestPaymentSheetScreenshots_testPaymentSheetNewCustomerAppearance.png
  paymentsheet-example/screenshots/debug/com.stripe.android.screenshot.TestPaymentSheetScreenshots_testPaymentSheetNewCustomerDark.png
  paymentsheet-example/screenshots/debug/com.stripe.android.screenshot.TestPaymentSheetScreenshots_testPaymentSheetNewCustomerDarkAppearance.png
  paymentsheet-example/screenshots/debug/com.stripe.android.screenshot.TestPaymentSheetScreenshots_testPaymentSheetPrimaryButtonAppearanceDark.png
  paymentsheet-example/screenshots/debug/com.stripe.android.screenshot.TestPaymentSheetScreenshots_testPaymentSheetPrimaryButtonAppearanceLight.png
  paymentsheet-example/screenshots/debug/com.stripe.android.screenshot.TestPaymentSheetScreenshots_testPaymentSheetReturningCustomerDark.png
  paymentsheet-example/screenshots/debug/com.stripe.android.screenshot.TestPaymentSheetScreenshots_testPaymentSheetReturningCustomerDarkAppearance.png
  paymentsheet-example/screenshots/debug/com.stripe.android.screenshot.TestPaymentSheetScreenshots_testPaymentSheetReturningCustomerLight.png
  paymentsheet-example/screenshots/debug/com.stripe.android.screenshot.TestPaymentSheetScreenshots_testPaymentSheetReturningCustomerLightAppearance.png
Owners: @stripe/stripe-android-sdk-reviewers

Update tests
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentOptionsActivityTest.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Remove some unnecessary things
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/PaymentOptionsScreen.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Fix lint issues
  paymentsheet/detekt-baseline.xml
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentOptionsActivity.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Move entire payment options to Compose
  paymentsheet/res/layout/activity_payment_options.xml
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentOptionsActivity.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetActivity.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/navigation/PaymentSheetScreen.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/AddPaymentMethod.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/BaseSheetActivity.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/PaymentOptionsScreen.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/viewmodels/BaseSheetViewModel.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Add `PaymentSheetScaffold` for screen scaffolding
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/PaymentOptionsScreen.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/PaymentSheetScaffold.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Remove unnecessary use of `StripeTheme`
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/PaymentOptionsScreen.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Refactor PaymentMethodPreferenceJsonParser (#6217)
  payments-core/api/payments-core.api
  payments-core/src/main/java/com/stripe/android/model/DeferredIntent.kt
  payments-core/src/main/java/com/stripe/android/model/ElementsSession.kt
  payments-core/src/main/java/com/stripe/android/model/ElementsSessionParams.kt
  payments-core/src/main/java/com/stripe/android/model/parsers/ElementsSessionJsonParser.kt
  payments-core/src/main/java/com/stripe/android/model/parsers/PaymentMethodPreferenceJsonParser.kt
  payments-core/src/main/java/com/stripe/android/networking/StripeApiRepository.kt
  payments-core/src/test/java/com/stripe/android/model/ElementsSessionFixtures.kt
  payments-core/src/test/java/com/stripe/android/model/PaymentIntentFixtures.kt
  payments-core/src/test/java/com/stripe/android/model/parsers/ElementsSessionJsonParserTest.kt
  payments-core/src/test/java/com/stripe/android/networking/StripeApiRepositoryTest.kt
Owners: @stripe/stripe-android-sdk-reviewers

Regenerates API.
  financial-connections/api/financial-connections.api
Owners: @carlosmuvi-stripe, @ccen-stripe

Fix API and test issues
  payments-ui-core/src/main/java/com/stripe/android/ui/core/PaymentSheetMode.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/PaymentSheetSetupFutureUse.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/forms/resources/LpmRepository.kt
  paymentsheet-example/src/androidTestDebug/java/com/stripe/android/utils/LpmRepositoryKtx.kt
  paymentsheet-example/src/androidTestDebug/java/com/stripe/android/utils/LpmUpdateParamsFactory.kt
  paymentsheet-example/src/androidTestDebug/java/com/stripe/android/utils/PaymentIntentFactory.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/state/PaymentSheetLoader.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/viewmodels/BaseSheetViewModel.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/BasePaymentSheetViewModelInjectionTest.kt
Owners: @stripe/stripe-android-sdk-reviewers, @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Use UpdateParams in LpmRepository
  payments-ui-core/src/main/java/com/stripe/android/ui/core/PaymentSheetMode.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/PaymentSheetSetupFutureUse.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/forms/resources/LpmRepository.kt
  payments-ui-core/src/test/java/com/stripe/android/ui/core/forms/resources/LpmRepositoryTest.kt
  payments-ui-core/src/test/java/com/stripe/android/utils/LpmUpdateParamsFactory.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/state/PaymentSheetLoader.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/viewmodels/BaseSheetViewModel.kt
Owners: @stripe/stripe-android-sdk-reviewers, @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Update tests
  payments-ui-core/detekt-baseline.xml
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/BasePaymentOptionsViewModelInjectionTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentOptionsViewModelInjectionTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentOptionsViewModelTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetViewModelInjectionTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetViewModelTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/forms/FormArgumentsFactoryTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/model/SupportedPaymentMethodTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/state/DefaultPaymentSheetLoaderTest.kt
  paymentsheet/src/test/java/com/stripe/android/utils/LpmUpdateParamsFactory.kt
Owners: @stripe/stripe-android-sdk-reviewers, @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Use PaymentSheetData to perform LPM filtering
  payments-core/src/main/java/com/stripe/android/model/PaymentIntent.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/forms/FormArgumentsFactory.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/model/SupportedPaymentMethodKtx.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/state/PaymentSheetData.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/state/PaymentSheetLoader.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/viewmodels/BaseSheetViewModel.kt
Owners: @stripe/stripe-android-sdk-reviewers, @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Update tests
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/forms/FormArgumentsFactoryTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/model/SupportedPaymentMethodTest.kt
  paymentsheet/src/test/java/com/stripe/android/utils/PaymentSheetDataFactory.kt
Owners: @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Add replacement for `isLpmLevelSetupFutureUsageSet`
  payments-core/src/main/java/com/stripe/android/model/PaymentIntent.kt
  paymentsheet/detekt-baseline.xml
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/model/SupportedPaymentMethodKtx.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/state/PaymentSheetData.kt
  paymentsheet/src/test/java/com/stripe/android/utils/PaymentSheetDataFactory.kt
Owners: @stripe/stripe-android-sdk-reviewers, @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

[WIP] Update tests
  payments-core/src/main/java/com/stripe/android/model/PaymentIntent.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/model/SupportedPaymentMethodKtx.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/state/PaymentSheetData.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentOptionsActivityTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentOptionsViewModelInjectionTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentOptionsViewModelTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetActivityTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetFixtures.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/flowcontroller/DefaultFlowControllerTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/state/DefaultPaymentSheetLoaderTest.kt
  paymentsheet/src/test/java/com/stripe/android/utils/FakePaymentSheetLoader.kt
  paymentsheet/src/test/java/com/stripe/android/utils/PaymentSheetDataFactory.kt
Owners: @stripe/stripe-android-sdk-reviewers, @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Replace `StripeIntent` with `PaymentSheetData`
  payments-ui-core/src/main/java/com/stripe/android/ui/core/PaymentSheetMode.kt
  payments-ui-core/src/test/java/com/stripe/android/utils/LpmUpdateParamsFactory.kt
  paymentsheet-example/src/androidTestDebug/java/com/stripe/android/utils/LpmUpdateParamsFactory.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentOptionsViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetActivity.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetContract.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetOrigin.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/flowcontroller/DefaultFlowController.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/paymentdatacollection/ach/USBankAccountFormFragment.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/state/PaymentSheetData.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/state/PaymentSheetLoader.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/state/PaymentSheetState.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/AddPaymentMethod.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/PaymentSheetTopBar.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/viewmodels/BaseSheetViewModel.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetViewModelTest.kt
  paymentsheet/src/test/java/com/stripe/android/utils/LpmUpdateParamsFactory.kt
  paymentsheet/src/test/java/com/stripe/android/utils/PaymentSheetDataFactory.kt
Owners: @stripe/stripe-android-sdk-reviewers, @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Update API
  payments-ui-core/api/payments-ui-core.api
  paymentsheet/api/paymentsheet.api
Owners: @stripe/stripe-android-sdk-reviewers, @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

add test
  stripe-ui-core/src/test/java/com/stripe/android/uicore/elements/SimpleTextFieldControllerTest.kt
Owners: @stripe/stripe-android-sdk-reviewers

[stripe-ui-core] Support label and placeholder in `TextField` (#6190)
  payments-ui-core/api/payments-ui-core.api
  payments-ui-core/src/main/java/com/stripe/android/ui/core/elements/CardNumberController.kt
  stripe-ui-core/api/stripe-ui-core.api
  stripe-ui-core/build.gradle
  stripe-ui-core/src/main/java/com/stripe/android/uicore/elements/AddressTextFieldController.kt
  stripe-ui-core/src/main/java/com/stripe/android/uicore/elements/InputController.kt
  stripe-ui-core/src/main/java/com/stripe/android/uicore/elements/PlaceHolder.kt
  stripe-ui-core/src/main/java/com/stripe/android/uicore/elements/SimpleTextFieldConfig.kt
  stripe-ui-core/src/main/java/com/stripe/android/uicore/elements/TextFieldConfig.kt
  stripe-ui-core/src/main/java/com/stripe/android/uicore/elements/TextFieldController.kt
  stripe-ui-core/src/main/java/com/stripe/android/uicore/elements/TextFieldUI.kt
  stripe-ui-core/src/test/java/com/stripe/android/uicore/elements/SimpleTextFieldControllerTest.kt
Owners: @stripe/stripe-android-sdk-reviewers

[WIP]
  payments-core/src/main/java/com/stripe/android/model/DeferredIntent.kt
  payments-core/src/main/java/com/stripe/android/model/ElementsSession.kt
  payments-core/src/main/java/com/stripe/android/model/ElementsSessionParams.kt
  payments-core/src/main/java/com/stripe/android/model/parsers/DeferredIntentJsonParser.kt
  payments-core/src/main/java/com/stripe/android/model/parsers/ElementsSessionJsonParser.kt
  payments-core/src/main/java/com/stripe/android/networking/StripeApiRepository.kt
  payments-core/src/main/java/com/stripe/android/networking/StripeRepository.kt
  payments-core/src/test/java/com/stripe/android/networking/AbsFakeStripeRepository.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/forms/resources/LpmRepository.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetOrigin.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/repositories/StripeIntentRepository.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/state/PaymentSheetLoader.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/state/PaymentSheetState.kt
Owners: @stripe/stripe-android-sdk-reviewers, @jaynewstrom-stripe, @tillh-stripe, @jameswoo-stripe

Implement V0 NetworkingLinkVerification pane (#6200)
  financial-connections/api/financial-connections.api
  financial-connections/res/values/strings.xml
  financial-connections/src/main/java/com/stripe/android/financialconnections/di/FinancialConnectionsSheetNativeComponent.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/di/FinancialConnectionsSheetNativeModule.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/domain/ConfirmVerification.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/domain/GoNext.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/domain/MarkLinkVerified.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/domain/PollNetworkedAccounts.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/domain/StartVerification.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinksignup/NetworkingLinkSignupViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinkverification/NetworkingLinkVerificationScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinkverification/NetworkingLinkVerificationSubcomponent.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinkverification/NetworkingLinkVerificationViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/model/FinancialConnectionsSessionManifest.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/navigation/NavigationCommand.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/network/NetworkConstants.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/repository/FinancialConnectionsAccountsRepository.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/repository/FinancialConnectionsConsumerSessionRepository.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/repository/FinancialConnectionsManifestRepository.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/ui/FinancialConnectionsSheetNativeActivity.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/ApiKeyFixtures.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/features/networkinglinkverification/NetworkingLinkVerificationViewModelTest.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/networking/FakeFinancialConnectionsManifestRepository.kt
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.networkinglinkloginwarmup_null_NetworkingLinkLoginWarmupPane_Canonical_,NEXUS_5].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.networkinglinkloginwarmup_null_NetworkingLinkLoginWarmupPane_Canonical_,PIXEL_C].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.networkinglinkloginwarmup_null_NetworkingLinkLoginWarmupPane_Canonical_null,NEXUS_5].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.networkinglinkloginwarmup_null_NetworkingLinkLoginWarmupPane_Canonical_null,PIXEL_C].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.networkinglinkverification_null_NetworkingLinkVerificationPane_Enteringemail_,NEXUS_5].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.networkinglinkverification_null_NetworkingLinkVerificationPane_Enteringemail_,PIXEL_C].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.networkinglinkverification_null_NetworkingLinkVerificationPane_Enteringemail_null,NEXUS_5].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.networkinglinkverification_null_NetworkingLinkVerificationPane_Enteringemail_null,PIXEL_C].png
  stripe-ui-core/detekt-baseline.xml
  stripe-ui-core/src/main/java/com/stripe/android/uicore/elements/OTPElementUI.kt
Owners: @carlosmuvi-stripe, @ccen-stripe, @stripe/stripe-android-sdk-reviewers

[stripe-ui-core] Support label and placeholder in `TextField` (#6190)
  payments-ui-core/api/payments-ui-core.api
  payments-ui-core/src/main/java/com/stripe/android/ui/core/elements/CardNumberController.kt
  stripe-ui-core/api/stripe-ui-core.api
  stripe-ui-core/build.gradle
  stripe-ui-core/src/main/java/com/stripe/android/uicore/elements/AddressTextFieldController.kt
  stripe-ui-core/src/main/java/com/stripe/android/uicore/elements/InputController.kt
  stripe-ui-core/src/main/java/com/stripe/android/uicore/elements/PlaceHolder.kt
  stripe-ui-core/src/main/java/com/stripe/android/uicore/elements/SimpleTextFieldConfig.kt
  stripe-ui-core/src/main/java/com/stripe/android/uicore/elements/TextFieldConfig.kt
  stripe-ui-core/src/main/java/com/stripe/android/uicore/elements/TextFieldController.kt
  stripe-ui-core/src/main/java/com/stripe/android/uicore/elements/TextFieldUI.kt
  stripe-ui-core/src/test/java/com/stripe/android/uicore/elements/SimpleTextFieldControllerTest.kt
Owners: @stripe/stripe-android-sdk-reviewers

[identity-example] Support generating a link (#6210)
  identity-example/build.gradle
  identity-example/src/main/java/com/stripe/android/identity/example/IdentityExampleViewModel.kt
  identity-example/src/main/java/com/stripe/android/identity/example/ui/ComposeExampleUI.kt
  identity-example/src/main/res/values/strings.xml
Owners: @stripe/stripe-android-sdk-reviewers, @ccen-stripe, @awush-stripe, @carlosmuvi-stripe

Refactor PaymentMethodPreferenceJsonParser (#6217)
  payments-core/api/payments-core.api
  payments-core/src/main/java/com/stripe/android/model/DeferredIntent.kt
  payments-core/src/main/java/com/stripe/android/model/ElementsSession.kt
  payments-core/src/main/java/com/stripe/android/model/ElementsSessionParams.kt
  payments-core/src/main/java/com/stripe/android/model/parsers/ElementsSessionJsonParser.kt
  payments-core/src/main/java/com/stripe/android/model/parsers/PaymentMethodPreferenceJsonParser.kt
  payments-core/src/main/java/com/stripe/android/networking/StripeApiRepository.kt
  payments-core/src/test/java/com/stripe/android/model/ElementsSessionFixtures.kt
  payments-core/src/test/java/com/stripe/android/model/PaymentIntentFixtures.kt
  payments-core/src/test/java/com/stripe/android/model/parsers/ElementsSessionJsonParserTest.kt
  payments-core/src/test/java/com/stripe/android/networking/StripeApiRepositoryTest.kt
Owners: @stripe/stripe-android-sdk-reviewers

Creates view skeleton.
  financial-connections/src/main/java/com/stripe/android/financialconnections/di/FinancialConnectionsSheetNativeComponent.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/domain/GetConsumerSession.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/domain/GoNext.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/accountpicker/AccountPickerViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/linkaccountpicker/LinkAccountPickerScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/linkaccountpicker/LinkAccountPickerSubcomponent.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/linkaccountpicker/LinkAccountPickerViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/navigation/NavigationCommand.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/ui/FinancialConnectionsSheetNativeActivity.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Moves AccountItem to its own file to be reusable.
  financial-connections/res/values/strings.xml
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/accountpicker/AccountPickerScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/accountpicker/AccountPickerViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/common/AccountItem.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/linkaccountpicker/LinkAccountPickerScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/linkaccountpicker/LinkAccountPickerViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/linkaccountpicker/LinkedAccountPickerStates.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/features/accountpicker/AccountPickerViewModelTest.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Adds select account click handler.
  financial-connections/res/values/strings.xml
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/linkaccountpicker/LinkAccountPickerScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/linkaccountpicker/LinkAccountPickerViewModel.kt
Owners: @carlosmuvi-stripe, @ccen-stripe

Calls API when networked account selected.
  financial-connections/src/main/java/com/stripe/android/financialconnections/domain/SelectNetworkedAccount.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/linkaccountpicker/LinkAccountPickerScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/linkaccountpicker/LinkAccountPickerViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/linkaccountpicker/LinkedAccountPickerStates.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/repository/FinancialConnectionsAccountsRepository.kt
Owners: @carlosmuvi-stripe, @ccen-stripe
