Repository stripe/stripe-android, pull requests merged in 2023-10, with the labels that each got.

#7375 Only retry in CI.
  paymentsheet-example/build.gradle
  paymentsheet-example/src/androidTest/java/com/stripe/android/utils/TestRules.kt
Labels: accept-risky-change

#7379 Add QR code to playground.
  dependencies.gradle
  paymentsheet-example/build.gradle
  paymentsheet-example/src/main/AndroidManifest.xml
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/PaymentSheetPlaygroundActivity.kt
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/PaymentSheetPlaygroundUrlHelper.kt
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/PaymentSheetPlaygroundViewModel.kt
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/activity/QrCodeActivity.kt
Labels: accept-risky-change

#7366 [FC - Repair flow] Link Account Picker handles repairable accounts
  financial-connections/api/financial-connections.api
  financial-connections/src/androidTest/java/com/stripe/android/financialconnections/navigation/DestinationMappersTest.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/di/FinancialConnectionsSheetNativeComponent.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/di/FinancialConnectionsSheetNativeModule.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/bankauthrepair/BankAuthRepairScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/bankauthrepair/BankAuthRepairSubcomponent.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/bankauthrepair/BankAuthRepairViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/linkaccountpicker/LinkAccountPickerPreviewParameterProvider.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/linkaccountpicker/LinkAccountPickerViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/model/NetworkedAccountsList.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/navigation/Destination.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/navigation/DestinationMappers.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/repository/CoreAuthorizationPendingNetworkingRepairRepository.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/repository/SaveToLinkWithStripeSucceededRepository.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/ui/FinancialConnectionsSheetNativeActivity.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/features/linkaccountpicker/LinkAccountPickerViewModelTest.kt
Labels: work-cli

#7351 [FC] Emit live events across the AuthFlow when received on API responses
  financial-connections-example/src/main/java/com/stripe/android/financialconnections/example/FinancialConnectionsPlaygroundActivity.kt
  financial-connections-example/src/main/java/com/stripe/android/financialconnections/example/FinancialConnectionsPlaygroundViewModel.kt
  financial-connections/api/financial-connections.api
  financial-connections/src/main/java/com/stripe/android/financialconnections/FinancialConnections.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/FinancialConnectionsSheetViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/analytics/FinancialConnectionsAnalyticsTracker.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/analytics/FinancialConnectionsEvent.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/analytics/FinancialConnectionsResponseEventEmitter.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/domain/RetrieveAuthorizationSession.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/domain/SynchronizeFinancialConnectionsSession.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/consent/ConsentViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/manualentry/ManualEntryViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinksignup/NetworkingLinkSignupViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/model/UserFacingEventResponse.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/network/FinancialConnectionsRequestExecutor.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/repository/FinancialConnectionsManifestRepository.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/FinancialConnectionsSheetViewModelTest.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/analytics/FinancialConnectionsResponseEventEmitterTest.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/analytics/LogErrorTest.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/features/networkinglinksignup/NetworkingLinkSignupViewModelTest.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/features/partnerauth/PartnerAuthViewModelTest.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/networking/FakeFinancialConnectionsManifestRepository.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/presentation/FinancialConnectionsSheetNativeViewModelTest.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/repository/FinancialConnectionsRepositoryImplTest.kt
Labels: work-cli

#7453 [FC] Unify close logic and prevent repeated complete session calls
  financial-connections/src/main/java/com/stripe/android/financialconnections/domain/NativeAuthFlowCoordinator.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/manualentry/ManualEntryViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/manualentrysuccess/ManualEntrySuccessViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/success/SuccessViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/presentation/FinancialConnectionsSheetNativeViewModel.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/features/manualentry/ManualEntryViewModelTest.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/features/success/SuccessViewModelTest.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/presentation/FinancialConnectionsSheetNativeViewModelTest.kt
Labels: work-cli

#7458 Integration: Financial Connections Live events
  financial-connections-example/build.gradle
  financial-connections-example/src/main/AndroidManifest.xml
  financial-connections-example/src/main/java/com/stripe/android/financialconnections/example/FinancialConnectionsDataExampleActivity.kt
  financial-connections-example/src/main/java/com/stripe/android/financialconnections/example/FinancialConnectionsDataExampleActivityJava.java
  financial-connections-example/src/main/java/com/stripe/android/financialconnections/example/FinancialConnectionsExampleViewModel.kt
  financial-connections-example/src/main/java/com/stripe/android/financialconnections/example/FinancialConnectionsLauncherActivity.kt
  financial-connections-example/src/main/java/com/stripe/android/financialconnections/example/FinancialConnectionsPlaygroundActivity.kt
  financial-connections-example/src/main/java/com/stripe/android/financialconnections/example/FinancialConnectionsPlaygroundViewModel.kt
  financial-connections-example/src/main/res/values/strings.xml
  financial-connections/api/financial-connections.api
  financial-connections/src/main/java/com/stripe/android/financialconnections/FinancialConnections.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/FinancialConnectionsSheet.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/FinancialConnectionsSheetViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/analytics/DefaultFinancialConnectionsEventReporter.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/analytics/FinancialConnectionsAnalyticsEvent.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/analytics/FinancialConnectionsAnalyticsTracker.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/analytics/FinancialConnectionsEvent.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/analytics/FinancialConnectionsEventListener.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/analytics/FinancialConnectionsResponseEventEmitter.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/domain/RetrieveAuthorizationSession.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/domain/SynchronizeFinancialConnectionsSession.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/accountpicker/AccountPickerViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/attachpayment/AttachPaymentViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/consent/ConsentViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/institutionpicker/InstitutionPickerViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/linkaccountpicker/LinkAccountPickerViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/linkstepupverification/LinkStepUpVerificationViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/manualentry/ManualEntryViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/manualentrysuccess/ManualEntrySuccessViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinkloginwarmup/NetworkingLinkLoginWarmupViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinksignup/NetworkingLinkSignupViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinkverification/NetworkingLinkVerificationViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkingsavetolinkverification/NetworkingSaveToLinkVerificationViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/partnerauth/PartnerAuthViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/reset/ResetViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/success/SuccessViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/model/UserFacingEventResponse.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/network/FinancialConnectionsRequestExecutor.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/presentation/FinancialConnectionsSheetNativeViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/repository/FinancialConnectionsManifestRepository.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/utils/Experiments.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/FinancialConnectionsSheetViewModelTest.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/TestFinancialConnectionsAnalyticsTracker.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/analytics/FinancialConnectionsResponseEventEmitterTest.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/analytics/LogErrorTest.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/domain/NativeAuthFlowRouterTest.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/features/manualentry/ManualEntryViewModelTest.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/features/partnerauth/PartnerAuthViewModelTest.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/features/success/SuccessViewModelTest.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/presentation/FinancialConnectionsSheetNativeViewModelTest.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/repository/FinancialConnectionsRepositoryImplTest.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/utils/ExperimentsTest.kt
Labels: financial-connections, accept-risky-change

#7459 [Android] Additional close confirmations + remove featured institutions limit
  financial-connections/src/main/java/com/stripe/android/financialconnections/domain/FeaturedInstitutions.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/common/SharedPartnerAuth.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/institutionpicker/InstitutionPickerScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/manualentry/ManualEntryScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/manualentrysuccess/ManualEntrySuccessScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/networkinglinkloginwarmup/NetworkingLinkLoginWarmupScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/reset/ResetScreen.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/repository/FinancialConnectionsInstitutionsRepository.kt
Labels: work-cli

#7485 Don't force Material Theme with CardBrandView
  CHANGELOG.md
  dependencies.gradle
  example/build.gradle
  identity-example/build.gradle
  identity/build.gradle
  payments-core/build.gradle
  payments-core/src/main/java/com/stripe/android/utils/Theming.kt
  payments-core/src/main/java/com/stripe/android/view/CardBrandView.kt
Labels: accept-risky-change

#7530 Add check for FC SDK in CustomerSheet
  CHANGELOG.md
  link/build.gradle
  paymentsheet/res/drawable/stripe_ic_paymentsheet_bank.xml
  paymentsheet/src/main/java/com/stripe/android/customersheet/CustomerSheetViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/customersheet/injection/CustomerSheetViewModelModule.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/model/SupportedPaymentMethodKtx.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/PaymentMethodsUiExtension.kt
  paymentsheet/src/test/java/com/stripe/android/customersheet/CustomerSheetViewModelTest.kt
  paymentsheet/src/test/java/com/stripe/android/customersheet/utils/CustomerSheetTestHelper.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/model/SupportedPaymentMethodTest.kt
Labels: accept-risky-change
