Repository stripe/stripe-android, pull requests merged in 2024-06, with the labels that each got.

#8569 Add edit mode to manage screen
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/DisplayableSavedPaymentMethod.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentOptionsItem.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/HeaderTextFactory.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/PaymentSheetTopBarState.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/verticalmode/ManageScreenInteractor.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/verticalmode/ManageScreenUI.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/viewmodels/BaseSheetViewModel.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/HeaderTextFactoryTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/PaymentSheetTopBarStateFactoryTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/verticalmode/DefaultManageScreenInteractorTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/verticalmode/FakeManageScreenInteractor.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/verticalmode/ManageScreenUIScreenshotTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/verticalmode/ManageScreenUITest.kt
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_ManageScreenUIScreenshotTest_testManageUIScreen_inEditMode[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_ManageScreenUIScreenshotTest_testManageUIScreen_noSelectedPMs[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_ManageScreenUIScreenshotTest_testManageUIScreen_withSelectedPM[].png
Labels: vertical-mode

#8572 Add logic to show form as initial screen in vertical mode.
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentOptionsViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/navigation/PaymentSheetScreen.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/verticalmode/VerticalModeInitialScreenFactory.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentOptionsViewModelTest.kt
Labels: vertical-mode

#8560 Run end to end tests on more devices for nightly builds.
  .github/workflows/instrumentation_tests.yml
  build-configuration/build-environment.gradle
  paymentsheet-example/build.gradle
  paymentsheet-example/src/androidTest/java/com/stripe/android/lpm/TestBacs.kt
  paymentsheet-example/src/androidTest/java/com/stripe/android/lpm/TestBoleto.kt
  paymentsheet-example/src/androidTest/java/com/stripe/android/lpm/TestCard.kt
  paymentsheet-example/src/androidTest/java/com/stripe/android/lpm/TestCardInCustomerSheet.kt
  paymentsheet-example/src/androidTest/java/com/stripe/android/lpm/TestCashApp.kt
  paymentsheet-example/src/androidTest/java/com/stripe/android/lpm/TestExternalPaymentMethod.kt
  paymentsheet-example/src/androidTest/java/com/stripe/android/lpm/TestKlarna.kt
  paymentsheet-example/src/androidTest/java/com/stripe/android/lpm/TestUSBankAccount.kt
  paymentsheet-example/src/androidTest/java/com/stripe/android/test/core/PlaygroundTestDriver.kt
  paymentsheet-example/src/androidTest/java/com/stripe/android/test/core/TestParameters.kt
  scripts/browserstack.py
Labels: accept-risky-change

#8574 Test code should know which tests to run, not browserstack.
  .github/workflows/instrumentation_tests.yml
  bitrise.yml
  build-configuration/build-environment.gradle
  paymentsheet-example/build.gradle
  paymentsheet-example/src/androidTest/java/com/stripe/android/screenshot/TestPaymentSheetScreenshots.kt
  scripts/browserstack.py
Labels: accept-risky-change

#8580 Cleanup some code I noticed while working on vertical mode.
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/forms/CompleteFormFieldValueFilter.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/forms/FormFieldValues.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/forms/FormViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/viewmodels/BaseSheetViewModel.kt
  paymentsheet/src/test/java/com/stripe/android/customersheet/CustomerSheetScreenshotTest.kt
  paymentsheet/src/test/java/com/stripe/android/customersheet/CustomerSheetViewModelTest.kt
  paymentsheet/src/test/java/com/stripe/android/customersheet/utils/CustomerSheetTestHelper.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/forms/CompleteFormFieldValueFilterTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/AddPaymentMethodTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/PaymentMethodFormTest.kt
Labels: vertical-mode

#8597 Remove a bit of magic from a test.
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/verticalmode/DefaultPaymentMethodVerticalLayoutInteractorTest.kt
Labels: vertical-mode

#8606 Implement removing a PM from the manage screen
  payments-ui-core/src/main/java/com/stripe/android/ui/core/elements/SimpleDialogElementUI.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/DisplayableSavedPaymentMethod.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentOptionsItem.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/RemovePaymentMethodDialogUI.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/SavedPaymentMethodTab.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/SavedPaymentMethodTabLayoutUI.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/verticalmode/ManageScreenInteractor.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/verticalmode/ManageScreenUI.kt
  paymentsheet/src/test/java/com/stripe/android/model/PaymentMethodFixtures.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/PaymentOptionScreenshotTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/PaymentOptionTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/verticalmode/ManageScreenUIScreenshotTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/verticalmode/ManageScreenUITest.kt
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionScreenshotTest_testConfirmRemoveDialog[DarkTheme,CrazyAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionScreenshotTest_testConfirmRemoveDialog[DarkTheme,CrazyAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionScreenshotTest_testConfirmRemoveDialog[DarkTheme,CustomAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionScreenshotTest_testConfirmRemoveDialog[DarkTheme,CustomAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionScreenshotTest_testConfirmRemoveDialog[DarkTheme,DefaultAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionScreenshotTest_testConfirmRemoveDialog[DarkTheme,DefaultAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionScreenshotTest_testConfirmRemoveDialog[LightTheme,CrazyAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionScreenshotTest_testConfirmRemoveDialog[LightTheme,CrazyAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionScreenshotTest_testConfirmRemoveDialog[LightTheme,CustomAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionScreenshotTest_testConfirmRemoveDialog[LightTheme,CustomAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionScreenshotTest_testConfirmRemoveDialog[LightTheme,DefaultAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionScreenshotTest_testConfirmRemoveDialog[LightTheme,DefaultAppearance,LargeFont].png
Labels: vertical-mode

#8630 Remove screen out of wallet state calculation.
  paymentsheet/detekt-baseline.xml
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentOptionsViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/state/WalletsState.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/PaymentSheetScreen.kt
Labels: vertical-mode

#8629 Create DisplayablePaymentMethod which will be used to model wallets in the future.
  paymentsheet/src/main/java/com/stripe/android/lpmfoundations/luxe/SupportedPaymentMethod.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/verticalmode/DisplayablePaymentMethod.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/verticalmode/NewPaymentMethodRowButton.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/verticalmode/NewPaymentMethodVerticalLayoutUI.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/verticalmode/PaymentMethodVerticalLayoutInteractor.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/verticalmode/PaymentMethodVerticalLayoutUI.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/verticalmode/DefaultPaymentMethodVerticalLayoutInteractorTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/verticalmode/NewPaymentMethodVerticalLayoutUIScreenshotTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/verticalmode/PaymentMethodVerticalLayoutUIScreenshotTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/verticalmode/PaymentMethodVerticalLayoutUITest.kt
Labels: vertical-mode

#8635 Wait for icons to appear before screenshotting
  paymentsheet-example/src/androidTest/java/com/stripe/android/screenshot/TestPaymentSheetScreenshots.kt
  paymentsheet-example/src/androidTest/java/com/stripe/android/test/core/PlaygroundTestDriver.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/PaymentMethodIcon.kt
Labels: flake-fix

#8676 Wait for Bacs sort code and account number to appear on screen in tests
  paymentsheet-example/src/androidTest/java/com/stripe/android/test/core/ui/Selectors.kt
Labels: flake-fix

#8681 Handle wallets correctly in flow controller vertical mode.
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentOptionsViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/navigation/PaymentSheetScreen.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/PaymentSheetScreen.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/verticalmode/PaymentMethodVerticalLayoutInteractor.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/verticalmode/DefaultPaymentMethodVerticalLayoutInteractorTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/verticalmode/PaymentMethodVerticalLayoutUITest.kt
Labels: vertical-mode

#8698 Increase waitUntil timeouts for some us bank and sepa compose nodes
  paymentsheet-example/src/androidTest/java/com/stripe/android/lpm/TestSepaDebit.kt
  paymentsheet-example/src/androidTest/java/com/stripe/android/test/core/PlaygroundTestDriver.kt
Labels: flake-fix
