Repository stripe/stripe-android, pull requests merged in 2024-05, with the labels that each got.

#8463 Add PaymentSheetEventTest for external PMs success/failure events
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/analytics/PaymentSheetEventTest.kt
Labels: external-payment-methods

#8464 Update external payment methods playground setting to use enum of options
  paymentsheet-example/src/androidTest/java/com/stripe/android/lpm/TestExternalPaymentMethod.kt
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/settings/ExternalPaymentMethodSettingsDefinition.kt
Labels: external-payment-methods

#8484 Extract Compose code from PaymentMethodUi to RowButton.
  payments-core/detekt-baseline.xml
  paymentsheet/detekt-baseline.xml
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentMethodsUI.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/PaymentMethodRowButton.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/RowButton.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/PaymentMethodRowButtonScreenshotTest.kt
  paymentsheet/src/test/java/com/stripe/android/utils/screenshots/PaymentSheetAppearance.kt
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodRowButtonScreenshotTest_testDisabledState[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodRowButtonScreenshotTest_testInitialState[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodRowButtonScreenshotTest_testMultilineTextTruncation[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodRowButtonScreenshotTest_testMultilineText[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodRowButtonScreenshotTest_testSelectedState[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodRowButtonScreenshotTest_testTailingContent[].png
  screenshot-testing/src/main/java/com/stripe/android/screenshottesting/PaparazziConfigOption.kt
  screenshot-testing/src/main/java/com/stripe/android/screenshottesting/PaparazziRule.kt
Labels: vertical-mode

#8489 Rename tint params to reflect what they do.
  paymentsheet/src/main/java/com/stripe/android/lpmfoundations/luxe/SupportedPaymentMethod.kt
  paymentsheet/src/main/java/com/stripe/android/lpmfoundations/paymentmethod/definitions/AuBecsDebitDefinition.kt
  paymentsheet/src/main/java/com/stripe/android/lpmfoundations/paymentmethod/definitions/BacsDebitDefinition.kt
  paymentsheet/src/main/java/com/stripe/android/lpmfoundations/paymentmethod/definitions/CardDefinition.kt
  paymentsheet/src/main/java/com/stripe/android/lpmfoundations/paymentmethod/definitions/ExternalPaymentMethodUiDefinitionFactory.kt
  paymentsheet/src/main/java/com/stripe/android/lpmfoundations/paymentmethod/definitions/FpxDefinition.kt
  paymentsheet/src/main/java/com/stripe/android/lpmfoundations/paymentmethod/definitions/InstantDebitsDefinition.kt
  paymentsheet/src/main/java/com/stripe/android/lpmfoundations/paymentmethod/definitions/OxxoDefinition.kt
  paymentsheet/src/main/java/com/stripe/android/lpmfoundations/paymentmethod/definitions/UsBankAccountDefinition.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentMethodsUI.kt
  paymentsheet/src/test/java/com/stripe/android/lpmfoundations/luxe/LpmRepositoryTestHelpers.kt
  paymentsheet/src/test/java/com/stripe/android/lpmfoundations/paymentmethod/PaymentMethodMetadataTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentMethodsUITest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/PaymentMethodUIScreenshotTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/PaymentMethodsUIScreenshotTest.kt
  paymentsheet/src/test/java/com/stripe/android/utils/MockPaymentMethodsFactory.kt
Labels: vertical-mode

#8508 Add subtitle to SupportedPaymentMethod.
  paymentsheet/src/main/java/com/stripe/android/lpmfoundations/luxe/SupportedPaymentMethod.kt
  paymentsheet/src/main/java/com/stripe/android/lpmfoundations/paymentmethod/definitions/AffirmDefinition.kt
  paymentsheet/src/main/java/com/stripe/android/lpmfoundations/paymentmethod/definitions/KlarnaDefinition.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/PaymentMethodUI.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/PaymentMethodUIScreenshotTest.kt
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodUIScreenshotTest_testLongSubtitleForVerticalMode[DarkTheme,CrazyAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodUIScreenshotTest_testLongSubtitleForVerticalMode[DarkTheme,CrazyAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodUIScreenshotTest_testLongSubtitleForVerticalMode[DarkTheme,CustomAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodUIScreenshotTest_testLongSubtitleForVerticalMode[DarkTheme,CustomAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodUIScreenshotTest_testLongSubtitleForVerticalMode[DarkTheme,DefaultAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodUIScreenshotTest_testLongSubtitleForVerticalMode[DarkTheme,DefaultAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodUIScreenshotTest_testLongSubtitleForVerticalMode[LightTheme,CrazyAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodUIScreenshotTest_testLongSubtitleForVerticalMode[LightTheme,CrazyAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodUIScreenshotTest_testLongSubtitleForVerticalMode[LightTheme,CustomAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodUIScreenshotTest_testLongSubtitleForVerticalMode[LightTheme,CustomAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodUIScreenshotTest_testLongSubtitleForVerticalMode[LightTheme,DefaultAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodUIScreenshotTest_testLongSubtitleForVerticalMode[LightTheme,DefaultAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodUIScreenshotTest_testSubtitleForVerticalMode[DarkTheme,CrazyAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodUIScreenshotTest_testSubtitleForVerticalMode[DarkTheme,CrazyAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodUIScreenshotTest_testSubtitleForVerticalMode[DarkTheme,CustomAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodUIScreenshotTest_testSubtitleForVerticalMode[DarkTheme,CustomAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodUIScreenshotTest_testSubtitleForVerticalMode[DarkTheme,DefaultAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodUIScreenshotTest_testSubtitleForVerticalMode[DarkTheme,DefaultAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodUIScreenshotTest_testSubtitleForVerticalMode[LightTheme,CrazyAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodUIScreenshotTest_testSubtitleForVerticalMode[LightTheme,CrazyAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodUIScreenshotTest_testSubtitleForVerticalMode[LightTheme,CustomAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodUIScreenshotTest_testSubtitleForVerticalMode[LightTheme,CustomAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodUIScreenshotTest_testSubtitleForVerticalMode[LightTheme,DefaultAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodUIScreenshotTest_testSubtitleForVerticalMode[LightTheme,DefaultAppearance,LargeFont].png
Labels: vertical-mode

#8514 Create form screen for vertical mode.
  paymentsheet/detekt-baseline.xml
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/navigation/PaymentSheetScreen.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/paymentdatacollection/ach/USBankAccountFormArguments.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/AddPaymentMethod.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/HeaderTextFactory.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/PaymentElement.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/viewmodels/BaseSheetViewModel.kt
Labels: vertical-mode

#8519 Add SavedPaymentMethodRowButton
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/DisplayableSavedPaymentMethod.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentOptionsItem.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentOptionsStateFactory.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/NewPaymentMethodRowButton.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/PaymentMethodIcon.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/PaymentMethodRowButton.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/PaymentMethodsUiExtension.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/SavedPaymentMethodRowButton.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/SavedPaymentMethodTabLayoutUI.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/PaymentMethodRowButtonScreenshotTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/PaymentOptionsScreenshotTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/SavedPaymentMethodRowButtonScreenshotTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/viewmodels/PaymentOptionsStateMapperTest.kt
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodRowButtonScreenshotTest_testDisabledState[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodRowButtonScreenshotTest_testInitialState[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodRowButtonScreenshotTest_testMultilineTextTruncation[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodRowButtonScreenshotTest_testMultilineText[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodRowButtonScreenshotTest_testSelectedState[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentMethodRowButtonScreenshotTest_testTailingContent[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_SavedPaymentMethodRowButtonScreenshotTest_testSavedVisa[DarkTheme,CrazyAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_SavedPaymentMethodRowButtonScreenshotTest_testSavedVisa[DarkTheme,CrazyAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_SavedPaymentMethodRowButtonScreenshotTest_testSavedVisa[DarkTheme,CustomAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_SavedPaymentMethodRowButtonScreenshotTest_testSavedVisa[DarkTheme,CustomAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_SavedPaymentMethodRowButtonScreenshotTest_testSavedVisa[DarkTheme,DefaultAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_SavedPaymentMethodRowButtonScreenshotTest_testSavedVisa[DarkTheme,DefaultAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_SavedPaymentMethodRowButtonScreenshotTest_testSavedVisa[LightTheme,CrazyAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_SavedPaymentMethodRowButtonScreenshotTest_testSavedVisa[LightTheme,CrazyAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_SavedPaymentMethodRowButtonScreenshotTest_testSavedVisa[LightTheme,CustomAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_SavedPaymentMethodRowButtonScreenshotTest_testSavedVisa[LightTheme,CustomAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_SavedPaymentMethodRowButtonScreenshotTest_testSavedVisa[LightTheme,DefaultAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_SavedPaymentMethodRowButtonScreenshotTest_testSavedVisa[LightTheme,DefaultAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_SavedPaymentMethodRowButtonScreenshotTest_testSavedVisa_disabled[DarkTheme,CrazyAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_SavedPaymentMethodRowButtonScreenshotTest_testSavedVisa_disabled[DarkTheme,CrazyAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_SavedPaymentMethodRowButtonScreenshotTest_testSavedVisa_disabled[DarkTheme,CustomAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_SavedPaymentMethodRowButtonScreenshotTest_testSavedVisa_disabled[DarkTheme,CustomAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_SavedPaymentMethodRowButtonScreenshotTest_testSavedVisa_disabled[DarkTheme,DefaultAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_SavedPaymentMethodRowButtonScreenshotTest_testSavedVisa_disabled[DarkTheme,DefaultAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_SavedPaymentMethodRowButtonScreenshotTest_testSavedVisa_disabled[LightTheme,CrazyAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_SavedPaymentMethodRowButtonScreenshotTest_testSavedVisa_disabled[LightTheme,CrazyAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_SavedPaymentMethodRowButtonScreenshotTest_testSavedVisa_disabled[LightTheme,CustomAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_SavedPaymentMethodRowButtonScreenshotTest_testSavedVisa_disabled[LightTheme,CustomAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_SavedPaymentMethodRowButtonScreenshotTest_testSavedVisa_disabled[LightTheme,DefaultAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_SavedPaymentMethodRowButtonScreenshotTest_testSavedVisa_disabled[LightTheme,DefaultAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_SavedPaymentMethodRowButtonScreenshotTest_testSavedVisa_selected[DarkTheme,CrazyAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_SavedPaymentMethodRowButtonScreenshotTest_testSavedVisa_selected[DarkTheme,CrazyAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_SavedPaymentMethodRowButtonScreenshotTest_testSavedVisa_selected[DarkTheme,CustomAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_SavedPaymentMethodRowButtonScreenshotTest_testSavedVisa_selected[DarkTheme,CustomAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_SavedPaymentMethodRowButtonScreenshotTest_testSavedVisa_selected[DarkTheme,DefaultAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_SavedPaymentMethodRowButtonScreenshotTest_testSavedVisa_selected[DarkTheme,DefaultAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_SavedPaymentMethodRowButtonScreenshotTest_testSavedVisa_selected[LightTheme,CrazyAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_SavedPaymentMethodRowButtonScreenshotTest_testSavedVisa_selected[LightTheme,CrazyAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_SavedPaymentMethodRowButtonScreenshotTest_testSavedVisa_selected[LightTheme,CustomAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_SavedPaymentMethodRowButtonScreenshotTest_testSavedVisa_selected[LightTheme,CustomAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_SavedPaymentMethodRowButtonScreenshotTest_testSavedVisa_selected[LightTheme,DefaultAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_SavedPaymentMethodRowButtonScreenshotTest_testSavedVisa_selected[LightTheme,DefaultAppearance,LargeFont].png
Labels: vertical-mode

#8526 Move CompositionLocalProvider up so it's shared between all screens.
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/navigation/PaymentSheetScreen.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/AddPaymentMethod.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/PaymentElement.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/PaymentSheetScreen.kt
Labels: vertical-mode

#8523 Create empty manage PMs screen
  paymentsheet/api/paymentsheet.api
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/navigation/PaymentSheetScreen.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/HeaderTextFactory.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/PaymentMethodVerticalLayoutUI.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/viewmodels/BaseSheetViewModel.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/HeaderTextFactoryTest.kt
Labels: vertical-mode

#8528 Add leak canary to PaymentSheet instrumentation tests.
  dependencies.gradle
  payments-core-testing/build.gradle
  payments-core-testing/dependencies/dependencies.txt
  payments-core-testing/src/main/java/com/stripe/android/testing/RetryRule.kt
  paymentsheet-example/build.gradle
  paymentsheet-example/src/androidTest/java/com/stripe/android/test/core/PlaygroundTestDriver.kt
  paymentsheet-example/src/androidTest/java/com/stripe/android/utils/TestRules.kt
  paymentsheet/build.gradle
  paymentsheet/src/androidTest/java/com/stripe/android/paymentsheet/CustomerSheetTest.kt
  paymentsheet/src/androidTest/java/com/stripe/android/paymentsheet/FlowControllerTest.kt
  paymentsheet/src/androidTest/java/com/stripe/android/paymentsheet/LinkTest.kt
  paymentsheet/src/androidTest/java/com/stripe/android/paymentsheet/PaymentSheetAnalyticsTest.kt
  paymentsheet/src/androidTest/java/com/stripe/android/paymentsheet/PaymentSheetBillingConfigurationTest.kt
  paymentsheet/src/androidTest/java/com/stripe/android/paymentsheet/PaymentSheetTest.kt
Labels: accept-risky-change

#8527 Add link to card form in vertical mode.
  link/src/main/java/com/stripe/android/link/ui/inline/LinkInlineSignup.kt
  link/src/main/java/com/stripe/android/link/ui/inline/LinkOptionalInlineSignup.kt
  paymentsheet/src/main/java/com/stripe/android/customersheet/ui/CustomerSheetScreen.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/navigation/PaymentSheetScreen.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/AddPaymentMethod.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/PaymentElement.kt
Labels: vertical-mode

#8545 Create an interactor for vertical mode forms.
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/navigation/PaymentSheetScreen.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/PaymentMethodForm.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/verticalmode/VerticalModeFormInteractor.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/verticalmode/VerticalModeFormUI.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/FormPage.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/verticalmode/VerticalModeFormUITest.kt
Labels: vertical-mode

#8551 Create an interactor for PaymentMethodVerticalLayout.
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentOptionsViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/navigation/PaymentSheetScreen.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/HeaderTextFactory.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/verticalmode/NewPaymentMethodRowButton.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/verticalmode/NewPaymentMethodVerticalLayoutUI.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/verticalmode/PaymentMethodVerticalLayoutInteractor.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/verticalmode/PaymentMethodVerticalLayoutUI.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/viewmodels/BaseSheetViewModel.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/verticalmode/PaymentMethodVerticalLayoutUITest.kt
Labels: vertical-mode
