Repository stripe/stripe-android, pull requests merged in 2024-08, with the labels that each got.

#8969 Enable remote caching on Bitrise
  bitrise.yml
Labels: accept-risky-change

#9026 Add case for link-account-picker pane in Consent link handling
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/consent/ConsentState.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/consent/ConsentViewModel.kt
Labels: work-cli

#8987 Adding consent handling for networking manual entry mid flow consent drawer and step up edge scenarios
  financial-connections/api/financial-connections.api
  financial-connections/src/main/java/com/stripe/android/financialconnections/di/FinancialConnectionsSheetNativeModule.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/accountupdate/AccountUpdateRequiredModal.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/accountupdate/AccountUpdateRequiredViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/accountupdate/PresentAccountUpdateRequiredSheet.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/linkaccountpicker/LinkAccountPickerViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/notice/NoticeSheet.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/notice/NoticeSheetViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/notice/PresentSheet.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/repository/AccountUpdateRequiredContentRepository.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/features/linkaccountpicker/LinkAccountPickerViewModelTest.kt
Labels: work-cli

#9089 Add a delay when selecting rows in vertical mode.
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/navigation/NavigationHandler.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/verticalmode/ManageScreenInteractor.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/verticalmode/PaymentMethodVerticalLayoutInteractor.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/viewmodels/BaseSheetViewModel.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/navigation/NavigationHandlerTest.kt
Labels: vertical-mode

#9092 Add subtitle for afterpay in vertical mode
  paymentsheet/res/values/strings.xml
  paymentsheet/src/main/java/com/stripe/android/lpmfoundations/paymentmethod/definitions/AfterpayClearpayDefinition.kt
Labels: vertical-mode

#9037 Read `next_pane` and `custom success content` from `/share_networked_account response`
  financial-connections/detekt-baseline.xml
  financial-connections/src/main/java/com/stripe/android/financialconnections/domain/SaveAccountToLink.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/domain/SelectNetworkedAccounts.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/attachpayment/AttachPaymentViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/linkaccountpicker/LinkAccountPickerViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/linkstepupverification/LinkStepUpVerificationViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/manualentry/ManualEntryViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/manualentrysuccess/ManualEntrySuccessViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/success/SuccessContent.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/success/SuccessPreviewParameterProvider.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/success/SuccessViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/model/FinancialConnectionsAuthorizationSession.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/model/ShareNetworkedAccountsResponse.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/repository/FinancialConnectionsAccountsRepository.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/repository/SuccessContentRepository.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/domain/SaveAccountToLinkTest.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/domain/SelectNetworkedAccountsTest.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/features/linkaccountpicker/LinkAccountPickerViewModelTest.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/features/linkstepupverification/LinkStepUpVerificationViewModelTest.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/networking/AbsFinancialConnectionsAccountsRepository.kt
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.success_null_Success_Animationcompleted_0_null_0,NEXUS_5].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.success_null_Success_Animationcompleted_0_null_0,PIXEL_C].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.success_null_Success_Animationcompleted_0_null_1,NEXUS_5].png
  financial-connections/src/test/snapshots/images/com.stripe.android.financialconnections.screenshottests_PaparazziSampleScreenshotTest_preview_tests[com.stripe.android.financialconnections.features.success_null_Success_Animationcompleted_0_null_1,PIXEL_C].png
Labels: work-cli

#9103 Special case cards for vertical mode.
  paymentsheet/res/values/strings.xml
  paymentsheet/src/main/java/com/stripe/android/lpmfoundations/luxe/SupportedPaymentMethod.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/verticalmode/PaymentMethodVerticalLayoutInteractor.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/verticalmode/VerticalModeFormInteractor.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/verticalmode/DefaultPaymentMethodVerticalLayoutInteractorTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/verticalmode/NewPaymentMethodVerticalLayoutUIScreenshotTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/verticalmode/PaymentMethodVerticalLayoutUIScreenshotTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/verticalmode/PaymentMethodVerticalLayoutUITest.kt
Labels: vertical-mode

#9105 Fix a bug in popWithDelay.
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/navigation/NavigationHandler.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/navigation/NavigationHandlerTest.kt
Labels: vertical-mode

#9106 Fix a bug when editing a single payment method.
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/verticalmode/PaymentMethodVerticalLayoutInteractor.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/verticalmode/DefaultPaymentMethodVerticalLayoutInteractorTest.kt
Labels: vertical-mode

#9109 Fix a bug where updating a card brand wouldn't update it on the vertical mode list
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/SavedPaymentMethodMutator.kt
Labels: vertical-mode

#9108 Add screenshot tests for VerticalModeFormUI.
  paymentsheet/src/test/java/com/stripe/android/lpmfoundations/paymentmethod/TestUiDefinitionFactoryArgumentsFactory.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/verticalmode/VerticalModeFormUIScreenshotTest.kt
  paymentsheet/src/test/java/com/stripe/android/utils/NullCardAccountRangeRepositoryFactory.kt
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_VerticalModeFormUIScreenshotTest_cardFieldsAreDisabledWhenProcessing[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_VerticalModeFormUIScreenshotTest_cardFormIsDisplayed[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_VerticalModeFormUIScreenshotTest_cashappShowsBillingFields[].png
Labels: vertical-mode

#9110 Remove hardcoded text size from RowButton.
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/verticalmode/PaymentMethodRowButton.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/verticalmode/PaymentMethodRowButtonScreenshotTest.kt
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_CvcRecollectionFieldScreenshotTest_testEmptyState[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_CvcRecollectionFieldScreenshotTest_testErrorState[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_NewPaymentMethodRowButtonScreenshotTest_testLongSubtitle[DarkTheme,CrazyAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_NewPaymentMethodRowButtonScreenshotTest_testLongSubtitle[DarkTheme,CrazyAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_NewPaymentMethodRowButtonScreenshotTest_testLongSubtitle[DarkTheme,CustomAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_NewPaymentMethodRowButtonScreenshotTest_testLongSubtitle[DarkTheme,CustomAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_NewPaymentMethodRowButtonScreenshotTest_testLongSubtitle[DarkTheme,DefaultAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_NewPaymentMethodRowButtonScreenshotTest_testLongSubtitle[DarkTheme,DefaultAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_NewPaymentMethodRowButtonScreenshotTest_testLongSubtitle[LightTheme,CrazyAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_NewPaymentMethodRowButtonScreenshotTest_testLongSubtitle[LightTheme,CrazyAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_NewPaymentMethodRowButtonScreenshotTest_testLongSubtitle[LightTheme,CustomAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_NewPaymentMethodRowButtonScreenshotTest_testLongSubtitle[LightTheme,CustomAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_NewPaymentMethodRowButtonScreenshotTest_testLongSubtitle[LightTheme,DefaultAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_NewPaymentMethodRowButtonScreenshotTest_testLongSubtitle[LightTheme,DefaultAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_NewPaymentMethodRowButtonScreenshotTest_testSubtitle[DarkTheme,CrazyAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_NewPaymentMethodRowButtonScreenshotTest_testSubtitle[DarkTheme,CrazyAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_NewPaymentMethodRowButtonScreenshotTest_testSubtitle[DarkTheme,CustomAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_NewPaymentMethodRowButtonScreenshotTest_testSubtitle[DarkTheme,CustomAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_NewPaymentMethodRowButtonScreenshotTest_testSubtitle[DarkTheme,DefaultAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_NewPaymentMethodRowButtonScreenshotTest_testSubtitle[DarkTheme,DefaultAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_NewPaymentMethodRowButtonScreenshotTest_testSubtitle[LightTheme,CrazyAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_NewPaymentMethodRowButtonScreenshotTest_testSubtitle[LightTheme,CrazyAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_NewPaymentMethodRowButtonScreenshotTest_testSubtitle[LightTheme,CustomAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_NewPaymentMethodRowButtonScreenshotTest_testSubtitle[LightTheme,CustomAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_NewPaymentMethodRowButtonScreenshotTest_testSubtitle[LightTheme,DefaultAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_NewPaymentMethodRowButtonScreenshotTest_testSubtitle[LightTheme,DefaultAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_PaymentMethodRowButtonScreenshotTest_testDisabledState[DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_PaymentMethodRowButtonScreenshotTest_testDisabledState[LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_PaymentMethodRowButtonScreenshotTest_testInitialState[DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_PaymentMethodRowButtonScreenshotTest_testInitialState[LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_PaymentMethodRowButtonScreenshotTest_testMultilineTextTruncation[DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_PaymentMethodRowButtonScreenshotTest_testMultilineTextTruncation[LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_PaymentMethodRowButtonScreenshotTest_testMultilineTextTruncation[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_PaymentMethodRowButtonScreenshotTest_testMultilineText[DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_PaymentMethodRowButtonScreenshotTest_testMultilineText[LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_PaymentMethodRowButtonScreenshotTest_testMultilineText[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_PaymentMethodRowButtonScreenshotTest_testSelectedState[DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_PaymentMethodRowButtonScreenshotTest_testSelectedState[LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_PaymentMethodRowButtonScreenshotTest_testTailingContent[DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_PaymentMethodRowButtonScreenshotTest_testTailingContent[LargeFont].png
Labels: vertical-mode

#9116 Remove delay when navigating back after removing the last SPM.
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/verticalmode/ManageScreenInteractor.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/verticalmode/DefaultManageScreenInteractorTest.kt
Labels: vertical-mode

#9122 Add vertical mode integration tests.
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/verticalmode/PaymentMethodVerticalLayoutUI.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/FormPage.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ManagePage.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/VerticalModePage.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/VerticalModePaymentSheetActivityTest.kt
  paymentsheet/src/test/resources/elements-sessions-requires_payment_method.json
  paymentsheet/src/test/resources/payment-methods-get-success-empty.json
  paymentsheet/src/test/resources/payment-methods-get-success.json
Labels: vertical-mode

#9128 Send saved PM selected event from manage screen
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/verticalmode/ManageScreenInteractor.kt
Labels: vertical-mode

#9127 Update new PMs shown, select PM, and form shown analytics for vertical mode
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/analytics/DefaultEventReporter.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/analytics/EventReporter.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/analytics/PaymentSheetAnalyticsListener.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/analytics/PaymentSheetEvent.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/verticalmode/PaymentMethodVerticalLayoutInteractor.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentOptionsViewModelTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetViewModelTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/analytics/DefaultEventReporterTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/analytics/PaymentSheetAnalyticsListenerTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/verticalmode/DefaultPaymentMethodVerticalLayoutInteractorTest.kt
Labels: vertical-mode

#9126 Add remove tests for vertical mode.
  payments-core-testing/src/main/java/com/stripe/android/testing/PaymentMethodFactory.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/CustomerSessionPaymentSheetActivityTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ManagePage.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/VerticalModePage.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/VerticalModePaymentSheetActivityTest.kt
  paymentsheet/src/test/resources/payment-methods-get-success-empty.json
  paymentsheet/src/test/resources/payment-methods-get-success.json
Labels: vertical-mode

#9133 Add edit test for vertical mode.
  payments-core-testing/src/main/java/com/stripe/android/testing/PaymentMethodFactory.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/EditPaymentMethod.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/utils/TestMetadata.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/verticalmode/SavedPaymentMethodRowButton.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/EditPage.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ManagePage.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/TestMetadata.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/VerticalModePage.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/VerticalModePaymentSheetActivityTest.kt
  paymentsheet/src/test/resources/elements-sessions-requires_payment_method.json
  stripe-ui-core/src/main/java/com/stripe/android/uicore/elements/SingleChoiceDropdownUI.kt
Labels: vertical-mode

#9139 Add end to end tests for vertical mode.
  paymentsheet-example/src/androidTest/java/com/stripe/android/lpm/TestVerticalMode.kt
  paymentsheet-example/src/androidTest/java/com/stripe/android/test/core/PlaygroundTestDriver.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/verticalmode/NewPaymentMethodRowButton.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/verticalmode/PaymentMethodVerticalLayoutUI.kt
Labels: vertical-mode

#9140 Add screenshot tests for entire vertical mode form UI screen.
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/PaymentSheetScreen.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/analytics/NoOpEventReporter.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/ThrowingEditPaymentMethodViewInteractorFactory.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/verticalmode/FakeVerticalModeFormInteractor.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/verticalmode/VerticalModeFormUIScreenshotTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/viewmodels/FakeBaseSheetViewModel.kt
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_VerticalModeFormUIScreenshotTest_fullCardFormWithError[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_VerticalModeFormUIScreenshotTest_fullCardFormWithLink[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_VerticalModeFormUIScreenshotTest_fullCardFormWithSaveForLater[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_VerticalModeFormUIScreenshotTest_fullCardForm[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_VerticalModeFormUIScreenshotTest_fullCashAppForm[].png
  screenshot-testing/src/main/java/com/stripe/android/screenshottesting/PaparazziRule.kt
Labels: vertical-mode

#9152 Fix flakey delayed success test.
  paymentsheet/src/androidTest/java/com/stripe/android/paymentsheet/PaymentSheetTest.kt
  paymentsheet/src/androidTest/java/com/stripe/android/paymentsheet/utils/PaymentSheetTestRunner.kt
Labels: flake-fix

#9154 Add screenshot tests for the entire vertical mode list screen.
  paymentsheet/src/test/java/com/stripe/android/model/PaymentMethodFixtures.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/navigation/PaymentSheetScreenVerticalModeScreenshotTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/navigation/PaymentSheetScreenVerticalModeTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/verticalmode/FakePaymentMethodVerticalLayoutInteractor.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/verticalmode/PaymentMethodVerticalLayoutUITest.kt
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.navigation_PaymentSheetScreenVerticalModeScreenshotTest_displaysVerticalModeListWithError[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.navigation_PaymentSheetScreenVerticalModeScreenshotTest_displaysVerticalModeListWithLink[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.navigation_PaymentSheetScreenVerticalModeScreenshotTest_displaysVerticalModeListWithMandate[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.navigation_PaymentSheetScreenVerticalModeScreenshotTest_displaysVerticalModeList[].png
Labels: vertical-mode
