Repository stripe/stripe-android, pull requests merged in 2024-12, with the labels that each got.

#9719 Move `statusBarColor` from function injection to value injection
  paymentsheet/src/main/java/com/stripe/android/customersheet/injection/CustomerSheetViewModelComponent.kt
  paymentsheet/src/main/java/com/stripe/android/customersheet/injection/CustomerSheetViewModelModule.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/confirmation/ConfirmationConstants.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/confirmation/DefaultConfirmationHandler.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/flowcontroller/DefaultFlowController.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/injection/PaymentSheetViewModelModule.kt
  paymentsheet/src/test/java/com/stripe/android/customersheet/utils/CustomerSheetTestHelper.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/confirmation/ConfirmationActivity.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetActivityTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetViewModelTest.kt
Labels: embedded-confirmation

#9651 Inject `ConfirmationHandler` into `FlowController`
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentOptionContract.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/flowcontroller/DefaultFlowController.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/flowcontroller/FlowControllerComponent.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/flowcontroller/FlowControllerModule.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/flowcontroller/FlowControllerStateComponent.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/flowcontroller/FlowControllerViewModel.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentOptionsViewModelTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetFixtures.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/flowcontroller/DefaultFlowControllerTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/flowcontroller/FlowControllerConfigurationHandlerTest.kt
Labels: embedded-confirmation

#9720 Polish UpdatePaymentMethodUI
  paymentsheet/res/values/strings.xml
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/UpdatePaymentMethodUI.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/UpdatePaymentMethodUITest.kt
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentSheetScreenUpdatePaymentMethodScreenshotTest_updatePaymentMethodScreen_forCbcEligibleCard[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentSheetScreenUpdatePaymentMethodScreenshotTest_updatePaymentMethodScreen_forCbcEligibleCard_withoutRemoveButton[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentSheetScreenUpdatePaymentMethodScreenshotTest_updatePaymentMethodScreen_forSepaDebit_withRemoveButton[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentSheetScreenUpdatePaymentMethodScreenshotTest_updatePaymentMethodScreen_forUsBankAccount_withRemoveButton[].png
Labels: default-pms

#9724 Refactor SavedPaymentMethodMutator.
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/SavedPaymentMethodMutator.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/SavedPaymentMethodMutatorTest.kt
Labels: embedded

#9721 Inject definitions into `ConfirmationHandler`
  paymentsheet/src/main/java/com/stripe/android/customersheet/injection/CustomerSheetViewModelComponent.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/confirmation/ConfirmationMediator.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/confirmation/ConfirmationModule.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/confirmation/ConfirmationRegistry.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/confirmation/DefaultConfirmationHandler.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/confirmation/bacs/BacsConfirmationModule.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/confirmation/epms/ExternalPaymentMethodConfirmationModule.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/confirmation/gpay/GooglePayConfirmationModule.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/confirmation/injection/ConfirmationHandlerModule.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/confirmation/injection/DefaultConfirmationModule.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/confirmation/injection/PaymentElementConfirmationModule.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/confirmation/intent/IntentConfirmationModule.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/flowcontroller/FlowControllerStateComponent.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/injection/PaymentSheetViewModelSubcomponent.kt
  paymentsheet/src/test/java/com/stripe/android/customersheet/utils/CustomerSheetTestHelper.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/confirmation/ConfirmationMediatorTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/confirmation/ConfirmationUtils.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/confirmation/PaymentElementConfirmationOrderTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/confirmation/PaymentElementConfirmationTestActivity.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/confirmation/gpay/GooglePayConfirmationActivityTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetActivityTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetViewModelTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/flowcontroller/DefaultFlowControllerTest.kt
Labels: embedded-confirmation

#9731 New properties should be internal.
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheet.kt
Labels: embedded

#9732 Add test cases for SavedPaymentMethodMutator.
  payments-core/detekt-baseline.xml
  paymentsheet/detekt-baseline.xml
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/SavedPaymentMethodMutatorTest.kt
Labels: embedded

#9738 Call confirm in the embedded playground.
  paymentsheet-example/detekt-baseline.xml
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/PaymentSheetPlaygroundActivity.kt
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/PaymentSheetPlaygroundViewModel.kt
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/embedded/EmbeddedPlaygroundActivity.kt
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/embedded/EmbeddedPlaygroundContract.kt
Labels: embedded

#9741 Refactor SharedPaymentElementViewModelTest to use Scenario.
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/SharedPaymentElementViewModelTest.kt
Labels: embedded

#9743 Don't show remove spinner until the user has confirmed removal
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/UpdatePaymentMethodUI.kt
Labels: default-pms

#9744 Remove bottom padding from UpdatePaymentMethod screen
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/navigation/PaymentSheetScreen.kt
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentSheetScreenUpdatePaymentMethodScreenshotTest_updatePaymentMethodScreen_forCard[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentSheetScreenUpdatePaymentMethodScreenshotTest_updatePaymentMethodScreen_forCard_withRemoveButton[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentSheetScreenUpdatePaymentMethodScreenshotTest_updatePaymentMethodScreen_forCard_withRemoveButton_withError[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentSheetScreenUpdatePaymentMethodScreenshotTest_updatePaymentMethodScreen_forCbcEligibleCard[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentSheetScreenUpdatePaymentMethodScreenshotTest_updatePaymentMethodScreen_forCbcEligibleCard_withoutRemoveButton[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentSheetScreenUpdatePaymentMethodScreenshotTest_updatePaymentMethodScreen_forExpiredCard[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentSheetScreenUpdatePaymentMethodScreenshotTest_updatePaymentMethodScreen_forSepaDebit_withRemoveButton[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentSheetScreenUpdatePaymentMethodScreenshotTest_updatePaymentMethodScreen_forUsBankAccount_withRemoveButton[].png
Labels: default-pms

#9749 Update Embedded product usage to `EmbeddedPaymentElement`.
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/SharedPaymentElementViewModel.kt
Labels: embedded

#9754 Better handle process death for all confirmation flow cases in `DefaultConfirmationHandler`
  paymentsheet/src/main/java/com/stripe/android/paymentelement/confirmation/DefaultConfirmationHandler.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/confirmation/DefaultConfirmationHandlerTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetViewModelTest.kt
Labels: embedded-confirmation

#9747 Move `Link` to confirmation definition
  payments-core-testing/src/main/java/com/stripe/android/testing/PaymentMethodFactory.kt
  paymentsheet/api/paymentsheet.api
  paymentsheet/detekt-baseline.xml
  paymentsheet/src/main/java/com/stripe/android/paymentelement/confirmation/ConfirmationDefinition.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/confirmation/ConfirmationMediator.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/confirmation/ConfirmationOptionKtx.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/confirmation/injection/PaymentElementConfirmationModule.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/confirmation/link/LinkConfirmationDefinition.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/confirmation/link/LinkConfirmationModule.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/confirmation/link/LinkConfirmationOption.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/EmbeddedConfirmationHelper.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/LinkHandler.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentOptionsViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/flowcontroller/DefaultFlowController.kt
  paymentsheet/src/test/java/com/stripe/android/customersheet/utils/CustomerSheetTestHelper.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/confirmation/ConfirmationHandlerOptionKtxTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/confirmation/ConfirmationMediatorTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/confirmation/ConfirmationTestUtils.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/confirmation/ConfirmationUtils.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/confirmation/DefaultConfirmationHandlerTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/confirmation/PaymentElementConfirmationOrderTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/confirmation/PaymentElementConfirmationTestActivity.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/confirmation/RecordingConfirmationDefinition.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/confirmation/gpay/GooglePayConfirmationActivityTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/confirmation/link/LinkConfirmationActivityTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/confirmation/link/LinkConfirmationDefinitionTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/confirmation/link/LinkConfirmationFlowTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/LinkHandlerTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetActivityTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetViewModelTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/TestViewModelFactory.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/flowcontroller/DefaultFlowControllerTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/viewmodels/FakeBaseSheetViewModel.kt
  paymentsheet/src/test/java/com/stripe/android/utils/RecordingLinkPaymentLauncher.kt
  paymentsheet/src/test/java/com/stripe/android/utils/RecordingLinkStore.kt
Labels: embedded-confirmation

#9763 Move embedded content into it's own composable.
  paymentsheet/src/main/java/com/stripe/android/paymentelement/EmbeddedPaymentElement.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/EmbeddedContent.kt
Labels: embedded

#9758 Move common confirmation option parameters to `ConfirmationHandler.Args`
  paymentsheet/api/paymentsheet.api
  paymentsheet/src/main/java/com/stripe/android/customersheet/CustomerSheetViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/confirmation/ConfirmationDefinition.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/confirmation/ConfirmationHandler.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/confirmation/ConfirmationMediator.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/confirmation/ConfirmationOptionKtx.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/confirmation/DefaultConfirmationHandler.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/confirmation/PaymentMethodConfirmationOption.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/confirmation/bacs/BacsConfirmationDefinition.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/confirmation/bacs/BacsConfirmationOption.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/confirmation/epms/ExternalPaymentMethodConfirmationDefinition.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/confirmation/gpay/GooglePayConfirmationDefinition.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/confirmation/gpay/GooglePayConfirmationOption.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/confirmation/intent/IntentConfirmationDefinition.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/confirmation/intent/IntentConfirmationInterceptorKtx.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/confirmation/link/LinkConfirmationDefinition.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/confirmation/link/LinkConfirmationOption.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/EmbeddedConfirmationHelper.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/flowcontroller/DefaultFlowController.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/confirmation/ConfirmationHandlerOptionKtxTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/confirmation/ConfirmationMediatorTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/confirmation/ConfirmationTestUtils.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/confirmation/DefaultConfirmationHandlerTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/confirmation/DefaultIntentConfirmationInterceptorTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/confirmation/FakeConfirmationDefinition.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/confirmation/IntentConfirmationDefinitionTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/confirmation/IntentConfirmationFlowTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/confirmation/RecordingConfirmationDefinition.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/confirmation/bacs/BacsConfirmationDefinitionTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/confirmation/bacs/BacsConfirmationFlowTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/confirmation/epms/ExternalPaymentMethodConfirmationDefinitionTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/confirmation/epms/ExternalPaymentMethodConfirmationFlowTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/confirmation/gpay/GooglePayConfirmationActivityTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/confirmation/gpay/GooglePayConfirmationDefinitionTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/confirmation/gpay/GooglePayConfirmationFlowTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/confirmation/link/LinkConfirmationActivityTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/confirmation/link/LinkConfirmationDefinitionTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/confirmation/link/LinkConfirmationFlowTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetViewModelTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/paymentdatacollection/bacs/BacsMandateDataTest.kt
Labels: embedded-confirmation

#9768 Make EmbeddedContent have real content.
  paymentsheet/src/main/java/com/stripe/android/paymentelement/EmbeddedPaymentElement.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/EmbeddedContent.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/SharedPaymentElementViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/navigation/PaymentSheetScreen.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/verticalmode/PaymentMethodVerticalLayoutUI.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/EmbeddedContentScreenshotTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/verticalmode/PaymentMethodVerticalLayoutUITest.kt
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentelement.embedded_EmbeddedContentScreenshotTest_displaysVerticalModeListWithErrorAndMandate[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentelement.embedded_EmbeddedContentScreenshotTest_displaysVerticalModeListWithError[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentelement.embedded_EmbeddedContentScreenshotTest_displaysVerticalModeListWithMandate[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentelement.embedded_EmbeddedContentScreenshotTest_displaysVerticalModeList[].png
Labels: embedded

#9767 [connect] Use AndroidX Navigation in Example app
  connect-example/build.gradle
  connect-example/dependencies/dependencies.txt
  connect-example/src/main/java/com/stripe/android/connect/example/MainActivity.kt
  connect-example/src/main/java/com/stripe/android/connect/example/core/NavigationExtensions.kt
  connect-example/src/main/java/com/stripe/android/connect/example/ui/appearance/AppearanceView.kt
  connect-example/src/main/java/com/stripe/android/connect/example/ui/common/BasicExampleComponentActivity.kt
  connect-example/src/main/java/com/stripe/android/connect/example/ui/common/Buttons.kt
  connect-example/src/main/java/com/stripe/android/connect/example/ui/common/ConnectExampleScaffold.kt
  connect-example/src/main/java/com/stripe/android/connect/example/ui/componentpicker/ComponentPickerScreen.kt
  connect-example/src/main/java/com/stripe/android/connect/example/ui/embeddedcomponentmanagerloader/EmbeddedComponentManagerLoader.kt
  connect-example/src/main/java/com/stripe/android/connect/example/ui/settings/SettingsView.kt
  connect-example/src/main/res/drawable/ic_material_palette.xml
  dependencies.gradle
Labels: accept-risky-change

#9773 Fix CI.
  bitrise.yml
Labels: ci

#9770 EmbeddedContent doesn't display errors.
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/EmbeddedContent.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/EmbeddedContentScreenshotTest.kt
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentelement.embedded_EmbeddedContentScreenshotTest_displaysVerticalModeListWithErrorAndMandate[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentelement.embedded_EmbeddedContentScreenshotTest_displaysVerticalModeListWithError[].png
Labels: embedded

#9778 Remove update PM screen feature flag in CustomerSheet
  paymentsheet/src/main/java/com/stripe/android/customersheet/CustomerSheetViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/customersheet/CustomerSheetViewState.kt
  paymentsheet/src/main/java/com/stripe/android/customersheet/ui/CustomerSheetScreen.kt
  paymentsheet/src/test/java/com/stripe/android/customersheet/CustomerSheetScreenshotTest.kt
  paymentsheet/src/test/java/com/stripe/android/customersheet/CustomerSheetViewModelTest.kt
  paymentsheet/src/test/java/com/stripe/android/customersheet/utils/CustomerSheetTestHelper.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/EditPage.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/VerticalModePaymentSheetActivityTest.kt
  paymentsheet/src/test/snapshots/images/com.stripe.android.customersheet_CustomerSheetScreenshotTest_testUpdatePaymentMethodScreen_withoutRemove[DarkTheme,DefaultFont,DefaultAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.customersheet_CustomerSheetScreenshotTest_testUpdatePaymentMethodScreen_withoutRemove[LightTheme,DefaultFont,DefaultAppearance].png
Labels: default-pms

#9790 Fix a memory leak in embedded.
  paymentsheet/src/main/java/com/stripe/android/paymentelement/EmbeddedPaymentElement.kt
Labels: embedded

#9791 Add a selection holder for embedded.
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/EmbeddedSelectionHolder.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/SharedPaymentElementViewModel.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/EmbeddedSelectionHolderTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/SharedPaymentElementViewModelTest.kt
Labels: embedded

#9774 [MOBILESDK-2658] [MOBILESDK-2659] Add variable to indicate whether a “default” badge should be shown for a given payment method
  payments-core-testing/src/main/java/com/stripe/android/testing/PaymentMethodFactory.kt
  paymentsheet/src/main/java/com/stripe/android/customersheet/ui/CustomerSheetScreen.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/DisplayableSavedPaymentMethod.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentOptionsStateFactory.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/SavedPaymentMethodMutator.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/state/CustomerState.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/verticalmode/ManageOneSavedPaymentMethodInteractor.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/verticalmode/ManageScreenInteractor.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/verticalmode/PaymentMethodVerticalLayoutInteractor.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/verticalmode/SavedPaymentMethodsExtension.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/viewmodels/PaymentOptionsItemsMapper.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentOptionsStateFactoryTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetFixtures.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetViewModelTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/SavedPaymentMethodMutatorTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/SavedPaymentMethodsExtensionTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/state/CustomerStateTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/state/DefaultPaymentElementLoaderTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/DefaultSelectSavedPaymentMethodsInteractorTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/verticalmode/DefaultManageOneSavedPaymentMethodInteractorTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/verticalmode/DefaultManageScreenInteractorTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/verticalmode/DefaultPaymentMethodVerticalLayoutInteractorTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/verticalmode/VerticalModeInitialScreenFactoryTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/viewmodels/PaymentOptionsItemsMapperTest.kt
Labels: default-pms

#9792 Move canRemove to CustomerStateHolder.
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/CustomerStateHolder.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/SavedPaymentMethodMutator.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/SelectSavedPaymentMethodsInteractor.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/verticalmode/ManageScreenInteractor.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/verticalmode/PaymentMethodVerticalLayoutInteractor.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/CustomerState.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/CustomerStateHolderTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/SavedPaymentMethodMutatorTest.kt
Labels: embedded

#9793 Remove default horizontal padding in embedded.
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/EmbeddedContent.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/EmbeddedContentScreenshotTest.kt
Labels: embedded

#9794 Save confirmation state to SavedStateHandle.
  paymentsheet/api/paymentsheet.api
  paymentsheet/src/main/java/com/stripe/android/paymentelement/EmbeddedPaymentElement.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/EmbeddedConfirmationHelper.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/EmbeddedConfirmationStateHolder.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/SharedPaymentElementViewModel.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/EmbeddedConfirmationHelperTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/EmbeddedConfirmationStateHolderTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/SharedPaymentElementViewModelTest.kt
Labels: embedded

#9795 Add clearPaymentOption to EmbeddedPaymentElement.
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/embedded/EmbeddedPlaygroundActivity.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/EmbeddedPaymentElement.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/SharedPaymentElementViewModel.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/SharedPaymentElementViewModelTest.kt
Labels: embedded

#9796 Show the real embedded content!
  paymentsheet/detekt-baseline.xml
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/EmbeddedContent.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/EmbeddedContentHelper.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/SharedPaymentElementViewModel.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/DefaultEmbeddedContentHelperTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/FakeEmbeddedContentHelper.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/SharedPaymentElementViewModelTest.kt
Labels: embedded

#9779 Remove update PM screen feature flag from horizontal mode
  paymentsheet/api/paymentsheet.api
  paymentsheet/src/androidTest/java/com/stripe/android/paymentsheet/CustomerSheetPage.kt
  paymentsheet/src/androidTest/java/com/stripe/android/paymentsheet/CustomerSheetTest.kt
  paymentsheet/src/main/java/com/stripe/android/customersheet/ui/CustomerSheetScreen.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentOptionsItem.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentOptionsStateFactory.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/SavedPaymentMethodMutator.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/PaymentOptionEditState.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/SavedPaymentMethodTab.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/SavedPaymentMethodTabLayoutUI.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/SelectSavedPaymentMethodsInteractor.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/viewmodels/PaymentOptionsItemsMapper.kt
  paymentsheet/src/test/java/com/stripe/android/customersheet/CustomerSessionCustomerSheetActivityTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/CustomerSessionPaymentSheetActivityTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentOptionsStateFactoryTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetActivityTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/SavedPaymentMethodsPage.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/navigation/PaymentSheetScreenSelectSavedPaymentMethodsScreenshotTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/DefaultSelectSavedPaymentMethodsInteractorTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/PaymentOptionScreenshotTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/PaymentOptionTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/PaymentOptionsScreenshotTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/PaymentOptionsTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/viewmodels/PaymentOptionsItemsMapperTest.kt
  paymentsheet/src/test/java/com/stripe/android/utils/FakeCustomerRepository.kt
  paymentsheet/src/test/snapshots/images/com.stripe.android.customersheet_CustomerSheetScreenshotTest_testEditModeWithPaymentMethods[DarkTheme,DefaultFont,DefaultAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.customersheet_CustomerSheetScreenshotTest_testEditModeWithPaymentMethods[LightTheme,DefaultFont,DefaultAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.navigation_PaymentSheetScreenSelectSavedPaymentMethodsScreenshotTest_displaysSelectSavedPaymentMethodsInEditMode[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionScreenshotTest_testConfirmRemoveDialog[DarkTheme,CrazyAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionScreenshotTest_testConfirmRemoveDialog[DarkTheme,CrazyAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionScreenshotTest_testConfirmRemoveDialog[DarkTheme,CustomAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionScreenshotTest_testConfirmRemoveDialog[DarkTheme,CustomAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionScreenshotTest_testConfirmRemoveDialog[DarkTheme,DefaultAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionScreenshotTest_testConfirmRemoveDialog[DarkTheme,DefaultAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionScreenshotTest_testConfirmRemoveDialog[LightTheme,CrazyAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionScreenshotTest_testConfirmRemoveDialog[LightTheme,CrazyAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionScreenshotTest_testConfirmRemoveDialog[LightTheme,CustomAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionScreenshotTest_testConfirmRemoveDialog[LightTheme,CustomAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionScreenshotTest_testConfirmRemoveDialog[LightTheme,DefaultAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionScreenshotTest_testConfirmRemoveDialog[LightTheme,DefaultAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionScreenshotTest_testRemoving[DarkTheme,CrazyAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionScreenshotTest_testRemoving[DarkTheme,CrazyAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionScreenshotTest_testRemoving[DarkTheme,CustomAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionScreenshotTest_testRemoving[DarkTheme,CustomAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionScreenshotTest_testRemoving[DarkTheme,DefaultAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionScreenshotTest_testRemoving[DarkTheme,DefaultAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionScreenshotTest_testRemoving[LightTheme,CrazyAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionScreenshotTest_testRemoving[LightTheme,CrazyAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionScreenshotTest_testRemoving[LightTheme,CustomAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionScreenshotTest_testRemoving[LightTheme,CustomAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionScreenshotTest_testRemoving[LightTheme,DefaultAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionScreenshotTest_testRemoving[LightTheme,DefaultAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testEditingAndRemoveDisabledWithModifiableItems[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testEditingAndRemoveDisabledWithModifiableItems_usingUpdatePaymentMethodScreen[].png
Labels: default-pms

#9799 Use a builder to create the embedded payment element.
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/embedded/EmbeddedPlaygroundActivity.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/EmbeddedPaymentElement.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/EmbeddedPaymentElementKtx.kt
Labels: embedded

#9804 Un-flag new update PM screen from vertical mode
  CHANGELOG.md
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/EmbeddedContentHelper.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/analytics/PaymentSheetAnalyticsListener.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/navigation/PaymentSheetScreen.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/UpdatePaymentMethodUI.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/verticalmode/ManageOneSavedPaymentMethodInteractor.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/verticalmode/ManageOneSavedPaymentMethodUI.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/verticalmode/ManageScreenIcons.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/verticalmode/ManageScreenInteractor.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/verticalmode/ManageScreenUI.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/verticalmode/PaymentMethodVerticalLayoutInteractor.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/verticalmode/PaymentMethodVerticalLayoutUI.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/verticalmode/SavedPaymentMethodRowButton.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/EditPage.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ManagePage.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/VerticalModePage.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/VerticalModePaymentSheetActivityTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/navigation/PaymentSheetScreenManageOneSavedPaymentMethodScreenshotTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/navigation/PaymentSheetScreenManageOneSavedPaymentMethodTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/navigation/PaymentSheetScreenManageSavedPaymentMethodsScreenshotTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/navigation/PaymentSheetScreenManageSavedPaymentMethodsTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/verticalmode/DefaultManageOneSavedPaymentMethodInteractorTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/verticalmode/DefaultManageScreenInteractorTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/verticalmode/DefaultPaymentMethodVerticalLayoutInteractorTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/verticalmode/FakeManageOneSavedPaymentMethodInteractor.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/verticalmode/FakeManageScreenInteractor.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/verticalmode/ManageOneSavedPaymentMethodUITest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/verticalmode/ManageScreenUIScreenshotTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/verticalmode/ManageScreenUITest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/verticalmode/PaymentMethodVerticalLayoutUIScreenshotTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/verticalmode/PaymentMethodVerticalLayoutUITest.kt
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.navigation_PaymentSheetScreenManageOneSavedPaymentMethodScreenshotTest_displaysRemoveMode[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.navigation_PaymentSheetScreenManageSavedPaymentMethodsScreenshotTest_displaysEditMode[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_ManageScreenUIScreenshotTest_testManageUIScreen_inEditMode[CrazyAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_ManageScreenUIScreenshotTest_testManageUIScreen_inEditMode[CustomAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_ManageScreenUIScreenshotTest_testManageUIScreen_inEditMode[DefaultAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_ManageScreenUIScreenshotTest_testManageUIScreen_withoutDeleteIcon[CrazyAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_ManageScreenUIScreenshotTest_testManageUIScreen_withoutDeleteIcon[CustomAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_ManageScreenUIScreenshotTest_testManageUIScreen_withoutDeleteIcon[DefaultAppearance].png
Labels: default-pms
