Repository stripe/stripe-android, pull requests merged in 2024-11, with the labels that each got.

#9546 Add intent configuration to configure.
  paymentsheet/src/main/java/com/stripe/android/paymentelement/EmbeddedPaymentElement.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/SharedPaymentElementViewModel.kt
Labels: embedded

#9540 [FC] Fixes single account skip account selection flows
  financial-connections/src/main/java/com/stripe/android/financialconnections/domain/SelectAccounts.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/features/accountpicker/AccountPickerViewModel.kt
  financial-connections/src/main/java/com/stripe/android/financialconnections/repository/FinancialConnectionsAccountsRepository.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/features/accountpicker/AccountPickerViewModelTest.kt
  financial-connections/src/test/java/com/stripe/android/financialconnections/networking/AbsFinancialConnectionsAccountsRepository.kt
Labels: work-cli

#9547 Add configuration to embedded payment element.
  paymentsheet/api/paymentsheet.api
  paymentsheet/src/main/java/com/stripe/android/common/configuration/ConfigurationDefaults.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/EmbeddedPaymentElement.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/SharedPaymentElementViewModel.kt
Labels: embedded

#9551 Update playground for embedded.
  example/detekt-baseline.xml
  payments-core/detekt-baseline.xml
  paymentsheet-example/detekt-baseline.xml
  paymentsheet-example/src/main/AndroidManifest.xml
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/PaymentSheetPlaygroundActivity.kt
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/PlaygroundState.kt
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/embedded/EmbeddedPlaygroundActivity.kt
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/settings/AllowsRemovalOfLastSavedPaymentMethodSettingsDefinition.kt
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/settings/AppearanceSettingsDefinition.kt
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/settings/AttachBillingDetailsToPaymentMethodSettingsDefinition.kt
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/settings/CardBrandAcceptanceSettingsDefinition.kt
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/settings/CollectAddressSettingsDefinition.kt
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/settings/CollectEmailSettingsDefinition.kt
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/settings/CollectNameSettingsDefinition.kt
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/settings/CollectPhoneSettingsDefinition.kt
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/settings/CustomerSettingsDefinition.kt
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/settings/DefaultBillingAddressSettingsDefinition.kt
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/settings/DelayedPaymentMethodsSettingsDefinition.kt
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/settings/ExternalPaymentMethodSettingsDefinition.kt
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/settings/GooglePaySettingsDefinition.kt
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/settings/InitializationTypeSettingsDefinition.kt
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/settings/LayoutSettingsDefinition.kt
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/settings/NativeLinkSettingsDefinition.kt
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/settings/PaymentMethodOrderSettingsDefinition.kt
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/settings/PlaygroundConfigurationData.kt
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/settings/PlaygroundSettingDefinition.kt
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/settings/PlaygroundSettings.kt
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/settings/PreferredNetworkSettingsDefinition.kt
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/settings/PrimaryButtonLabelSettingsDefinition.kt
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/settings/SettingsUI.kt
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/settings/ShippingAddressSettingsDefinition.kt
  stripecardscan-example/detekt-baseline.xml
  stripecardscan/detekt-baseline.xml
Labels: embedded

#9560 Rename PaymentSheetLoader to PaymentElementLoader.
  paymentsheet/detekt-baseline.xml
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/flowcontroller/FlowControllerConfigurationHandler.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/injection/PaymentSheetCommonModule.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/state/PaymentElementLoader.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetActivityTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetViewModelTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/flowcontroller/DefaultFlowControllerTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/flowcontroller/FlowControllerConfigurationHandlerTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/state/DefaultPaymentElementLoaderTest.kt
  paymentsheet/src/test/java/com/stripe/android/utils/FakePaymentElementLoader.kt
  paymentsheet/src/test/java/com/stripe/android/utils/RelayingPaymentElementLoader.kt
Labels: embedded

#9562 Introduce CommonConfiguration which is what PaymentElementLoader will use for configuration.
  paymentsheet/api/paymentsheet.api
  paymentsheet/detekt-baseline.xml
  paymentsheet/src/main/java/com/stripe/android/common/model/CommonConfiguration.kt
  paymentsheet/src/main/java/com/stripe/android/lpmfoundations/paymentmethod/PaymentMethodMetadata.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentConfirmationOptionKtx.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentOptionContract.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentOptionsViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/flowcontroller/DefaultFlowController.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/flowcontroller/FlowControllerConfigurationHandler.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/flowcontroller/FlowControllerViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/flowcontroller/PaymentSelectionUpdater.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/state/PaymentElementLoader.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/state/PaymentSheetState.kt
  paymentsheet/src/test/java/com/stripe/android/lpmfoundations/paymentmethod/PaymentMethodMetadataTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentConfirmationOptionKtxTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentOptionsActivityTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentOptionsViewModelTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetFixtures.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/flowcontroller/DefaultFlowControllerTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/flowcontroller/FlowControllerConfigurationHandlerTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/flowcontroller/PaymentSelectionUpdaterTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/state/DefaultPaymentElementLoaderTest.kt
  paymentsheet/src/test/java/com/stripe/android/utils/FakePaymentElementLoader.kt
  paymentsheet/src/test/java/com/stripe/android/utils/RelayingPaymentElementLoader.kt
Labels: embedded

#9561 Filter card brands in Google Pay
  payments-core/src/main/java/com/stripe/android/GooglePayJsonFactory.kt
  payments-core/src/main/java/com/stripe/android/googlepaylauncher/GooglePayPaymentMethodLauncher.kt
  payments-core/src/main/java/com/stripe/android/googlepaylauncher/GooglePayPaymentMethodLauncherContract.kt
  payments-core/src/main/java/com/stripe/android/googlepaylauncher/GooglePayPaymentMethodLauncherContractV2.kt
  payments-core/src/main/java/com/stripe/android/googlepaylauncher/GooglePayPaymentMethodLauncherViewModel.kt
  payments-core/src/main/java/com/stripe/android/googlepaylauncher/GooglePayRepository.kt
  payments-core/src/main/java/com/stripe/android/googlepaylauncher/injection/GooglePayPaymentMethodLauncherFactory.kt
  payments-core/src/main/java/com/stripe/android/googlepaylauncher/injection/GooglePayPaymentMethodLauncherViewModelFactoryComponent.kt
  payments-core/src/test/java/com/stripe/android/GooglePayJsonFactoryTest.kt
  payments-core/src/test/java/com/stripe/android/googlepaylauncher/GooglePayPaymentMethodLauncherTest.kt
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/settings/CardBrandAcceptanceSettingsDefinition.kt
  paymentsheet/detekt-baseline.xml
  paymentsheet/src/androidTest/java/com/stripe/android/paymentsheet/ui/GooglePayButtonTest.kt
  paymentsheet/src/main/java/com/stripe/android/customersheet/injection/CustomerSheetViewModelModule.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/IntentConfirmationHandler.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentConfirmationOption.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentConfirmationOptionKtx.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/GooglePayButton.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/PaymentSheetScreen.kt
  paymentsheet/src/test/java/com/stripe/android/customersheet/utils/CustomerSheetTestHelper.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/GooglePayButtonTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/IntentConfirmationHandlerTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentConfirmationOptionKtxTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetActivityTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetViewModelTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/utils/RecordingGooglePayPaymentMethodLauncherFactory.kt
Labels: card brand filtering

#9549 Update navigation on manage screen for new update card screen
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/settings/NewUpdateCardScreenDefinition.kt
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/settings/PlaygroundSettings.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/verticalmode/ManageScreenIcons.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/verticalmode/ManageScreenInteractor.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/verticalmode/ManageScreenUI.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/verticalmode/ManageScreenUIScreenshotTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/verticalmode/ManageScreenUITest.kt
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_ManageScreenUIScreenshotTest_testManageUIScreen_usesNewUpdateCardScreen_inEditMode[CrazyAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_ManageScreenUIScreenshotTest_testManageUIScreen_usesNewUpdateCardScreen_inEditMode[CustomAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_ManageScreenUIScreenshotTest_testManageUIScreen_usesNewUpdateCardScreen_inEditMode[DefaultAppearance].png
  stripe-core/src/main/java/com/stripe/android/core/utils/FeatureFlags.kt
Labels: default-pms

#9565 Decouple PaymentSheetState from PaymentElementLoader.
  paymentsheet/api/paymentsheet.api
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/flowcontroller/FlowControllerConfigurationHandler.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/state/PaymentElementLoader.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/state/PaymentSheetState.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/state/DefaultPaymentElementLoaderTest.kt
  paymentsheet/src/test/java/com/stripe/android/utils/FakePaymentElementLoader.kt
  paymentsheet/src/test/java/com/stripe/android/utils/RelayingPaymentElementLoader.kt
Labels: embedded

#9568 Decouple InitializationMode from PaymentSheet.
  paymentsheet/api/paymentsheet.api
  paymentsheet/detekt-baseline.xml
  paymentsheet/src/main/java/com/stripe/android/customersheet/CustomerSheetViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/customersheet/data/CustomerAdapterDataSource.kt
  paymentsheet/src/main/java/com/stripe/android/customersheet/data/CustomerSessionElementsSessionManager.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/DefaultPaymentSheetLauncher.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/IntentConfirmationHandler.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/IntentConfirmationInterceptor.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentConfirmationOption.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentConfirmationOptionKtx.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheet.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetContract.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetContractV2.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetLauncher.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/analytics/DefaultEventReporter.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/analytics/EventReporter.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/analytics/PaymentSheetEvent.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/cvcrecollection/CvcRecollectionHandler.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/cvcrecollection/CvcRecollectionHandlerImpl.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/flowcontroller/DefaultFlowController.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/flowcontroller/FlowControllerConfigurationHandler.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/paymentdatacollection/ach/USBankAccountFormArguments.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/repositories/ElementsSessionRepository.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/state/PaymentElementLoader.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/utils/SelectionUtils.kt
  paymentsheet/src/test/java/com/stripe/android/customersheet/CustomerSheetViewModelTest.kt
  paymentsheet/src/test/java/com/stripe/android/customersheet/data/CustomerAdapterDataSourceTest.kt
  paymentsheet/src/test/java/com/stripe/android/customersheet/data/DefaultCustomerSessionElementsSessionManagerTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/CustomerSessionPaymentSheetActivityTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/DefaultIntentConfirmationInterceptorTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/DefaultPaymentSheetLauncherTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/IntentConfirmationDefinitionTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/IntentConfirmationFlowTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/IntentConfirmationHandlerTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentConfirmationMediatorTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentConfirmationOptionKtxTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetActivityTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetFixtures.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetViewModelTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/VerticalModePaymentSheetActivityTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/analytics/DefaultEventReporterTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/analytics/FakeEventReporter.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/analytics/PaymentSheetEventTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/cvcrecollection/CvcRecollectionHandlerTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/cvcrecollection/FakeCvcRecollectionHandler.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/flowcontroller/DefaultFlowControllerTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/flowcontroller/FlowControllerConfigurationHandlerTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/paymentdatacollection/bacs/BacsMandateDataTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/repositories/ElementsSessionRepositoryTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/state/DefaultPaymentElementLoaderTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/utils/SelectionUtilsTest.kt
  paymentsheet/src/test/java/com/stripe/android/utils/FakeElementsSessionRepository.kt
  paymentsheet/src/test/java/com/stripe/android/utils/FakeIntentConfirmationInterceptor.kt
  paymentsheet/src/test/java/com/stripe/android/utils/FakePaymentElementLoader.kt
  paymentsheet/src/test/java/com/stripe/android/utils/RelayingPaymentElementLoader.kt
Labels: embedded

#9567 Create update payment method screen
  payments-core-testing/src/main/java/com/stripe/android/testing/PaymentMethodFactory.kt
  paymentsheet/res/values/strings.xml
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/SavedPaymentMethodMutator.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/analytics/PaymentSheetAnalyticsListener.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/navigation/PaymentSheetScreen.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/UpdatePaymentMethodInteractor.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/UpdatePaymentMethodUI.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/verticalmode/ManageScreenInteractor.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/SavedPaymentMethodMutatorTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/PaymentSheetScreenUpdatePaymentMethodScreenshotTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/verticalmode/DefaultManageScreenInteractorTest.kt
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentSheetScreenUpdatePaymentMethodScreenshotTest_updatePaymentMethodScreen_forCard[].png
Labels: default-pms

#9579 [Connect SDK] Update Connect example app to use Hilt dependency injection
  build.gradle
  connect-example/build.gradle
  connect-example/dependencies/dependencies.txt
  connect-example/src/main/java/com/stripe/android/connect/example/App.kt
  connect-example/src/main/java/com/stripe/android/connect/example/MainActivity.kt
  connect-example/src/main/java/com/stripe/android/connect/example/MainViewModel.kt
  connect-example/src/main/java/com/stripe/android/connect/example/data/EmbeddedComponentManagerWrapper.kt
  connect-example/src/main/java/com/stripe/android/connect/example/data/EmbeddedComponentService.kt
  connect-example/src/main/java/com/stripe/android/connect/example/data/SettingsService.kt
  connect-example/src/main/java/com/stripe/android/connect/example/ui/appearance/AppearanceViewModel.kt
  connect-example/src/main/java/com/stripe/android/connect/example/ui/componentpicker/ComponentPickerViewModel.kt
  connect-example/src/main/java/com/stripe/android/connect/example/ui/features/accountonboarding/AccountOnboardingExampleActivity.kt
  connect-example/src/main/java/com/stripe/android/connect/example/ui/features/payouts/PayoutsExampleActivity.kt
  connect-example/src/main/java/com/stripe/android/connect/example/ui/settings/SettingsViewModel.kt
  dependencies.gradle
Labels: accept-risky-change

#9595 Use new update card screen for just one PM in vertical mode
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/verticalmode/PaymentMethodVerticalLayoutInteractor.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/verticalmode/PaymentMethodVerticalLayoutUI.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/verticalmode/DefaultPaymentMethodVerticalLayoutInteractorTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/verticalmode/PaymentMethodVerticalLayoutUITest.kt
Labels: default-pms

#9593 Add remove button to update payment method screen
  paymentsheet/src/main/java/com/stripe/android/common/ui/PrimaryButton.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/SavedPaymentMethodMutator.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/UpdatePaymentMethodInteractor.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/UpdatePaymentMethodUI.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/DefaultUpdatePaymentMethodInteractorTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/PaymentSheetScreenUpdatePaymentMethodScreenshotTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/UpdatePaymentMethodUITest.kt
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentSheetScreenUpdatePaymentMethodScreenshotTest_updatePaymentMethodScreen_forCard_withRemoveButton[].png
Labels: default-pms

#9601 Perform loading for EmbeddedPaymentElement.
  paymentsheet/src/main/java/com/stripe/android/common/model/CommonConfiguration.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/EmbeddedPaymentElement.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/EmbeddedConfigurationHandler.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/SharedPaymentElementViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/analytics/EventReporter.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/DefaultEmbeddedConfigurationHandlerTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/SharedPaymentElementViewModelTest.kt
Labels: embedded

#9623 Remove unnecessary params from CommonConfiguration.
  paymentsheet/detekt-baseline.xml
  paymentsheet/src/main/java/com/stripe/android/common/model/CommonConfiguration.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ConfirmationHandlerOptionKtx.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentOptionsActivity.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/flowcontroller/DefaultFlowController.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ConfirmationHandlerOptionKtxTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/flowcontroller/DefaultFlowControllerTest.kt
Labels: embedded

#9625 Cache configuration requests for embedded.
  paymentsheet/api/paymentsheet.api
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/EmbeddedConfigurationHandler.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheet.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/DefaultEmbeddedConfigurationHandlerTest.kt
Labels: embedded

#9627 Coalesce configuration requests for embedded.
  paymentsheet/api/paymentsheet.api
  paymentsheet/src/main/java/com/stripe/android/paymentelement/EmbeddedPaymentElement.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/EmbeddedConfigurationHandler.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/DefaultEmbeddedConfigurationHandlerTest.kt
Labels: embedded

#9616 LinkAccount payment methods list
  link/src/main/java/com/stripe/android/link/NoLinkAccountFound.kt
  link/src/main/java/com/stripe/android/link/NoLinkAccountFoundException.kt
  link/src/main/java/com/stripe/android/link/account/DefaultLinkAccountManager.kt
  link/src/main/java/com/stripe/android/link/account/LinkAccountManager.kt
  link/src/main/java/com/stripe/android/link/repositories/LinkApiRepository.kt
  link/src/main/java/com/stripe/android/link/repositories/LinkRepository.kt
  link/src/main/java/com/stripe/android/link/ui/LinkContent.kt
  link/src/test/java/com/stripe/android/link/TestFactory.kt
  link/src/test/java/com/stripe/android/link/account/DefaultLinkAccountManagerTest.kt
  link/src/test/java/com/stripe/android/link/account/FakeLinkAccountManager.kt
  link/src/test/java/com/stripe/android/link/repositories/FakeLinkRepository.kt
  link/src/test/java/com/stripe/android/link/repositories/LinkApiRepositoryTest.kt
  payments-core-testing/src/main/java/com/stripe/android/testing/AbsFakeStripeRepository.kt
  payments-core/src/main/java/com/stripe/android/networking/StripeApiRepository.kt
  payments-core/src/main/java/com/stripe/android/networking/StripeRepository.kt
  payments-core/src/test/java/com/stripe/android/networking/StripeApiRepositoryTest.kt
Labels: Link

#9633 Add animation to remove button on UpdatePaymentMethodUI
  paymentsheet/api/paymentsheet.api
  paymentsheet/src/main/java/com/stripe/android/common/ui/PrimaryButton.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/SavedPaymentMethodMutator.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/EditPaymentMethod.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/RemoveButton.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/UpdatePaymentMethodInteractor.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/UpdatePaymentMethodUI.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/DefaultUpdatePaymentMethodInteractorTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/FakeUpdatePaymentMethodInteractor.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/PaymentSheetScreenUpdatePaymentMethodScreenshotTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/UpdatePaymentMethodUITest.kt
  paymentsheet/src/test/snapshots/images/com.stripe.android.customersheet_CustomerSheetScreenshotTest_testEditScreen[DarkTheme,DefaultFont,DefaultAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.customersheet_CustomerSheetScreenshotTest_testEditScreen[LightTheme,DefaultFont,DefaultAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.navigation_PaymentSheetScreenEditPaymentMethodScreenshotTest_displaysUpdateCardScreen[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_EditPaymentMethodUiScreenshotTest_testDisabledState[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_EditPaymentMethodUiScreenshotTest_testEnabledState[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_EditPaymentMethodUiScreenshotTest_testErrorState[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_EditPaymentMethodUiScreenshotTest_testRemovalConfirmationState[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_EditPaymentMethodUiScreenshotTest_testRemovingState[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_EditPaymentMethodUiScreenshotTest_testUpdatingState[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentSheetScreenUpdatePaymentMethodScreenshotTest_updatePaymentMethodScreen_forCard[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentSheetScreenUpdatePaymentMethodScreenshotTest_updatePaymentMethodScreen_forCard_withRemoveButton[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentSheetScreenUpdatePaymentMethodScreenshotTest_updatePaymentMethodScreen_forCard_withRemoveButton_withError[].png
Labels: default-pms

#9589 Expose card brand filtering for private beta
  paymentsheet/api/paymentsheet.api
  paymentsheet/src/main/java/com/stripe/android/ExperimentalCardBrandFilteringApi.kt
  paymentsheet/src/main/java/com/stripe/android/customersheet/CustomerSheet.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheet.kt
Labels: card brand filtering

#9644 Refactor PaymentOptionFactory to use extension functions.
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/model/PaymentOptionFactory.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/model/PaymentSelection.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/paymentdatacollection/ach/USBankAccountFormViewModel.kt
  paymentsheet/src/test/java/com/stripe/android/customersheet/CustomerSheetViewModelTest.kt
  paymentsheet/src/test/java/com/stripe/android/model/PaymentMethodFixtures.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/confirmation/ConfirmationHandlerOptionKtxTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetViewModelTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/analytics/DefaultEventReporterTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/paymentdatacollection/ach/USBankAccountFormViewModelTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/DefaultSelectSavedPaymentMethodsInteractorTest.kt
Labels: embedded

#9647 Update CHANGELOG for CBF
  CHANGELOG.md
Labels: card brand filtering

#9648 Separate PaymentSelection.IconLoader into it's own type.
  paymentsheet/src/main/java/com/stripe/android/customersheet/CustomerSheet.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/model/PaymentOptionFactory.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/model/PaymentSelection.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/flowcontroller/DefaultFlowControllerTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/model/PaymentOptionFactoryTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/model/PaymentSelectionIconLoaderTest.kt
Labels: embedded

#9650 Extract DelegateDrawable to be reusable in embedded.
  paymentsheet/detekt-baseline.xml
  paymentsheet/src/main/java/com/stripe/android/common/ui/DelegateDrawable.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/model/PaymentOption.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/model/PaymentOptionFactory.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/model/PaymentSelection.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/model/PaymentSelectionIconLoaderTest.kt
Labels: embedded

#9606 Link Verification UI
  link/api/link.api
  link/src/main/java/com/stripe/android/link/theme/Color.kt
  link/src/main/java/com/stripe/android/link/ui/ScrollableTopLevelColumn.kt
  link/src/main/java/com/stripe/android/link/ui/verification/VerificationScreen.kt
  link/src/test/java/com/stripe/android/link/ui/verification/VerificationScreenTest.kt
  link/src/test/java/com/stripe/android/link/ui/verification/VerificationScreenshotTest.kt
  link/src/test/snapshots/images/com.stripe.android.link.ui.verification_VerificationScreenshotTest_testContent[VerificationScreenWithOTPFilledAndErrorMessage][].png
  link/src/test/snapshots/images/com.stripe.android.link.ui.verification_VerificationScreenshotTest_testContent[VerificationScreenWithOTPFilledAndProcessing][].png
  link/src/test/snapshots/images/com.stripe.android.link.ui.verification_VerificationScreenshotTest_testContent[VerificationScreenWithOTPFilledAndSendingNewCode][].png
  link/src/test/snapshots/images/com.stripe.android.link.ui.verification_VerificationScreenshotTest_testContent[VerificationScreenWithOTPFilled][].png
  link/src/test/snapshots/images/com.stripe.android.link.ui.verification_VerificationScreenshotTest_testContent[VerificationScreenWithOTPNotFilled][].png
Labels: Link

#9641 Add empty UIs for bank account and SEPA debit to UpdatePaymentMethodUI
  paymentsheet/res/values/strings.xml
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/SavedPaymentMethodMutator.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/navigation/PaymentSheetScreen.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/UpdatePaymentMethodInteractor.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/UpdatePaymentMethodUI.kt
  paymentsheet/src/test/java/com/stripe/android/model/PaymentMethodFixtures.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/SavedPaymentMethodMutatorTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/DefaultUpdatePaymentMethodInteractorTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/FakeUpdatePaymentMethodInteractor.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/PaymentSheetScreenUpdatePaymentMethodScreenshotTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/UpdatePaymentMethodUITest.kt
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentSheetScreenUpdatePaymentMethodScreenshotTest_updatePaymentMethodScreen_forSepaDebit_withRemoveButton[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentSheetScreenUpdatePaymentMethodScreenshotTest_updatePaymentMethodScreen_forUsBankAccount_withRemoveButton[].png
Labels: default-pms

#9661 Update transitions in vertical mode interactor.
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/verticalmode/PaymentMethodVerticalLayoutInteractor.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/verticalmode/DefaultPaymentMethodVerticalLayoutInteractorTest.kt
Labels: embedded

#9663 Create a FormType to simplify form decision making in vertical mode.
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/verticalmode/PaymentMethodVerticalLayoutInteractor.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/verticalmode/DefaultPaymentMethodVerticalLayoutInteractorTest.kt
Labels: embedded

#9660 Set paymentOption with default payment method after loading is complete.
  paymentsheet/src/main/java/com/stripe/android/common/ui/DelegateDrawable.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/EmbeddedPaymentElement.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/PaymentOptionDisplayDataFactory.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/SharedPaymentElementViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/model/PaymentOption.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/model/PaymentSelection.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/SharedPaymentElementViewModelTest.kt
Labels: embedded

#9666 Rename isFlowController to canShowWalletsInline.
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/verticalmode/PaymentMethodVerticalLayoutInteractor.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/verticalmode/DefaultPaymentMethodVerticalLayoutInteractorTest.kt
Labels: embedded

#9657 Use UpdatePaymentMethodUI in CustomerSheet
  paymentsheet/src/main/java/com/stripe/android/customersheet/CustomerSheetViewAction.kt
  paymentsheet/src/main/java/com/stripe/android/customersheet/CustomerSheetViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/customersheet/CustomerSheetViewState.kt
  paymentsheet/src/main/java/com/stripe/android/customersheet/ui/CustomerSheetScreen.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/navigation/PaymentSheetScreen.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/UpdatePaymentMethodInteractor.kt
  paymentsheet/src/test/java/com/stripe/android/customersheet/CustomerSheetScreenshotTest.kt
  paymentsheet/src/test/java/com/stripe/android/customersheet/CustomerSheetViewModelTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/FakeUpdatePaymentMethodInteractor.kt
  paymentsheet/src/test/snapshots/images/com.stripe.android.customersheet_CustomerSheetScreenshotTest_testUpdatePaymentMethodScreen[DarkTheme,DefaultFont,DefaultAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.customersheet_CustomerSheetScreenshotTest_testUpdatePaymentMethodScreen[LightTheme,DefaultFont,DefaultAppearance].png
  paymentsheet/src/test/snapshots/images/delta-com.stripe.android.customersheet_CustomerSheetScreenshotTest_testUpdatePaymentMethodScreen[DarkTheme,DefaultFont,DefaultAppearance].png
Labels: default-pms

#9682 Refactor DummyActivityResultCaller.
  paymentsheet/src/test/java/com/stripe/android/customersheet/utils/CustomerSheetTestHelper.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/confirmation/epms/ExternalPaymentMethodConfirmationDefinitionTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/confirmation/epms/ExternalPaymentMethodConfirmationFlowTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetViewModelTest.kt
  paymentsheet/src/test/java/com/stripe/android/utils/DummyActivityResultCaller.kt
Labels: embedded-confirmation

#9683 Add & clean up test utilities for confirmation
  paymentsheet/src/test/java/com/stripe/android/paymentelement/confirmation/ConfirmationTestUtils.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/confirmation/epms/ExternalPaymentMethodConfirmationDefinitionTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/confirmation/epms/ExternalPaymentMethodConfirmationFlowTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/confirmation/epms/ExternalPaymentMethodConfirmationUtils.kt
Labels: embedded-confirmation

#9668 Restore removed consumer payment details fields
  financial-connections/src/test/java/com/stripe/android/financialconnections/domain/RealCreateInstantDebitsResultTest.kt
  link/src/test/java/com/stripe/android/link/TestFactory.kt
  link/src/test/java/com/stripe/android/link/account/FakeLinkAccountManager.kt
  payments-core/src/main/java/com/stripe/android/model/ExpirationDate.kt
  payments-core/src/main/java/com/stripe/android/view/ExpiryDateEditText.kt
  payments-core/src/test/java/com/stripe/android/model/ConsumerFixtures.kt
  payments-core/src/test/java/com/stripe/android/model/parsers/ConsumerPaymentDetailsJsonParserTest.kt
  payments-model/src/main/java/com/stripe/android/model/ConsumerPaymentDetails.kt
  payments-model/src/main/java/com/stripe/android/model/parsers/ConsumerPaymentDetailsJsonParser.kt
  payments-model/src/test/java/com/stripe/android/model/CardPaymentDetailTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/LinkHandlerTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/utils/LinkTestUtils.kt
  paymentsheet/src/test/java/com/stripe/android/utils/FakeLinkConfigurationCoordinator.kt
  stripe-core/src/main/java/com/stripe/android/core/utils/DateUtils.kt
  stripe-core/src/test/java/com/stripe/android/core/utils/DateUtilsTest.kt
Labels: Link

#9685 Remove pre-confirm state from `ConfirmationHandler`
  paymentsheet/api/paymentsheet.api
  paymentsheet/src/main/java/com/stripe/android/paymentelement/confirmation/ConfirmationHandler.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/confirmation/DefaultConfirmationHandler.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/flowcontroller/DefaultFlowController.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/confirmation/DefaultConfirmationHandlerTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetViewModelTest.kt
Labels: embedded-confirmation

#9687 Create internal result type for `ConfirmationDefinition`
  paymentsheet/detekt-baseline.xml
  paymentsheet/src/main/java/com/stripe/android/paymentelement/confirmation/ConfirmationDefinition.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/confirmation/ConfirmationMediator.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/confirmation/DefaultConfirmationHandler.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/confirmation/epms/ExternalPaymentMethodConfirmationDefinition.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/confirmation/intent/IntentConfirmationDefinition.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/confirmation/ConfirmationMediatorTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/confirmation/ConfirmationTestUtils.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/confirmation/FakeConfirmationDefinition.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/confirmation/IntentConfirmationDefinitionTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/confirmation/IntentConfirmationFlowTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/confirmation/epms/ExternalPaymentMethodConfirmationDefinitionTest.kt
Labels: embedded-confirmation

#9684 Add bank account details to UpdatePaymentMethodUI for US bank accounts and SEPA debit
  paymentsheet/api/paymentsheet.api
  paymentsheet/res/values/donottranslate.xml
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/UpdatePaymentMethodUI.kt
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentSheetScreenUpdatePaymentMethodScreenshotTest_updatePaymentMethodScreen_forSepaDebit_withRemoveButton[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentSheetScreenUpdatePaymentMethodScreenshotTest_updatePaymentMethodScreen_forUsBankAccount_withRemoveButton[].png
Labels: default-pms

#9688 Move `Bacs` to a `ConfirmationDefinition` type
  paymentsheet/src/main/java/com/stripe/android/paymentelement/confirmation/ConfirmationDefinition.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/confirmation/ConfirmationMediator.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/confirmation/DefaultConfirmationHandler.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/confirmation/bacs/BacsConfirmationDefinition.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/confirmation/epms/ExternalPaymentMethodConfirmationDefinition.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/confirmation/intent/IntentConfirmationDefinition.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/confirmation/ConfirmationMediatorTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/confirmation/ConfirmationTestUtils.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/confirmation/DefaultConfirmationHandlerTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/confirmation/bacs/BacsConfirmationDefinitionTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/confirmation/bacs/BacsConfirmationFlowTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/confirmation/bacs/FakeBacsMandateConfirmationLauncherFactory.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/confirmation/epms/ExternalPaymentMethodConfirmationDefinitionTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/confirmation/epms/ExternalPaymentMethodConfirmationFlowTest.kt
  paymentsheet/src/test/java/com/stripe/android/utils/DummyActivityResultCaller.kt
Labels: embedded-confirmation

#9686 Add CBC dropdown to UpdatePaymentMethodUI without full functionality
  paymentsheet/src/main/java/com/stripe/android/customersheet/CustomerSheetViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/SavedPaymentMethodMutator.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/CardBrandChoice.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/CardBrandDropdown.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/EditPaymentMethod.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/EditPaymentMethodViewAction.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/EditPaymentMethodViewInteractor.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/EditPaymentMethodViewState.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/PaymentMethodCardKtx.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/UpdatePaymentMethodInteractor.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/UpdatePaymentMethodUI.kt
  paymentsheet/src/test/java/com/stripe/android/customersheet/CustomerSheetScreenshotTest.kt
  paymentsheet/src/test/java/com/stripe/android/customersheet/CustomerSheetViewModelTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/FakeEditPaymentMethodInteractor.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetViewModelTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/DefaultEditPaymentMethodViewInteractorTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/DefaultUpdatePaymentMethodInteractorTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/EditPaymentMethodTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/EditPaymentMethodUiScreenshotTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/FakeUpdatePaymentMethodInteractor.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/PaymentSheetScreenUpdatePaymentMethodScreenshotTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/UpdatePaymentMethodUITest.kt
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentSheetScreenUpdatePaymentMethodScreenshotTest_updatePaymentMethodScreen_forCbcEligibleCard[].png
Labels: default-pms

#9693 Move `Google Pay` to a `ConfirmationDefinition` type
  paymentsheet/src/main/java/com/stripe/android/paymentelement/confirmation/DefaultConfirmationHandler.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/confirmation/gpay/GooglePayConfirmationDefinition.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/confirmation/gpay/GooglePayConfirmationDefinitionTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/confirmation/gpay/GooglePayConfirmationFlowTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/flowcontroller/DefaultFlowControllerTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/utils/RecordingGooglePayPaymentMethodLauncherFactory.kt
Labels: embedded-confirmation

#9697 Rename `awaitIntentResult` to `awaitResult` & remove comments from `DefaultConfirmationHandler`
  paymentsheet/src/main/java/com/stripe/android/customersheet/CustomerSheetViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/confirmation/ConfirmationHandler.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/confirmation/DefaultConfirmationHandler.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetViewModel.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/confirmation/DefaultConfirmationHandlerTest.kt
Labels: embedded-confirmation

#9700 Ensure deleted files are included in dokka PR
  scripts/deploy/update_dokka.rb
Labels: release-process-improvement

#9701 Display selected PM in embedded playground.
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/embedded/EmbeddedPlaygroundActivity.kt
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/samples/ui/shared/Payment.kt
Labels: embedded

#9703 Use composable to create EmbeddedPaymentElement.
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/embedded/EmbeddedPlaygroundActivity.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/EmbeddedPaymentElement.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/EmbeddedPaymentElementKtx.kt
Labels: embedded

#9696 Show error on UpdatePaymentMethodUI when the PM is an expired card
  payments-core/res/values/strings.xml
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/DisplayableSavedPaymentMethod.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/UpdatePaymentMethodInteractor.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/UpdatePaymentMethodUI.kt
  paymentsheet/src/test/java/com/stripe/android/model/PaymentMethodFixtures.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/DefaultUpdatePaymentMethodInteractorTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/FakeUpdatePaymentMethodInteractor.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/PaymentSheetScreenUpdatePaymentMethodScreenshotTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/UpdatePaymentMethodUITest.kt
  paymentsheet/src/test/snapshots/images/com.stripe.android.customersheet_CustomerSheetScreenshotTest_testUpdatePaymentMethodScreen[DarkTheme,DefaultFont,DefaultAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.customersheet_CustomerSheetScreenshotTest_testUpdatePaymentMethodScreen[LightTheme,DefaultFont,DefaultAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentSheetScreenUpdatePaymentMethodScreenshotTest_updatePaymentMethodScreen_forCbcEligibleCard[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentSheetScreenUpdatePaymentMethodScreenshotTest_updatePaymentMethodScreen_forExpiredCard[].png
Labels: default-pms

#9705 Refactor `ConfirmationMediator` tests to isolate from implemented definitions & to track function calls
  paymentsheet/src/test/java/com/stripe/android/paymentelement/confirmation/ConfirmationMediatorTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/confirmation/FakeConfirmationDefinition.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/confirmation/RecordingConfirmationDefinition.kt
Labels: embedded-confirmation

#9704 Update UpdatePaymentMethodUI card brand dropdown to respond to clicks
  paymentsheet/src/main/java/com/stripe/android/customersheet/CustomerSheetViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/SavedPaymentMethodMutator.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/CardBrandDropdown.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/UpdatePaymentMethodInteractor.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/UpdatePaymentMethodUI.kt
  paymentsheet/src/test/java/com/stripe/android/customersheet/CustomerSheetScreenshotTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/DefaultUpdatePaymentMethodInteractorTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/PaymentSheetScreenUpdatePaymentMethodScreenshotTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/UpdatePaymentMethodUITest.kt
Labels: default-pms

#9709 Add confirm APIs to embedded.
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/embedded/EmbeddedPlaygroundActivity.kt
  paymentsheet/src/main/java/com/stripe/android/common/ui/PaymentElementCompose.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/EmbeddedPaymentElement.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/EmbeddedPaymentElementKtx.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/FlowControllerCompose.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetCompose.kt
Labels: embedded

#9707 Add save button to UpdatePaymentMethodUI for saving card brand
  paymentsheet/src/main/java/com/stripe/android/customersheet/CustomerSheetViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/SavedPaymentMethodMutator.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/UpdatePaymentMethodInteractor.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/UpdatePaymentMethodUI.kt
  paymentsheet/src/test/java/com/stripe/android/customersheet/CustomerSheetScreenshotTest.kt
  paymentsheet/src/test/java/com/stripe/android/model/PaymentMethodFixtures.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/DefaultUpdatePaymentMethodInteractorTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/FakeUpdatePaymentMethodInteractor.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/PaymentSheetScreenUpdatePaymentMethodScreenshotTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/UpdatePaymentMethodUITest.kt
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentSheetScreenUpdatePaymentMethodScreenshotTest_updatePaymentMethodScreen_forCbcEligibleCard[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentSheetScreenUpdatePaymentMethodScreenshotTest_updatePaymentMethodScreen_forCbcEligibleCard_withoutRemoveButton[].png
Labels: default-pms

#9716 Introduce `ConfirmationActivity` tests with `Google Pay`
  paymentsheet/build.gradle
  paymentsheet/src/androidTest/java/com/stripe/android/paymentsheet/GooglePayTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/confirmation/ConfirmationActivity.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/confirmation/gpay/GooglePayConfirmationActivityTest.kt
Labels: embedded-confirmation
