Repository stripe/stripe-android, pull requests merged in 2025-02, with the labels that each got.

#10057 Extract LinkAccountHolder.
  paymentsheet/api/paymentsheet.api
  paymentsheet/src/main/java/com/stripe/android/link/LinkActivityViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/link/account/DefaultLinkAccountManager.kt
  paymentsheet/src/main/java/com/stripe/android/link/account/LinkAccountHolder.kt
  paymentsheet/src/main/java/com/stripe/android/link/injection/LinkViewModelModule.kt
  paymentsheet/src/main/java/com/stripe/android/link/injection/NativeLinkModule.kt
  paymentsheet/src/main/java/com/stripe/android/link/model/LinkAccount.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/content/EmbeddedPaymentElementViewModelComponent.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/form/FormActivityComponent.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentOptionsViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/injection/PaymentOptionsViewModelFactoryComponent.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/injection/PaymentOptionsViewModelSubcomponent.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/injection/PaymentSheetCommonModule.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/injection/PaymentSheetLauncherComponent.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/injection/PaymentSheetViewModelSubcomponent.kt
  paymentsheet/src/test/java/com/stripe/android/link/LinkActivityViewModelTest.kt
  paymentsheet/src/test/java/com/stripe/android/link/account/DefaultLinkAccountManagerTest.kt
  paymentsheet/src/test/java/com/stripe/android/link/account/FakeLinkAccountManager.kt
Labels: Link

#10054 Add suppress2faModal flag to LinkConfiguration
  payments-core/src/main/java/com/stripe/android/model/ElementsSession.kt
  payments-core/src/main/java/com/stripe/android/model/parsers/ElementsSessionJsonParser.kt
  payments-core/src/test/java/com/stripe/android/model/ElementsSessionFixtures.kt
  payments-core/src/test/java/com/stripe/android/model/parsers/ElementsSessionJsonParserTest.kt
  paymentsheet/src/main/java/com/stripe/android/link/LinkConfiguration.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/state/PaymentElementLoader.kt
  paymentsheet/src/test/java/com/stripe/android/link/TestFactory.kt
  paymentsheet/src/test/java/com/stripe/android/lpmfoundations/paymentmethod/PaymentMethodMetadataTest.kt
  paymentsheet/src/test/java/com/stripe/android/lpmfoundations/paymentmethod/link/LinkFormElementTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/confirmation/ConfirmationHandlerOptionKtxTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/confirmation/linkinline/LinkInlineSignupConfirmationDefinitionTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetViewModelTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/state/DefaultPaymentElementLoaderTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/utils/LinkTestUtils.kt
Labels: Link

#10061 Transport LinkAccount between PaymentSheet & Native Link
  paymentsheet/api/paymentsheet.api
  paymentsheet/src/main/java/com/stripe/android/link/LinkActivity.kt
  paymentsheet/src/main/java/com/stripe/android/link/LinkActivityContract.kt
  paymentsheet/src/main/java/com/stripe/android/link/LinkActivityResult.kt
  paymentsheet/src/main/java/com/stripe/android/link/LinkActivityViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/link/LinkPaymentLauncher.kt
  paymentsheet/src/main/java/com/stripe/android/link/NativeLinkActivityContract.kt
  paymentsheet/src/main/java/com/stripe/android/link/NativeLinkArgs.kt
  paymentsheet/src/main/java/com/stripe/android/link/WebLinkActivityContract.kt
  paymentsheet/src/main/java/com/stripe/android/link/account/LinkAccountUtil.kt
  paymentsheet/src/main/java/com/stripe/android/link/analytics/DefaultLinkAnalyticsHelper.kt
  paymentsheet/src/main/java/com/stripe/android/link/injection/LinkViewModelModule.kt
  paymentsheet/src/main/java/com/stripe/android/link/injection/NativeLinkComponent.kt
  paymentsheet/src/main/java/com/stripe/android/link/injection/NativeLinkModule.kt
  paymentsheet/src/main/java/com/stripe/android/link/ui/LinkContent.kt
  paymentsheet/src/main/java/com/stripe/android/link/ui/paymentmenthod/PaymentMethodViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/link/ui/wallet/WalletViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/confirmation/link/LinkConfirmationDefinition.kt
  paymentsheet/src/test/java/com/stripe/android/link/LinkActivityContractTest.kt
  paymentsheet/src/test/java/com/stripe/android/link/LinkActivityViewModelTest.kt
  paymentsheet/src/test/java/com/stripe/android/link/LinkPaymentLauncherTest.kt
  paymentsheet/src/test/java/com/stripe/android/link/NativeLinkActivityContractTest.kt
  paymentsheet/src/test/java/com/stripe/android/link/WebLinkActivityContractTest.kt
  paymentsheet/src/test/java/com/stripe/android/link/analytics/DefaultLinkAnalyticsHelperTest.kt
  paymentsheet/src/test/java/com/stripe/android/link/ui/paymentmethod/PaymentMethodViewModelTest.kt
  paymentsheet/src/test/java/com/stripe/android/link/ui/wallet/WalletViewModelTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/confirmation/ConfirmationUtils.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/confirmation/ExtendedPaymentElementConfirmationTestActivity.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/confirmation/PaymentElementConfirmationTestActivity.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/confirmation/link/LinkConfirmationDefinitionTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/confirmation/link/LinkConfirmationFlowTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/flowcontroller/DefaultFlowControllerTest.kt
  paymentsheet/src/test/java/com/stripe/android/utils/RecordingLinkPaymentLauncher.kt
Labels: Link

#10076 Disable embedded playground buttons while confirming.
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/embedded/EmbeddedPlaygroundActivity.kt
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/embedded/EmbeddedPlaygroundViewModel.kt
Labels: embedded

#10068 Add customer session setting to enable the set as default feature in CustomerSheet
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/model/PlaygroundCustomerModel.kt
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/settings/CustomerSessionSetAsDefaultSettingsDefinition.kt
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/settings/CustomerSessionSyncDefaultSettingsDefinition.kt
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/settings/PlaygroundSettings.kt
Labels: default-pms

#10047 Link Verification Dialog UI
  paymentsheet/api/paymentsheet.api
  paymentsheet/src/main/java/com/stripe/android/link/LinkActivity.kt
  paymentsheet/src/main/java/com/stripe/android/link/LinkActivityViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/link/LinkScreenContent.kt
  paymentsheet/src/main/java/com/stripe/android/link/theme/Theme.kt
  paymentsheet/src/main/java/com/stripe/android/link/ui/FullScreenContent.kt
  paymentsheet/src/main/java/com/stripe/android/link/ui/FullSreenContent.kt
  paymentsheet/src/main/java/com/stripe/android/link/ui/LinkContent.kt
  paymentsheet/src/main/java/com/stripe/android/link/ui/verification/VerificationDialog.kt
  paymentsheet/src/main/java/com/stripe/android/link/ui/verification/VerificationScreen.kt
  paymentsheet/src/main/java/com/stripe/android/link/ui/verification/VerificationViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/link/ui/verification/VerificationViewState.kt
  paymentsheet/src/test/java/com/stripe/android/link/FakeNativeLinkComponent.kt
  paymentsheet/src/test/java/com/stripe/android/link/LinkActivityTest.kt
  paymentsheet/src/test/java/com/stripe/android/link/LinkActivityViewModelTest.kt
  paymentsheet/src/test/java/com/stripe/android/link/TestFactory.kt
  paymentsheet/src/test/java/com/stripe/android/link/ui/verification/VerificationScreenTest.kt
  paymentsheet/src/test/java/com/stripe/android/link/ui/verification/VerificationScreenshotTest.kt
  paymentsheet/src/test/java/com/stripe/android/link/ui/verification/VerificationViewModelTest.kt
  paymentsheet/src/test/snapshots/images/com.stripe.android.link.ui.verification_VerificationScreenshotTest_testContent[VerificationDialogWithOTPFilledAndErrorMessage][].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.link.ui.verification_VerificationScreenshotTest_testContent[VerificationDialogWithOTPFilled][].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.link.ui.verification_VerificationScreenshotTest_testContent[VerificationDialogWithOTPNotFilled][].png
Labels: Link

#10100 Extract formType into FormHelper.
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/content/EmbeddedContentHelper.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/DefaultFormHelper.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/FormHelper.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/verticalmode/PaymentMethodVerticalLayoutInteractor.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/verticalmode/VerticalModeInitialScreenFactory.kt
  paymentsheet/src/test/java/com/stripe/android/link/ui/paymentmethod/PaymentMethodFormHelper.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/FormHelperTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/verticalmode/DefaultPaymentMethodVerticalLayoutInteractorTest.kt
Labels: embedded

#10107 Navigate back to AddFirstPaymentMethod immediately after removing last PM
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/content/EmbeddedContentHelper.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/manage/ManageSavedPaymentMethodMutatorFactory.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/SavedPaymentMethodMutator.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/navigation/NavigationHandler.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/SavedPaymentMethodMutatorTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/navigation/NavigationHandlerTest.kt
Labels: Product Quality

#10113 Only preserve selection when forms are compatible.
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/content/EmbeddedSelectionChooser.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/content/DefaultEmbeddedSelectionChooserTest.kt
Labels: embedded

#10115 Refactor vertical selection to minimize data in UI.
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/verticalmode/PaymentMethodEmbeddedLayoutUI.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/verticalmode/PaymentMethodVerticalLayoutInteractor.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/verticalmode/PaymentMethodVerticalLayoutUI.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/navigation/PaymentSheetScreenVerticalModeScreenshotTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/verticalmode/DefaultPaymentMethodVerticalLayoutInteractorTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/verticalmode/FakePaymentMethodVerticalLayoutInteractor.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/verticalmode/PaymentMethodEmbeddedLayoutUIScreenshotTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/verticalmode/PaymentMethodLayoutUITest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/verticalmode/PaymentMethodVerticalLayoutUIScreenshotTest.kt
Labels: embedded

#10116 Add temporary selection for embedded.
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/EmbeddedSelectionHolder.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/content/DefaultEmbeddedSheetLauncher.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/content/EmbeddedContentHelper.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/verticalmode/PaymentMethodVerticalLayoutInteractor.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/EmbeddedSelectionHolderTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/content/DefaultEmbeddedSheetLauncherTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/verticalmode/DefaultPaymentMethodVerticalLayoutInteractorTest.kt
Labels: embedded

#10118 Refactor mandates to be a part of the interactor state.
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/content/EmbeddedContent.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/content/EmbeddedContentHelper.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/verticalmode/PaymentMethodEmbeddedLayoutUI.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/verticalmode/PaymentMethodVerticalLayoutInteractor.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/content/DefaultEmbeddedContentHelperTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/content/EmbeddedContentScreenshotTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/verticalmode/DefaultPaymentMethodVerticalLayoutInteractorTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/verticalmode/FakePaymentMethodVerticalLayoutInteractor.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/verticalmode/PaymentMethodLayoutUITest.kt
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentelement.embedded.content_EmbeddedContentScreenshotTest_displaysVerticalModeListWithoutMandate[DarkTheme].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentelement.embedded.content_EmbeddedContentScreenshotTest_displaysVerticalModeListWithoutMandate[LightTheme].png
Labels: embedded

#10132 Configuration is allowed to use the cached variant when sheetIsOpen.
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/content/EmbeddedConfigurationHandler.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/content/DefaultEmbeddedConfigurationHandlerTest.kt
Labels: embedded

#10135 Fix embedded.
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/content/EmbeddedPaymentElementViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/content/EmbeddedPaymentElementViewModelComponent.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/form/FormActivityViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/form/FormActivityViewModelComponent.kt
Labels: embedded

#10137 Fix manage embedded bugs.
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/manage/ManageActivity.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/manage/ManageSavedPaymentMethodMutatorFactory.kt
Labels: embedded

#10148 Add tests for embedded ManageActivity.
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/EmbeddedCommonModule.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/content/EmbeddedContentHelper.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/content/EmbeddedPaymentElementViewModelComponent.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/form/FormActivityViewModelComponent.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/manage/ManageComponent.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/manage/ManageSavedPaymentMethodMutatorFactory.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/SavedPaymentMethodMutator.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/RemoveButton.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/UpdatePaymentMethodUI.kt
  paymentsheet/src/test/java/com/stripe/android/customersheet/CustomerSessionCustomerSheetActivityTest.kt
  paymentsheet/src/test/java/com/stripe/android/model/PaymentMethodFixtures.kt
  paymentsheet/src/test/java/com/stripe/android/network/PaymentMethodDetails.kt
  paymentsheet/src/test/java/com/stripe/android/network/PaymentMethodModificationExtensions.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/content/DefaultEmbeddedContentHelperTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/manage/ManageActivityTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/EditPage.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ManagePage.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetViewModelTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/SavedPaymentMethodMutatorTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/VerticalModePaymentSheetActivityTest.kt
Labels: embedded

#10156 Cancel nav listener when LinkActivity gets recreated
  paymentsheet/src/main/java/com/stripe/android/link/LinkActivityViewModel.kt
  paymentsheet/src/test/java/com/stripe/android/link/LinkActivityViewModelTest.kt
Labels: Link

#10158 Hide GooglePay in CustomerSheet when set as default feature is enabled
  paymentsheet/src/main/java/com/stripe/android/customersheet/CustomerSheetViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/customersheet/CustomerSheetViewState.kt
  paymentsheet/src/main/java/com/stripe/android/customersheet/ui/CustomerSheetScreen.kt
  paymentsheet/src/test/java/com/stripe/android/customersheet/CustomerSheetScreenshotTest.kt
  paymentsheet/src/test/java/com/stripe/android/customersheet/CustomerSheetViewModelTest.kt
  paymentsheet/src/test/java/com/stripe/android/customersheet/utils/FakeCustomerSheetLoader.kt
Labels: default-pms

#10153 Filter SEPA payment methods out of CustomerSheet when sync default feature enabled
  payments-core-testing/src/main/java/com/stripe/android/testing/PaymentMethodFactory.kt
  paymentsheet/src/androidTest/java/com/stripe/android/paymentsheet/CustomerSessionCustomerSheetTest.kt
  paymentsheet/src/androidTest/java/com/stripe/android/paymentsheet/CustomerSheetPage.kt
  paymentsheet/src/androidTest/resources/elements-sessions-requires_pm_with_cs.json
  paymentsheet/src/main/java/com/stripe/android/customersheet/CustomerSheetLoader.kt
  paymentsheet/src/main/java/com/stripe/android/customersheet/data/CustomerSessionPaymentMethodDataSource.kt
  paymentsheet/src/main/java/com/stripe/android/customersheet/util/SyncDefaultPaymentMethodUtils.kt
  paymentsheet/src/main/java/com/stripe/android/lpmfoundations/paymentmethod/PaymentMethodMetadata.kt
  paymentsheet/src/test/java/com/stripe/android/customersheet/state/DefaultCustomerSheetLoaderTest.kt
  paymentsheet/src/test/java/com/stripe/android/lpmfoundations/paymentmethod/PaymentMethodMetadataTest.kt
Labels: default-pms

#10163 Add saved payment method mandates.
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/verticalmode/PaymentMethodVerticalLayoutInteractor.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/verticalmode/DefaultPaymentMethodVerticalLayoutInteractorTest.kt
Labels: embedded

#10155 [MOBILESDK-2683] SetAsDefaultPaymentMethodElement in Add Card
  payments-ui-core/res/values/strings.xml
  payments-ui-core/src/main/java/com/stripe/android/ui/core/FormUI.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/elements/SetAsDefaultPaymentMethodController.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/elements/SetAsDefaultPaymentMethodElement.kt
  payments-ui-core/src/main/java/com/stripe/android/ui/core/elements/SetAsDefaultPaymentMethodElementUI.kt
  paymentsheet/res/values/strings.xml
  paymentsheet/src/main/java/com/stripe/android/lpmfoundations/paymentmethod/definitions/CardDefinition.kt
  paymentsheet/src/test/java/com/stripe/android/lpmfoundations/paymentmethod/definitions/CardDefinitionTest.kt
  paymentsheet/src/test/java/com/stripe/android/lpmfoundations/paymentmethod/definitions/CardUiDefinitionFactoryTest.kt
  paymentsheet/src/test/snapshots/images/com.stripe.android.lpmfoundations.paymentmethod.definitions_CardUiDefinitionFactoryTest_testCardWithSaveForLaterAndSetAsDefaultShown[].png
  stripe-ui-core/api/stripe-ui-core.api
  stripe-ui-core/src/main/java/com/stripe/android/uicore/elements/IdentifierSpec.kt
Labels: default-pms

#10174 Fix an issue where sheets were launched twice when double clicked.
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/content/DefaultEmbeddedSheetLauncher.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/content/DefaultEmbeddedSheetLauncherTest.kt
Labels: embedded

#10175 Make embedded playground more sane.
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/PaymentSheetPlaygroundActivity.kt
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/embedded/EmbeddedPlaygroundActivity.kt
Labels: embedded

#10131 Make sonatype deploy step agnostic to local gpg location
  scripts/deploy/common.rb
  scripts/deploy/publish_to_sonatype.rb
Labels: release-process-improvement

#10196 Fill max height for saved pm trailing content.
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/verticalmode/PaymentMethodVerticalLayoutUI.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/verticalmode/PaymentMethodEmbeddedLayoutUIScreenshotTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/verticalmode/PaymentMethodVerticalLayoutUIScreenshotTest.kt
Labels: embedded

#10186 Retrieve default PM from backend when default PMs behavior enabled
  paymentsheet/src/main/java/com/stripe/android/customersheet/CustomerSheet.kt
  paymentsheet/src/main/java/com/stripe/android/customersheet/CustomerSheetLoader.kt
  paymentsheet/src/main/java/com/stripe/android/customersheet/data/CustomerAdapterDataSource.kt
  paymentsheet/src/main/java/com/stripe/android/customersheet/data/CustomerSessionInitializationDataSource.kt
  paymentsheet/src/main/java/com/stripe/android/customersheet/data/CustomerSessionSavedSelectionDataSource.kt
  paymentsheet/src/main/java/com/stripe/android/customersheet/data/CustomerSheetSavedSelectionDataSource.kt
  paymentsheet/src/main/java/com/stripe/android/customersheet/util/SyncDefaultPaymentMethodUtils.kt
  paymentsheet/src/test/java/com/stripe/android/customersheet/data/CustomerAdapterDataSourceTest.kt
  paymentsheet/src/test/java/com/stripe/android/customersheet/data/CustomerSessionSavedSelectionDataSourceTest.kt
  paymentsheet/src/test/java/com/stripe/android/customersheet/data/FakeCustomerSessionElementsSessionManager.kt
  paymentsheet/src/test/java/com/stripe/android/customersheet/data/FakeCustomerSheetSavedSelectionDataSource.kt
Labels: default-pms

#10204 Fix out of order events.
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/manage/EmbeddedUpdateScreenInteractorFactory.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/SavedPaymentMethodMutator.kt
Labels: embedded

#10201 Fix flaky `Embedded` tests
  paymentsheet-example/src/androidTest/java/com/stripe/android/lpm/TestEmbedded.kt
  paymentsheet-example/src/androidTest/java/com/stripe/android/test/core/PlaygroundTestDriver.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/PrimaryButtonNew.kt
Labels: flake-fix

#10172 Sync default payment method to the backend
  payments-core-testing/src/main/java/com/stripe/android/testing/AbsFakeStripeRepository.kt
  payments-core/src/main/java/com/stripe/android/networking/StripeApiRepository.kt
  payments-core/src/main/java/com/stripe/android/networking/StripeRepository.kt
  payments-core/src/test/java/com/stripe/android/networking/StripeApiRepositoryTest.kt
  paymentsheet/src/androidTest/java/com/stripe/android/paymentsheet/CustomerSessionCustomerSheetTest.kt
  paymentsheet/src/main/java/com/stripe/android/customersheet/CustomerSheetViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/customersheet/data/CustomerAdapterDataSource.kt
  paymentsheet/src/main/java/com/stripe/android/customersheet/data/CustomerSessionSavedSelectionDataSource.kt
  paymentsheet/src/main/java/com/stripe/android/customersheet/data/CustomerSheetSavedSelectionDataSource.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/repositories/CustomerApiRepository.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/repositories/CustomerRepository.kt
  paymentsheet/src/test/java/com/stripe/android/customersheet/data/CustomerAdapterDataSourceTest.kt
  paymentsheet/src/test/java/com/stripe/android/customersheet/data/CustomerSessionSavedSelectionDataSourceTest.kt
  paymentsheet/src/test/java/com/stripe/android/customersheet/data/FakeCustomerSheetSavedSelectionDataSource.kt
  paymentsheet/src/test/java/com/stripe/android/utils/FakeCustomerRepository.kt
Labels: default-pms

#10192 Display set as default checkbox on update payment method screen
  paymentsheet/src/main/java/com/stripe/android/customersheet/CustomerSheetViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/manage/EmbeddedUpdateScreenInteractorFactory.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/DisplayableSavedPaymentMethod.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/SavedPaymentMethodMutator.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/UpdatePaymentMethodInteractor.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/UpdatePaymentMethodUI.kt
  paymentsheet/src/test/java/com/stripe/android/customersheet/CustomerSheetScreenshotTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/manage/InitialManageScreenFactoryTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/DefaultUpdatePaymentMethodInteractorTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/FakeUpdatePaymentMethodInteractor.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/PaymentSheetScreenUpdatePaymentMethodScreenshotTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/UpdatePaymentMethodUITest.kt
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentSheetScreenUpdatePaymentMethodScreenshotTest_updatePaymentMethodScreen_forCard_withSetAsDefaultCheckbox[].png
Labels: default-pms

#10220 Fix a bug where confirmationState had the wrong selection.
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/content/EmbeddedConfigurationCoordinator.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/content/DefaultEmbeddedConfigurationCoordinatorTest.kt
Labels: embedded

#10221 Adds a test for form activity respecting primary button label.
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/form/FormActivityTest.kt
Labels: embedded

#10223 Make manage test less flakey.
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/manage/ManageActivity.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/manage/ManageActivityTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/EditPage.kt
Labels: embedded

#10228 Reduce flakes in PaymentOptionsViewModelTest.
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentOptionsViewModelTest.kt
Labels: flake-fix

#10224 Fix a flakey test in VerticalModePaymentSheetActivityTest.
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/VerticalModePaymentSheetActivityTest.kt
Labels: flake-fix, embedded

#10227 Increase timeout.
  stripecardscan/src/test/java/com/stripe/android/stripecardscan/framework/LoopTest.kt
Labels: flake-fix

#10230 Reduce US bank flakes.
  paymentsheet-example/src/androidTest/java/com/stripe/android/test/core/PlaygroundTestDriver.kt
Labels: flake-fix

#10232 Change update screen padding.
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/UpdatePaymentMethodUI.kt
  paymentsheet/src/test/snapshots/images/com.stripe.android.customersheet_CustomerSheetScreenshotTest_testUpdatePaymentMethodScreen[DarkTheme,DefaultFont,DefaultAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.customersheet_CustomerSheetScreenshotTest_testUpdatePaymentMethodScreen[LightTheme,DefaultFont,DefaultAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.customersheet_CustomerSheetScreenshotTest_testUpdatePaymentMethodScreen_withoutRemove[DarkTheme,DefaultFont,DefaultAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.customersheet_CustomerSheetScreenshotTest_testUpdatePaymentMethodScreen_withoutRemove[LightTheme,DefaultFont,DefaultAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentSheetScreenUpdatePaymentMethodScreenshotTest_updatePaymentMethodScreen_forCard[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentSheetScreenUpdatePaymentMethodScreenshotTest_updatePaymentMethodScreen_forCard_withRemoveButton[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentSheetScreenUpdatePaymentMethodScreenshotTest_updatePaymentMethodScreen_forCard_withRemoveButton_withError[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentSheetScreenUpdatePaymentMethodScreenshotTest_updatePaymentMethodScreen_forCard_withSetAsDefaultCheckbox[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentSheetScreenUpdatePaymentMethodScreenshotTest_updatePaymentMethodScreen_forCbcEligibleCard[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentSheetScreenUpdatePaymentMethodScreenshotTest_updatePaymentMethodScreen_forCbcEligibleCard_withoutRemoveButton[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentSheetScreenUpdatePaymentMethodScreenshotTest_updatePaymentMethodScreen_forSepaDebit_withRemoveButton[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentSheetScreenUpdatePaymentMethodScreenshotTest_updatePaymentMethodScreen_forUsBankAccount_withRemoveButton[].png
Labels: embedded

#10234 Remove selected badge from manage page.
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/verticalmode/ManageScreenUI.kt
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.navigation_PaymentSheetScreenManageSavedPaymentMethodsScreenshotTest_displaysSelectMode[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_ManageScreenUIScreenshotTest_testManageUIScreen_withSelectedPM[CrazyAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_ManageScreenUIScreenshotTest_testManageUIScreen_withSelectedPM[CustomAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_ManageScreenUIScreenshotTest_testManageUIScreen_withSelectedPM[DefaultAppearance].png
Labels: embedded

#10235 Fix header alignment.
  payments-ui-core/src/main/java/com/stripe/android/ui/core/elements/CardDetailsSectionElementUI.kt
  paymentsheet-example/screenshots/debug/com.stripe.android.screenshot.TestPaymentSheetScreenshots_testPaymentSheetAlongsideSfuLinkSignUp.png
  paymentsheet-example/screenshots/debug/com.stripe.android.screenshot.TestPaymentSheetScreenshots_testPaymentSheetInsteadOfSfuLinkSignUp.png
  paymentsheet/src/test/snapshots/images/com.stripe.android.customersheet_CustomerSheetScreenshotTest_testAddCardFormWithError[DarkTheme,DefaultFont,DefaultAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.customersheet_CustomerSheetScreenshotTest_testAddCardFormWithError[LightTheme,DefaultFont,DefaultAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.customersheet_CustomerSheetScreenshotTest_testAddCardForm[DarkTheme,DefaultFont,DefaultAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.customersheet_CustomerSheetScreenshotTest_testAddCardForm[LightTheme,DefaultFont,DefaultAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.link.ui.paymentmethod_PaymentMethodScreenScreenshotTest_form with button disabled[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.link.ui.paymentmethod_PaymentMethodScreenScreenshotTest_form with button enabled[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.link.ui.paymentmethod_PaymentMethodScreenScreenshotTest_form with error message[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.lpmfoundations.paymentmethod.definitions_CardUiDefinitionFactoryTest_testCardRightToLeft[RightToLeft].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.lpmfoundations.paymentmethod.definitions_CardUiDefinitionFactoryTest_testCardWithBillingDetailsCollectionConfiguration[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.lpmfoundations.paymentmethod.definitions_CardUiDefinitionFactoryTest_testCardWithDefaultValues[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.lpmfoundations.paymentmethod.definitions_CardUiDefinitionFactoryTest_testCardWithMandateAndSaveForLater[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.lpmfoundations.paymentmethod.definitions_CardUiDefinitionFactoryTest_testCardWithMandate[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.lpmfoundations.paymentmethod.definitions_CardUiDefinitionFactoryTest_testCardWithSameAsShipping[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.lpmfoundations.paymentmethod.definitions_CardUiDefinitionFactoryTest_testCardWithSaveForLaterAndSetAsDefaultShown[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.lpmfoundations.paymentmethod.definitions_CardUiDefinitionFactoryTest_testCardWithSaveForLater[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.lpmfoundations.paymentmethod.definitions_CardUiDefinitionFactoryTest_testCard[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentelement.embedded.form_FormActivityScreenShotTest_testFormActivity_complete[CrazyAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentelement.embedded.form_FormActivityScreenShotTest_testFormActivity_complete[CustomAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentelement.embedded.form_FormActivityScreenShotTest_testFormActivity_complete[DefaultAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentelement.embedded.form_FormActivityScreenShotTest_testFormActivity_disabled[CrazyAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentelement.embedded.form_FormActivityScreenShotTest_testFormActivity_disabled[CustomAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentelement.embedded.form_FormActivityScreenShotTest_testFormActivity_disabled[DefaultAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentelement.embedded.form_FormActivityScreenShotTest_testFormActivity_enabled[CrazyAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentelement.embedded.form_FormActivityScreenShotTest_testFormActivity_enabled[CustomAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentelement.embedded.form_FormActivityScreenShotTest_testFormActivity_enabled[DefaultAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentelement.embedded.form_FormActivityScreenShotTest_testFormActivity_error[CrazyAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentelement.embedded.form_FormActivityScreenShotTest_testFormActivity_error[CustomAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentelement.embedded.form_FormActivityScreenShotTest_testFormActivity_error[DefaultAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentelement.embedded.form_FormActivityScreenShotTest_testFormActivity_processing[CrazyAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentelement.embedded.form_FormActivityScreenShotTest_testFormActivity_processing[CustomAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentelement.embedded.form_FormActivityScreenShotTest_testFormActivity_processing[DefaultAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentelement.embedded.form_FormActivityScreenShotTest_testFormActivity_usBankMandate[CrazyAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentelement.embedded.form_FormActivityScreenShotTest_testFormActivity_usBankMandate[CustomAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentelement.embedded.form_FormActivityScreenShotTest_testFormActivity_usBankMandate[DefaultAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.navigation_PaymentSheetScreenAddAnotherPaymentMethodScreenshotTest_displaysCard[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.navigation_PaymentSheetScreenAddAnotherPaymentMethodScreenshotTest_displaysError[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.navigation_PaymentSheetScreenAddFirstPaymentMethodScreenshotTest_displaysCard[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.navigation_PaymentSheetScreenAddFirstPaymentMethodScreenshotTest_displaysError[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_VerticalModeFormUIScreenshotTest_cardFieldsAreDisabledWhenProcessing[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_VerticalModeFormUIScreenshotTest_cardFormIsDisplayed[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_VerticalModeFormUIScreenshotTest_fullCardFormWithError[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_VerticalModeFormUIScreenshotTest_fullCardFormWithLink[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_VerticalModeFormUIScreenshotTest_fullCardFormWithSaveForLater[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_VerticalModeFormUIScreenshotTest_fullCardForm[].png
Labels: embedded

#10236 Fix checkbox alignment.
  paymentsheet-example/screenshots/debug/com.stripe.android.screenshot.TestPaymentSheetScreenshots_testPaymentSheetAlongsideSfuLinkSignUp.png
  paymentsheet/src/test/snapshots/images/com.stripe.android.lpmfoundations.paymentmethod.definitions_CardUiDefinitionFactoryTest_testCardWithMandateAndSaveForLater[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.lpmfoundations.paymentmethod.definitions_CardUiDefinitionFactoryTest_testCardWithSameAsShipping[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.lpmfoundations.paymentmethod.definitions_CardUiDefinitionFactoryTest_testCardWithSaveForLaterAndSetAsDefaultShown[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.lpmfoundations.paymentmethod.definitions_CardUiDefinitionFactoryTest_testCardWithSaveForLater[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.paymentdatacollection.ach_AccountPreviewScreenshotTest_testWithBillingAddress[DarkTheme].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.paymentdatacollection.ach_AccountPreviewScreenshotTest_testWithBillingAddress[LightTheme].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentSheetScreenUpdatePaymentMethodScreenshotTest_updatePaymentMethodScreen_forCard_withSetAsDefaultCheckbox[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_VerticalModeFormUIScreenshotTest_fullCardFormWithSaveForLater[].png
  stripe-ui-core/src/main/java/com/stripe/android/uicore/elements/CheckboxElementUI.kt
Labels: embedded

#10238 Rename CBC "update" variables to "updateCardBrand"
  paymentsheet/src/main/java/com/stripe/android/customersheet/CustomerSheetViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/manage/EmbeddedUpdateScreenInteractorFactory.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/SavedPaymentMethodMutator.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/UpdatePaymentMethodInteractor.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/UpdatePaymentMethodUI.kt
  paymentsheet/src/test/java/com/stripe/android/customersheet/CustomerSheetScreenshotTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/DefaultUpdatePaymentMethodInteractorTest.kt
Labels: default-pms

#10247 Add poko to embedded appearance.
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheet.kt
Labels: embedded

#10252 Update gradle wrapper to 8.12.1.
  gradle/wrapper/gradle-wrapper.properties
Labels: dependencies

#10250 Update more dependencies.
  3ds2playground/dependencies/dependencies.txt
  3ds2sdk/dependencies/dependencies.txt
  CHANGELOG.md
  build-configuration/android-application.gradle
  build-configuration/android-library.gradle
  camera-core/dependencies/dependencies.txt
  connect-example/dependencies/dependencies.txt
  connect/api/connect.api
  connect/dependencies/dependencies.txt
  dependencies.gradle
  example/dependencies/dependencies.txt
  financial-connections-example/dependencies/dependencies.txt
  financial-connections/api/financial-connections.api
  financial-connections/dependencies/dependencies.txt
  hcaptcha/api/hcaptcha.api
  hcaptcha/dependencies/dependencies.txt
  identity/dependencies/dependencies.txt
  network-testing/dependencies/dependencies.txt
  payment-method-messaging/dependencies/dependencies.txt
  payments-core-testing/dependencies/dependencies.txt
  payments-core/dependencies/dependencies.txt
  payments-model/api/payments-model.api
  payments-model/dependencies/dependencies.txt
  payments-ui-core/api/payments-ui-core.api
  payments-ui-core/dependencies/dependencies.txt
  payments/dependencies/dependencies.txt
  paymentsheet-example/dependencies/dependencies.txt
  paymentsheet/dependencies/dependencies.txt
  screenshot-testing/dependencies/dependencies.txt
  stripe-attestation/dependencies/dependencies.txt
  stripe-core/api/stripe-core.api
  stripe-core/dependencies/dependencies.txt
  stripe-test-e2e/dependencies/dependencies.txt
  stripe-ui-core/api/stripe-ui-core.api
  stripe-ui-core/dependencies/dependencies.txt
  stripecardscan-example/dependencies/dependencies.txt
  stripecardscan/dependencies/dependencies.txt
  wechatpay/dependencies/dependencies.txt
Labels: dependencies

#10249 Actually update default payment method when set as default checkbox checked on manage PM screen
  paymentsheet/res/values/strings.xml
  paymentsheet/src/main/java/com/stripe/android/customersheet/CustomerSheetViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/content/EmbeddedContentHelper.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/manage/EmbeddedUpdateScreenInteractorFactory.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/manage/ManageSavedPaymentMethodMutatorFactory.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/CustomerStateHolder.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/SavedPaymentMethodMutator.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/UpdatePaymentMethodInteractor.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/UpdatePaymentMethodUI.kt
  paymentsheet/src/test/java/com/stripe/android/customersheet/CustomerSheetScreenshotTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/CustomerState.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/SavedPaymentMethodMutatorTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/DefaultUpdatePaymentMethodInteractorTest.kt
Labels: default-pms

#10254 Make bottom padding on manage screen consistent.
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/manage/ManageNavigator.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/UpdatePaymentMethodUI.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/utils/ComposeUtils.kt
  paymentsheet/src/test/snapshots/images/com.stripe.android.customersheet_CustomerSheetScreenshotTest_testUpdatePaymentMethodScreen[DarkTheme,DefaultFont,DefaultAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.customersheet_CustomerSheetScreenshotTest_testUpdatePaymentMethodScreen[LightTheme,DefaultFont,DefaultAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.customersheet_CustomerSheetScreenshotTest_testUpdatePaymentMethodScreen_withoutRemove[DarkTheme,DefaultFont,DefaultAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.customersheet_CustomerSheetScreenshotTest_testUpdatePaymentMethodScreen_withoutRemove[LightTheme,DefaultFont,DefaultAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentSheetScreenUpdatePaymentMethodScreenshotTest_updatePaymentMethodScreen_forCard[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentSheetScreenUpdatePaymentMethodScreenshotTest_updatePaymentMethodScreen_forCard_withRemoveButton[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentSheetScreenUpdatePaymentMethodScreenshotTest_updatePaymentMethodScreen_forCard_withRemoveButton_withError[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentSheetScreenUpdatePaymentMethodScreenshotTest_updatePaymentMethodScreen_forCard_withSetAsDefaultCheckbox[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentSheetScreenUpdatePaymentMethodScreenshotTest_updatePaymentMethodScreen_forCbcEligibleCard[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentSheetScreenUpdatePaymentMethodScreenshotTest_updatePaymentMethodScreen_forCbcEligibleCard_withoutRemoveButton[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentSheetScreenUpdatePaymentMethodScreenshotTest_updatePaymentMethodScreen_forSepaDebit_withRemoveButton[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentSheetScreenUpdatePaymentMethodScreenshotTest_updatePaymentMethodScreen_forUsBankAccount_withRemoveButton[].png
Labels: embedded

#10257 Select payment method when it is set as the default PM
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/content/EmbeddedContentHelper.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/manage/ManageSavedPaymentMethodMutatorFactory.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/CustomerStateHolder.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/SavedPaymentMethodMutator.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/CustomerSessionPaymentSheetActivityTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/EditPage.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/SavedPaymentMethodMutatorTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/VerticalModePage.kt
  paymentsheet/src/test/resources/elements-sessions-customers-set-default-pm.json
Labels: default-pms

#10264 Fix regression where default label was not shown in horizontal mode
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/SavedPaymentMethodMutator.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/viewmodels/PaymentOptionsItemsMapper.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/CustomerSessionPaymentSheetActivityTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/viewmodels/PaymentOptionsItemsMapperTest.kt
Labels: default-pms

#10273 Crash in test mode when using deferred SSC with set as default feature
  paymentsheet/src/main/java/com/stripe/android/paymentelement/confirmation/intent/IntentConfirmationInterceptor.kt
Labels: default-pms

#10282 Center text with checkbox.
  paymentsheet-example/screenshots/debug/com.stripe.android.screenshot.TestPaymentSheetScreenshots_testPaymentSheetAlongsideSfuLinkSignUp.png
  paymentsheet/src/test/snapshots/images/com.stripe.android.lpmfoundations.paymentmethod.definitions_CardUiDefinitionFactoryTest_testCardWithMandateAndSaveForLater[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.lpmfoundations.paymentmethod.definitions_CardUiDefinitionFactoryTest_testCardWithSameAsShipping[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.lpmfoundations.paymentmethod.definitions_CardUiDefinitionFactoryTest_testCardWithSaveForLaterAndSetAsDefaultShown[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.lpmfoundations.paymentmethod.definitions_CardUiDefinitionFactoryTest_testCardWithSaveForLater[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.paymentdatacollection.ach_AccountPreviewScreenshotTest_testPaymentFlowWithBothCheckboxesChecked[DarkTheme].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.paymentdatacollection.ach_AccountPreviewScreenshotTest_testPaymentFlowWithBothCheckboxesChecked[LightTheme].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.paymentdatacollection.ach_AccountPreviewScreenshotTest_testPaymentFlowWithSaveForFutureUseChecked[DarkTheme].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.paymentdatacollection.ach_AccountPreviewScreenshotTest_testPaymentFlowWithSaveForFutureUseChecked[LightTheme].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.paymentdatacollection.ach_AccountPreviewScreenshotTest_testPaymentFlowWithSaveForFutureUseOnly[DarkTheme].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.paymentdatacollection.ach_AccountPreviewScreenshotTest_testPaymentFlowWithSaveForFutureUseOnly[LightTheme].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.paymentdatacollection.ach_AccountPreviewScreenshotTest_testWithBillingAddress[DarkTheme].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.paymentdatacollection.ach_AccountPreviewScreenshotTest_testWithBillingAddress[LightTheme].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentSheetScreenUpdatePaymentMethodScreenshotTest_updatePaymentMethodScreen_forCard_withSetAsDefaultCheckbox[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_VerticalModeFormUIScreenshotTest_fullCardFormWithSaveForLater[].png
  stripe-ui-core/src/main/java/com/stripe/android/uicore/elements/CenteredTextLayout.kt
  stripe-ui-core/src/main/java/com/stripe/android/uicore/elements/CheckboxElementUI.kt
  stripe-ui-core/src/main/java/com/stripe/android/uicore/elements/H6Text.kt
  stripe-ui-core/src/test/java/com/stripe/android/uicore/elements/CenteredTextLayoutTest.kt
  stripe-ui-core/src/test/snapshots/images/com.stripe.android.uicore.elements_CenteredTextLayoutTest_testMultiLineTextWithLargeStartContent[DefaultFont].png
  stripe-ui-core/src/test/snapshots/images/com.stripe.android.uicore.elements_CenteredTextLayoutTest_testMultiLineTextWithLargeStartContent[LargeFont].png
  stripe-ui-core/src/test/snapshots/images/com.stripe.android.uicore.elements_CenteredTextLayoutTest_testMultiLineTextWithLargeStartContent[MegaFont].png
  stripe-ui-core/src/test/snapshots/images/com.stripe.android.uicore.elements_CenteredTextLayoutTest_testMultiLineTextWithLargeStartContent[SmallFont].png
  stripe-ui-core/src/test/snapshots/images/com.stripe.android.uicore.elements_CenteredTextLayoutTest_testMultiLineTextWithSmallStartContent[DefaultFont].png
  stripe-ui-core/src/test/snapshots/images/com.stripe.android.uicore.elements_CenteredTextLayoutTest_testMultiLineTextWithSmallStartContent[LargeFont].png
  stripe-ui-core/src/test/snapshots/images/com.stripe.android.uicore.elements_CenteredTextLayoutTest_testMultiLineTextWithSmallStartContent[MegaFont].png
  stripe-ui-core/src/test/snapshots/images/com.stripe.android.uicore.elements_CenteredTextLayoutTest_testMultiLineTextWithSmallStartContent[SmallFont].png
  stripe-ui-core/src/test/snapshots/images/com.stripe.android.uicore.elements_CenteredTextLayoutTest_testSingleLineTextWithLargeStartContent[DefaultFont].png
  stripe-ui-core/src/test/snapshots/images/com.stripe.android.uicore.elements_CenteredTextLayoutTest_testSingleLineTextWithLargeStartContent[LargeFont].png
  stripe-ui-core/src/test/snapshots/images/com.stripe.android.uicore.elements_CenteredTextLayoutTest_testSingleLineTextWithLargeStartContent[MegaFont].png
  stripe-ui-core/src/test/snapshots/images/com.stripe.android.uicore.elements_CenteredTextLayoutTest_testSingleLineTextWithLargeStartContent[SmallFont].png
  stripe-ui-core/src/test/snapshots/images/com.stripe.android.uicore.elements_CenteredTextLayoutTest_testSingleLineTextWithSmallStartContent[DefaultFont].png
  stripe-ui-core/src/test/snapshots/images/com.stripe.android.uicore.elements_CenteredTextLayoutTest_testSingleLineTextWithSmallStartContent[LargeFont].png
  stripe-ui-core/src/test/snapshots/images/com.stripe.android.uicore.elements_CenteredTextLayoutTest_testSingleLineTextWithSmallStartContent[MegaFont].png
  stripe-ui-core/src/test/snapshots/images/com.stripe.android.uicore.elements_CenteredTextLayoutTest_testSingleLineTextWithSmallStartContent[SmallFont].png
Labels: embedded, Product Quality
