Repository stripe/stripe-android, pull requests merged in 2025-01, with the labels that each got.

#9808 Add PaymentMethodEmbeddedLayoutUI
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/EmbeddedContent.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheet.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/verticalmode/PaymentMethodEmbeddedLayoutUI.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/verticalmode/PaymentMethodVerticalLayoutUI.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/verticalmode/PaymentMethodEmbeddedLayoutUIScreenshotTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/verticalmode/PaymentMethodLayoutUITest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/verticalmode/PaymentMethodVerticalLayoutUIScreenshotTest.kt
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_PaymentMethodEmbeddedLayoutUIScreenshotTest_testBottomSeparatorOnly[CrazyAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_PaymentMethodEmbeddedLayoutUIScreenshotTest_testBottomSeparatorOnly[CustomAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_PaymentMethodEmbeddedLayoutUIScreenshotTest_testBottomSeparatorOnly[DefaultAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_PaymentMethodEmbeddedLayoutUIScreenshotTest_testFlatWitRadio[CrazyAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_PaymentMethodEmbeddedLayoutUIScreenshotTest_testFlatWitRadio[CustomAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_PaymentMethodEmbeddedLayoutUIScreenshotTest_testFlatWitRadio[DefaultAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_PaymentMethodEmbeddedLayoutUIScreenshotTest_testFlatWithCheckmark[CrazyAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_PaymentMethodEmbeddedLayoutUIScreenshotTest_testFlatWithCheckmark[CustomAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_PaymentMethodEmbeddedLayoutUIScreenshotTest_testFlatWithCheckmark[DefaultAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_PaymentMethodEmbeddedLayoutUIScreenshotTest_testFloatingButton[CrazyAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_PaymentMethodEmbeddedLayoutUIScreenshotTest_testFloatingButton[CustomAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_PaymentMethodEmbeddedLayoutUIScreenshotTest_testFloatingButton[DefaultAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_PaymentMethodEmbeddedLayoutUIScreenshotTest_testNewPaymentMethodsOnly[CrazyAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_PaymentMethodEmbeddedLayoutUIScreenshotTest_testNewPaymentMethodsOnly[CustomAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_PaymentMethodEmbeddedLayoutUIScreenshotTest_testNewPaymentMethodsOnly[DefaultAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_PaymentMethodEmbeddedLayoutUIScreenshotTest_testSavedPaymentMethodOnly[CrazyAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_PaymentMethodEmbeddedLayoutUIScreenshotTest_testSavedPaymentMethodOnly[CustomAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_PaymentMethodEmbeddedLayoutUIScreenshotTest_testSavedPaymentMethodOnly[DefaultAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_PaymentMethodEmbeddedLayoutUIScreenshotTest_testSeparatorColorAndInsets[CrazyAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_PaymentMethodEmbeddedLayoutUIScreenshotTest_testSeparatorColorAndInsets[CustomAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_PaymentMethodEmbeddedLayoutUIScreenshotTest_testSeparatorColorAndInsets[DefaultAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_PaymentMethodEmbeddedLayoutUIScreenshotTest_testTopSeparatorOnly[CrazyAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_PaymentMethodEmbeddedLayoutUIScreenshotTest_testTopSeparatorOnly[CustomAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.verticalmode_PaymentMethodEmbeddedLayoutUIScreenshotTest_testTopSeparatorOnly[DefaultAppearance].png
Labels: embedded

#9816 Add release older version deploy flag
  scripts/deploy/deploy.rb
  scripts/deploy/update_dokka.rb
  scripts/deploy/update_pay_server_docs.rb
  scripts/deploy/validate_version_number.rb
Labels: release-process-improvement

#9842 Delete useNewUpdateCardScreen feature flag
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/settings/PlaygroundSettings.kt
  stripe-core/src/main/java/com/stripe/android/core/utils/FeatureFlags.kt
Labels: default-pms

#9845 [MOBILESDK-2681] [MOBILESDK-2682] Default Payment Method Label
  paymentsheet/api/paymentsheet.api
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/DefaultPaymentMethodLabel.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/DefaultPaymentMethodLabelScreenshotTest.kt
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_DefaultPaymentMethodLabelScreenshotTest_testDefaultPaymentMethodLabel[DarkTheme,CrazyAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_DefaultPaymentMethodLabelScreenshotTest_testDefaultPaymentMethodLabel[DarkTheme,CrazyAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_DefaultPaymentMethodLabelScreenshotTest_testDefaultPaymentMethodLabel[DarkTheme,CustomAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_DefaultPaymentMethodLabelScreenshotTest_testDefaultPaymentMethodLabel[DarkTheme,CustomAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_DefaultPaymentMethodLabelScreenshotTest_testDefaultPaymentMethodLabel[DarkTheme,DefaultAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_DefaultPaymentMethodLabelScreenshotTest_testDefaultPaymentMethodLabel[DarkTheme,DefaultAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_DefaultPaymentMethodLabelScreenshotTest_testDefaultPaymentMethodLabel[LightTheme,CrazyAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_DefaultPaymentMethodLabelScreenshotTest_testDefaultPaymentMethodLabel[LightTheme,CrazyAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_DefaultPaymentMethodLabelScreenshotTest_testDefaultPaymentMethodLabel[LightTheme,CustomAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_DefaultPaymentMethodLabelScreenshotTest_testDefaultPaymentMethodLabel[LightTheme,CustomAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_DefaultPaymentMethodLabelScreenshotTest_testDefaultPaymentMethodLabel[LightTheme,DefaultAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_DefaultPaymentMethodLabelScreenshotTest_testDefaultPaymentMethodLabel[LightTheme,DefaultAppearance,LargeFont].png
Labels: default-pms

#9853 Remove EditPaymentMethod screen
  paymentsheet/api/paymentsheet.api
  paymentsheet/src/main/java/com/stripe/android/customersheet/injection/CustomerSheetViewModelModule.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/EmbeddedContentHelper.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentOptionsViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/SavedPaymentMethodMutator.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/analytics/PaymentSheetAnalyticsListener.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/injection/PaymentSheetCommonModule.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/navigation/PaymentSheetScreen.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/EditPaymentMethod.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/EditPaymentMethodViewInteractor.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/UpdatePaymentMethodInteractor.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/viewmodels/BaseSheetViewModel.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/FakeEditPaymentMethodInteractor.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentOptionsActivityTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentOptionsViewModelTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetActivityTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetViewModelTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/SavedPaymentMethodMutatorTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/analytics/PaymentSheetAnalyticsListenerTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/navigation/PaymentSheetScreenEditPaymentMethodScreenshotTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/navigation/PaymentSheetScreenEditPaymentMethodTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/DefaultEditPaymentMethodViewInteractorTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/EditPaymentMethodTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/EditPaymentMethodUiScreenshotTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/ThrowingEditPaymentMethodViewInteractorFactory.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/UpdatePaymentMethodUITest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/utils/FakeEditPaymentMethodInteractorFactory.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/viewmodels/FakeBaseSheetViewModel.kt
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.navigation_PaymentSheetScreenEditPaymentMethodScreenshotTest_displaysUpdateCardScreen[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_EditPaymentMethodUiScreenshotTest_testCanRemoveFalseState[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_EditPaymentMethodUiScreenshotTest_testDisabledState[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_EditPaymentMethodUiScreenshotTest_testEnabledState[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_EditPaymentMethodUiScreenshotTest_testErrorState[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_EditPaymentMethodUiScreenshotTest_testRemovalConfirmationState[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_EditPaymentMethodUiScreenshotTest_testRemovingState[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_EditPaymentMethodUiScreenshotTest_testUpdatingState[].png
Labels: default-pms

#9843 Remove CustomerSheetViewState#OnItemRemoved
  paymentsheet/src/main/java/com/stripe/android/customersheet/CustomerSheetViewAction.kt
  paymentsheet/src/main/java/com/stripe/android/customersheet/CustomerSheetViewModel.kt
  paymentsheet/src/test/java/com/stripe/android/customersheet/CustomerSheetViewModelTest.kt
Labels: default-pms

#9875 Update doc for mandateText
  paymentsheet/src/main/java/com/stripe/android/paymentelement/EmbeddedPaymentElement.kt
Labels: embedded

#9864 Remove restrict to from card brand filtering in embedded.
  paymentsheet/src/main/java/com/stripe/android/paymentelement/EmbeddedPaymentElement.kt
Labels: embedded

#9881 Attach Mandate to PaymentOption
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/NullUiDefinitionFactoryHelper.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/PaymentOptionDisplayDataFactory.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/SharedPaymentElementViewModel.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/SharedPaymentElementViewModelTest.kt
Labels: embedded

#9904 Update copy/paste error in embedded docs.
  paymentsheet/src/main/java/com/stripe/android/paymentelement/EmbeddedPaymentElement.kt
Labels: embedded

#9905 Fix an issue when clearing selection in embedded.
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/EmbeddedContentHelper.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/verticalmode/PaymentMethodVerticalLayoutInteractor.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/verticalmode/DefaultPaymentMethodVerticalLayoutInteractorTest.kt
Labels: embedded

#9906 Implement embeddedViewDisplaysMandateText.
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/embedded/EmbeddedPlaygroundActivity.kt
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/settings/EmbeddedViewDisplaysMandateSettingDefinition.kt
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/settings/PlaygroundSettings.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/EmbeddedContentHelper.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/SharedPaymentElementViewModel.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/DefaultEmbeddedContentHelperTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/FakeEmbeddedContentHelper.kt
Labels: embedded

#9876 [MOBILESDK-2682] Display “default” badge on default card in horizontal mode
  paymentsheet/api/paymentsheet.api
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/SavedPaymentMethodTab.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/SavedPaymentMethodTabLayoutUI.kt
  paymentsheet/src/test/java/com/stripe/android/model/PaymentMethodFixtures.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/navigation/PaymentSheetScreenSelectSavedPaymentMethodsScreenshotTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/PaymentOptionScreenshotTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/PaymentOptionTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/PaymentOptionsScreenshotTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/PaymentOptionsTest.kt
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.navigation_PaymentSheetScreenSelectSavedPaymentMethodsScreenshotTest_displaysSelectSavedPaymentMethodsWithDefault[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionScreenshotTest_testDefaultEditing[DarkTheme,CrazyAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionScreenshotTest_testDefaultEditing[DarkTheme,CrazyAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionScreenshotTest_testDefaultEditing[DarkTheme,CustomAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionScreenshotTest_testDefaultEditing[DarkTheme,CustomAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionScreenshotTest_testDefaultEditing[DarkTheme,DefaultAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionScreenshotTest_testDefaultEditing[DarkTheme,DefaultAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionScreenshotTest_testDefaultEditing[LightTheme,CrazyAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionScreenshotTest_testDefaultEditing[LightTheme,CrazyAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionScreenshotTest_testDefaultEditing[LightTheme,CustomAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionScreenshotTest_testDefaultEditing[LightTheme,CustomAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionScreenshotTest_testDefaultEditing[LightTheme,DefaultAppearance,DefaultFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionScreenshotTest_testDefaultEditing[LightTheme,DefaultAppearance,LargeFont].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentOptionsScreenshotTest_testDefaultPaymentOptionEditing[].png
Labels: default-pms

#9915 Move LinkState into PaymentMethodMetadata.
  paymentsheet/src/main/java/com/stripe/android/lpmfoundations/paymentmethod/PaymentMethodMetadata.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentOptionsViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/flowcontroller/DefaultFlowController.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/flowcontroller/PaymentSelectionUpdater.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/state/PaymentElementLoader.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/state/PaymentSheetState.kt
  paymentsheet/src/test/java/com/stripe/android/lpmfoundations/paymentmethod/PaymentMethodMetadataFactory.kt
  paymentsheet/src/test/java/com/stripe/android/lpmfoundations/paymentmethod/PaymentMethodMetadataTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/DefaultEmbeddedConfigurationHandlerTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/SharedPaymentElementViewModelTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentOptionsViewModelTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetFixtures.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/flowcontroller/DefaultFlowControllerTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/flowcontroller/PaymentSelectionUpdaterTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/state/DefaultPaymentElementLoaderTest.kt
  paymentsheet/src/test/java/com/stripe/android/utils/FakePaymentElementLoader.kt
  paymentsheet/src/test/java/com/stripe/android/utils/RelayingPaymentElementLoader.kt
Labels: embedded

#9916 Update embedded docs with minor edits.
  paymentsheet/src/main/java/com/stripe/android/paymentelement/EmbeddedPaymentElement.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/EmbeddedPaymentElementKtx.kt
Labels: embedded

#9917 Add wallets support to embedded.
  payments-ui-core/detekt-baseline.xml
  paymentsheet-example/detekt-baseline.xml
  paymentsheet/detekt-baseline.xml
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/EmbeddedConfirmationHelper.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/EmbeddedContentHelper.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/EmbeddedWalletsHelper.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/SharedPaymentElementViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/verticalmode/PaymentMethodVerticalLayoutInteractor.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/DefaultEmbeddedContentHelperTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/EmbeddedConfirmationHelperTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/verticalmode/DefaultPaymentMethodVerticalLayoutInteractorTest.kt
Labels: embedded

#9920 Support dark mode in EmbeddedContent.
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/PaymentSheetPlaygroundActivity.kt
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/PlaygroundTheme.kt
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/embedded/EmbeddedPlaygroundActivity.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/EmbeddedContent.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/EmbeddedContentScreenshotTest.kt
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentelement.embedded_EmbeddedContentScreenshotTest_displaysVerticalModeListWithMandate[DarkTheme].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentelement.embedded_EmbeddedContentScreenshotTest_displaysVerticalModeListWithMandate[LightTheme].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentelement.embedded_EmbeddedContentScreenshotTest_displaysVerticalModeListWithMandate[].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentelement.embedded_EmbeddedContentScreenshotTest_displaysVerticalModeList[DarkTheme].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentelement.embedded_EmbeddedContentScreenshotTest_displaysVerticalModeList[LightTheme].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentelement.embedded_EmbeddedContentScreenshotTest_displaysVerticalModeList[].png
  screenshot-testing/src/main/java/com/stripe/android/screenshottesting/PaparazziRule.kt
Labels: embedded

#9925 Fix a bug where configuring embedded with the same configuration values but different instances caused extraneous network calls.
  paymentsheet/api/paymentsheet.api
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheet.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/DefaultEmbeddedConfigurationHandlerTest.kt
Labels: embedded

#9933 Update containsVolatileDifferences.
  paymentsheet/src/main/java/com/stripe/android/common/model/CommonConfiguration.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetConfigurationKtx.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/flowcontroller/PaymentSelectionUpdater.kt
  paymentsheet/src/test/java/com/stripe/android/common/model/CommonConfigurationFactory.kt
  paymentsheet/src/test/java/com/stripe/android/common/model/CommonConfigurationTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetConfigurationKtxTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/flowcontroller/PaymentSelectionUpdaterTest.kt
Labels: embedded

#9928 [MOBILESDK-2894] [Android] Make Default Payment Method first
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/state/PaymentElementLoader.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/state/DefaultPaymentElementLoaderTest.kt
Labels: default-pms

#9931 defaultPaymentMethodId to savedPaymentMethodSelectionId
  payments-core/src/main/java/com/stripe/android/model/ElementsSessionParams.kt
  payments-core/src/main/java/com/stripe/android/networking/StripeApiRepository.kt
  payments-core/src/test/java/com/stripe/android/networking/StripeApiRepositoryTest.kt
  paymentsheet/src/main/java/com/stripe/android/customersheet/data/CustomerAdapterDataSource.kt
  paymentsheet/src/main/java/com/stripe/android/customersheet/data/CustomerSessionElementsSessionManager.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/repositories/ElementsSessionRepository.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/state/PaymentElementLoader.kt
  paymentsheet/src/test/java/com/stripe/android/customersheet/data/DefaultCustomerSessionElementsSessionManagerTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/repositories/ElementsSessionRepositoryTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/state/DefaultPaymentElementLoaderTest.kt
  paymentsheet/src/test/java/com/stripe/android/utils/FakeElementsSessionRepository.kt
Labels: default-pms

#9932 [MOBILESDK-2894] [Android] Make Default Payment Method selected
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/state/PaymentElementLoader.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/state/DefaultPaymentElementLoaderTest.kt
Labels: default-pms

#9944 Keep the last payment selection if it's still applicable.
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/EmbeddedSelectionChooser.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/SharedPaymentElementViewModel.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/DefaultEmbeddedSelectionChooserTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/SharedPaymentElementViewModelTest.kt
Labels: embedded

#9949 Fix embedded customer state.
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/EmbeddedContentHelper.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/SharedPaymentElementViewModel.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/DefaultEmbeddedContentHelperTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/SharedPaymentElementViewModelTest.kt
Labels: embedded

#9950 Create EmbeddedSheetLauncherFactory.
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/DefaultEmbeddedSheetLauncher.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/SharedPaymentElementViewModel.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/SharedPaymentElementViewModelTest.kt
Labels: embedded

#9959 Remove unnecessary parameter when instantiating interactors.
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/EmbeddedContentHelper.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/verticalmode/ManageScreenInteractor.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/verticalmode/PaymentMethodVerticalLayoutInteractor.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/verticalmode/DefaultManageScreenInteractorTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/verticalmode/DefaultPaymentMethodVerticalLayoutInteractorTest.kt
Labels: embedded

#9961 Use PaymentMethodMetadata when constructing SavedPaymentMethodMutator.
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/EmbeddedContentHelper.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/SavedPaymentMethodMutator.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/SavedPaymentMethodMutatorTest.kt
Labels: embedded

#9963 Extract EmbeddedCommonModule.
  paymentsheet/detekt-baseline.xml
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/EmbeddedCommonModule.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/SharedPaymentElementViewModel.kt
Labels: embedded

#9965 Disable Link if Card Brand Filtering is used
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/state/PaymentElementLoader.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/state/DefaultPaymentElementLoaderTest.kt
Labels: card brand filtering

#9957 Update FakeFormActivityLauncher and FakeManageActivityLauncher to use turbines
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/DefaultEmbeddedSheetLauncherTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/FakeEmbeddedActivityLauncher.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/FakeFormActivityLauncher.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/SharedPaymentElementViewModelTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/manage/FakeManageActivityLauncher.kt
Labels: embedded

#9975 Centralize top bar back behavior.
  paymentsheet/src/main/java/com/stripe/android/customersheet/CustomerSheetViewState.kt
  paymentsheet/src/main/java/com/stripe/android/customersheet/ui/CustomerSheetScreen.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/navigation/PaymentSheetScreen.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/paymentdatacollection/bacs/BacsMandateConfirmationActivity.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/PaymentSheetScreen.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/PaymentSheetTopBar.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/PaymentSheetTopBarState.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/verticalmode/VerticalModeFormInteractor.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/navigation/PaymentSheetScreenAddAnotherPaymentMethodScreenshotTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/navigation/PaymentSheetScreenAddFirstPaymentMethodScreenshotTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/navigation/PaymentSheetScreenCvcRecollectionScreenshotTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/navigation/PaymentSheetScreenLoadingScreenshotTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/navigation/PaymentSheetScreenManageSavedPaymentMethodsScreenshotTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/navigation/PaymentSheetScreenSelectSavedPaymentMethodsScreenshotTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/navigation/PaymentSheetScreenVerticalModeFormTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/navigation/PaymentSheetScreenVerticalModeScreenshotTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/PaymentSheetScreenUpdatePaymentMethodScreenshotTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/PaymentSheetTopBarScreenshotTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/PaymentSheetTopBarStateFactoryTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/PaymentSheetTopBarTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/verticalmode/DefaultVerticalModeFormInteractorTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/verticalmode/FakeVerticalModeFormInteractor.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/verticalmode/VerticalModeFormUIScreenshotTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/verticalmode/VerticalModeFormUITest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/verticalmode/VerticalModeInitialScreenFactoryTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/viewmodels/FakeBaseSheetViewModel.kt
Labels: embedded

#9973 Rename PaymentSheetScaffold to BottomSheetScaffold.
  paymentsheet/src/main/java/com/stripe/android/common/ui/BottomSheetScaffold.kt
  paymentsheet/src/main/java/com/stripe/android/customersheet/ui/CustomerSheetScreen.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/paymentdatacollection/bacs/BacsMandateConfirmationActivity.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/PaymentSheetScreen.kt
Labels: embedded

#9974 Make NavigationHandler generic.
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/navigation/NavigationHandler.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/viewmodels/BaseSheetViewModel.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/navigation/NavigationHandlerTest.kt
Labels: embedded

#9978 Move logic into the interactor.
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/navigation/PaymentSheetScreen.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/UpdatePaymentMethodInteractor.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/verticalmode/ManageScreenInteractor.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/DefaultUpdatePaymentMethodInteractorTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/FakeUpdatePaymentMethodInteractor.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/verticalmode/DefaultManageScreenInteractorTest.kt
Labels: embedded

#9979 Show blocked brands as disabled in CBC drop down
  payments-core/api/payments-core.api
  payments-core/src/main/java/com/stripe/android/cards/CardAccountRangeService.kt
  payments-core/src/main/java/com/stripe/android/view/CardBrandChoice.kt
  payments-core/src/main/java/com/stripe/android/view/CardNumberEditText.kt
  payments-core/src/test/java/com/stripe/android/cards/CardAccountRangeServiceTest.kt
  payments-ui-core/res/values/strings.xml
  payments-ui-core/src/main/java/com/stripe/android/ui/core/elements/CardNumberController.kt
  payments-ui-core/src/test/java/com/stripe/android/ui/core/elements/CardNumberControllerTest.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/CardBrandChoice.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/PaymentMethodCardKtx.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/UpdatePaymentMethodInteractor.kt
  paymentsheet/src/test/java/com/stripe/android/customersheet/CustomerSheetViewModelTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/EditPage.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetViewModelTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/VerticalModePaymentSheetActivityTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/DefaultUpdatePaymentMethodInteractorTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/PaymentSheetScreenUpdatePaymentMethodScreenshotTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/UpdatePaymentMethodUITest.kt
  stripe-ui-core/src/main/java/com/stripe/android/uicore/elements/SingleChoiceDropdownItem.kt
  stripe-ui-core/src/main/java/com/stripe/android/uicore/elements/SingleChoiceDropdownUI.kt
  stripe-ui-core/src/main/java/com/stripe/android/uicore/elements/TextFieldController.kt
Labels: card brand filtering

#9991 Implement manage navigation.
  paymentsheet/api/paymentsheet.api
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/manage/ManageActivity.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/manage/ManageComponent.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/manage/ManageContract.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/manage/ManageNavigator.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/manage/ManageViewModel.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/manage/ManageActivityTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/manage/ManageNavigatorTest.kt
  stripe-core/src/main/java/com/stripe/android/core/injection/ViewModelScope.kt
Labels: embedded

#9992 Show details cannot be changed copy for CBF/CBC
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/UpdatePaymentMethodInteractor.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/UpdatePaymentMethodUI.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/FakeUpdatePaymentMethodInteractor.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/UpdatePaymentMethodUITest.kt
Labels: card brand filtering

#9994 Restore `UserInput` when `PaymentSelection` is Link Inline Signup
  paymentsheet/src/main/java/com/stripe/android/link/injection/LinkInlineSignupAssistedViewModelFactory.kt
  paymentsheet/src/main/java/com/stripe/android/link/ui/inline/InlineSignupViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/link/ui/inline/InlineSignupViewState.kt
  paymentsheet/src/main/java/com/stripe/android/link/ui/inline/LinkElement.kt
  paymentsheet/src/main/java/com/stripe/android/link/ui/inline/LinkInlineSignupFields.kt
  paymentsheet/src/main/java/com/stripe/android/lpmfoundations/paymentmethod/UiDefinitionFactory.kt
  paymentsheet/src/main/java/com/stripe/android/lpmfoundations/paymentmethod/definitions/CardDefinition.kt
  paymentsheet/src/main/java/com/stripe/android/lpmfoundations/paymentmethod/link/LinkFormElement.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/DefaultFormHelper.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/addresselement/FormControllerModule.kt
  paymentsheet/src/test/java/com/stripe/android/link/ui/inline/InlineSignupViewModelTest.kt
  paymentsheet/src/test/java/com/stripe/android/lpmfoundations/luxe/FormElementsBuilderTest.kt
  paymentsheet/src/test/java/com/stripe/android/lpmfoundations/luxe/TransformSpecToElementsTest.kt
  paymentsheet/src/test/java/com/stripe/android/lpmfoundations/paymentmethod/TestUiDefinitionFactoryArgumentsFactory.kt
  paymentsheet/src/test/java/com/stripe/android/lpmfoundations/paymentmethod/UiDefinitionTestHelper.kt
  paymentsheet/src/test/java/com/stripe/android/lpmfoundations/paymentmethod/definitions/UiDefinitionTestHelper.kt
  paymentsheet/src/test/java/com/stripe/android/lpmfoundations/paymentmethod/link/LinkFormElementTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/addresselement/FormControllerTest.kt
Labels: embedded-confirmation

#9998 Implement manage screens for real.
  paymentsheet/api/paymentsheet.api
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/manage/EmbeddedManageScreenInteractorFactory.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/manage/ManageActivity.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/manage/ManageComponent.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/manage/ManageNavigator.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/manage/ManageSavedPaymentMethodMutatorFactory.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/manage/ManageNavigatorTest.kt
Labels: embedded

#9999 Fix customer state holder reset.
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/CustomerStateHolder.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/SavedPaymentMethodMutator.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/CustomerStateHolderTest.kt
Labels: embedded

#10007 Show update as initial screen for embedded.
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/EmbeddedContentHelper.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/manage/EmbeddedManageScreenInteractorFactory.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/manage/EmbeddedUpdateScreenInteractorFactory.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/manage/InitialManageScreenFactory.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/manage/ManageComponent.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/manage/ManageSavedPaymentMethodMutatorFactory.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/SavedPaymentMethodMutator.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/manage/InitialManageScreenFactoryTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/SavedPaymentMethodMutatorTest.kt
Labels: embedded

#10008 Add loading and retry to embedded playground.
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/embedded/EmbeddedPlaygroundActivity.kt
Labels: embedded

#10022 Add FormActivityTopBar
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/form/FormActivity.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/form/FormActivityUI.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/form/FormActivityTopBarScreenShotTest.kt
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentelement.embedded.form_FormActivityTopBarScreenShotTest_testTopBar_liveMode[CrazyAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentelement.embedded.form_FormActivityTopBarScreenShotTest_testTopBar_liveMode[CustomAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentelement.embedded.form_FormActivityTopBarScreenShotTest_testTopBar_liveMode[DefaultAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentelement.embedded.form_FormActivityTopBarScreenShotTest_testTopBar_testMode[CrazyAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentelement.embedded.form_FormActivityTopBarScreenShotTest_testTopBar_testMode[CustomAppearance].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentelement.embedded.form_FormActivityTopBarScreenShotTest_testTopBar_testMode[DefaultAppearance].png
Labels: embedded

#10025 Improve configure logic.
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/EmbeddedConfigurationHandler.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/SharedPaymentElementViewModel.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/DefaultEmbeddedConfigurationHandlerTest.kt
Labels: embedded

#10028 Update DefaultEmbeddedSelectionChooser to keep the previousConfiguration.
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/EmbeddedSelectionChooser.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/SharedPaymentElementViewModel.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/DefaultEmbeddedSelectionChooserTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/SharedPaymentElementViewModelTest.kt
Labels: embedded

#10001 [MOBILESDK-2660][Android] Don’t read from the local default payment method when opted into the “set as default” feature
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/state/PaymentElementLoader.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/state/DefaultPaymentElementLoaderTest.kt
Labels: default-pms

#10032 CustomerStateHolder.setCustomerState updates mostRecentlySelectedSavedPaymentMethod card brand.
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/CustomerStateHolder.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/CustomerStateHolderTest.kt
Labels: embedded

#10034 Block configuration when a sheet is open.
  paymentsheet/detekt-baseline.xml
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/DefaultEmbeddedSheetLauncher.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/EmbeddedConfigurationHandler.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/SheetStateHolder.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/DefaultEmbeddedConfigurationHandlerTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/DefaultEmbeddedSheetLauncherTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/SharedPaymentElementViewModelTest.kt
Labels: embedded

#10031 Clear confirmation state while configuring to prevent confirming while configuring.
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/SharedPaymentElementViewModel.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/SharedPaymentElementViewModelTest.kt
Labels: embedded

#10043 Refactor EmbeddedPaymentElement creation.
  paymentsheet/api/paymentsheet.api
  paymentsheet/detekt-baseline.xml
  paymentsheet/src/main/java/com/stripe/android/paymentelement/EmbeddedPaymentElement.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/SharedPaymentElementViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/content/DefaultEmbeddedSheetLauncher.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/content/EmbeddedConfigurationCoordinator.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/content/EmbeddedConfigurationHandler.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/content/EmbeddedConfirmationHelper.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/content/EmbeddedConfirmationStateHolder.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/content/EmbeddedContent.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/content/EmbeddedContentHelper.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/content/EmbeddedPaymentElementInitializer.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/content/EmbeddedPaymentElementScope.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/content/EmbeddedPaymentElementSubcomponent.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/content/EmbeddedPaymentElementViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/content/EmbeddedPaymentElementViewModelComponent.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/content/EmbeddedSelectionChooser.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/content/EmbeddedWalletsHelper.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/content/NullUiDefinitionFactoryHelper.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/content/PaymentOptionDisplayDataFactory.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/content/PaymentOptionDisplayDataHolder.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/content/SheetStateHolder.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/content/DefaultEmbeddedConfigurationCoordinatorTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/content/DefaultEmbeddedConfigurationHandlerTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/content/DefaultEmbeddedContentHelperTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/content/DefaultEmbeddedSelectionChooserTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/content/DefaultEmbeddedSheetLauncherTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/content/DefaultPaymentOptionDisplayDataHolderTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/content/EmbeddedConfirmationHelperTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/content/EmbeddedConfirmationStateFixtures.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/content/EmbeddedConfirmationStateHolderTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/content/EmbeddedContentScreenshotTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/content/EmbeddedPaymentElementInitializerTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/content/FakeEmbeddedContentHelper.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/content/PaymentOptionDisplayDataFactoryTest.kt
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentelement.embedded.content_EmbeddedContentScreenshotTest_displaysVerticalModeListWithMandate[DarkTheme].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentelement.embedded.content_EmbeddedContentScreenshotTest_displaysVerticalModeListWithMandate[LightTheme].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentelement.embedded.content_EmbeddedContentScreenshotTest_displaysVerticalModeList[DarkTheme].png
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentelement.embedded.content_EmbeddedContentScreenshotTest_displaysVerticalModeList[LightTheme].png
Labels: embedded

#10044 Clear embedded state after confirm.
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/content/EmbeddedConfirmationHelper.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/content/DefaultEmbeddedConfirmationHelperTest.kt
Labels: embedded

#10038 Add customer session setting to enable the set as default feature
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/model/PlaygroundCheckoutModel.kt
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/settings/CustomerSessionSetAsDefaultSettingsDefinition.kt
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/settings/PlaygroundSettings.kt
Labels: default-pms

#10048 Remove unused property.
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/content/EmbeddedPaymentElementViewModelComponent.kt
Labels: embedded
