Repository stripe/stripe-android, pull requests merged in 2025-03, with the labels that each got.

#10289 Add retry to flakey tests.
  payments-core-testing/build.gradle
  payments-core-testing/dependencies/dependencies.txt
  payments-core-testing/src/main/java/com/stripe/android/testing/ResetMockRule.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/manage/ManageActivityTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentOptionsActivityTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetViewModelTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/VerticalModePaymentSheetActivityTest.kt
Labels: flake-fix

#10287 Show selected drop down item when expanded.
  stripe-ui-core/src/main/java/com/stripe/android/uicore/elements/DropdownFieldUI.kt
Labels: Product Quality

#10293 Enable embedded US bank test.
  paymentsheet-example/src/androidTest/java/com/stripe/android/lpm/TestEmbedded.kt
Labels: embedded

#10202 Remove CBF beta annotation
  CHANGELOG.md
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/settings/CardBrandAcceptanceSettingsDefinition.kt
  paymentsheet/api/paymentsheet.api
  paymentsheet/src/main/java/com/stripe/android/ExperimentalCardBrandFilteringApi.kt
  paymentsheet/src/main/java/com/stripe/android/customersheet/CustomerSheet.kt
  paymentsheet/src/main/java/com/stripe/android/lpmfoundations/paymentmethod/PaymentMethodMetadata.kt
  paymentsheet/src/main/java/com/stripe/android/lpmfoundations/paymentmethod/PaymentSheetCardBrandFilter.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/EmbeddedPaymentElement.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheet.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/state/PaymentElementLoader.kt
  paymentsheet/src/test/java/com/stripe/android/common/model/CommonConfigurationFactory.kt
  paymentsheet/src/test/java/com/stripe/android/common/model/CommonConfigurationTest.kt
  paymentsheet/src/test/java/com/stripe/android/customersheet/state/DefaultCustomerSheetLoaderTest.kt
  paymentsheet/src/test/java/com/stripe/android/lpmfoundations/paymentmethod/PaymentMethodMetadataTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetCardBrandFilterTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/VerticalModePaymentSheetActivityTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/state/DefaultPaymentElementLoaderTest.kt
Labels: card brand filtering

#10296 Apply filter to cards after CustomerSheet refresh
  paymentsheet/src/main/java/com/stripe/android/customersheet/CustomerSheetViewModel.kt
  paymentsheet/src/test/java/com/stripe/android/customersheet/CustomerSheetViewModelTest.kt
Labels: card brand filtering

#10295 Add unit tests that set as default checkbox is shown for saved cards and US bank accounts
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/DefaultUpdatePaymentMethodInteractorTest.kt
Labels: default-pms

#10299 Prevent navigation while network call is in flight.
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/manage/ManageActivity.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/manage/ManageNavigator.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/UpdatePaymentMethodInteractor.kt
  paymentsheet/src/test/java/com/stripe/android/network/PaymentMethodModificationExtensions.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/manage/ManageActivityTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ManagePage.kt
Labels: embedded

#10284 [MOBILESDK-2707] Default Payment Method Analytics pt 1 mc_load_succeeded
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/analytics/DefaultEventReporter.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/analytics/EventReporter.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/analytics/PaymentSheetEvent.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/state/PaymentElementLoader.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/analytics/DefaultEventReporterTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/analytics/FakeEventReporter.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/analytics/PaymentSheetEventTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/state/DefaultPaymentElementLoaderTest.kt
Labels: default-pms

#10303 Wallets before LPMs.
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/verticalmode/PaymentMethodVerticalLayoutInteractor.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/verticalmode/DefaultPaymentMethodVerticalLayoutInteractorTest.kt
Labels: embedded

#10308 Fix padding between save and remove buttons on update screen
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/UpdatePaymentMethodUI.kt
  paymentsheet/src/test/snapshots/images/com.stripe.android.paymentsheet.ui_PaymentSheetScreenUpdatePaymentMethodScreenshotTest_updatePaymentMethodScreen_forCard_withSetAsDefaultCheckbox[].png
Labels: default-pms, Product Quality

#10317 Add tests for embedded analytics.
  paymentsheet/src/androidTest/AndroidManifest.xml
  paymentsheet/src/androidTest/java/com/stripe/android/paymentelement/EmbeddedContentPage.kt
  paymentsheet/src/androidTest/java/com/stripe/android/paymentelement/EmbeddedFormPage.kt
  paymentsheet/src/androidTest/java/com/stripe/android/paymentelement/EmbeddedPaymentElementAnalyticsTest.kt
  paymentsheet/src/androidTest/java/com/stripe/android/paymentelement/EmbeddedPaymentElementTestRunner.kt
  paymentsheet/src/androidTest/java/com/stripe/android/paymentelement/ResultAssertions.kt
  paymentsheet/src/androidTest/java/com/stripe/android/paymentelement/TestEmbeddedActivity.kt
  paymentsheet/src/androidTest/java/com/stripe/android/paymentsheet/NetworkRuleExtensions.kt
  paymentsheet/src/androidTest/java/com/stripe/android/paymentsheet/PaymentSheetAnalyticsTest.kt
Labels: embedded

#10290 Add network test class for default payment methods
  payments-core-testing/src/main/java/com/stripe/android/testing/PaymentMethodFactory.kt
  paymentsheet/src/androidTest/java/com/stripe/android/paymentsheet/DefaultPaymentMethodsTest.kt
  paymentsheet/src/androidTest/java/com/stripe/android/paymentsheet/utils/PaymentSheetLayoutType.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/CustomerSessionPaymentSheetActivityTest.kt
  paymentsheet/src/test/resources/elements-sessions-customers-set-default-pm.json
Labels: default-pms

#10286 [MOBILESDK-2707] Default Payment Method Analytics pt 3 update card
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/SavedPaymentMethodMutator.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/analytics/DefaultEventReporter.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/analytics/EventReporter.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/analytics/PaymentSheetEvent.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/SavedPaymentMethodMutatorTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/analytics/DefaultEventReporterTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/analytics/FakeEventReporter.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/analytics/PaymentSheetEventTest.kt
Labels: default-pms

#10324 Add support for default PMs when using link inline signup
  paymentsheet/src/main/java/com/stripe/android/paymentelement/confirmation/ConfirmationOptionKtx.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/confirmation/linkinline/LinkInlineSignupConfirmationDefinition.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/confirmation/linkinline/LinkInlineSignupConfirmationOption.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/confirmation/ConfirmationHandlerOptionKtxTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/confirmation/linkinline/LinkInlineSignupConfirmationDefinitionTest.kt
Labels: default-pms

#10333 Add test case for default payment method being pre-selected
  paymentsheet/src/androidTest/java/com/stripe/android/paymentsheet/DefaultPaymentMethodsTest.kt
Labels: default-pms

#10351 Fix a flakey test.
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/FormPage.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/VerticalModePaymentSheetActivityTest.kt
Labels: flake-fix

#10348 Remove unnecessary TestEmbeddedActivity.
  paymentsheet/src/androidTest/AndroidManifest.xml
  paymentsheet/src/androidTest/java/com/stripe/android/paymentelement/EmbeddedPaymentElementTestRunner.kt
  paymentsheet/src/androidTest/java/com/stripe/android/paymentelement/TestEmbeddedActivity.kt
Labels: embedded

#10361 Add analytics for update screen.
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/manage/EmbeddedUpdateScreenInteractorFactory.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/manage/ManageComponent.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/manage/ManageNavigator.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/manage/ManageNavigatorTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/analytics/FakeEventReporter.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/FakeUpdatePaymentMethodInteractor.kt
Labels: embedded

#10362 Test paying with a saved payment method in embedded.
  payment-element-test-pages/build.gradle
  payment-element-test-pages/src/main/java/com/stripe/paymentelementnetwork/NetworkRuleExtensions.kt
  payment-element-test-pages/src/main/java/com/stripe/paymentelementnetwork/PaymentMethodDetails.kt
  paymentsheet/src/androidTest/java/com/stripe/android/paymentelement/EmbeddedContentPage.kt
  paymentsheet/src/androidTest/java/com/stripe/android/paymentelement/EmbeddedPaymentElementAnalyticsTest.kt
  paymentsheet/src/androidTest/java/com/stripe/android/paymentelement/EmbeddedPaymentElementTestRunner.kt
  paymentsheet/src/test/java/com/stripe/android/network/PaymentMethodModificationExtensions.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/manage/ManageActivityTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/VerticalModePaymentSheetActivityTest.kt
Labels: embedded

#10363 Add embedded analytic for onCannotProperlyReturnFromLinkAndOtherLPMs.
  paymentsheet/src/main/java/com/stripe/android/paymentelement/EmbeddedPaymentElement.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/EmbeddedPaymentElementKtx.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/content/EmbeddedPaymentElementInitializer.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/utils/ActivityUtils.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/FakeEmbeddedSheetLauncher.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/content/EmbeddedPaymentElementInitializerTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/analytics/FakeEventReporter.kt
Labels: embedded

#10364 Add a test for edit card analytics.
  paymentsheet/src/androidTest/java/com/stripe/android/paymentelement/EmbeddedContentPage.kt
  paymentsheet/src/androidTest/java/com/stripe/android/paymentelement/EmbeddedPaymentElementAnalyticsTest.kt
Labels: embedded

#10367 Add analytics when displaying manage saved payment methods screen.
  paymentsheet/src/androidTest/java/com/stripe/android/paymentelement/EmbeddedPaymentElementAnalyticsTest.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/manage/ManageNavigator.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/analytics/DefaultEventReporter.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/analytics/EventReporter.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/analytics/PaymentSheetAnalyticsListener.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/analytics/PaymentSheetEvent.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/manage/ManageNavigatorTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/analytics/FakeEventReporter.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/analytics/PaymentSheetAnalyticsListenerTest.kt
Labels: embedded

#10357 Add network tests for saving a new card and setting it as the default PM
  payments-ui-core/src/main/java/com/stripe/android/ui/core/elements/SetAsDefaultPaymentMethodElementUI.kt
  paymentsheet/src/androidTest/java/com/stripe/android/paymentsheet/DefaultPaymentMethodsTest.kt
  paymentsheet/src/androidTest/java/com/stripe/android/paymentsheet/PaymentSheetPage.kt
  paymentsheet/src/androidTest/java/com/stripe/android/paymentsheet/utils/PaymentSheetLayoutType.kt
Labels: default-pms

#10378 Fix how `StripeImageLoader` determines the content type
  stripe-ui-core/build.gradle
  stripe-ui-core/src/main/java/com/stripe/android/uicore/image/ImageLruDiskCache.kt
  stripe-ui-core/src/main/java/com/stripe/android/uicore/image/ImageLruMemoryCache.kt
  stripe-ui-core/src/main/java/com/stripe/android/uicore/image/LoadedImage.kt
  stripe-ui-core/src/main/java/com/stripe/android/uicore/image/NetworkImageDecoder.kt
  stripe-ui-core/src/main/java/com/stripe/android/uicore/image/StripeImageLoader.kt
  stripe-ui-core/src/test/java/com/stripe/android/uicore/image/ImageLruDiskCacheTest.kt
  stripe-ui-core/src/test/java/com/stripe/android/uicore/image/ImageLruMemoryCacheTest.kt
  stripe-ui-core/src/test/java/com/stripe/android/uicore/image/NetworkImageDecoderTest.kt
  stripe-ui-core/src/test/java/com/stripe/android/uicore/image/StripeImageLoaderTest.kt
  stripe-ui-core/src/test/resources/example.gif
  stripe-ui-core/src/test/resources/example.jpg
  stripe-ui-core/src/test/resources/example.png
  stripe-ui-core/src/test/resources/example.webp
Labels: custom-payment-methods

#10376 SetAsDefaultPaymentMethodEnabled for USBankAccount
  paymentsheet/src/main/java/com/stripe/android/customersheet/CustomerSheetViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/paymentdatacollection/ach/USBankAccountForm.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/paymentdatacollection/ach/USBankAccountFormArguments.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/paymentdatacollection/ach/USBankAccountFormViewModel.kt
  paymentsheet/src/test/java/com/stripe/android/customersheet/CustomerSheetScreenshotTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/paymentdatacollection/ach/USBankAccountFormViewModelTest.kt
Labels: default-pms

#10342 Display set as default checkbox for default PM in disabled state
  payment-element-test-pages/src/main/java/com/stripe/paymentelementtestpages/EditPage.kt
  paymentsheet/src/androidTest/java/com/stripe/android/paymentsheet/DefaultPaymentMethodsTest.kt
  paymentsheet/src/androidTest/java/com/stripe/android/paymentsheet/utils/PaymentSheetLayoutType.kt
  paymentsheet/src/main/java/com/stripe/android/customersheet/CustomerSheetViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/manage/EmbeddedUpdateScreenInteractorFactory.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/SavedPaymentMethodMutator.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/UpdatePaymentMethodInteractor.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/UpdatePaymentMethodUI.kt
  paymentsheet/src/test/java/com/stripe/android/customersheet/CustomerSheetScreenshotTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/DefaultUpdatePaymentMethodInteractorTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/FakeUpdatePaymentMethodInteractor.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/PaymentSheetScreenUpdatePaymentMethodScreenshotTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ui/UpdatePaymentMethodUITest.kt
Labels: default-pms

#10395 Clear embedded content after successful confirmation.
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/content/DefaultEmbeddedSheetLauncher.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/content/EmbeddedConfirmationHelper.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/embedded/content/EmbeddedContentHelper.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/content/DefaultEmbeddedConfirmationHelperTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/content/DefaultEmbeddedContentHelperTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/content/DefaultEmbeddedSheetLauncherTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/content/FakeEmbeddedContentHelper.kt
Labels: embedded

#10369 [connect-example] Add first instrumentation tests
  connect-example/build.gradle
  connect-example/src/androidTest/java/com/stripe/android/connect/example/ConnectExampleTestRunner.kt
  connect-example/src/androidTest/java/com/stripe/android/connect/example/SmokeTest.kt
  connect-example/src/androidTest/java/com/stripe/android/connect/example/data/FakeEmbeddedComponentService.kt
  connect-example/src/androidTest/java/com/stripe/android/connect/example/data/di/TestDataModule.kt
  connect-example/src/androidTest/java/com/stripe/android/connect/example/util/ComposeUtil.kt
  connect-example/src/androidTest/java/com/stripe/android/connect/example/util/Fixtures.kt
  connect-example/src/main/java/com/stripe/android/connect/example/data/EmbeddedComponentService.kt
  connect-example/src/main/java/com/stripe/android/connect/example/data/di/DataModule.kt
  dependencies.gradle
Labels: accept-risky-change

#10379 Draft `CustomPaymentMethod` API
  paymentsheet/api/paymentsheet.api
  paymentsheet/src/main/java/com/stripe/android/common/configuration/ConfigurationDefaults.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/CustomPaymentMethodConfirmHandler.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/CustomPaymentMethodResultHandler.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/EmbeddedPaymentElement.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/EmbeddedPaymentElementKtx.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/ExperimentalCustomPaymentMethodsApi.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/callbacks/PaymentElementCallbacks.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/FlowControllerCompose.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheet.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetCompose.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/callbacks/PaymentElementCallbackReferencesTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/confirmation/epms/ExternalPaymentMethodConfirmationActivityTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/confirmation/lpms/foundations/CreateIntentFactory.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/content/EmbeddedPaymentElementInitializerTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/DefaultPaymentSheetLauncherTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/ExternalPaymentMethodProxyActivityTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetViewModelTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/flowcontroller/DefaultFlowControllerTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/flowcontroller/FlowControllerConfigurationHandlerTest.kt
Labels: custom-payment-methods

#10426 Updating naming & default values in custom payment methods API
  paymentsheet/src/main/java/com/stripe/android/paymentelement/ConfirmCustomPaymentMethodCallback.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/CustomPaymentMethodResultHandler.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/EmbeddedPaymentElement.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/EmbeddedPaymentElementKtx.kt
  paymentsheet/src/main/java/com/stripe/android/paymentelement/callbacks/PaymentElementCallbacks.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheet.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/callbacks/PaymentElementCallbackReferencesTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentelement/embedded/content/EmbeddedPaymentElementInitializerTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/DefaultPaymentSheetLauncherTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetViewModelTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/flowcontroller/DefaultFlowControllerTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/flowcontroller/FlowControllerConfigurationHandlerTest.kt
Labels: custom-payment-methods

#10427 Fix flake in EmbeddedPaymentElementAnalyticsTest
  paymentsheet/src/androidTest/java/com/stripe/android/paymentelement/EmbeddedFormPage.kt
  paymentsheet/src/androidTest/java/com/stripe/android/paymentelement/EmbeddedPaymentElementAnalyticsTest.kt
Labels: flake-fix

#10428 Add custom payment methods to playground
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/PaymentSheetPlaygroundActivity.kt
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/embedded/EmbeddedPlaygroundActivity.kt
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/settings/CustomPaymentMethodsSettingsDefinition.kt
  paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/settings/PlaygroundSettings.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheet.kt
Labels: custom-payment-methods

#10424 Decode custom payment methods from `elements/session`
  payments-core/api/payments-core.api
  payments-core/detekt-baseline.xml
  payments-core/src/main/java/com/stripe/android/model/ElementsSession.kt
  payments-core/src/main/java/com/stripe/android/model/ElementsSessionParams.kt
  payments-core/src/main/java/com/stripe/android/model/parsers/CustomPaymentMethodJsonParser.kt
  payments-core/src/main/java/com/stripe/android/model/parsers/ElementsSessionJsonParser.kt
  payments-core/src/main/java/com/stripe/android/networking/StripeApiRepository.kt
  payments-core/src/test/java/com/stripe/android/model/ElementsSessionFixtures.kt
  payments-core/src/test/java/com/stripe/android/model/parsers/ElementsSessionJsonParserTest.kt
  payments-core/src/test/java/com/stripe/android/networking/StripeApiRepositoryTest.kt
  paymentsheet/api/paymentsheet.api
  paymentsheet/src/main/java/com/stripe/android/common/model/CommonConfiguration.kt
  paymentsheet/src/main/java/com/stripe/android/customersheet/data/CustomerAdapterDataSource.kt
  paymentsheet/src/main/java/com/stripe/android/customersheet/data/CustomerSessionElementsSessionManager.kt
  paymentsheet/src/main/java/com/stripe/android/lpmfoundations/paymentmethod/DisplayableCustomPaymentMethod.kt
  paymentsheet/src/main/java/com/stripe/android/lpmfoundations/paymentmethod/PaymentMethodMetadata.kt
  paymentsheet/src/main/java/com/stripe/android/lpmfoundations/paymentmethod/PaymentMethodMetadataKtx.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/repositories/ElementsSessionRepository.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/state/PaymentElementLoader.kt
  paymentsheet/src/test/java/com/stripe/android/common/model/CommonConfigurationFactory.kt
  paymentsheet/src/test/java/com/stripe/android/customersheet/data/CustomerAdapterDataSourceTest.kt
  paymentsheet/src/test/java/com/stripe/android/customersheet/data/DefaultCustomerSessionElementsSessionManagerTest.kt
  paymentsheet/src/test/java/com/stripe/android/customersheet/data/FakeCustomerSessionElementsSessionManager.kt
  paymentsheet/src/test/java/com/stripe/android/customersheet/state/DefaultCustomerSheetLoaderTest.kt
  paymentsheet/src/test/java/com/stripe/android/lpmfoundations/paymentmethod/PaymentMethodMetadataFactory.kt
  paymentsheet/src/test/java/com/stripe/android/lpmfoundations/paymentmethod/PaymentMethodMetadataTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/repositories/ElementsSessionRepositoryTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/state/DefaultPaymentElementLoaderTest.kt
  paymentsheet/src/test/java/com/stripe/android/utils/FakeElementsSessionRepository.kt
Labels: custom-payment-methods

#10485 Upgrade gradle and AGP.
  3ds2playground/dependencies/dependencies.txt
  3ds2sdk/dependencies/dependencies.txt
  connect-example/dependencies/dependencies.txt
  dependencies.gradle
  example/dependencies/dependencies.txt
  financial-connections-example/dependencies/dependencies.txt
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  identity/dependencies/dependencies.txt
  payment-method-messaging/dependencies/dependencies.txt
  payments-core/dependencies/dependencies.txt
  payments-ui-core/dependencies/dependencies.txt
  payments/dependencies/dependencies.txt
  paymentsheet-example/dependencies/dependencies.txt
  paymentsheet/dependencies/dependencies.txt
  stripecardscan-example/dependencies/dependencies.txt
  stripecardscan/dependencies/dependencies.txt
  wechatpay/dependencies/dependencies.txt
Labels: dependencies

#10500 Fix an issue where the deploy would fail if there were no docs changes.
  scripts/deploy/update_dokka.rb
Labels: release-process-improvement

#10508 Fix flakey 3ds2 test.
  paymentsheet-example/src/androidTest/java/com/stripe/android/test/core/PlaygroundTestDriver.kt
Labels: flake-fix

#10510 Fix flakey Sepa Debit test.
  paymentsheet-example/src/androidTest/java/com/stripe/android/test/core/PlaygroundTestDriver.kt
Labels: flake-fix

#10506 Make primary button state mapper return a StateFlow.
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentOptionsViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheetViewModel.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/ui/PaymentSheetScreen.kt
  paymentsheet/src/main/java/com/stripe/android/paymentsheet/viewmodels/PrimaryButtonUiStateMapper.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentOptionsActivityTest.kt
  paymentsheet/src/test/java/com/stripe/android/paymentsheet/PaymentSheetActivityTest.kt
Labels: flake-fix
